/* custom fonts */
@import url("../css/MyFontsWebfontsKit.css");

/* body */
body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: white url(../images/container-grid.jpg) 50% 0 repeat-y;
    &.js-body {
        background: none;
    }
    .js-container-active {
        .open-menu-wrap {
            background: white url(../images/container-grid.jpg) 50% -105px repeat-y;
        }
    }
}

/* <a> styles */
a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* H1-H6 */
h1, h4, h5, h6, .h-one-tag {
    font-family: "GFYArtie-Regular";
    font-weight: normal;
    color: #333333;
    text-transform: uppercase;
}

h1, .h-one-tag {
    font-size: 30px;
    line-height: 30px;
    margin: 0;
}

.categorymenusnew .category-top-level > a:hover .count-products, .categorymenusnew li.active > a .count-products {
    color: $trigger-hovgreen;
}

.categorymenusnew {
    a {
        &:hover {
            color: $trigger-hovgreen;
            .count-products {
                color: $trigger-hovgreen;
            }
        }
    }
    .category-top-level {
        &.active {
            a {
                color: $trigger-hovgreen;
                &:hover {
                    color: $trigger-hovgreen;
                    .count-products {
                        color: $trigger-hovgreen;
                    }

                }
                .count-products {
                    color: $trigger-hovgreen;
                }
            }

            ul {
                .count-products {
                    color: $trigger-lightgrey;
                }
            }
        }
        a {
            count-products {
                color: $trigger-lightgrey;
            }
        }
        .category-top-level2 {
            li {
                &.active {
                    a {
                        color: $trigger-hovgreen;
                        text-decoration: underline;
                        .count-products {
                            color: $trigger-hovgreen;
                        }
                    }
                }
                a {
                    &:hover {
                        color: $trigger-hovgreen;
                        .count-products {
                            color: $trigger-hovgreen;
                        }
                    }
                }
            }
        }
    }
}

h1.left-nav-style {
    font-family: 'Bronzo';
    font-size: 24px;
    line-height: 24px;
    margin: 0;
}

h2 {
    font-family: 'Bronzo';
    font-weight: normal;
    color: #333333;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
}

h2.left-nav-style {
    padding-bottom: 6px;
    border-bottom: #CCC solid 1px;
}

h2.input-style {
    font-size: 16px;
    line-height: 16px;
}

h3 {
    font-size: 16px;
    line-height: 16px;
    font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode",
    "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #333333;
    font-style: italic;
    text-transform: none;
}

h4 {
    font-size: 24px;
    line-height: 24px;
}

h5 {
    font-size: 18px;
    line-height: 18px;
}

h6 {
    font-size: 16px;
    line-height: 16px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #333333;
    text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: #9dec00;
    text-decoration: none;
}

p {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    word-spacing: normal;
    line-height: 18px;
    padding: 9px 0 9px 0;
}

a {
    color: black;
    text-decoration: none;
}

p a {
    color: black;
    font-weight: bold;
}

h1.search-result {
    font-family: $triggerx-lucida;
    font-size: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 36px;
}

.pt_acc_landing {
    .content-asset {
        .account-options {
            li {
                transition: none;
                a {
                    transition: none;
                    h2 {
                        font-family: $triggerx-original;
                        font-variant: small-caps;
                        font-weight: normal;
                        font-size: 30px;
                        line-height: 30px;
                        padding: 10px 0;
                    }
                    p {

                        text-transform: capitalize;
                    }
                }
                &:hover {
                    background-color: $trigger-bggreen;
                    border-color: $trigger-bggreen;
                    transition: none;
                    h2 {
                        color: $trigger-list-black;
                    }
                    p {
                        color: $trigger-list-black;
                    }
                    i {
                        color: $trigger-list-black;
                    }
                }
            }
        }
    }
}

.pt_store-locator {
    .storelocator {
        h1 {
            text-transform: uppercase;
            font-vairant: normal;
        }
    }
    .storelocatorzipsearch {
        .stack {
            .form-row {
                .label {
                    .labeltext {
                        font-family: 'Bronzo';
                        font-weight: normal;
                        color: #333;
                        text-transform: uppercase;
                        font-size: 16px;
                        line-height: 16px;
                    }
                }
            }
        }
    }
}

.pt_wish-list {
    #main {
        .item-details {
            .product-list-item {
                span {
                    &.price-sales {
                        color: $trigger-red;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

.pt_leftnav-addressbook {
    #main {
        .breadcrumb {
            font-family: $triggerx-lucida;
        }
    }
    #addresses {
        .address-list {
            .address-tile {
                .mini-address-title {
                    text-transform: uppercase;
                    color: $trigger-lightblure;
                    font-family: Bronzo;
                    font-weight: bold;
                    font-size: 16px;
                    padding: 4px 0 1px;
                }
                .mini-address-name {
                }
                .mini-address-location {
                    address {
                    }
                }
                .address-edit,
                .address-delete.delete,
                .address-make-default {
                }
            }
        }
    }
}

.ui-dialog {
    &.addressadd {
        #dialog-container {
            .form-horizontal {
                .form-row {
                    &.form-row-button {
                        button {
                            &.simple {
                                background-color: $trigger-black;
                                color: $trigger-bggreen;
                                &:hover {
                                    background-color: $trigger-lightblure;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.pt_leftnav-profile {
    #primary {
        #RegistrationForm {
            legend {
                font-family: Bronzo;
            }
            .form-row {
                .label {
                    .labeltext {
                        color: $trigger-list-black;
                        font-family: Bronzo;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 17px;
                    }
                    .requiredindicator {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.pt_order {
    h1 {
        text-align: left;
        background: none;
        border: none;
        padding: 0;
    }
    .search-result-items {
        li {
            .order-history-items {
                .order-history-table {
                    th {
                        font-family: 'Bronzo';
                        font-weight: normal;
                        color: $trigger-list-black;
                        text-transform: uppercase;
                        font-size: 16px;
                        line-height: 16px;
                    }
                    tr {
                        .order-price {
                            .value {
                                font-family: $triggerx-Basker;
                                color: $trigger-list-black;
                                font-weight: bold;
                                font-style: italic;
                                font-size: 24px;
                                line-height: 24px;
                                letter-spacing: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.orderdetails {
    .order-information {
        .order-number {
            .label {
                font-size: 30px;
                line-height: 30px;
                font-family: $triggerx-original;
                font-weight: normal;
                color: $trigger-lightblure;
                text-transform: uppercase;
            }
            .value {
                font-size: 30px;
                line-height: 30px;
                font-family: $triggerx-original;
                font-weight: normal;
                color: $trigger-lightblure;
                text-transform: uppercase;
            }
        }
    }
}

.orderdetails {
    .order-payment-summary,
    .order-billing,
    .order-shipment-address,
    .line-item-details,
    .line-item-quantity,
    .line-item-price {
        .label {
            font-family: 'Bronzo';
            font-weight: normal;
            color: $trigger-list-black;
            font-size: 13px;
            line-height: 16px;
            text-transform: uppercase;
        }
    }
}

.orderdetails {
    .line-items {
        .line-item {
            .line-item-price {
                font-family: $triggerx-Basker;
                color: $trigger-list-black;
                font-weight: bold;
                font-style: italic;
                font-size: 24px;
                line-height: 24px;
                .label {
                    font-family: 'Bronzo';
                    font-weight: normal;
                    color: $trigger-list-black;
                    font-size: 13px;
                    line-height: 16px;
                    text-transform: uppercase;
                    font-style: normal;
                }
            }
        }
    }
}

.pt_product-search-result {
    #page-background {
        #primary {
            .search-blk {
                a {
                    display: inline-block;
                    text-transform: capitalize;
                    color: $trigger-searchblk-green;
                }
            }
        }
    }
}

/*buttons*/
a.button, button {
    margin: 0;
    display: block;
    clear: left;
    float: left;
    height: 28px;
    line-height: 28px;
    font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode",
    "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0;
    color: #9DEC00;
    padding: 0 18px 0 18px;
    background-color: black;
    border-style: solid;
    border-width: 1px;
    border-top-color: #000002;
    border-right-color: #222;
    border-bottom-color: #404040;
    border-left-color: #000100;
}

a.button:hover, button:hover {
    background: #333;
    text-decoration: none;
    cursor: pointer;
}

.addTo-cart-section {
    a.button:hover, button:hover {
        background: #333;
        text-decoration: none;
        cursor: pointer;
    }
}

#headerwrapper #header .row.column1 #minicart #multi-site-one-cart {
    background-image: url(../images/multi-site-one-cart-bg-right.png);
    background-position: right top;
}

#headerwrapper #header .row.column1 #minicart #multi-site-one-cart span {
    color: #333;
    font-weight: normal;
    width: 58px;
    border-radius: 5px;
    text-transform: capitalize;
    background-image: url(../images/multi-site-one-cart-bg.png);
}

.minicarticon-cont .cart-icon {
    background: url(../images/hashcart.png) 0 6px no-repeat;
    width: 30px;
    float: left;
    height: 30px;
    margin: 0 5px 0 10px;
}

#headerwrapper #header .row.column1 #minicart a.minicart-button {
    color: #666;
}

#headerwrapper #header .row.column1 #minicart a.minicart-checkout-button {
    background: linear-gradient(to bottom, #9FCE65 60%, #7ABB29 100%);
    color: #333;
    text-align: center;
    text-decoration: none;
    padding: 7px 0;
    height: 17px;
    text-indent: 0;
    font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 11px;
    border-radius: 0 5px 5px 0;
}

#headerwrapper #header .row.column1 #minicart a.minicart-checkout-button:hover {
    background: linear-gradient(to bottom, #7ABB29 0%, #9FCE65 60%);
}

.pt_storefront {
    #page {
        padding-bottom: 0;
    }
}

.productdetail {
    .selected {
        a {
            &.filter {
                color: $trigger-lightblure;
            }
        }
    }
    a {
        &.filter {
            span {
                font-style: italic;
                color: #000;
                font-weight: normal;
            }
        }
    }
    .addtocartbar {
        background-position: top left;
        .addtocart {
            &.disabled {
                a {
                    &.filter {
                        span {
                            color: $trigger-list-black;
                        }
                    }
                }
            }
            .quantity {
                .label {
                    padding-bottom: 0;
                }
            }
        }
    }
    .addtocartbar {
        .addtocart {
            button {
                &.addtocartbutton {
                    float: left;
                    width: calc(100% - 50px);
                    height: 40px;
                    line-height: 40px;
                    color: $trigger-black;
                    background-image: none;
                    background: rgba(159, 206, 101, 1);
                    background: linear-gradient(to bottom, rgba(159, 206, 101, 1) 0%, rgba(121, 187, 41, 1) 100%);
                    transition: inherit;
                    text-transform: inherit;
                    border: none;
                    color: #000;
                }
            }
            .quantity {
                .label {
                    font-size: 13px !important;
                    font-style: normal;
                    font-weight: normal !important;
                    font-family: $triggerx-lucida;
                }
            }
        }
    }
    .price {
        .salesprice {
            color: $trigger-hovgreen;
            font-weight: bold;
            font-size: 15px;
            line-height: 24px;
            letter-spacing: 0px;
        }
        .standardprice {
            color: #999;
            font-weight: bold;
            font-size: 15px;
            line-height: 24px;
            letter-spacing: 0px;
        }
    }
}

input {
    &.quantityinput {
        border: 2px solid $trigger-bggreen;
        color: $trigger-black;
    }
}

.product-specifications {
    .specificiations {
        thead {
            tr {
                background: #9fce65;
                background: linear-gradient(to bottom, #9fce65 0%, #7abb29 100%);
                color: #000;
            }
        }
        tbody {
            tr {
                &.evenrow {
                    background: #F1F8E8;
                }
            }
        }
    }
}

.addTo-cart-section {
    a.button:hover, button:hover {
        background: linear-gradient(to bottom, rgba(121, 187, 41, 1) 0%, rgba(159, 206, 101, 1) 100%) !important;
        text-decoration: none;
    }
}

a.filter {
    margin: 18px 0 0;
    display: block;
    clear: left;
    float: left;
    width: 184px;
    line-height: 18px;
    font-family: $triggerx-lucida;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0;
    padding: 5px 28px 5px 10px;
    color: $trigger-black;
    background-image: none;
    background: #9fce65;
    background: linear-gradient(to bottom, #9fce65 0%, #7abb29 100%);
    color: #000;
    border-style: solid;
    border-width: 1px;
    border-top-color: #9fce65;
    border-right-color: #9fce65;
    border-bottom-color: #9fce65;
    border-left-color: #9fce65;
    background-position: 100% 0;
    background-repeat: no-repeat;
    &:hover {
        text-decoration: none;
        background: #7abb29;
        background: linear-gradient(to bottom, #7abb29 0%, #9fce65 100%);
    }
}

.variationattributes {
    .color {
        li {
            a {
                &:hover {
                    border-color: $trigger-bggreen;
                }
            }
        }
    }
}

.variationattributes {
    .swatches {
        li {
            &.selected {
                a {
                    background-image: none;
                    color: $trigger-white;
                    background-color: $trigger-bggreen;
                    border-color: $trigger-bggreen;
                }
            }
            a {
                &:hover {
                    background-image: none;
                    color: $trigger-white;
                    background-color: $trigger-bggreen;
                    border-color: $trigger-bggreen;
                }
            }
        }
    }
}

#special-offers {
    .promotion-title {
        color: $trigger-black;
    }
}

#tabs {
    ul {
        &.ui-tabs-nav {
            li {
                a {
                    span {
                        color: $trigger-graytwo;
                    }
                    &:hover {
                        span {
                            color: $trigger-lightblure;
                        }
                    }
                }
                &.ui-state-active {
                    a {
                        span {
                            color: $trigger-lightblure;
                        }
                    }
                }
            }
        }
    }
}

.featuredesc {
    .prodfeature {
        ul {
            li {
                font-family: $triggerx-Arial;
            }
        }
    }
}

.owl-carousel {
    .owl-dot {
        span {
            background-image: url(../images/slideshow-counter.png);
        }
    }
}

.shop-brand {
    font-family: $triggerx-original;
    font-size: 21px;
    font-weight: normal;
    line-height: 22px;
    padding: 15px 0 5px 0;
}

/* start of styles for my account page */
#container.pt_account {
    #primary.primary-content {
        .account-section {
            .label {
                .labeltext {
                    color: #666;
                    float: none;
                    font-size: 12px;
                    font-variant: normal;
                    font-weight: normal;
                    line-height: normal;
                    text-align: left;
                    width: auto;
                    font-family: $triggerx-lucida;
                    padding: 0;
                    vertical-align: top;
                }
            }
            .returningcustomers {
                .form-row {
                    /* margin: 0px 0 16px 1px; */
                }
            }
            .custom-checkbox {
                float: left;
                margin: 2px 0 15px 0;
                padding: 0;
                width: 100%;
                position: relative;
            }
            .cell {
                margin: 25px 0 0 10px;
            }
            .upshift {
                .contentboxcontent.account-logs {
                    h1 {
                        padding: 8px 0 2px;
                    }
                }
            }
            .createan-account {
                margin-top: 23px;
                .contentboxcontent.new-register {
                    .registration {
                        .form-row {
                            /* margin: 15px 0 -3px 0px; */
                        }
                    }
                }
            }
        }
    }
}

/* end of styles for my account page */
.international-links-container {
    font-size: 12px;
}

.international-links-footer-product {
    height: 1px;
}

.international-investor-link {
    margin-top: 70px;
}

.international-investor-link a {
    line-height: 10px;
    float: none;
    padding-left: 0px;
}

.international-investor-link a:hover {
    padding-left: 0px;
}

/* start of footer styles */
.pt_storefront {
    #footernew {
        top: -130px !important;
    }
}

#footernew {
    background-image: url(../images/footer-background.png);
    background-position: 50% 28px;
    .email-subscribe {
        input.emailinput {
            padding: 0 9px 0 9px;
        }
    }
    .social-icons {
        #fallow-us-on {
            ul {
                .Facebook {
                    padding: 2px 35px 2px 3px;
                    margin: 7px 0 0 0;
                }
                .you-tube {
                    margin-top: 13px;
                }
                .Instagram {
                    margin-top: 12px;
                }
            }
        }
    }
}

form {
    .label {

        font-size: 16px;
        line-height: 16px;
        font-variant: initial;
        text-transform: uppercase;
    }
}

#vippage-background {
    form {
        .label {

            font-size: 16px !important;
            line-height: 16px;
            font-variant: initial;
            text-transform: uppercase;
        }
    }
}

div {
    .returningcustomers {
        .custom_signin {
            .formfield {
                .form-row {
                    .label {
                        font-family: 'Bronzo';
                        font-size: 16px;
                        line-height: 16px;
                    }
                }
            }
        }
    }
}

.productdetail {
    .price {
        color: $trigger-list-black;
        font-weight: bold;
        font-size: 15px;
        font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
        line-height: 24px;
        letter-spacing: 0px;
        .standardprice {
            font-size: 15px;
            line-height: 24px;
            font-family: $triggerx-lucida;
        }
        .salesprice {
            color: #7abb29;
            font-family: $triggerx-lucida;
        }
    }

}

.copyright {
    padding: 5px 18px 0 0;
}

body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: white url(../images/container-grid.jpg) 50% 0 repeat-y;
}

#footernew .social-icons #fallow-us-on ul .Facebook {
    height: 19px;
}

#footernew .social-icons #fallow-us-on ul .you-tube {
    padding: 0 15px 7px 0;
}

#footernew .email-subscribe input.emailinput {
    padding: 0 9px 0 7px;
}

@include respond(0, $desktop-breakpoint - 1) {
    #vippage-background {
        .disign-header-title,
        h1 {
            font-size: 25px;
            line-height: 30px;
        }
    }

    .pt_wish-list,
    .pt_leftnav-addressbook,
    .pt_order,
    .pt_leftnav-payment,
    .pt_leftnav-profile,
    .pt_acc_landing {
        #main {
            #page-background {
                #primary {
                    h1 {
                        font-size: 25px;
                        line-height: 30px;
                        font-variant: normal;
                    }
                }
            }
        }
    }

    .pt_acc_landing {
        .content-asset {
            .account-options {
                li {
                    a {
                        h2 {
                            font-size: 20px;
                            line-height: 25px;
                        }
                    }
                }
            }
        }
    }

    .desktop-view {
        display: none !important;
    }
    .pt_product-details {
        .pdp-main {
            .pdpmain-content {
                .productname {
                    font-size: 25px;
                    line-height: 30px;
                    font-variant: normal;
                }
            }
        }
    }
    .productdetail {
        a {
            &.filter {
                span {
                    font-style: normal;
                    color: $trigger-black;
                }
                .selectedvarval {
                    color: $trigger-black;
                }
            }
        }
        .price {
            .salesprice {
                font-style: bold !important;
                font-size: 15px !important;
                color: $trigger-hovgreen !important;
            }
        }
    }
    .selected,
    .future {
        a {
            &.filter {
                background-color: #f1f1f1 !important;
                border-top: 1px solid #d0d0d0;
                border-right: 1px solid #e8e8e8;
                border-bottom: 1px solid #f8f8f8;
                border-left: 1px solid #e8e8e8;
                color: #333 !important;
                border-radius: 3px;
            }
        }
    }
    .current {
        a {
            &.filter {
                color: $trigger-black;
                border: 1px solid #669622;
                background: rgba(159, 206, 101, 1);
                background: linear-gradient(to bottom, rgba(159, 206, 101, 1) 0%, rgba(121, 187, 41, 1) 100%);
                &:hover {
                    background: rgba(121, 187, 41, 1);
                    background: linear-gradient(to bottom, rgba(121, 187, 41, 1) 0%, rgba(159, 206, 101, 1) 100%);
                }
            }
        }
    }

    .pt_wish-list,
    .pt_leftnav-addressbook,
    .pt_order,
    .pt_leftnav-payment,
    .pt_account,
    .pt_product-search-result,
    .pt_content-search-result,
    .pt_leftnav-profile {
        .breadcrumb {
            background: url(../images/container-grid.jpg) center !important;
            height: auto !important;
        }
    }
    .pt_storefront {
        #footernew {
            top: 0 !important;
        }
    }
    #footernew {
        background: none;
        top: 0 !important;
        .wrapper {
            .footer-main {
                background-image: none;
                margin: 0;
                width: 100%;
                box-shadow: inset 0 8px 8px -8px #696868, inset 0 -8px 8px -8px #696868;
                .footer-left-section {
                    .footer-links {
                        #about, #customer-service, #More-ways-to-shop, #busniness, #rapala_insider, #follow_us {
                            background-color: rgba(241, 241, 241, 0.5);

                            .social-icons {
                                background-color: rgba(241, 241, 241, 0.5);
                            }
                        }
                    }
                }
            }
        }
    }
}

@include respond(0, $medium-breakpoint) {
    .product-specifications .specificiations tbody tr:nth-child(2n+3) {
        background: #F1F8E8;
    }
    .product-specifications {
        .specificiations {
            border-bottom: none;
            tbody {
                tr:first-child {
                    background: #9fce65;
                    background: linear-gradient(to bottom, #9fce65 0%, #7abb29 100%);
                    color: #000;
                    th {
                        border: none;
                        vertical-align: middle;
                        border: none;
                        border-top-left-radius: 3px;
                        border-top-right-radius: 3px;
                        background: transparent;
                        font-size: 13px;
                    }
                }

            }
            tbody {
                border-bottom: 1px solid #ccc;
                margin-bottom: 2em;
                display: table;
                width: 100%;
                tr {
                    &.evenrow {
                        background: #F1F8E8;
                    }
                    td {
                        width: 50%;
                        float: left;
                        vertical-align: middle;
                        padding: 8px 13.5px;
                        box-sizing: border-box;
                        min-height: 31px;
                        display: block;
                    }
                }
            }
        }
    }
    #container {
        &.pt_account {
            #primary {
                &.primary-content {
                    .account-section {
                        h1 {
                            &.title {
                                line-height: 30px;
                                font-size: 25px;
                            }
                        }
                        .createan-account {
                            margin: 5px 0 0 0;
                        }
                        .upshift {
                            .contentboxcontent {
                                &.account-logs {
                                    h1 {
                                        padding: 0 0 30px 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .triggerx-background .logo {
        background: url(../images/TRIGGER_X_mobile-bar.svg) no-repeat center transparent;
        float: left;
        width: 100%;
        margin: 20px 0 20px;
        min-height: 40px;
    }
    #vippage-background {
        #page {
            .vip-signup-top1 {
                h1 {
                    font-size: 36px;
                    line-height: 36px;
                }
            }
        }
    }
    #vippage-background {
        #page {
            .contentbox {
                .contentboxcontent {
                    h1 {
                        font-size: 25px !important;
                        line-height: 27px !important;
                    }
                }
            }
        }
    }
    #RegistrationForm {
        .label {
            span {
                &.labeltext {
                    font-size: 12px !important;
                    line-height: 12px;
                }
            }
        }
    }

    form {
        .label {
            font-size: 12px !important;
            line-height: 12px;
        }
    }
}

#container.pt_error {
    #primary.primary-content {
        .errorpage {
            fieldset.nohitsearch {
                button.btn {
                    background: url("../images/logo-search.jpeg") no-repeat scroll right top $trigger-bggreen;
                    transition: none;
                }
                input.box {
                    background: url("../images/logo-search.jpeg") no-repeat scroll 0 0 transparent;
                }
            }
        }
    }
}

.pt_account.acc_landing {
    .content-asset {
        .account-options {
            li {
                background: $trigger-white;
                box-shadow: #999 0 0 10px;
                position: relative;
                h2 {
                    text-align: center;
                    background: none;
                    font-family: $triggerx-original;
                    font-size: 36px;
                    font-variant: small-caps;
                    font-weight: normal;
                    color: $trigger-list-black;
                }
                p, a {
                    color: $trigger-list-black;
                }
                &:hover {
                    background-color: $trigger-bggreen;
                    border-color: $trigger-bggreen;
                    a, h2, p {
                        color: $trigger-white;
                    }
                }
            }
        }
    }
}

.pt_product-search-result {
    #page-background {
        #primary {
            .contentboxcontent {
                h1 {
                    &.left-nav-style {
                        color: $trigger-black;
                        font-family: $triggerx-original;
                        font-size: 21px;
                        font-weight: normal;
                    }
                }
            }
        }
    }
}

.product-tile {
    .product-image {
        .quickview {
            color: $trigger-bggreen;
            border-style: solid;
            border-width: 1px;
            border-top-color: $trigger-borderone;
            border-right-color: $trigger-bordertwo;
            border-bottom-color: $trigger-borderthree;
            border-left-color: $trigger-borderfour;
            background-color: $trigger-black;
        }
        .quickview:hover {
            background-color: $trigger-lightblure;
            text-decoration: none;
        }
    }
}

.pt_product-search-result {
    #page-background {
        #primary {
            .search-result-content {
                .product-tile {
                    .product-image {
                        .quickview {
                            color: $trigger-bggreen;
                            border-style: solid;
                            border-width: 1px;
                            border-top-color: $trigger-borderone;
                            border-right-color: $trigger-bordertwo;
                            border-bottom-color: $trigger-borderthree;
                            border-left-color: $trigger-borderfour;
                            background-color: $trigger-black;
                        }
                        .quickview:hover {
                            background-color: $trigger-lightblure;
                            text-decoration: none;

                        }
                    }
                }
            }
        }
    }
}

.pt_product-search-result {
    #page-background {
        #primary {
            .search-result-content {
                .product-tile {
                    .product-name {
                        a {
                            color: $trigger-black;
                        }
                        a:hover {
                            text-decoration: none;
                            color: #7abb29;
                        }
                    }
                }
            }
        }
    }
}

.pt_product-search-result {
    #page-background {
        #primary {
            .search-result-content {
                .product-tile {
                    .product-swatches-all {
                        color: $trigger-lightblure;
                    }
                    .product-swatches-all:hover {
                        text-decoration: underline;
                        color: #7abb29 !important;
                    }
                }
            }
        }
    }
}

.pt_product-search-result {
    #page-background {
        #primary {
            .search-result-content {
                .product-tile {
                    .product-pricing {
                        .product-sales-price {
                            color: $trigger-graytwo;
                            font-size: 11px;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }
}

.pt_product-search-result {
    #page-background {
        #primary {
            .search-result-content {
                .product-tile {
                    .product-promo {
                        text-align: left;
                        color: $trigger-red;
                        font-family: $triggerx-lucida;
                        font-style: italic;
                        font-size: 10px;
                        padding-top: 3px;
                        font-weight: normal;
                        line-height: 14px;
                    }
                }
            }
        }
    }
}

.pt_content-search-result {
    #page-background {
        #primary {
            #tabs {
                ul {
                    &.search-tabs {
                        li {
                            &.active {
                                a {
                                    span {
                                        color: $trigger-lightblure;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .folder-content-list {
                li {
                    a {
                        font-size: 20px;
                        line-height: 20px;
                        font-weight: normal;
                        font-family: $triggerx-lucida;
                        color: $trigger-gray;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    p {
                        font-family: $triggerx-Arial;
                        color: $trigger-gray;
                        font-size: 13px;
                        a {
                            &.readmore {
                                font-family: $triggerx-Arial;
                                color: $trigger-black;

                            }
                        }
                    }
                }
            }
        }
    }
}

.pt_customerservice {
    .affiliates, .prostaff {
        h1 {
            text-align: left;
            font-family: $triggerx-original;
        }
        .pro-detail {
            h2 {
                font-family: $triggerx-original;
            }
        }
    }
    .accordion {
        &.tabover {
            background: none repeat scroll 0 0 $trigger-bggreen;
            color: $trigger-list-black;
        }
    }
}

.registration {
    .custom_signup {
        .form-row {
            .label {
                .labeltext {
                    vertical-align: top;
                }
            }
        }
    }
}

#headerwrapper {
    #header {
        .row {
            &.column1 {
                .headercustomerinfo {
                    .change-regionnew {
                        padding: 9px 12px 8px 0;
                    }
                }
            }
        }
    }
}

table {
    &.specificiations {
        font-size: 13px;
        .header {
            td {
                text-transform: uppercase;
                font-weight: normal;
                font-size: 13px;
                text-align: right;
                &.first-column {
                    text-align: left;
                    padding-left: 0;
                }
            }
        }
        td {
            text-align: right;
            &.col0 {
                font-weight: bold;
                text-align: left;
                padding-left: 0;
            }
        }
    }
}

#footernew {
    .change-region {
        padding: 6px 18px 8px 0;
    }
}

@include respond(0, $desktop-breakpoint - 1) {
    .pt_product-search-result,
    .pt_content-search-result {
        .contentboxcontent {
            .left-nav-style {
                font-size: 25px;
                line-height: 30px;
            }
            h1 {
                &.leftnav {
                    font-size: 25px;
                    line-height: 30px;
                }
            }
        }
    }

    #headerwrapper #header div.logo {
        margin: 24px 0;
    }
}

.pt_product-details {
    .productdetail {
        .wrapper {
            ~ #page-background {
                .product-info {
                    &.column {
                        &.tab-sec {
                            #tabs {
                                ul {
                                    &.ui-tabs-nav {
                                        li {
                                            &.ui-state-active {
                                                a {
                                                    background-image: none;
                                                    background: #7abb29; /* Old browsers */
                                                    background: linear-gradient(to bottom, #7abb29 10%, rgba(255, 255, 255, 1) 10%, #7abb29 10%, rgba(255, 255, 255, 1) 10%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.quickview {
    .ui-dialog-titlebar-close {
        .ui-icon {
            background-image: url(../images/close-button.png);
            &:hover {
                background-position: 0 -34px;
            }
        }
    }
}

.price {
    color: #999;
    margin: 0 auto;
    text-align: left;
    .standardprice {
        color: #999;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 24px;
    }
    .salesprice {
        color: $trigger-lightblure;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 24px;
    }
}

.pt_customerservice {
    #content {
        .customer {
            .cell {
                .contentboxcontent {
                    h1 {
                        font-size: 25px;
                        line-height: 30px;
                        font-family: $triggerx-original;
                    }
                }
            }
        }
    }
}

.pt_customerservice {
    .style-cservice {
        .column {
            .contentbox {
                .left-nav-top {
                    .contentboxcontent {
                        .nav-group {
                            padding: 0;
                            li {
                                &.first-level {
                                    .second-level {
                                        li {
                                            &.active {
                                                a {
                                                    color: $trigger-searchblk-green;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.pt_customerservice {
    .style-cservice {
        .column {
            .contentbox {
                .left-nav-top {
                    .contentboxcontent {
                        h2.left-nav-style {
                            padding: 9.5px 0;
                            font-size: 25px;
                            line-height: 30px;
                            font-family: $triggerx-original;
                        }
                    }
                }
            }
        }
    }
}

.pt_customerservice {
    #content {
        .productsearchbreadcrumb, .breadcrumb {
            background: url(../images/container-grid.jpg) center;
        }
    }
}

@include respond(0, $desktop-breakpoint - 1) {
    .pt_customerservice {
        #content {
            .style-cservice {
                .column {
                    &.colspan2 {
                        h1 {
                            font-size: 25px;
                            line-height: 30px;
                            font-family: $triggerx-original;
                        }
                        .cellbox {
                            &.accordion {
                                &.tabover {
                                    .folder-contentboxcontent {
                                        background: none repeat scroll 0 0 $trigger-bggreen;
                                        color: $trigger-list-black;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.paymentinstruments {
    .label {
        text-transform: uppercase;
        padding-bottom: 2px;
        color: #333;
        font-family: Bronzo;
        font-weight: bold;
        font-size: 16px;
        line-height: 17px;
    }
}

.ui-dialog {
    &.payment-settings {
        .dialog-content {
            .creditcardform {
                .credit-cart-form-title {
                    margin: 0;
                    width: 100%;
                    font-style: normal;
                    font-size: 28px;
                    line-height: 30px;
                }
                #CreditCardForm {
                    .form-row {
                        .field-wrapper {
                        }
                    }
                }
            }
        }
    }
}

.pt_customerservice {
    .site-map {
        ul {
            li {
                &.first-level {
                    ul {
                        li {
                            a:hover {
                                color: $trigger-graytwo;
                            }
                        }
                    }
                }
            }
        }
    }
}

.tab-sec {
    #tabs {
        ul {
            &.ui-tabs-nav {
                li {
                    a {
                        &:hover {
                            span {
                                color: #333;
                            }
                        }
                    }
                    &.ui-state-active {
                        a {
                            span {
                                color: #333;
                            }
                        }
                    }
                }
            }
        }
    }
}

.small-new {
    &.new-stamp {
        border-radius: 15px;
        background-color: #FE0000;
        font-style: italic;
        font-family: sans-serif;
        font-weight: normal;
        font-size: 10px;
        color: #fff;
        padding: 1px 5px;
        margin-right: 3px;
        width: auto !important;
        position: inherit;
        top: -5px;
    }
    &.new-stamp-big {
        border-radius: 15px;
        background-color: #FE0000;
        font-style: italic;
        font-family: sans-serif;
        font-weight: normal;
        font-size: 12px;
        color: #fff;
        padding: 4px 8px;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.65);
        margin-right: 3px;
        vertical-align: top;
    }
}

.newFlagColorSize, .newPakSizeFlag {
    .new-colors-snipe, .new-sizes-snipe, .new-pak-size {
        border-radius: 15px;
        background-color: #FE0000;
        font-style: italic;
        font-family: sans-serif;
        font-weight: normal;
        font-size: 10px;
        color: #fff;
        padding: 1px 5px;
        margin-right: 3px;
    }
}

.variationattributes {
    .color {
        ul {
            li {
                a {
                    span {
                        &.corner-ribbon {
                            background-color: #7EEB31;
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}

.productdetail {
    #special-offers {
        ul {
            li {
                color: $trigger-hovgreen;
            }
        }
    }
}

.productdetail .price .price-sales {
    color: #7abb29;
}

.pt_product-details {
    #footernew {
        background-position: 50% 0px;
        #footer-brands {
            margin-top: 0;
            padding: 24px 16px 20px 17px;
        }
        .wrapper {
            .footer-main {
                margin: 18px 18px 30px;
            }
        }
    }
}