$trigger-bggreen:#9DEC00;
$trigger-lightbg: #f1f1f1;
$trigger-hovgreen: #7abb29;
$trigger-searchblk-green:#70a525;
$trigger-dark:#808080;
$trigger-lightgrey: #4d4d4d;
$trigger-list-black:#333;
$trigger-white:#ffffff;
$trigger-black: #000;
$trigger-lightblure: #333;
$trigger-gray: #666;
$trigger-graytwo: #999;
$trigger-red: #E80000;

// font-family //

/* border-color */
$trigger-borderone: #000002;
$trigger-bordertwo: #222;
$trigger-borderthree: #404040;
$trigger-borderfour: #000100;


$triggerx-lucida: "Lucida Grande","Lucida Sans","Lucida Sans Unicode","Trebuchet MS", Helvetica,Arial,sans-serif;
$triggerx-original: "GFYArtie-Regular";
$triggerx-Arial:Arial, Helvetica, sans-serif;
$triggerx-Basker: Baskerville,"Times New Roman",Times,serif;