$wil-bgblue: #235AA6;
$wil-diplight-blue: #1F4D8C;
$wil-bg-light-blue: #4396E1;
$white: #ffffff;
$wil-white: #ffffff;
$wil-hov-blue: #235aa6;
$wil-hov-grey: #4d4d4d;
$wil-list-black: #333;
$wil-black: #000;
$wil-gray: #999;
$wil-yellow: #FFF200;
$wil-light-original-grey: #CCC;
$wil-red: #E80000;
$wil-light-gray: #F1F1F1;
$wil-footerheading: #1a1a1a;

// font-family //

// border color //
$wil-borderone: $wil-bg-light-blue;
$wil-bordertwo: #2359A2;
$wil-borderthree: #AAC0DD;
$wil-borderfour: #2B5FA6;

$wil-hov-borderone: #397FBE;
$wil-hov-bordertwo: #4292DC;
$wil-hov-borderthree: #B7D7F3;
$wil-hov-borderfour: #4896DD;

$williamson-lucida: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
$williamson-original: "Europa W00 Bold", "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
$williamson-Avant: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
$willi-Arial: Arial, Helvetica, sans-serif;
$willi-Baskerville: Baskerville, "Times New Roman", Times, serif;