@import url("../css/MyFontsWebfontsKit.css");
/* body */
body {
  color: #333;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  background: #D8D8D8 url(../images/container-background-70.jpg) 0 0 repeat; }
  body.js-body {
    background: none; }
  body .js-container-active .open-menu-wrap {
    background: #D8D8D8 url(../images/container-background-70.jpg) 0 -105px repeat; }

/* <a> styles */
a {
  color: #0038AA;
  text-decoration: none; }
  a:hover {
    color: #0038AA;
    text-decoration: none; }

h1 a:hover, h2 a:hover {
  color: #0038AA;
  text-decoration: none; }

.pt_productsearchresult #page-background .row.column3 .colspan2.cell4 .contentboxcontent a.searchedfor {
  color: #015bca; }

#headerwrapper #header .row.column1 #minicart a.minicart-button {
  color: #0038aa; }

#headerwrapper #header .row.column1 #minicart a.minicart-button:hover {
  color: #0038aa; }

a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #06C; }

/* H1-H6 */
h1, h2, h4, h5, h6, .h-one-tag {
  font-family: 'ReversalEb-Italic',Arial,Helvetica,sans-serif;
  font-weight: normal;
  color: #333;
  text-transform: uppercase; }

h1, .h-one-tag {
  font-size: 25px;
  line-height: 25px;
  margin: 0; }

h2 {
  font-size: 16px;
  line-height: 16px; }

a {
  color: #0038AA;
  text-decoration: none; }
  a.filter {
    margin: 18px 0 0;
    display: block;
    clear: left;
    float: left;
    width: 184px;
    line-height: 18px;
    font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0;
    color: #ffffff;
    padding: 5px 28px 5px 10px;
    border-style: solid;
    border-width: 1px;
    background-position: 100% 0;
    background-repeat: no-repeat;
    color: #ffffff !important;
    background: #015bca;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #015bca), color-stop(100%, #10538e));
    background: -webkit-linear-gradient(top, #015bca 0%, #10538e 100%);
    background: linear-gradient(to bottom, #015bca 0%, #10538e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#015bca', endColorstr='#10538e', GradientType=0 );
    border-top-color: #002F8F;
    border-right-color: #0037A6;
    border-bottom-color: #9DB3DE;
    border-left-color: #0037A6; }
    a.filter:hover {
      background: #10538e;
      background: -webkit-gradient(left top, left bottom, color-stop(0%, #10538e), color-stop(100%, #015bca));
      background: -webkit-linear-gradient(top, #10538e 0%, #015bca 100%);
      background: linear-gradient(to bottom, #10538e 0%, #015bca 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10538e', endColorstr='#015bca', GradientType=0 );
      border-top-color: #0056AC;
      border-right-color: #0064C7;
      border-bottom-color: #9DC4EB;
      border-left-color: #0064C7;
      text-decoration: none; }

a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #06C; }

/*buttons*/
a.button, button {
  margin: 0;
  display: block;
  clear: left;
  float: left;
  height: 28px;
  line-height: 28px;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0;
  color: white;
  padding: 0 18px 0 18px;
  background-color: #0038AA;
  border-style: solid;
  border-width: 1px;
  border-top-color: #002F8F;
  border-right-color: #0037A6;
  border-bottom-color: #9DB3DE;
  border-left-color: #0037A6; }

a.button:hover, button:hover {
  background: #06C;
  text-decoration: none;
  /*border-top-color: #0056AC;
	border-right-color: #0064C7;
	border-bottom-color: #9DC4EB;
	border-left-color: #0064C7;*/
  cursor: pointer; }

.addTo-cart-section a.button:hover, .addTo-cart-section button:hover {
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #10538e), color-stop(100%, #015bca)) !important;
  background: -webkit-linear-gradient(top, #10538e 0%, #015bca 100%) !important;
  background: linear-gradient(to bottom, #10538e 0%, #015bca 100%) !important;
  text-decoration: none;
  /*border-top-color: #0056AC;
		border-right-color: #0064C7;
		border-bottom-color: #9DC4EB;
		border-left-color: #0064C7;*/
  cursor: pointer; }

p {
  color: #333;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: normal;
  word-spacing: normal;
  line-height: 18px;
  padding: 9px 0 9px 0;
  text-align: left; }

p a {
  font-weight: bold; }

#content .homepage .downshift h1, #content .homepage .downshift h2 {
  padding-top: 3px; }

.pt_acc_landing .content-asset .account-options li {
  -webkit-transition: none;
  transition: none; }
  .pt_acc_landing .content-asset .account-options li a {
    -webkit-transition: none;
    transition: none; }
    .pt_acc_landing .content-asset .account-options li a h2 {
      font-family: "ReversalEb-Italic", Arial, Helvetica, sans-serif;
      font-variant: small-caps;
      font-weight: normal;
      font-size: 25px;
      line-height: 25px;
      padding: 10px 0; }
    .pt_acc_landing .content-asset .account-options li a p {
      text-transform: capitalize; }
  .pt_acc_landing .content-asset .account-options li:hover {
    background-color: #0038AA;
    border-color: #0038AA;
    -webkit-transition: none;
    transition: none; }
    .pt_acc_landing .content-asset .account-options li:hover h2 {
      color: #ffffff; }
    .pt_acc_landing .content-asset .account-options li:hover p {
      color: #ffffff; }
    .pt_acc_landing .content-asset .account-options li:hover i {
      color: #ffffff; }

.pt_store-locator .storelocator h1 {
  text-transform: uppercase;
  font-vairant: normal; }

.pt_store-locator .storelocatorzipsearch .stack .form-row .label .labeltext {
  font-family: Arial,Helvetica,sans-serif;
  color: #333;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px; }

.pt_order h1 {
  text-align: left;
  background: none;
  border: none;
  padding: 0; }

.pt_order .search-result-items li .order-history-items .order-history-table th {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  font-weight: bold; }

.pt_order .search-result-items li .order-history-items .order-history-table tr .order-price .value {
  font-family: Baskerville, "Times New Roman", Times, serif;
  color: #0038AA;
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
  line-height: 30px; }

.ui-dialog.addressadd #dialog-container .form-horizontal .form-row .label .labeltext {
  text-transform: uppercase;
  font-weight: bold; }

.ui-dialog.addressadd #dialog-container .form-horizontal .form-row.form-row-button button.simple {
  background-color: #0038AA;
  color: #ffffff; }
  .ui-dialog.addressadd #dialog-container .form-horizontal .form-row.form-row-button button.simple:hover {
    background: #06C; }

.pt_wish-list #main .item-details .product-list-item span.price-sales {
  color: #0038AA;
  font-size: 15px; }

.pt_leftnav-addressbook #addresses .address-list .address-tile .mini-address-title {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase; }

.pt_leftnav-addressbook #addresses .address-list .address-tile .mini-address-name {
  line-height: 14px; }

.pt_leftnav-addressbook #addresses .address-list .address-tile .mini-address-location address {
  line-height: 14px; }

.orderdetails .order-information .order-number .label {
  font-size: 25px;
  line-height: 25px;
  font-family: "ReversalEb-Italic", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #333;
  text-transform: uppercase;
  font-style: normal; }

.orderdetails .order-information .order-number .value {
  font-style: normal;
  font-size: 25px;
  line-height: 25px;
  font-family: "ReversalEb-Italic", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #333;
  text-transform: uppercase; }

.orderdetails .order-payment-summary .label,
.orderdetails .order-billing .label,
.orderdetails .order-shipment-address .label,
.orderdetails .line-item-details .label,
.orderdetails .line-item-quantity .label,
.orderdetails .line-item-price .label {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase; }

.orderdetails .line-items .line-item .line-item-price {
  font-family: Baskerville, "Times New Roman", Times, serif;
  color: #0038AA;
  font-weight: bold;
  font-style: italic;
  font-size: 24px;
  line-height: 24px; }
  .orderdetails .line-items .line-item .line-item-price .label {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    font-style: normal; }

h1.search-result {
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 36px; }

.variationattributes .size li.selected a, .variationattributes .size li.selected a:hover, .variationattributes .size li a:hover {
  color: #ffffff;
  border-right-color: #0064C7;
  border-bottom-color: #0056AC;
  background-position: 0 -20px;
  text-decoration: none;
  background-color: #06C;
  border-left-color: #0064C7;
  border-top-color: #0056AC; }

.variationattributes .swatches li a {
  background-image: url("../images/product-detail-size.jpg"); }

.pt_product-search-result #page-background #primary .search-blk a {
  display: inline-block;
  text-transform: capitalize;
  color: #015bca; }
  .pt_product-search-result #page-background #primary .search-blk a:hover {
    text-decoration: none; }

.owl-carousel .owl-dot span {
  background-image: url(../images/slideshow-counter.png); }

#headerwrapper #header .row.column1 #minicart #multi-site-one-cart {
  background-image: url(../images/multi-site-one-cart-bg-right.png);
  background-color: none;
  background-position: right top; }

#headerwrapper #header .row.column1 #minicart #multi-site-one-cart span {
  color: white;
  font-weight: normal;
  width: 58px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  text-transform: capitalize;
  background-image: url(../images/multi-site-one-cart-bg.png); }

.minicarticon-cont .cart-icon {
  background: url(../images/darkbluecart.png) 0 6px no-repeat;
  width: 30px;
  float: left;
  height: 30px;
  margin: 0 5px 0 10px; }

#headerwrapper #header .row.column1 #minicart a.minicart-button {
  color: #0038aa; }

#headerwrapper #header .row.column1 #minicart a.minicart-checkout-button {
  background: -webkit-linear-gradient(top, #015bca 60%, #004986 100%);
  background: linear-gradient(to bottom, #015bca 60%, #004986 100%);
  background: -webkit-linear-gradient(to bottom, #015bca 60%, #004986 100%);
  background: -ms-linear-gradient(to bottom, #015bca 60%, #004986 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #015bca), color-stop(100%, #004986));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#015bca', endColorstr='#004986',GradientType=0 );
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 7px 0;
  height: 17px;
  text-indent: 0;
  font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode","Trebuchet MS",Helvetica,Arial,sans-serif;
  font-size: 11px;
  border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0; }

#headerwrapper #header .row.column1 #minicart a.minicart-checkout-button:hover {
  background: -webkit-linear-gradient(top, #004986 0%, #015bca 60%);
  background: linear-gradient(to bottom, #004986 0%, #015bca 60%);
  background: -webkit-linear-gradient(to bottom, #004986 0%, #015bca 60%);
  background: -ms-linear-gradient(to bottom, #004986 0%, #015bca 60%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #004986), color-stop(60%, #015bca));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004986', endColorstr='#015bca',GradientType=0 ); }

.owl-carousel .owl-dot span {
  background-image: url(../images/slideshow-counter.png); }

.shop-brand {
  font-weight: normal;
  font-family: "ReversalEb-Italic", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  padding: 15px 0 5px !important; }

.categorymenusnew a:hover {
  color: #015bca;
  text-decoration: underline; }

.categorymenusnew .category-top-level.active a {
  color: #015bca; }
  .categorymenusnew .category-top-level.active a:hover {
    color: #015bca;
    text-decoration: underline; }
    .categorymenusnew .category-top-level.active a:hover .count-products {
      color: #015bca; }
  .categorymenusnew .category-top-level.active a .count-products {
    color: #015bca; }

.categorymenusnew .category-top-level.active ul .count-products {
  color: #4d4d4d; }

.categorymenusnew .category-top-level .category-top-level2 li.active a {
  color: #015bca;
  text-decoration: underline; }
  .categorymenusnew .category-top-level .category-top-level2 li.active a .count-products {
    color: #015bca; }

.categorymenusnew .category-top-level .category-top-level2 li a:hover {
  color: #015bca; }
  .categorymenusnew .category-top-level .category-top-level2 li a:hover .count-products {
    color: #015bca; }

/* start of styles for my account page */
#container.pt_account #primary.primary-content .account-section .label .labeltext {
  color: #666;
  float: none;
  font-size: 12px;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-align: left;
  width: auto;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  padding: 0; }

#container.pt_account #primary.primary-content .account-section .returningcustomers .form-row {
  margin: 8px 0 16px 1px; }
  @media screen and (max-width: 480px) {
    #container.pt_account #primary.primary-content .account-section .returningcustomers .form-row {
      margin: 0px 0 16px 1px; } }

#container.pt_account #primary.primary-content .account-section .custom-checkbox {
  float: left;
  margin: 2px 0 15px 0;
  padding: 0;
  width: 100%;
  position: relative; }

#container.pt_account #primary.primary-content .account-section .cell {
  margin: 25px 0 0 10px; }

#container.pt_account #primary.primary-content .account-section .upshift .contentboxcontent.account-logs h1 {
  padding: 8px 0 2px; }

#container.pt_account #primary.primary-content .account-section .createan-account {
  margin-top: 23px; }
  #container.pt_account #primary.primary-content .account-section .createan-account .contentboxcontent.new-register .registration .form-row {
    margin: 15px 0 -3px 0px; }

#container.pt_account #footernew {
  top: -128px !important; }

/* end of styles for my account page */
#content .homepage .cell.downshift.featured-1 {
  margin-top: 18px; }
  #content .homepage .cell.downshift.featured-1 h2 {
    margin-bottom: 0px; }

.international-links-container {
  font-size: 12px; }

.international-investor-link {
  margin-top: 165px;
  color: white; }

.international-investor-link a {
  line-height: 10px;
  float: none;
  padding-left: 0px;
  letter-spacing: 0;
  color: white; }

.international-investor-link a:hover {
  padding-left: 0px;
  color: white; }

form .label {
  font-family: Arial,Helvetica,sans-serif;
  color: #333;
  font-variant: initial;
  font-size: 12px;
  line-height: 12px; }

#vippage-background form .label {
  font-family: Arial,Helvetica,sans-serif;
  color: #333;
  font-variant: initial  !important;
  text-transform: uppercase  !important;
  font-size: 12px !important;
  line-height: 12px;
  font-weight: bold  !important; }

div .returningcustomers .custom_signin .formfield .form-row .label {
  font-family: Arial,Helvetica,sans-serif;
  color: #333;
  font-variant: initial;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
  padding-bottom: 2px; }

/* start of footer styles */
.pt_product-search-result #footernew {
  top: 0 !important; }

.pt_content-search-result #footernew {
  top: 0 !important; }

#footernew {
  background-image: url(../images/footer-background.png);
  background-position: 50% 28px; }

.pt_storefront #footernew {
  top: -128px; }

.pt_product-details #footernew #footer-brands {
  margin-top: 0; }

body {
  color: #333;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  background: #D8D8D8 url(../images/container-background-70.jpg) 0 0 repeat; }

#footernew #footer-brands {
  clear: both;
  margin: 27px auto 0 auto;
  padding: 50px 16px 20px 17px;
  background: none;
  width: 835px; }

#footernew .wrapper .footer-main {
  margin: 18px 18px 30px;
  position: relative;
  float: left; }

#footernew .social-icons #fallow-us-on ul .you-tube {
  padding: 0 15px 10px 0; }

#footernew .email-subscribe input.emailinput {
  padding: 0 9px 0 8px; }

.productdetail .addtocartbar .addtocart button.addtocartbutton {
  background-image: none;
  float: left;
  width: calc(100% - 50px);
  height: 40px;
  line-height: 40px;
  color: #ffffff;
  background-image: none;
  background: #015bca;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #015bca), color-stop(100%, #10538e));
  background: -webkit-linear-gradient(top, #015bca 0%, #10538e 100%);
  background: linear-gradient(to bottom, #015bca 0%, #10538e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#015bca', endColorstr='#10538e', GradientType=0 );
  -webkit-transition: inherit;
  transition: inherit;
  text-transform: inherit;
  border: none; }

.productdetail .addtocartbar .addtocart .quantity .label {
  font-size: 13px !important;
  font-style: normal;
  font-weight: normal !important;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif; }

@media screen and (max-width: 959px) {
  #vippage-background .disign-header-title,
  #vippage-background h1 {
    font-size: 20px;
    line-height: 25px;
    font-weight: normal; }
  .pt_wish-list #main #page-background #primary h1,
  .pt_leftnav-addressbook #main #page-background #primary h1,
  .pt_order #main #page-background #primary h1,
  .pt_leftnav-payment #main #page-background #primary h1,
  .pt_leftnav-profile #main #page-background #primary h1,
  .pt_acc_landing #main #page-background #primary h1 {
    font-size: 20px;
    line-height: 25px;
    font-variant: normal; }
  .pt_acc_landing .content-asset .account-options li a h2 {
    font-size: 17px;
    line-height: 20px; }
  .desktop-view {
    display: none !important; }
  .pt_product-details .pdp-main .pdpmain-content .productname {
    font-size: 20px;
    line-height: 25px;
    font-variant: normal; }
  .productdetail a.filter span {
    font-style: normal;
    color: #ffffff;
    font-weight: normal; }
  .productdetail a.filter .selectedvarval {
    color: #ffffff; }
  .productdetail .price .salesprice {
    font-style: bold !important;
    font-size: 15px !important;
    color: #015bca !important; }
  .selected a.filter,
  .future a.filter {
    background-color: #f1f1f1 !important;
    border-top: 1px solid #d0d0d0;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #f8f8f8;
    border-left: 1px solid #e8e8e8;
    color: #333 !important;
    border-radius: 3px; }
  .current a.filter {
    color: #ffffff;
    border: 1px solid #105182;
    background: #015bca;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #015bca), color-stop(100%, #10538e));
    background: -webkit-linear-gradient(top, #015bca 0%, #10538e 100%);
    background: linear-gradient(to bottom, #015bca 0%, #10538e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#015bca', endColorstr='#10538e', GradientType=0 ); }
    .current a.filter:hover {
      background: #10538e;
      background: -webkit-gradient(left top, left bottom, color-stop(0%, #10538e), color-stop(100%, #015bca));
      background: -webkit-linear-gradient(top, #10538e 0%, #015bca 100%);
      background: linear-gradient(to bottom, #10538e 0%, #015bca 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10538e', endColorstr='#015bca', GradientType=0 ); }
  .pt_wish-list .breadcrumb,
  .pt_leftnav-addressbook .breadcrumb,
  .pt_order .breadcrumb,
  .pt_leftnav-payment .breadcrumb,
  .pt_account .breadcrumb,
  .pt_product-search-result .breadcrumb,
  .pt_content-search-result .breadcrumb,
  .pt_leftnav-profile .breadcrumb {
    background: url(../images/container-background-70.jpg) !important;
    background-repeat: repeat-x;
    height: auto !important;
    font-size: 13px; }
  .pt_product-search-result .contentboxcontent .left-nav-style,
  .pt_content-search-result .contentboxcontent .left-nav-style {
    font-size: 20px;
    line-height: 25px; }
  .pt_product-search-result .contentboxcontent h1.leftnav,
  .pt_content-search-result .contentboxcontent h1.leftnav {
    font-size: 20px;
    line-height: 25px; }
  #footernew {
    background: none;
    top: 0 !important; }
    #footernew .wrapper .footer-main {
      background-image: none;
      margin: 0;
      width: 100%;
      box-shadow: inset  0  8px 8px -8px #696868,inset  0 -8px 8px -8px #696868;
      -moz-box-shadow: inset  0  8px 8px -8px #696868,inset  0 -8px 8px -8px #696868;
      -webkit-box-shadow: inset  0  8px 8px -8px #696868,inset  0 -8px 8px -8px #696868;
      -ms-box-shadow: inset  0  8px 8px -8px #696868,inset  0 -8px 8px -8px #696868; } }

@media screen and (max-width: 480px) {
  #container.pt_account #primary #footernew {
    top: 0 !important; }
  #container.pt_account #primary.primary-content .account-section h1.title {
    line-height: 25px;
    font-size: 20px; }
  #container.pt_account #primary.primary-content .account-section .createan-account {
    margin: 5px 0 0 0; }
  #container.pt_account #primary.primary-content .account-section .upshift .contentboxcontent.account-logs h1 {
    padding: 0 0 30px 0; }
  .terminator-background .logo {
    background: url(../images/Terminator_Logo_mobile-bar.svg) no-repeat center transparent;
    float: left;
    width: 100%;
    margin: 20px 0 20px;
    min-height: 40px; }
  #vippage-background #page .vip-signup-top1 {
    /* h1{
			 	font-size:36px;
			 	line-height:36px;
			 	}  */ }
  #vippage-background #page .contentbox .contentboxcontent {
    /* h1{
				 	font-size:25px !important;
				 	line-height:27px !important;
				 	} */ }
  #RegistrationForm .label span.labeltext {
    font-size: 12px !important;
    line-height: 12px; }
  form .label {
    font-size: 12px !important;
    line-height: 12px; }
  .product-specifications.iphone-view .specificiations {
    border: none; }
    .product-specifications.iphone-view .specificiations tbody {
      border-bottom: 1px solid #ccc;
      margin-bottom: 2em;
      display: table;
      width: 100%; }
      .product-specifications.iphone-view .specificiations tbody tr:nth-child(2n + 3) {
        background: #DAE7F7; }
      .product-specifications.iphone-view .specificiations tbody tr:first-child th {
        background: #015bca;
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #015bca), color-stop(100%, #10548e));
        background: -webkit-linear-gradient(top, #015bca 0%, #10548e 100%);
        background: linear-gradient(to bottom, #015bca 0%, #10548e 100%);
        color: #ffffff;
        padding: 8px 13.5px;
        width: 100%;
        margin: 0;
        vertical-align: middle;
        border: none;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px; }
      .product-specifications.iphone-view .specificiations tbody tr.evenrow {
        background: #DAE7F7; }
      .product-specifications.iphone-view .specificiations tbody tr td {
        border-right: 1px solid #ccc;
        width: 50%;
        float: left;
        vertical-align: middle;
        padding: 8px 13.5px;
        box-sizing: border-box;
        min-height: 31px;
        display: block; } }

@media screen and (max-width: 767px) {
  #footernew .wrapper .footer-main {
    margin: 0px; } }

#container.pt_error #primary.primary-content .errorpage fieldset.nohitsearch input.box {
  background: url("../images/search-full-terminator.png") no-repeat scroll 0 0 transparent; }

#container.pt_error #primary.primary-content .errorpage fieldset.nohitsearch button.btn {
  background: url("../images/search-full-terminator.png") no-repeat scroll right top #0038AA;
  -webkit-transition: none;
  transition: none; }
  #container.pt_error #primary.primary-content .errorpage fieldset.nohitsearch button.btn:hover {
    background: url("../images/search-full-terminator.png") no-repeat #06C;
    background-position: -202px -28px; }

#container.pt_error #footernew {
  top: 0 !important; }

.pt_account.acc_landing .content-asset .account-options li {
  background: #ffffff;
  box-shadow: #999 0 0 10px;
  position: relative; }
  .pt_account.acc_landing .content-asset .account-options li h2 {
    text-align: center;
    background: none;
    font-family: "ReversalEb-Italic", Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-variant: small-caps;
    font-weight: normal;
    color: #333; }
  .pt_account.acc_landing .content-asset .account-options li p, .pt_account.acc_landing .content-asset .account-options li a {
    color: #333; }
  .pt_account.acc_landing .content-asset .account-options li:hover {
    background-color: #0038AA;
    border-color: #0038AA; }
    .pt_account.acc_landing .content-asset .account-options li:hover a, .pt_account.acc_landing .content-asset .account-options li:hover h2, .pt_account.acc_landing .content-asset .account-options li:hover p {
      color: #ffffff; }

.pt_product-search-result #page-background #primary .contentboxcontent h1.left-nav-style {
  color: #000;
  font-weight: normal;
  font-family: "ReversalEb-Italic", Arial, Helvetica, sans-serif;
  font-size: 16px; }

.product-tile .product-image .quickview {
  background-color: #0038AA;
  border-style: solid;
  border-width: 1px;
  border-top-color: #002F8F;
  border-right-color: #0037A6;
  border-bottom-color: #9DB3DE;
  border-left-color: #0037A6;
  color: #ffffff; }

.product-tile .product-image .quickview:hover {
  color: white;
  background-color: #06C;
  text-decoration: none;
  border-top-color: #0056AC;
  border-right-color: #0064C7;
  border-bottom-color: #9DC4EB;
  border-left-color: #0064C7; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-image .quickview {
  color: #ffffff;
  background-color: #0038AA;
  border-style: solid;
  border-width: 1px;
  border-top-color: #002F8F;
  border-right-color: #0037A6;
  border-bottom-color: #9DB3DE;
  border-left-color: #0037A6; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-image .quickview:hover {
  background-color: #06C;
  text-decoration: none;
  border-top-color: #0056AC;
  border-right-color: #0064C7;
  border-bottom-color: #9DC4EB;
  border-left-color: #0064C7; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-name a {
  color: #000; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-name a:hover {
  text-decoration: none;
  color: #015bca; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-swatches-all {
  color: #0038AA; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-swatches-all:hover {
  color: #015bca !important; }

.pt_product-details #footernew {
  background-position: 50% 0px; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-pricing .product-sales-price {
  color: #999;
  font-size: 11px;
  font-weight: normal; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-promo {
  text-align: left;
  color: #E80000;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 10px;
  padding-top: 3px;
  font-weight: normal;
  line-height: 14px; }

.pt_content-search-result #page-background #primary #tabs ul.search-tabs li.active a span {
  color: #0038AA; }

.pt_content-search-result #page-background #primary .folder-content-list li a {
  font-family: "ReversalEb-Italic", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  color: #333; }

.pt_content-search-result #page-background #primary .folder-content-list li p {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 13px; }
  .pt_content-search-result #page-background #primary .folder-content-list li p a.readmore {
    font-family: Arial, Helvetica, sans-serif;
    color: #0038AA;
    font-weight: bold; }
    .pt_content-search-result #page-background #primary .folder-content-list li p a.readmore:hover {
      color: #06C; }

.pt_customerservice #footernew {
  top: 0px !important; }

.pt_customerservice .accordion.tabover {
  background-color: #0038AA; }

#headerwrapper #header .row.column1 .headercustomerinfo .change-regionnew {
  padding: 9px 12px 8px 0; }

@media screen and (max-width: 959px) {
  #headerwrapper #header div.logo {
    margin: 26.5px 0; } }

.productdetail .price {
  font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode","Trebuchet MS",Helvetica,Arial,sans-serif;
  color: #0038AA;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0px; }
  .productdetail .price .salesprice {
    color: #015bca;
    font-weight: bold;
    letter-spacing: 0; }

#special-offers .promotion-title {
  color: #333; }

.variationattributes .swatches li a:hover {
  color: #ffffff;
  border-color: #06C; }

.variationattributes .swatches li.selected a {
  background-image: url("../images/product-detail-size.jpg");
  color: #ffffff;
  border-color: #06C; }

.pt_product-details .productdetail .wrapper ~ #page-background .product-info.column.tab-sec #tabs ul.ui-tabs-nav li.ui-state-active a {
  background-image: none;
  background: #015bca;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #015bca 10%, white 10%, #015bca 10%, white 10%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #015bca 10%, white 10%, #015bca 10%, white 10%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e80000', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */ }

.quickview .ui-dialog-titlebar-close .ui-icon {
  background-image: url(../images/close-button.png); }
  .quickview .ui-dialog-titlebar-close .ui-icon:hover {
    background-position: 0 -34px; }

.specTable-wrapper {
  float: left;
  margin: 0 2em 1em 0;
  width: 310px;
  vertical-align: top; }
  @media screen and (max-width: 480px) {
    .specTable-wrapper {
      width: 100%; } }
  .specTable-wrapper:last-child {
    margin-right: 0; }
  .specTable-wrapper table.specificiations {
    word-wrap: break-word; }
    .specTable-wrapper table.specificiations tbody tr th {
      background: #015bca;
      background: -webkit-gradient(left top, left bottom, color-stop(0%, #015bca), color-stop(100%, #10548e));
      background: -webkit-linear-gradient(top, #015bca 0%, #10548e 100%);
      background: linear-gradient(to bottom, #015bca 0%, #10548e 100%);
      color: #ffffff;
      border: none;
      vertical-align: middle;
      text-transform: capitalize; }
      .specTable-wrapper table.specificiations tbody tr th:first-child {
        border-top-left-radius: 4px; }
      .specTable-wrapper table.specificiations tbody tr th:last-child {
        border-top-right-radius: 4px; }
    .specTable-wrapper table.specificiations tbody tr td:last-child {
      border-right: 1px solid #ccc; }
    .specTable-wrapper table.specificiations tbody tr.oddrow {
      background: #fff; }
    .specTable-wrapper table.specificiations tbody tr.evenrow {
      background: #D9E3E8; }

.product-specifications.desk-tab-view .specificiations thead tr {
  background: #015bca;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #015bca), color-stop(100%, #10548e));
  background: -webkit-linear-gradient(top, #015bca 0%, #10548e 100%);
  background: linear-gradient(to bottom, #015bca 0%, #10548e 100%);
  color: #ffffff;
  border: none;
  vertical-align: middle; }
  .product-specifications.desk-tab-view .specificiations thead tr:first-child {
    border-top-left-radius: 3px; }
  .product-specifications.desk-tab-view .specificiations thead tr:last-child {
    border-top-right-radius: 3px; }

.product-specifications.desk-tab-view .specificiations tbody tr.evenrow {
  background: #DAE7F7; }

.pt_customerservice #content .customer .cell .contentboxcontent h1 {
  font-size: 20px;
  line-height: 25px;
  font-family: "ReversalEb-Italic", Arial, Helvetica, sans-serif; }

.pt_customerservice .style-cservice .column .contentbox .left-nav-top .contentboxcontent .nav-group {
  padding: 0; }
  .pt_customerservice .style-cservice .column .contentbox .left-nav-top .contentboxcontent .nav-group li.first-level .second-level li.active a {
    color: #015bca; }

.pt_customerservice .style-cservice .column .contentbox .left-nav-top .contentboxcontent h2.left-nav-style {
  padding: 12px 0;
  font-size: 20px;
  line-height: 25px;
  font-family: "ReversalEb-Italic", Arial, Helvetica, sans-serif; }

.pt_customerservice #content .productsearchbreadcrumb, .pt_customerservice #content .breadcrumb {
  background: url(../images/container-background-70.jpg); }

@media screen and (max-width: 959px) {
  .pt_customerservice #content .style-cservice .column.colspan2 h1 {
    font-size: 20px;
    line-height: 25px;
    font-family: "ReversalEb-Italic", Arial, Helvetica, sans-serif; }
  .pt_customerservice #content .style-cservice .column.colspan2 .cellbox.accordion.tabover .folder-contentboxcontent {
    background-color: #0038AA; } }

.paymentinstruments .label {
  text-transform: uppercase;
  padding-bottom: 2px;
  font-family: Arial,Helvetica,sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 17px;
  font-weight: bold; }

.ui-dialog.payment-settings .dialog-content .creditcardform .credit-cart-form-title {
  margin: 0;
  width: 100%;
  font-style: normal;
  font-size: 25px;
  line-height: 25px; }

.pt_customerservice .site-map ul li.first-level ul li a:hover {
  text-decoration: none; }

.tab-sec #tabs ul.ui-tabs-nav li a:hover span {
  color: #0038AA; }

.tab-sec #tabs ul.ui-tabs-nav li.ui-state-active a span {
  color: #0038AA; }

.small-new.new-stamp {
  border-radius: 15px;
  background-color: #0066CC;
  font-style: italic;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 10px;
  color: #fff;
  padding: 1px 5px;
  margin-right: 3px;
  width: auto !important;
  vertical-align: top;
  margin-top: 4px;
  float: left; }

.small-new.new-stamp-big {
  border-radius: 15px;
  background-color: #0066CC;
  font-style: italic;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #fff;
  padding: 4px 8px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.65);
  margin-right: 3px;
  position: inherit;
  top: -5px; }

.newFlagColorSize .new-colors-snipe, .newFlagColorSize .new-sizes-snipe, .newFlagColorSize .new-pak-size, .newPakSizeFlag .new-colors-snipe, .newPakSizeFlag .new-sizes-snipe, .newPakSizeFlag .new-pak-size {
  border-radius: 15px;
  background-color: #0066CC;
  font-style: italic;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 10px;
  color: #fff;
  padding: 1px 5px;
  margin-right: 3px; }

.variationattributes .color ul li a span.corner-ribbon {
  background-color: #0065C5;
  color: #fff; }

.productdetail #special-offers ul li {
  color: #015bca; }

.productdetail .price .price-sales {
  color: #015bca; }
