@import url("//hello.myfonts.net/count/2c6f11");
a {
  color: #333333; }

/***********************************************/
/* PAGE STRUCTURE CSS                          */
/***********************************************/
body {
  background-color: #ffffff;
  color: #666666;
  font-family: Garamond, "Times New Roman", Times, serif;
  font-size: 13px; }

/* @import must be at top of file, otherwise CSS will not work */
@font-face {
  font-family: "BaskervilleBT-Roman";
  src: url("../fonts/2C6F11_0_0.eot");
  src: url("../fonts/2C6F11_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2C6F11_0_0.woff2") format("woff2"), url("../fonts/2C6F11_0_0.woff") format("woff"), url("../fonts/2C6F11_0_0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 9px 0; }

form .label {
  font-family: "BaskervilleBT-Roman";
  color: #666666;
  font-size: 12px;
  text-transform: uppercase;
  border: none;
  padding: 0 0 3px 0;
  font-weight: normal;
  line-height: 16px;
  margin: 0;
  letter-spacing: 0px; }
  @media screen and (max-width: 480px) {
    form .label {
      line-height: 12px; } }

div .returningcustomers .custom_signin .formfield .form-row .label {
  font-family: "BaskervilleBT-Roman";
  color: #666666;
  font-size: 12px;
  text-transform: uppercase;
  border: none;
  padding: 0 0 3px 0;
  font-weight: normal;
  line-height: 16px;
  margin: 0;
  letter-spacing: 0px; }
  @media screen and (max-width: 480px) {
    div .returningcustomers .custom_signin .formfield .form-row .label {
      line-height: 12px; } }

.logincustomers form .label, .createan-account form .label {
  padding: 0px; }

.requiredindicator {
  font-size: 16px;
  letter-spacing: 0; }

h1.leftnav {
  display: block;
  padding: 28px 9px 18px 9px;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
  font-family: "BaskervilleBT-Roman";
  color: #666666;
  letter-spacing: 0;
  border-style: solid;
  border-width: 1px;
  border-color: #666666;
  text-align: center;
  /*background: $sufix-bgwhite url("../images/hr-dotted.jpg") 0 9px repeat-x;*/ }

h1, .h-one-tag {
  display: block;
  padding: 46px 18px 36px 18px;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  font-family: "BaskervilleBT-Roman";
  color: #666666;
  letter-spacing: 0;
  margin: 0; }
  h1.subheader, .h-one-tag.subheader {
    display: block;
    padding: 37px 18px 36px 18px;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: normal;
    font-family: "BaskervilleBT-Roman";
    color: #666666;
    letter-spacing: 0;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-color: #666666;
    text-align: center;
    background: white url(../images/hr-dotted.jpg) 0 0 repeat-x; }

.productdetail .price {
  font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode","Trebuchet MS",Helvetica,Arial,sans-serif;
  color: #333;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0px; }

a.filter {
  background: #ffee00;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffee00), color-stop(100%, #e8d900));
  background: linear-gradient(to bottom, #ffee00 0%, #e8d900 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffee00', endColorstr='#e8d900', GradientType=0 );
  background-position: 100% 0;
  background-repeat: no-repeat;
  border-color: #D7CA00 #F9EA00 #FFF89D;
  border-style: solid;
  border-width: 1px;
  clear: left;
  color: #333333 !important;
  display: block;
  float: left;
  font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode","Trebuchet MS",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
  margin: 18px 0 0;
  padding: 5px 28px 5px 10px;
  text-transform: uppercase;
  width: 184px; }
  a.filter:hover {
    background: #e8d900;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #e8d900), color-stop(100%, #ffee00));
    background: linear-gradient(to bottom, #e8d900 0%, #ffee00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8d900', endColorstr='#ffee00', GradientType=0 );
    text-decoration: none;
    color: #999; }

input.quantityinput {
  border: 2px solid #FFF000;
  color: #333; }

input .quantity input {
  border: 2px solid #FFF000;
  color: #333; }

.ui-dialog.payment-settings h1.credit-cart-form-title {
  margin-left: 0;
  box-sizing: border-box; }

.ui-dialog.payment-settings .dialog-content .creditcardform .credit-cart-form-title {
  margin: 0;
  width: 100%;
  font-style: normal;
  font-size: 25px;
  line-height: 25px;
  font-weight: bold;
  letter-spacing: 0; }

.pt_store-locator .storelocator h1 {
  text-transform: uppercase;
  font-vairant: normal; }

.pt_store-locator .storelocatorzipsearch .stack .form-row .label .labeltext {
  font-family: "BaskervilleBT-Roman";
  font-weight: normal; }

#content .homepage .downshift h1, #content .homepage .downshift h2 {
  padding-top: 2px; }

.pt_product-search-result.categorylanding #page-background #secondary .categorymenusnew > ul {
  padding: 0; }

.pt_acc_landing h1 {
  padding: 0;
  border: none;
  background: none;
  text-align: left; }

.pt_acc_landing .content-asset .account-options li {
  transition: none; }
  .pt_acc_landing .content-asset .account-options li a {
    transition: none; }
    .pt_acc_landing .content-asset .account-options li a h2 {
      font-family: "BaskervilleBT-Roman";
      font-size: 36px;
      line-height: 38px;
      text-align: center;
      font-variant: small-caps;
      font-weight: normal;
      border: none; }
    .pt_acc_landing .content-asset .account-options li a p {
      text-transform: capitalize; }
  .pt_acc_landing .content-asset .account-options li:hover {
    background: #FFE600;
    border-color: #FFE600;
    transition: none; }
    .pt_acc_landing .content-asset .account-options li:hover h2 {
      color: #333333; }
    .pt_acc_landing .content-asset .account-options li:hover p {
      color: #333333; }
    .pt_acc_landing .content-asset .account-options li:hover i {
      color: #333333; }

#container.pt_error #primary.primary-content .errorpage .errorfooter .errorfooterbottom {
  font-size: 1.19em;
  margin-left: 324px;
  clear: both;
  width: 423px;
  color: #666666;
  font-family: Garamond,"Times New Roman",Times,serif;
  letter-spacing: normal; }

#container.pt_error #primary.primary-content .errorpage #message {
  background-color: #facccc; }

#container.pt_error #primary.primary-content .errorpage fieldset.nohitsearch {
  margin-top: 0; }

.pt_leftnav-profile #primary #RegistrationForm .form-row .label .labeltext {
  font-weight: normal; }

.pt_order h1 {
  text-align: left;
  background: none;
  border: none;
  padding: 0; }

.pt_order .search-result-items li .order-history-items .order-history-table th {
  font-family: "BaskervilleBT-Roman";
  color: #666666;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: normal; }

.pt_order .search-result-items li .order-history-items .order-history-table tr .order-price .value {
  font-family: Baskerville, "Times New Roman", Times, serif;
  color: #333333;
  font-weight: bold;
  font-style: italic;
  font-size: 24px;
  line-height: 24px; }

.pt_wish-list #main .item-details .product-list-item span.price-sales {
  color: #E80000;
  font-size: 15px; }

.pt_leftnav-addressbook #main .breadcrumb {
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif; }

.pt_leftnav-addressbook #addresses .address-list .address-tile .mini-address-title {
  font-family: "BaskervilleBT-Roman";
  color: #666666;
  font-size: 12px;
  text-transform: uppercase;
  border: none;
  padding: 0 0 3px 0;
  font-weight: normal;
  margin: 0;
  letter-spacing: 0px; }

.pt_leftnav-addressbook #addresses .address-list .address-tile .mini-address-name {
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif; }

.pt_leftnav-addressbook #addresses .address-list .address-tile .mini-address-location address {
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif; }

.pt_leftnav-addressbook #addresses .address-list .address-tile .address-edit,
.pt_leftnav-addressbook #addresses .address-list .address-tile .address-delete.delete,
.pt_leftnav-addressbook #addresses .address-list .address-tile .address-make-default {
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif; }

.ui-dialog.addressadd #dialog-container .form-horizontal .form-row.form-row-button button.simple {
  background: #FFF000;
  color: #333333; }
  .ui-dialog.addressadd #dialog-container .form-horizontal .form-row.form-row-button button.simple:hover {
    background: #FFE600;
    color: #333333; }

.ui-dialog.addressadd #dialog-container h1 {
  background: none;
  border: none;
  text-align: left;
  padding: 0; }

.orderdetails .order-information .order-number .label {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: normal;
  font-family: "BaskervilleBT-Roman";
  color: #666666;
  font-style: normal; }

.orderdetails .order-information .order-number .value {
  font-weight: normal; }

.orderdetails .order-payment-summary .label,
.orderdetails .order-billing .label,
.orderdetails .order-shipment-address .label,
.orderdetails .line-item-details .label,
.orderdetails .line-item-quantity .label,
.orderdetails .line-item-price .label {
  font-family: "BaskervilleBT-Roman";
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  color: #333333; }

.orderdetails .line-items .line-item .line-item-price {
  font-family: Baskerville, "Times New Roman", Times, serif;
  color: #333333;
  font-weight: bold;
  font-style: italic;
  font-size: 24px;
  line-height: 24px; }
  .orderdetails .line-items .line-item .line-item-price .label {
    font-family: "BaskervilleBT-Roman";
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    color: #333333;
    font-style: normal; }

.productdetail a.filter span {
  font-style: italic;
  color: #333333;
  font-weight: bold; }

.productdetail .addtocartbar {
  background-position: top left; }
  .productdetail .addtocartbar .addtocart.disabled a.filter span {
    color: #999; }
  .productdetail .addtocartbar .addtocart .quantity .label {
    padding-bottom: 0; }

.featuredesc .prodfeature ul li {
  color: #222222; }

.variationattributes .color li a:hover {
  border-color: #FFF000;
  color: #333333; }

.variationattributes .swatches li.selected a {
  background-image: none;
  border-color: #FFF000;
  background-color: #FFF000;
  color: #000; }

.variationattributes .swatches li a:hover {
  background-image: none;
  border-color: #FFF000;
  background-color: #FFF000;
  color: #000; }

.variationattributes .swatches li a span.outofstockpdp {
  color: #e80000 !important; }

.viploginsignin.cell.contentbox.upshift h1.subheader {
  display: block; }

.account-section h1 {
  font-size: 15px;
  margin: 0px;
  color: #000000;
  text-align: center;
  line-height: normal;
  font-variant: normal;
  font-weight: bold;
  padding: 0px;
  border: none;
  background: none; }

h1 a:hover {
  color: #333333;
  text-decoration: none; }

h2 a:hover {
  color: #000000;
  text-decoration: none; }

h2 {
  display: block;
  padding: 9px 0 9px 0;
  font-size: 13px;
  line-height: 13px;
  font-weight: normal;
  font-family: "Times New Roman", Times, serif;
  color: #333333;
  letter-spacing: 0;
  text-align: left;
  background: url(../images/hr-dotted.jpg) 0 100% repeat-x;
  font-style: normal;
  text-transform: none; }

.contentboxcontent h2 {
  text-transform: uppercase; }

h5 {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  font-weight: normal;
  font-family: "BaskervilleBT-Roman";
  color: #666666;
  letter-spacing: 0;
  border: none;
  text-align: left; }
  h5.subheader {
    display: block;
    padding: 6px 18px 6px 18px;
    margin: 0;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'BaskervilleBT-Roman';
    color: #666;
    letter-spacing: 0;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-color: #666;
    text-align: center; }

p {
  text-align: justify;
  line-height: 20px;
  padding: 0 0 16px 0;
  font-family: Garamond, Times New Roman, Times, serif;
  color: #666666; }

.pt_account.acc_landing .content-asset .account-options li h2 {
  text-align: center;
  background: none;
  font-family: "BaskervilleBT-Roman";
  font-size: 36px;
  font-variant: small-caps;
  font-weight: normal; }

.pt_account.acc_landing .content-asset .account-options li:hover {
  background-color: #FFE600;
  border-color: #FFE600; }
  .pt_account.acc_landing .content-asset .account-options li:hover a, .pt_account.acc_landing .content-asset .account-options li:hover h2, .pt_account.acc_landing .content-asset .account-options li:hover p {
    color: #000000; }

a {
  color: #333333; }

a.button, button {
  background-color: #FFF000;
  border-color: #D7CA00 #F9EA00 #FFF89D;
  border-style: solid;
  border-width: 1px;
  clear: left;
  color: #333333;
  display: block;
  float: left;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: bold;
  height: 28px;
  letter-spacing: 0;
  line-height: 28px;
  padding: 0 18px;
  text-transform: uppercase;
  cursor: pointer; }

a.button:hover, button:hover {
  background: #FFE600;
  text-decoration: none; }

.addTo-cart-section a.button:hover, .addTo-cart-section button:hover {
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #e8d900), color-stop(100%, #ffee00)) !important;
  background: linear-gradient(to bottom, #e8d900 0%, #ffee00 100%) !important;
  text-decoration: none; }

h1.search-result {
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 36px; }

.pt_product-search-result #page-background #primary .contentboxcontent h1.search-result {
  color: #666666;
  margin: -49px 0 15px 0; }

.pt_product-search-result #page-background #primary .search-blk a {
  display: inline-block;
  text-transform: capitalize;
  color: #000000;
  font-weight: bold; }

#header div.logo {
  float: left;
  width: 126px;
  height: 32px;
  padding-right: 25px; }
  @media screen and (max-width: 959px) {
    #header div.logo {
      padding-right: 0px; } }

.homepage {
  margin-top: 8px; }

#headerwrapper #header .row.column1 #minicart #multi-site-one-cart {
  background: url(../images/multi-site-one-cart-bg-right.png) 100% 0 no-repeat transparent; }

#headerwrapper #header .row.column1 #minicart #multi-site-one-cart span {
  font-weight: normal;
  background-image: url(../images/multi-site-one-cart-bg.png);
  width: 58px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  text-transform: capitalize;
  color: #333532; }

.shop-brand {
  font-family: "BaskervilleBT-Roman";
  font-size: 25px;
  font-weight: normal;
  line-height: 22px;
  padding: 15px 0 5px 0 !important; }

.categorymenusnew a:hover {
  color: #000000; }

.categorymenusnew a .count-products {
  color: #000000; }

.categorymenusnew .category-top-level.active a {
  color: #000000; }
  .categorymenusnew .category-top-level.active a:hover {
    color: #000000; }
  .categorymenusnew .category-top-level.active a .count-products {
    color: #000000; }

.categorymenusnew .category-top-level .category-top-level2 li.active a {
  color: #000000;
  text-decoration: underline; }
  .categorymenusnew .category-top-level .category-top-level2 li.active a .count-products {
    color: #000000; }

.categorymenusnew .category-top-level .category-top-level2 li a:hover {
  color: #000000; }
  .categorymenusnew .category-top-level .category-top-level2 li a:hover .count-products {
    color: #000000; }

#headerwrapper #header .row.column1 #minicart #multi-site-one-cart {
  background: url(../images/multi-site-one-cart-bg-right.png) 100% 0 no-repeat transparent; }

#headerwrapper #header .row.column1 #minicart a.minicart-checkout-button {
  background: linear-gradient(to bottom, #FFF000 60%, #e8d900 100%);
  background: -ms-linear-gradient(to bottom, #FFF000 60%, #e8d900 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #FFF000), color-stop(100%, #e8d900));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$sufix-bgyellow', endColorstr='$sufix-bgyellowmedium',GradientType=0 );
  color: #333532;
  text-align: center;
  text-decoration: none;
  padding: 7px 0;
  height: 17px;
  text-indent: 0;
  font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode","Trebuchet MS",Helvetica,Arial,sans-serif;
  font-size: 11px;
  border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0; }

.pt_product-search-result #page-background #primary .contentboxcontent h1.leftnav {
  margin-bottom: 15px;
  padding: 0;
  text-align: left;
  font-variant: small-caps;
  line-height: 36px;
  font-family: "BaskervilleBT-Roman";
  font-weight: normal;
  color: #000;
  font-size: 25px;
  border: none;
  background: none;
  margin-top: -38px; }

.product-tile .product-image .quickview {
  color: #333333;
  border-style: solid;
  border-width: 1px;
  background-color: #FFF000;
  border-top: 1px solid #D7CA00;
  border-right: 1px solid #F9EA00;
  border-bottom: 1px solid #FFF89D;
  border-left: 1px solid #F9EA00; }

.product-tile .product-image .quickview:hover {
  background-color: #FFE600;
  text-decoration: none; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-image .quickview {
  color: #333333;
  border-style: solid;
  border-width: 1px;
  background-color: #FFF000;
  border-top: 1px solid #D7CA00;
  border-right: 1px solid #F9EA00;
  border-bottom: 1px solid #FFF89D;
  border-left: 1px solid #F9EA00; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-image .quickview:hover {
  background-color: #FFE600;
  text-decoration: none; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-pricing .product-sales-price {
  color: #999;
  font-size: 12px;
  font-weight: bold; }

.minicarticon-cont .cart-icon {
  background: url(../images/hashcart.png) 0 6px no-repeat;
  width: 30px;
  float: left;
  height: 30px;
  margin: 0 5px 0 10px; }

#headerwrapper #header .row.column1 #minicart a.minicart-checkout-button:hover {
  background: linear-gradient(to bottom, #e8d900 0%, #FFF000 60%);
  background: -ms-linear-gradient(to bottom, #e8d900 0%, #FFF000 60%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8d900), color-stop(60%, #FFF000));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$sufix-bgyellowmedium', endColorstr='$sufix-bgyellow',GradientType=0 ); }

.international-links-container {
  font-size: 13px; }

.international-links-footer-product {
  height: 1px; }

.international-investor-link {
  margin-top: 50px; }

.international-investor-link a {
  line-height: 10px;
  float: none;
  padding-left: 0px; }

.international-investor-link a:hover {
  padding-left: 0px; }

#footernew {
  background-image: url("../images/footer-background.jpg");
  background-position: 50% 28px; }
  #footernew .social-icons #fallow-us-on ul .Instagram {
    margin-top: 14px; }
  #footernew .footer-heading {
    padding-bottom: 19px; }
  #footernew .wrapper .footer-main .footer-left-section .footer-links {
    padding: 31px 0 0 0; }

/* start of styles for my account page */
#container.pt_account #primary.primary-content .account-section .label .labeltext {
  color: #666;
  float: none;
  font-size: 12px;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-align: left;
  width: auto;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  padding: 0; }

#container.pt_account #primary.primary-content .account-section .returningcustomers .form-row {
  /* margin: 0px 0 16px 1px; */ }

#container.pt_account #primary.primary-content .account-section .custom-checkbox {
  float: left;
  margin: 2px 0 15px 0;
  padding: 0;
  width: 100%;
  position: relative; }

#container.pt_account #primary.primary-content .account-section .cell {
  margin: 25px 0 0 10px; }

#container.pt_account #primary.primary-content .account-section .upshift .contentboxcontent.account-logs h1 {
  padding: 8px 0 2px; }

#container.pt_account #primary.primary-content .account-section .createan-account {
  margin-top: 23px; }
  #container.pt_account #primary.primary-content .account-section .createan-account .contentboxcontent.new-register .registration .form-row {
    /* margin: 15px 0 -3px 0px; */ }

/* end of styles for my account page */
#container.pt_product-search-noresult #primary.primary-content .nohits h1 {
  letter-spacing: 0;
  border: none;
  background: none;
  text-align: left; }
  @media screen and (max-width: 959px) {
    #container.pt_product-search-noresult #primary.primary-content .nohits h1 {
      text-align: center; } }
  @media screen and (max-width: 959px) {
    #container.pt_product-search-noresult #primary.primary-content .nohits h1 .section-header p {
      text-align: center; } }

#container.pt_product-search-noresult #primary.primary-content .nohits .no-hits-help h2 {
  background: none; }
  @media screen and (max-width: 959px) {
    #container.pt_product-search-noresult #primary.primary-content .nohits .no-hits-help h2 {
      text-align: center; } }

#container.pt_account .title {
  font-family: Garamond, "Times New Roman", Times, serif; }

.productdetail .addtocartbar .addtocart button.addtocartbutton {
  float: left;
  width: calc(100% - 50px);
  height: 40px;
  line-height: 40px;
  background-image: none;
  background: #ffee00;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffee00), color-stop(100%, #e8d900));
  background: linear-gradient(to bottom, #ffee00 0%, #e8d900 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffee00', endColorstr='#e8d900', GradientType=0 );
  transition: inherit;
  text-transform: inherit;
  color: #000;
  border: none; }

.productdetail .addtocartbar .addtocart .quantity .label {
  font-size: 13px !important;
  font-style: normal;
  font-weight: normal !important;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif; }

@media screen and (max-width: 959px) {
  #vippage-background .disign-header-title,
  #vippage-background h1,
  #vippage-background h1.subheader, #vippage-background .h-one-tag.subheader {
    font-size: 20px;
    line-height: 24px;
    font-weight: normal; }
  .pt_wish-list #main #page-background #primary h1,
  .pt_leftnav-addressbook #main #page-background #primary h1,
  .pt_order #main #page-background #primary h1,
  .pt_leftnav-payment #main #page-background #primary h1,
  .pt_leftnav-profile #main #page-background #primary h1,
  .pt_acc_landing #main #page-background #primary h1 {
    font-size: 20px;
    line-height: 24px;
    font-variant: normal; }
  .pt_acc_landing .content-asset .account-options li a h2 {
    font-size: 20px;
    line-height: 24px; }
  #container.pt_product-search-noresult .breadcrumb {
    background: #f1f1f1; }
  .desktop-view {
    display: none !important; }
  .pt_product-details .pdp-main .pdpmain-content .productname {
    font-size: 20px;
    line-height: 24px;
    font-variant: normal;
    background: none;
    border: none; }
    .pt_product-details .pdp-main .pdpmain-content .productname.desktop-view {
      display: none !important; }
  .productdetail .price .salesprice {
    font-style: bold !important;
    font-size: 15px !important;
    color: #666666 !important; }
  .selected a.filter,
  .future a.filter {
    background-color: #f1f1f1 !important;
    border-top: 1px solid #d0d0d0;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #f8f8f8;
    border-left: 1px solid #e8e8e8;
    color: #333 !important;
    border-radius: 3px; }
  .current a.filter {
    border: 1px solid #D6BC00;
    background: #ffee00;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffee00), color-stop(100%, #e8d900));
    background: linear-gradient(to bottom, #ffee00 0%, #e8d900 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffee00', endColorstr='#e8d900', GradientType=0 ); }
    .current a.filter:hover {
      background: #e8d900;
      background: -webkit-gradient(left top, left bottom, color-stop(0%, #e8d900), color-stop(100%, #ffee00));
      background: linear-gradient(to bottom, #e8d900 0%, #ffee00 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8d900', endColorstr='#ffee00', GradientType=0 ); }
  .pt_wish-list .breadcrumb,
  .pt_leftnav-addressbook .breadcrumb,
  .pt_order .breadcrumb,
  .pt_leftnav-payment .breadcrumb,
  .pt_product-search-result .breadcrumb,
  .pt_content-search-result .breadcrumb,
  .pt_leftnav-profile .breadcrumb {
    background: #f1f1f1 !important;
    height: auto !important; }
  .pt_wish-list .contentboxcontent .left-nav-style,
  .pt_leftnav-addressbook .contentboxcontent .left-nav-style,
  .pt_order .contentboxcontent .left-nav-style,
  .pt_leftnav-payment .contentboxcontent .left-nav-style,
  .pt_product-search-result .contentboxcontent .left-nav-style,
  .pt_content-search-result .contentboxcontent .left-nav-style,
  .pt_leftnav-profile .contentboxcontent .left-nav-style {
    font-size: 20px;
    line-height: 24px; }
  .pt_wish-list .contentboxcontent h1.leftnav,
  .pt_leftnav-addressbook .contentboxcontent h1.leftnav,
  .pt_order .contentboxcontent h1.leftnav,
  .pt_leftnav-payment .contentboxcontent h1.leftnav,
  .pt_product-search-result .contentboxcontent h1.leftnav,
  .pt_content-search-result .contentboxcontent h1.leftnav,
  .pt_leftnav-profile .contentboxcontent h1.leftnav {
    font-size: 20px;
    line-height: 24px; }
  #container.pt_account .breadcrumb {
    background: #f1f1f1 !important; }
  .pt_storefront #footernew {
    top: 0px; }
  #footernew {
    background: none; }
    #footernew .wrapper .footer-main {
      background-image: url(../images/footer-background-responsive.png);
      margin: 0;
      width: 100%; }
      #footernew .wrapper .footer-main .footer-left-section .footer-links {
        padding: 0; }
        #footernew .wrapper .footer-main .footer-left-section .footer-links #about, #footernew .wrapper .footer-main .footer-left-section .footer-links #customer-service, #footernew .wrapper .footer-main .footer-left-section .footer-links #More-ways-to-shop, #footernew .wrapper .footer-main .footer-left-section .footer-links #busniness, #footernew .wrapper .footer-main .footer-left-section .footer-links #rapala_insider, #footernew .wrapper .footer-main .footer-left-section .footer-links #follow_us {
          background-color: #f1f1f1; }
          #footernew .wrapper .footer-main .footer-left-section .footer-links #about .social-icons, #footernew .wrapper .footer-main .footer-left-section .footer-links #customer-service .social-icons, #footernew .wrapper .footer-main .footer-left-section .footer-links #More-ways-to-shop .social-icons, #footernew .wrapper .footer-main .footer-left-section .footer-links #busniness .social-icons, #footernew .wrapper .footer-main .footer-left-section .footer-links #rapala_insider .social-icons, #footernew .wrapper .footer-main .footer-left-section .footer-links #follow_us .social-icons {
            background-color: #f1f1f1; } }

.pdp-main #page-background .product-info.column.tab-sec #tabs ul.ui-tabs-nav li.ui-state-active a,
.pdp-main #page-background .product-info.column.tab-sec #tabs ul.ui-tabs-nav li.active a,
.pdp-main #page-background .product-info.column.tab-sec #tabs ul.ui-tabs-nav li.ui-state-active a:hover,
.pdp-main #page-background .product-info.column.tab-sec #tabs ul.ui-tabs-nav li.active a:hover {
  color: #333; }

@media screen and (max-width: 480px) {
  .product-specifications .specificiations {
    border-bottom: none; }
    .product-specifications .specificiations tbody {
      border-bottom: 1px solid #ccc;
      margin-bottom: 2em;
      display: table;
      width: 100%; }
      .product-specifications .specificiations tbody:last-child {
        margin-bottom: 0; }
      .product-specifications .specificiations tbody tr:first-child th {
        background: #fff000;
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #fff000), color-stop(100%, #e8d900));
        background: linear-gradient(to bottom, #fff000 0%, #e8d900 100%);
        color: #000000;
        margin: 0;
        vertical-align: middle;
        border: none;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px; }
      .product-specifications .specificiations tbody tr:nth-child(odd) {
        background: #FFFDDA; }
      .product-specifications .specificiations tbody tr td {
        width: 50%;
        float: left;
        vertical-align: middle;
        padding: 8px 13.5px;
        box-sizing: border-box;
        min-height: 31px;
        display: block; }
        .product-specifications .specificiations tbody tr td:last-child {
          border-right: 1px solid #ccc; }
  .product-specifications .specificiations tbody tr:first-child td:first-child {
    border-right: none;
    border-top-left-radius: 3px; }
  .product-specifications .specificiations tbody tr:first-child td:last-child {
    border-top-right-radius: 3px; }
  .pt_leftnav-payment #main h1.paymentsettings {
    padding-bottom: 36px; }
  #container.pt_error #primary.primary-content .errorpage .errorfooter .errorfooterbottom {
    margin-left: 0;
    width: 100%;
    color: #666666;
    font-family: Garamond,"Times New Roman",Times,serif;
    letter-spacing: normal; }
  #container.pt_error #primary.primary-content .errorpage .errorfooter .errorfooterbottom .content-asset {
    font-size: 14px; }
  #container.pt_account #primary.primary-content .account-section h1.title {
    line-height: 24px;
    font-size: 20px;
    font-family: "BaskervilleBT-Roman"; }
  #container.pt_account #primary.primary-content .account-section .createan-account {
    margin: 5px 0 0 0; }
  #container.pt_account #primary.primary-content .account-section .upshift .contentboxcontent.account-logs h1 {
    padding: 0 0 30px 0; }
  .sufix-background .logo {
    background: url(../images/SUFIX_LOGO_mobile-bar.svg) no-repeat center transparent;
    float: left;
    width: 100%;
    margin: 20px 0 20px;
    min-height: 40px; } }

#container.pt_error #primary.primary-content .errorpage fieldset.nohitsearch input.box {
  background: url("../images/search-full-sufix.png") no-repeat scroll 0 0 transparent; }

#container.pt_error #primary.primary-content .errorpage fieldset.nohitsearch button.btn {
  background: url("../images/search-full-sufix.png") no-repeat scroll right top #FFF000; }

.pt_content-search-result #page-background #primary .folder-content-list li a {
  font-family: "BaskervilleBT-Roman";
  color: #666666; }

.pt_content-search-result #page-background #primary .folder-content-list li p {
  font-family: Garamond, Times New Roman, Times, serif;
  color: #666666; }
  .pt_content-search-result #page-background #primary .folder-content-list li p a.readmore {
    font-family: Garamond, Times New Roman, Times, serif;
    color: #333333; }

.pt_customerservice .cell-header h1 {
  background: white url("../images/hr-dotted.jpg") 0 9px repeat-x;
  margin: 0 0 9px 0; }

.pt_customerservice .cell-header .affiliates h1, .pt_customerservice .cell-header .prostaff h1 {
  padding: 20px 0 10px 0;
  text-align: left;
  margin: 0;
  font-family: "BaskervilleBT-Roman"; }

.pt_customerservice .cell-header .affiliates .pro-detail h2, .pt_customerservice .cell-header .prostaff .pro-detail h2 {
  font-family: "BaskervilleBT-Roman"; }

.pt_customerservice .accordion.tabover {
  background: none repeat scroll 0 0 #F9EA00;
  color: #333333; }

#headerwrapper #header .row.column1 .headercustomerinfo .change-regionnew {
  padding: 9px 12px 8px 0; }

.productdetail .product-specifications .header td {
  font-family: times New Roman;
  font-style: italic;
  font-weight: normal;
  border: 0px; }

.product-specifications h2 {
  background: url("../images/hr-dotted.jpg") repeat-x scroll 0 9px #FFFFFF;
  border: 1px solid #666;
  color: #666;
  display: block;
  font-family: 'BaskervilleBT-Roman';
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
  padding: 18px 9px 9px 18px;
  font-style: normal;
  clear: both;
  float: left; }

.product-specifications .specificiations thead tr.header td {
  background: #fff000;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #fff000), color-stop(100%, #e8d900));
  background: linear-gradient(to bottom, #fff000 0%, #e8d900 100%);
  color: #000000; }

.product-specifications .specificiations tbody tr.evenrow {
  background-color: #FFFDDA; }

#footernew .change-region {
  padding: 6px 18px 8px 0; }

#footernew .wrapper .footer-main .footer-left-section .footer-links #about li.desktopHide {
  margin-top: 2px; }

.pt_product-details .productdetail .wrapper ~ #page-background .product-info.column.tab-sec #tabs ul.ui-tabs-nav li.ui-state-active a {
  background-image: none;
  background: #fff000;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fff000 10%, white 10%, #fff000 10%, white 10%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e80000', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */ }

.quickview .ui-dialog-titlebar-close .ui-icon {
  background-image: url(../images/close-button.png); }
  .quickview .ui-dialog-titlebar-close .ui-icon:hover {
    background-position: 0 -34px; }

.pt_customerservice #content .customer .cell .contentboxcontent h1 {
  font-size: 20px;
  line-height: 24px;
  font-family: "BaskervilleBT-Roman"; }

.pt_customerservice .style-cservice .column .contentbox .left-nav-top .contentboxcontent .nav-group {
  padding: 0; }
  .pt_customerservice .style-cservice .column .contentbox .left-nav-top .contentboxcontent .nav-group li.first-level .second-level li.active a {
    color: #000000; }

.pt_customerservice .style-cservice .column .contentbox .left-nav-top .contentboxcontent h2.left-nav-style {
  padding: 12.5px 0;
  font-size: 20px;
  line-height: 24px;
  font-family: "BaskervilleBT-Roman"; }

.pt_customerservice #content .productsearchbreadcrumb, .pt_customerservice #content .breadcrumb {
  background: #f1f1f1; }

.pt_customerservice .style-cservice .column.colspan2 .cell-header .content-asset .customer-content ul.unordered-list {
  color: #666666; }

.paymentslist .paymentinstruments .creditcard .payment-list .cc-owner .label {
  font-family: 'BaskervilleBT-Roman';
  letter-spacing: 0;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px; }

.paymentslist .paymentinstruments .creditcard .payment-list .cc-type .label {
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode","Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #333; }

.paymentslist .paymentinstruments .creditcard .payment-list .cc-number .label {
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode","Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #333; }

.paymentslist .paymentinstruments .creditcard .payment-list .cc-exp .label {
  float: left;
  font-variant: normal;
  font-weight: bold;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode","Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #666;
  font-style: italic;
  line-height: 20px; }

.paymentslist .paymentinstruments .creditcard .payment-list .cc-exp label {
  padding-left: 5px;
  clear: left;
  display: inline;
  font-weight: bold;
  text-align: right;
  word-wrap: break-word;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode","Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #333; }

@media screen and (max-width: 959px) {
  .pt_cart #main .breadcrumb {
    background: #fff; }
  .pt_error #footernew .wrapper .footer-main {
    box-shadow: none; }
  .pt_customerservice #content .style-cservice .column.colspan2 h1 {
    font-size: 20px;
    line-height: 24px;
    font-family: "BaskervilleBT-Roman"; }
  .pt_customerservice #content .style-cservice .column.colspan2 .cellbox.accordion.tabover .folder-contentboxcontent {
    background: none repeat scroll 0 0 #F9EA00;
    color: #333333; } }

.pt_customerservice .site-map h2.left-nav-style {
  border-bottom: none; }

.tab-sec #tabs ul.ui-tabs-nav li a:hover span {
  color: #e80000; }

.tab-sec #tabs ul.ui-tabs-nav li.ui-state-active a span {
  color: #333; }

.price .salesprice {
  color: #666; }

.small-new.new-stamp {
  border-radius: 15px;
  background-color: #FFF000;
  font-style: italic;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 10px;
  color: #000;
  padding: 1px 5px;
  margin-right: 3px;
  width: auto !important;
  vertical-align: top;
  margin-top: 4px;
  float: left; }

.small-new.new-stamp-big {
  border-radius: 15px;
  background-color: #FFF000;
  font-style: italic;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #000;
  padding: 4px 8px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.65);
  margin-right: 3px;
  position: inherit;
  top: -5px; }

.newFlagColorSize .new-colors-snipe, .newFlagColorSize .new-sizes-snipe, .newFlagColorSize .new-pak-size, .newPakSizeFlag .new-colors-snipe, .newPakSizeFlag .new-sizes-snipe, .newPakSizeFlag .new-pak-size {
  border-radius: 15px;
  background-color: #FFF000;
  font-style: italic;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 10px;
  color: #000;
  padding: 1px 5px;
  margin-right: 3px; }

.variationattributes .color ul li a span.corner-ribbon {
  background-color: #FFF000;
  color: #000000; }

.productdetail #special-offers ul li {
  color: #666666; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-name a:hover {
  color: #666; }

.productdetail .price .price-sales {
  color: #666666; }

/*# sourceMappingURL=sufix.css.map */
