//--------------------------------
//  VIEWPORTS
//--------------------------------
$small-breakpoint: 320px;
$medium-breakpoint: 480px;
$large-breakpoint: 768px;
$desktop-breakpoint: 960px;
$max-content-breakpoint: 1280px;
$xxlg-content-breakpoint: 1440px;

// mixins
%clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.clearfix {
    @extend %clearfix;
}

// colors
// names taken from http://www.color-blindness.com/color-name-hue/
$black: #000;
$black-light: #1a1a1a;
$dark-black: #360;
$light-grey: #e5e5e5;
$light-green: #52a300;
$bright-green: $dark-black;
$whitish-grey: #dfdfdf;
$cerulean: #00629b;
$charcoal: #424242;
$citrus: #84bd00;
$alto6: #ddd;
$payment-settingddd: $alto6;
$dark-gray: #aaa;
$dim-gray: #666;
$greyy-selected-row: $alto6;
$gainsboro: #e0e0e0;
$light-red: #f00;
$islamic-green: #019328;
$lightgreynew: #b3b3b3;
$night-rider: #333;
$nobel: #999;
$rain-forest: #64772d;
$sangria: #900;
$stark-white: #cebdb3;
$teal: #008578;
$tutu: #faeded;
$tints-of-feta: #dce2ce;
$light-purple-clr: $tints-of-feta;
$very-light-gray: #ccc;
$white-smoke: #efefef;
$lightgrey: #e6e6e6;
$white: #fff;
$gray: #d5d5d5;
$veryLightclr: $tints-of-feta;
$green-leaf: #4f7009;
$bringer-clr: $green-leaf;
$dark-red: #d80000;
$lightl-grey: #dbdbdb;
$red: #e80000;
$reddish: #e42213;
$darker-red: #c40000;
$slighgt-darker-red: #e30000;
$shaded-light-grey: #d0d0d0;
$slight-pink: #f69d9d;
$tints-of-cloud: #c8beb3;
$dark-green: $dark-black;
$shadow-green: #a5ba8b;
$shade-black: $black-light;
$shade-lightwhite: #f1f1f1;
$shade-grey: #f2f2f2;
$shade-alternate-clr: #cfcfcf;
$shaded-grey: #eee;
$shaded-veryLight-grey: #e8e8e8;
$shadeddeep-veryLight-grey: #f8f8f8;
$shade-with-dark-grey: #c1c1c1;
$darkest-red: #9b0000;
$mixed-grey: #5c5c5c;
$light-pink: #facccc;
$shadow-light-grey: $nobel;
$bip-brown: #af0b11;
$white-grey: #f5f5f5;
$light-blue: #d7d7d7;
$green-dip-color: #a5ba8b;
$light-grn-color: #66af22;
$vip-chk-btn: #478e00;
$ligther-blue: #0069a6;
$lighter-green: #70a525;
$lighter-orange: #f58220;
$lightest-blue: #015bca;
$lightest-blue-two: #235aa6;
$lightest-red: #e12626;
$lightest-red-two: #ce0d0d;
$light-pink: #ffe1e1;
$japanese-laurel: #008000;
$green-pdp: $japanese-laurel;
$price-red-clr: #e62617;
$grey: #808080;
$subcat-grey-color: $grey;
$img-border-thumbnil: #8f979d;
$darker-gray: #cdcfcf;
$gallery: #ededed;
$search-gradient: $gallery;
$yellow: #ff0;
$swatch-types: $black $black, beige #f5f5dc, blue blue, purple purple, red red, brown #783201, green green, grey #8f979d, pink #fe249a, orange orange, white $white, yellow $yellow, navy navy;
$banner-shadow: #c6c6c6;
$silver-chalice7: #acacac;
$homebanner-shadow: $silver-chalice7;
$account-icon-grey: #a9a9a9;
$orderconfirm-grey: #282828;
// fonts
$sans-serif: Arial, sans-serif;
$sans-serif-alt: Lato, sans-serif;
$serif: Crete Round, serif;

$anzac: #e6ba45;
$half-and-half: #fffedf;
$tundora: #464646;
$alto: #d2d0d0;
$dove-gray: #717171;
$deep-cerulean: #0078ae;
$alto2: #cecece;
$verdun-green: #294c00;
$verdun-green2: #336600;
$dove-gray: #696868;
$limeade: #4A9200;
$tundora2: #4e4e4e;
$mine-shaft: #2b2b2b;
$tulip-tree: #e7ba44;
$silver-chalice: #a3a3a3;
$cod-gray: #111;
$emperor: #555;
$gallery2: #f0f0f0;
$heavy-metal: #212322;
$green-white: #f0f2ec;
$scorpion: #5b5b5b;
$gallery3: #eaeaea;
$silver-chalice2: #a8a8a8;
$silver-chalice3: #b1b1b1;
$cinderella: #fcc;
$silver: #c0c0c0;
$cloudy: #a8a49f;
$alto3: #d9d9d9;
$dawn: #a9a7a3;
$gray2: #888;
$dove-gray: #6b6b6b;
$silver-chalice4: #a0a0a0;
$alto4: #d8d8d8;
$jumbo: #808184;
$concord: #7f7c79;
$half-and-half2: #fffddf;
$athens-gray: #f2f2f3;
$nevada: #6d6e70;
$athens-gray2: #f1f1f2;
$iron: #d0d2d3;
$ship-gray: #404041;
$silver2: #bbb;
$gray3: #8f8f8f;
$mercury: #e3e3e3;
$gray4: #8c8c8c;
$silver3: #bcbcbc;
$cod-gray2: #060606;
$oslo-gray: #848688;
$picton-blue: #3ebaea;
$black-bean: #020809;
$silver-chalice5: #a1a1a1;
$dove-gray2: #696969;
$emperor2: #4f4f4f;
$mine-shaft2: #222;
$nobel2: #b5b5b5;
$dusty-gray: #969696;
$alabaster: #fafafa;
$silver4: #c2c2c2;
$sandwisp: #f5e0a9;
$cream: #ffc;
$silver5: #b8b8b8;
$oyster-pink: #ebcfce;
$beauty-bush: #edb6b4;
$tonys-pink: #e68c8c;
$celery: #afb845;
$limeade2: #438500;
$eastern-blue: #1e8ab8;
$sushi: #6bab3a;
$mine-shaft3: #242424;
$dove-gray3: #6f6f6f;
$tundora3: #4a4a4a;
$silver-chalice6: #b0b0b0;
$dusty-gray2: #989898;
$mine-shaft4: #1f1f1f;
$tundora4: #4d4d4d;
$mercury2: #e9e9e9;
$nobel3: #b7b7b7;
$mercury3: #e4e4e4;
$tussock: #c69c3e;
$dove-gray4: #656565;
$gray5: #8b8b8b;
$gray6: #7f7f7f;
$silver6: #c9c9c9;
$gray7: #818181;
$dusty-gray3: #959595;
$silver7: #c7c7c7;
$gallery4: #ebebeb;
$cloud: #cccbca;


// background //
$bg-dark-red: $dark-red;
$dropdown-border: $black-light;
$bg-white: $white;
$bg-lighter-white: $shade-grey;
$bg-greydim: #ecedee;
$bg-greydark: #adafb1;

$bg-greydimr: $shade-lightwhite;
$bg-greydarkr: $lightl-grey;
$bg-lightbrown: #e0dbd5;
$bg-darkbrown: $night-rider;
$error: $cinderella;
$loginfail-errormessage: #c1272d;
$very-light-graycolor: #fcfcfc;
$bg-lightgrey: $lightgrey;
$dip-gray-clr: #777;
$lightColor-gray: #d6d6d6;
$login-tooltips-star: $night-rider;
$dip-red: $red;
$light-pink-bg: $light-pink;
$bip-brown-bg: $bip-brown;
$white-grey-bg: $white-grey;
$light-blue-bg: $light-blue;
$congrats-msg: $green-dip-color;
$access-code: $light-grn-color;
$nosearch-bredcrumb-bg: #c9bfb3;
$bg-red: $red;
$bg-greynew: #d2cfcb;
$lightpure-red: #d70000;
$bg-lightwhite: $shade-lightwhite;
$bg-loghtgreyminicart: $alto4;
$orderconfirm-grey-btn: #525252;

// border colors //
$border-slight-pink: $slight-pink;
$border-redlighter: $slighgt-darker-red;
$border-very-light-gray: $very-light-gray;
$success-green: $green-leaf;
$sucess-light-green: $tints-of-feta;
$border-white: $white;
$border-lightgrey: $lightgrey;
$border-lightblack: $emperor;
$border-lightblackone: $scorpion;
$border-lightblacktwo: #c1c1c1;
$corfirmMsg: $bringer-clr;
$nosearch-bredcrumb-border: #968f87;
$border-darkgrey: $darker-gray;
$product-promo-color: $dip-red;
$border-nobel: $nobel;
$border-orderconfirm: #e1e1e1;

// Global variables
$features-details-desc: "Times New Roman", Times, Garamond, serif;
$video-description: "Times New Roman", TimesNewRoman, times, serif;
$vip-password-font: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
$search-suggestion-font-family: Helvetica, Arial, sans-serif;
$account-login-tooltip: Artcraft, "ArtcraftURW-Reg", "Times New Roman", Times, Serif;
$my-account-section: Artcraft, "Artcraft URW", "Times New Roman", Times, Serif;
$Artcraft-font-family: Artcraft, "ArtcraftURW-Reg", "Times New Roman", Times, Serif;
$global-font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
$password-reset-font: Verdana, Arial, sans-serif;
$global-arialfont-family: Arial, Helvetica, sans-serif;
$bankgothic: "bankgothicbold", Helvetica, Arial, sans-serif;
$express-font: express, Helvetica Neue, Helvetica, sans-serif;
$lucida-font-family: $global-font-family;
$global-static-link-color: $night-rider;
$global-hover-link-color: $red;
$global-change-region-bgcolor: $white;
$global-hover-button-color: $dark-red;
$global-button-bg-color: $red;
$global-button-border-top-color: $darker-red;
$global-button-border-right-color: $slighgt-darker-red;
$global-button-border-bottom-color: $slight-pink;
$global-button-border-left-color: $darker-red;
$even-bg-color: $white;
$error-bg-color: $error;
$body-bg-color: $tints-of-cloud;
$logo-border-color: $dim-gray;
$user-info-static-color: $dim-gray;
$user-info-hover-color: $night-rider;
$user-info-color: $night-rider;
$guest-welcomemessage-color: $night-rider;
$congrats-message-bg-color: $tints-of-feta;
$congrats-message-color: $dark-green;
$congrats-message-border-color: $shadow-green;
$country-region-text-hover-color: $shade-black;
$country-region-text-static-color: $dim-gray;
$country-region-bg-static-color: $shade-grey;
$country-region-bg-hover-color: $white;
$country-region-border-color: $white;
$domainswitch-header-bg-color: $white;
$domainswitch-header-border-color: $very-light-gray;
$minicarttotal-bg-color: $shade-grey;
$minicart-checkout-button-bg-color: $red;
$minicart-checkout-button-text-color: $white;
$minicart-button-text-color: $red;
$minicart-button-glb-text-color: $black;
$multi-site-one-cart-bg-color: $red;
$minicarttotal-global-bg-color: $shaded-grey;
$minicarttotal-global-border-color: $shade-with-dark-grey;
$minicart-button-static-top-color: $red;
$my-account-grey: $dim-gray;
$minicart-button-static-bottom-color: $darkest-red;
$minicart-button-hover-top-color: $darkest-red;
$minicart-button-hover-bottom-color: $red;
$mobile-menu-text-color: $night-rider;
$header-login-star: $login-tooltips-star;
$lightgrey-bg: $border-lightgrey;
$requiredindicator: $dip-red;
$button-bg-color: $dark-red;
$rapala-menu-level-two: $red;
$vmc-menu-level-two: $reddish;
$suffix-menu-level-two: $black;
$storm-menu-level-two: $black;
$luhrjensen-menu-level-two: $ligther-blue;
$triggerx-menu-level-two: $lighter-green;
$bluefox-menu-level-two: $lighter-orange;
$terminator-menu-level-two: $lightest-blue;
$williamson-menu-level-two: $lightest-blue-two;
$strikemaster-menu-level-two: $lightest-red;
$marcum-menu-level-two: $lightest-red-two;
$menulist-border-color: $dim-gray;
$menulist-text-color: $black;
$menulist-level-two-text-color: $dim-gray;
// flag-icon-css
$flag-icon-css-path: "../lib/flag-icon-css/flags";

// left nav in category landing page
$category-top-level: $black;
$category-top-level-active: $red;
$count-products: $grey;

// mobile menu variables
$mobile-menu-text-color: $night-rider;
$mobile-menu-sale-text-color: $red;
$nav-brand-active-bg-color: $shade-lightwhite;
$site-suggestion-section-border-color: $darker-gray;
$site-suggestion-section-bg-color: $white;
$mobile-main-menu-heading-border-color: $very-light-gray;
$js-active-sub-menu-bg-color: $white;
$mega-categorymenu-bg-color: $white;
// global classes
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.menu {
    float: left;
    margin: 0;
    padding: 0;
    li {
        float: left;
        list-style: none outside none !important;
    }
}
////////////////////////////////////
// GeoIP Page
////////////////////////////////////
$geoip-main-text-color: $white;
$geoip-main-link-color: $white;
$geoip-link-decoration: none;
$geoip-link-hover-decoration: underline;
$geoip-link-weight: normal;
$geoip-link-line-height: 24px;
$geoip-main-font-family: $global-font-family;
$geoip-top-block-title-font-size: 15px;
$geoip-top-block-title-lin-height: 50px;
$geoip-top-block-title-transform: uppercase;
$geoip-top-block-title-weight: bold;
$geoip-footer-text-font-size: 12px;
$geoip-footer-text-color: $night-rider;
$geoip-footer-text-font-weight: normal;
$geoip-footer-text-link-color: $red;
$geoip-footer-text-link-font-size: 12px;
$geoip-footer-text-link-hover-decoration: underline;
