.DS_Store
node_modules
*.log
*.swp
*.map
.idea/
dw.json
demo_data_no_hires_images.zip
Thumbs.db
test/application/pageObjects/testData/parsedData.txt
test/reports/*.xml
coverage

**/ie-css/*
**/compiled/*
**/svg.isml
**/.idea/*
**/*.iml
DemandwareServer
RemoteSystemsTempFiles
data_impex/*.zip

**/static/default/css/style.css
**/static/default/themes/bluefox/css/bluefox.css
**/static/default/themes/iceforce/css/iceforce.css
**/static/default/themes/luhrjensen/css/luhrjensen.css
**/static/default/themes/marcum/css/marcum.css
**/static/default/themes/rapala/css/rapala.css
**/static/default/themes/storm/css/storm.css
**/static/default/themes/strikemaster/css/strikemaster.css
**/static/default/themes/sufix/css/sufix.css
**/static/default/themes/terminator/css/terminator.css
**/static/default/themes/triggerx/css/triggerx.css
**/static/default/themes/vmc/css/vmc.css
**/static/default/themes/williamson/css/williamson.css

**/css/style-guide.css
**/css/*.min.css
**/css/*.css.map

gulp_builder/artifacts
gulp_builder/config-server.json
gulp_builder/deploy
gulp_builder/node_modules
gulp_builder/lib/data/config.json
gulp_builder/temp-*
gulp_builder/*.zip
