/**
 SHOPPABLE ASSET styles
**/
/**
	VMC Shoppable asset 
**/
#headerwrapper #brand-tabs-header #vmc .brand-assets  a{
	font-weight:bold;
	font-size: 12px;
	color: #000;
	font-family: Lucide Grande Regular;
	float:none;
	line-height: 20px;
	text-transform: uppercase;

}
#headerwrapper #brand-tabs-header #vmc .brand-assets  .sub-category-section-3 {
	line-height: 19px;
}
#headerwrapper #brand-tabs-header #vmc .brand-assets a.sale-text {
	color: #e80000;
}
#headerwrapper #brand-tabs-header  #vmc .brand-assets  p.space-in-desktop {
    padding: 0 0 18px 0;
}
@media screen and (max-width: 959px) {
	#headerwrapper #brand-tabs-header #vmc .brand-assets  a.shop-rapala{
		padding: 15px 10px 15px 30px;
	}
	#headerwrapper #brand-tabs-header #vmc .brand-assets  a{
		font-size: 15px;
		color: #333;
		font-weight:normal;
		text-transform: capitalize;
	}
	#headerwrapper #brand-tabs-header #vmc .brand-assets a.sale-text {
		text-transform: uppercase;
	}
	#headerwrapper #brand-tabs-header  #vmc .brand-assets  p.space-in-desktop {
	    display: none;
	}
}
/**
	Suffix Shoppable asset 
**/

#headerwrapper #brand-tabs-header  #sufix .brand-assets  a{
	font-weight:bold;
	font-size: 12px;
	color: #000;
	font-family: Lucide Grande Regular;
	float:none;
	line-height: 20px;
	text-transform: uppercase;
}
#headerwrapper #brand-tabs-header  #sufix .brand-assets  .sub-category-section-3 {
	line-height: 19px;
}
#headerwrapper #brand-tabs-header  #sufix .brand-assets a.sale-text {
	color: #e80000;
}
#headerwrapper #brand-tabs-header  #sufix .brand-assets  p.space-in-desktop {
    padding: 0 0 18px 0;
}
@media screen and (max-width: 959px) {
	#headerwrapper #brand-tabs-header #sufix .brand-assets  a.shop-rapala{
		padding: 15px 10px 15px 30px;
	}
	#headerwrapper #brand-tabs-header  #sufix .brand-assets  a{
		font-size: 15px;
		color: #333;
		font-weight:normal;
		text-transform: capitalize;
	}
	#headerwrapper #brand-tabs-header  #sufix .brand-assets a.sale-text {
		text-transform: uppercase;
	}
	#headerwrapper #brand-tabs-header  #sufix .brand-assets  p.space-in-desktop {
	    display: none;
	}
}

/**
	storm Shoppable asset 
**/
#headerwrapper #brand-tabs-header #storm .brand-assets  a{
	font-weight:bold;
	font-size: 12px;
	color: #000;
	font-family: Lucide Grande Regular;
	float:none;
	line-height: 20px;
	text-transform: uppercase;

}
#headerwrapper #brand-tabs-header #storm .brand-assets  .sub-category-section-3 {
	line-height: 19px;
}
#headerwrapper #brand-tabs-header #storm .brand-assets a.sale-text {
	color: #e80000;
}
#headerwrapper #brand-tabs-header  #storm .brand-assets  p.space-in-desktop {
    padding: 0 0 18px 0;
}
@media screen and (max-width: 959px) {
	#headerwrapper #brand-tabs-header #storm .brand-assets  a.shop-rapala{
		padding: 15px 10px 15px 30px;
	}
	#headerwrapper #brand-tabs-header #storm .brand-assets  a{
		font-size: 15px;
		color: #333;
		font-weight:normal;
		text-transform: capitalize;
	}
	#headerwrapper #brand-tabs-header #storm .brand-assets a.sale-text {
		text-transform: uppercase;
	}
	#headerwrapper #brand-tabs-header  #storm .brand-assets  p.space-in-desktop {
	    display: none;
	}
}
/**
	iceforce Shoppable asset 
**/
#headerwrapper #brand-tabs-header #iceforce .brand-assets  a{
	font-weight:bold;
	font-size: 12px;
	color: #000;
	font-family: Lucide Grande Regular;
	float:none;
	line-height: 20px;
	text-transform: uppercase;

}
#headerwrapper #brand-tabs-header #iceforce .brand-assets  .sub-category-section-3 {
	line-height: 19px;
}
#headerwrapper #brand-tabs-header #iceforce .brand-assets a.sale-text {
	color: #e80000;
}
#headerwrapper #brand-tabs-header  #iceforce .brand-assets  p.space-in-desktop {
    padding: 0 0 18px 0;
}
@media screen and (max-width: 959px) {
	#headerwrapper #brand-tabs-header #iceforce .brand-assets  a.shop-rapala{
		padding: 15px 10px 15px 30px;
	}
	#headerwrapper #brand-tabs-header #iceforce .brand-assets  a{
		font-size: 15px;
		color: #333;
		font-weight:normal;
		text-transform: capitalize;
	}
	#headerwrapper #brand-tabs-header #iceforce .brand-assets a.sale-text {
		text-transform: uppercase;
	}
	#headerwrapper #brand-tabs-header  #iceforce .brand-assets  p.space-in-desktop {
	    display: none;
	}
}

/**
	marcum Shoppable asset 
**/
#headerwrapper #brand-tabs-header #marcum .brand-assets  a{
	font-weight:bold;
	font-size: 12px;
	color: #000;
	font-family: Lucide Grande Regular;
	float:none;
	line-height: 20px;
	text-transform: uppercase;

}
#headerwrapper #brand-tabs-header #marcum .brand-assets  .sub-category-section-3 {
	line-height: 19px;
}
#headerwrapper #brand-tabs-header #marcum .brand-assets a.sale-text {
	color: #e80000;
}
#headerwrapper #brand-tabs-header  #marcum .brand-assets  p.space-in-desktop {
    padding: 0 0 18px 0;
}
@media screen and (max-width: 959px) {
	#headerwrapper #brand-tabs-header #marcum .brand-assets  a.shop-rapala{
		padding: 15px 10px 15px 30px;
	}
	#headerwrapper #brand-tabs-header #marcum .brand-assets  a{
		font-size: 15px;
		color: #333;
		font-weight:normal;
		text-transform: capitalize;
	}
	#headerwrapper #brand-tabs-header #marcum .brand-assets a.sale-text {
		text-transform: uppercase;
	}
	#headerwrapper #brand-tabs-header  #marcum .brand-assets  p.space-in-desktop {
	    display: none;
	}
}

/**
	strikemaster Shoppable asset 
**/

#headerwrapper #brand-tabs-header #strikemaster .brand-assets  a{
	font-weight:bold;
	font-size: 12px;
	color: #000;
	font-family: Lucide Grande Regular;
	float:none;
	line-height: 20px;
	text-transform: uppercase;

}
#headerwrapper #brand-tabs-header #strikemaster .brand-assets  .sub-category-section-3 {
	line-height: 19px;
}
#headerwrapper #brand-tabs-header #strikemaster .brand-assets a.sale-text {
	color: #e80000;
}
#headerwrapper #brand-tabs-header  #strikemaster .brand-assets  p.space-in-desktop {
    padding: 0 0 18px 0;
}
@media screen and (max-width: 959px) {
	#headerwrapper #brand-tabs-header #strikemaster .brand-assets  a.shop-rapala{
		padding: 15px 10px 15px 30px;
	}
	#headerwrapper #brand-tabs-header #strikemaster .brand-assets  a{
		font-size: 15px;
		color: #333;
		font-weight:normal;
		text-transform: capitalize;
	}
	#headerwrapper #brand-tabs-header #strikemaster .brand-assets a.sale-text {
		text-transform: uppercase;
	}
	#headerwrapper #brand-tabs-header  #strikemaster .brand-assets  p.space-in-desktop {
	    display: none;
	}
}

/**
	williamson Shoppable asset 
**/
#headerwrapper #brand-tabs-header #williamson .brand-assets  a{
	font-weight:bold;
	font-size: 12px;
	color: #000;
	font-family: Lucide Grande Regular;
	float:none;
	line-height: 20px;
	text-transform: uppercase;

}
#headerwrapper #brand-tabs-header #williamson .brand-assets  .sub-category-section-3 {
	line-height: 19px;
}
#headerwrapper #brand-tabs-header #williamson .brand-assets a.sale-text {
	color: #e80000;
}
#headerwrapper #brand-tabs-header  #williamson .brand-assets  p.space-in-desktop {
    padding: 0 0 18px 0;
}
@media screen and (max-width: 959px) {
	#headerwrapper #brand-tabs-header #williamson .brand-assets  a.shop-rapala{
		padding: 15px 10px 15px 30px;
	}
	#headerwrapper #brand-tabs-header #williamson .brand-assets  a{
		font-size: 15px;
		color: #333;
		font-weight:normal;
		text-transform: capitalize;
	}
	#headerwrapper #brand-tabs-header #williamson .brand-assets a.sale-text {
		text-transform: uppercase;
	}
	#headerwrapper #brand-tabs-header  #williamson .brand-assets  p.space-in-desktop {
	    display: none;
	}
}
/**
	terminator Shoppable asset 
**/
#headerwrapper #brand-tabs-header #terminator .brand-assets  a{
	font-weight:bold;
	font-size: 12px;
	color: #000;
	font-family: Lucide Grande Regular;
	float:none;
	line-height: 20px;
	text-transform: uppercase;

}
#headerwrapper #brand-tabs-header #terminator .brand-assets  .sub-category-section-3 {
	line-height: 19px;
}
#headerwrapper #brand-tabs-header #terminator .brand-assets a.sale-text {
	color: #e80000;
}
#headerwrapper #brand-tabs-header  #terminator .brand-assets  p.space-in-desktop {
    padding: 0 0 18px 0;
}
@media screen and (max-width: 959px) {
	#headerwrapper #brand-tabs-header #terminator .brand-assets  a.shop-rapala{
		padding: 15px 10px 15px 30px;
	}
	#headerwrapper #brand-tabs-header #terminator .brand-assets  a{
		font-size: 15px;
		color: #333;
		font-weight:normal;
		text-transform: capitalize;
	}
	#headerwrapper #brand-tabs-header #terminator .brand-assets a.sale-text {
		text-transform: uppercase;
	}
	#headerwrapper #brand-tabs-header  #terminator .brand-assets  p.space-in-desktop {
	    display: none;
	}
}

/**
	bluefox Shoppable asset 
**/

#headerwrapper #brand-tabs-header #bluefox .brand-assets  a{
	font-weight:bold;
	font-size: 12px;
	color: #000;
	font-family: Lucide Grande Regular;
	float:none;
	line-height: 20px;
	text-transform: uppercase;

}
#headerwrapper #brand-tabs-header #bluefox .brand-assets  .sub-category-section-3 {
	line-height: 19px;
}
#headerwrapper #brand-tabs-header #bluefox .brand-assets a.sale-text {
	color: #e80000;
}
#headerwrapper #brand-tabs-header  #bluefox .brand-assets  p.space-in-desktop {
    padding: 0 0 18px 0;
}
@media screen and (max-width: 959px) {
	#headerwrapper #brand-tabs-header #bluefox .brand-assets  a.shop-rapala{
		padding: 15px 10px 15px 30px;
	}
	#headerwrapper #brand-tabs-header #bluefox .brand-assets  a{
		font-size: 15px;
		color: #333;
		font-weight:normal;
		text-transform: capitalize;
	}
	#headerwrapper #brand-tabs-header #bluefox .brand-assets a.sale-text {
		text-transform: uppercase;
	}
	#headerwrapper #brand-tabs-header  #bluefox .brand-assets  p.space-in-desktop {
	    display: none;
	}
}

/**
	triggerx Shoppable asset 
**/

#headerwrapper #brand-tabs-header #triggerx .brand-assets  a{
	font-weight:bold;
	font-size: 12px;
	color: #000;
	font-family: Lucide Grande Regular;
	float:none;
	line-height: 20px;
	text-transform: uppercase;

}
#headerwrapper #brand-tabs-header #triggerx .brand-assets  .sub-category-section-3 {
	line-height: 19px;
}
#headerwrapper #brand-tabs-header #triggerx .brand-assets a.sale-text {
	color: #e80000;
}
#headerwrapper #brand-tabs-header  #triggerx .brand-assets  p.space-in-desktop {
    padding: 0 0 18px 0;
}
@media screen and (max-width: 959px) {
	#headerwrapper #brand-tabs-header #triggerx .brand-assets  a.shop-rapala{
		padding: 15px 10px 15px 30px;
	}
	#headerwrapper #brand-tabs-header #triggerx .brand-assets  a{
		font-size: 15px;
		color: #333;
		font-weight:normal;
		text-transform: capitalize;
	}
	#headerwrapper #brand-tabs-header #triggerx .brand-assets a.sale-text {
		text-transform: uppercase;
	}
	#headerwrapper #brand-tabs-header  #triggerx .brand-assets  p.space-in-desktop {
	    display: none;
	}
}

/**
	luhrjensen Shoppable asset 
**/

#headerwrapper #brand-tabs-header #luhrjensen .brand-assets  a{
	font-weight:bold;
	font-size: 12px;
	color: #000;
	font-family: Lucide Grande Regular;
	float:none;
	line-height: 20px;
	text-transform: uppercase;

}
#headerwrapper #brand-tabs-header #luhrjensen .brand-assets  .sub-category-section-3 {
	line-height: 19px;
}
#headerwrapper #brand-tabs-header #luhrjensen .brand-assets a.sale-text {
	color: #e80000;
}
#headerwrapper #brand-tabs-header  #luhrjensen .brand-assets  p.space-in-desktop {
    padding: 0 0 18px 0;
}
@media screen and (max-width: 959px) {
	#headerwrapper #brand-tabs-header #luhrjensen .brand-assets  a.shop-rapala{
		padding: 15px 10px 15px 30px;
	}
	#headerwrapper #brand-tabs-header #luhrjensen .brand-assets  a{
		font-size: 15px;
		color: #333;
		font-weight:normal;
		text-transform: capitalize;
	}
	#headerwrapper #brand-tabs-header #luhrjensen .brand-assets a.sale-text {
		text-transform: uppercase;
	}
	#headerwrapper #brand-tabs-header  #luhrjensen .brand-assets  p.space-in-desktop {
	    display: none;
	}
}

/**
 NON-SHOPPABLE ASSET styles
**/

/**
	rapala brand
**/
#headerwrapper #brand-tabs-header #rapala .brand-assets .sub-category-section-1.brand-asset-two{
	border:1px solid #e6e6e6;
	width: 140px;
	text-align: center;
	padding:5px 0;
}
#headerwrapper #brand-tabs-header #rapala .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading {
	font-weight: bold;
	font-size: 12px;
	color: #656565;
	line-height: 20px;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
	float:none;
	text-transform: uppercase;
}
#headerwrapper #brand-tabs-header #rapala .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading:hover {
	text-decoration: none;
	cursor: default;
}
#headerwrapper #brand-tabs-header #rapala .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 {
	line-height: normal;
}
#headerwrapper #brand-tabs-header #rapala .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 >  div {
	line-height: 14px;
	display: inline-block;
    width: 100%;
}
#headerwrapper #brand-tabs-header #rapala .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 a {
	font-weight: normal;
	font-size: 12px;
	color: #8b8b8b;
	line-height: 20px;
	font-family: Lucide Grande Regular;
	float:none;
	text-transform: capitalize;
}
@media screen and (max-width: 959px) {
	#headerwrapper #brand-tabs-header #rapala .brand-assets .sub-category-section-1.brand-asset-two{
		border:none;
	    border-bottom: 1px solid #ccc;
		width: 100%;
		text-align: left;
		padding: 15px 0;
		padding: 0;
	}
	#headerwrapper #brand-tabs-header #rapala .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading {
		font-size: 15px;
		font-weight: normal;
		color: #333;
		text-transform: capitalize;
		padding: 15px 10px 15px 30px;
	}
	#headerwrapper #brand-tabs-header #rapala .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 a {
		font-size: 15px;
		font-weight: normal;
		color: #333;
		text-transform: capitalize;
    	margin: 0;
    	width: 100%;
	    max-width: initial;
	    box-sizing: border-box;
	}
	#headerwrapper #brand-tabs-header #rapala .brand-assets .sub-category-section-1.brand-asset-two p{
		padding: 0;
	}
}
/**
	vmc brand
**/
#headerwrapper #brand-tabs-header #vmc .brand-assets .sub-category-section-1.brand-asset-two{
	border:1px solid #e6e6e6;
	width: 100%;
	text-align: center;
	padding:5px 0;
}
#headerwrapper #brand-tabs-header #vmc .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading {
	font-weight: bold;
	font-size: 12px;
	color: #656565;
	line-height: 20px;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
	float:none;
	text-transform: uppercase;
}
#headerwrapper #brand-tabs-header #vmc .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading:hover {
	text-decoration: none;
	cursor: default;
}
#headerwrapper #brand-tabs-header #vmc .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 {
	line-height: normal;
}
#headerwrapper #brand-tabs-header #vmc .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 >  div {
	line-height: 14px;
	display: inline-block;
    width: 100%;
}
#headerwrapper #brand-tabs-header #vmc .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 a {
	font-weight: normal;
	font-size: 12px;
	color: #8b8b8b;
	line-height: 20px;
	font-family: Lucide Grande Regular;
	float:none;
	text-transform: capitalize;
}
@media screen and (max-width: 959px) {
	#headerwrapper #brand-tabs-header #vmc .brand-assets .sub-category-section-1.brand-asset-two{
		border: none;
	    border-bottom: 1px solid #ccc;
	    width: 100%;
	    text-align: left;
	    padding: 14.5px 0;
	    float: left;
	    padding: 0;
	}
	#headerwrapper #brand-tabs-header #vmc .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading {
		font-size: 15px;
		font-weight: normal;
		color: #333;
		text-transform: capitalize;
		padding: 15px 10px 15px 30px;
	}
	#headerwrapper #brand-tabs-header #vmc .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 a {
		font-size: 15px;
		font-weight: normal;
		color: #333;
		text-transform: capitalize;
    	margin: 0;
    	width: 100%;
	    max-width: initial;
	    box-sizing: border-box;
	}
	#headerwrapper #brand-tabs-header #vmc .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 p {
		padding: 0;
	}
}
/**
	sufix brand
**/
#headerwrapper #brand-tabs-header  #sufix .brand-assets .sub-category-section-1.brand-asset-two{
	border:1px solid #e6e6e6;
	width: 100%;
	text-align: center;
	padding:5px 0;
}
#headerwrapper #brand-tabs-header #sufix .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading {
	font-weight: bold;
	font-size: 12px;
	color: #656565;
	line-height: 20px;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
	float:none;
	text-transform: uppercase;
}
#headerwrapper #brand-tabs-header #sufix .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading:hover {
	text-decoration: none;
	cursor: default;
}
#headerwrapper #brand-tabs-header  #sufix .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 {
	line-height: normal;
}
#headerwrapper #brand-tabs-header  #sufix .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 >  div {
	line-height: 14px;
	display: inline-block;
    width: 100%;
}
#headerwrapper #brand-tabs-header  #sufix .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 a {
	font-weight: normal;
	font-size: 12px;
	color: #8b8b8b;
	line-height: 20px;
	font-family: Lucide Grande Regular;
	float:none;
	text-transform: capitalize;
}
@media screen and (max-width: 959px) {
	#headerwrapper #brand-tabs-header  #sufix .brand-assets .sub-category-section-1.brand-asset-two{
		border: none;
	    border-bottom: 1px solid #ccc;
	    width: 100%;
	    text-align: left;
	    padding: 14.5px 0;
	    float: left;
	    padding: 0;
	}
	#headerwrapper #brand-tabs-header  #sufix .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading {
		font-size: 15px;
		font-weight: normal;
		color: #333;
		text-transform: capitalize;
		padding: 15px 10px 15px 30px;
	}
	#headerwrapper #brand-tabs-header  #sufix .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 a {
		font-size: 15px;
		font-weight: normal;
		color: #333;
		text-transform: capitalize;
    	margin: 0;
    	width: 100%;
	    max-width: initial;
	    box-sizing: border-box;
	}
	#headerwrapper #brand-tabs-header  #sufix .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 p{
		padding: 0;
	}
}

/**
	storm brand
**/
#headerwrapper #brand-tabs-header #storm .brand-assets .sub-category-section-1.brand-asset-two{
	border:1px solid #e6e6e6;
	width:225px;
	width: 100%;
	text-align: center;
	padding:5px 0;
}
#headerwrapper #brand-tabs-header #storm .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading {
	font-weight: bold;
	font-size: 12px;
	color: #656565;
	line-height: 20px;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
	float:none;
	text-transform: uppercase;
}
#headerwrapper #brand-tabs-header #storm .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading:hover {
	text-decoration: none;
	cursor: default;
}
#headerwrapper #brand-tabs-header #storm .sub-category-section-1.brand-asset-two .sub-category-section-3 {
	line-height: normal;
}
#headerwrapper #brand-tabs-header #storm .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 >  div {
	line-height: 14px;
	display: inline-block;
    width: 100%;
}
#headerwrapper #brand-tabs-header #storm .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 a {
	font-weight: normal;
	font-size: 12px;
	color: #8b8b8b;
	line-height: 20px;
	font-family: Lucide Grande Regular;
	float:none;
	text-transform: capitalize;
}
@media screen and (max-width: 959px) {
	#headerwrapper #brand-tabs-header #storm .brand-assets .sub-category-section-1.brand-asset-two{
		border: none;
	    border-bottom: 1px solid #ccc;
	    width: 100%;
	    text-align: left;
	    padding: 14.5px 0;
	    padding: 0;
	    float: left;
	}
	#headerwrapper #brand-tabs-header #storm .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading {
		font-size: 15px;
		font-weight: normal;
		color: #333;
		text-transform: capitalize;
		padding: 15px 10px 15px 30px;
	}
	#headerwrapper #brand-tabs-header #storm .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 a {
		font-size: 15px;
		font-weight: normal;
		color: #333;
		text-transform: capitalize;
    	margin: 0;
    	width: 100%;
	    max-width: initial;
	    box-sizing: border-box;
	}
	#headerwrapper #brand-tabs-header #storm .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 p{
		padding: 0;
	}
}

/**
	iceforce brand
**/
#headerwrapper #brand-tabs-header #iceforce .brand-assets .sub-category-section-1.brand-asset-two{
	border:1px solid #e6e6e6;
	width:225px;
	width: 100%;
	text-align: center;
	padding:5px 0;
}
#headerwrapper #brand-tabs-header #iceforce .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading {
	font-weight: bold;
	font-size: 12px;
	color: #656565;
	line-height: 20px;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
	float:none;
	text-transform: uppercase;
}
#headerwrapper #brand-tabs-header #iceforce .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading:hover {
	text-decoration: none;
	cursor: default;
}
#headerwrapper #brand-tabs-header #iceforce .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 {
	line-height: normal;
}
#headerwrapper #brand-tabs-header #iceforce .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 >  div {
	line-height: 14px;
	display: inline-block;
    width: 100%;
}
#headerwrapper #brand-tabs-header #iceforce .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 a {
	font-weight: normal;
	font-size: 12px;
	color: #8b8b8b;
	line-height: 20px;
	font-family: Lucide Grande Regular;
	float:none;
	text-transform: capitalize;
}
@media screen and (max-width: 959px) {
	#headerwrapper #brand-tabs-header #iceforce .brand-assets .sub-category-section-1.brand-asset-two{
		border: none;
	    border-bottom: 1px solid #ccc;
	    width: 100%;
	    text-align: left;
	    padding: 14.5px 0;
	    padding: 0;
	    float: left;
	}
	#headerwrapper #brand-tabs-header #iceforce .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading {
		font-size: 15px;
		font-weight: normal;
		color: #333;
		text-transform: capitalize;
		padding: 15px 10px 15px 30px;
	}
	#headerwrapper #brand-tabs-header #iceforce .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 a {
		font-size: 15px;
		font-weight: normal;
		color: #333;
		text-transform: capitalize;
    	margin: 0;
    	width: 100%;
	    max-width: initial;
	    box-sizing: border-box;
	}
	#headerwrapper #brand-tabs-header #iceforce .brand-assets .sub-category-section-1.brand-asset-two p {
		padding: 0;
   }
}
/**
	marcum brand
**/
#headerwrapper #brand-tabs-header #marcum .brand-assets .sub-category-section-1.brand-asset-two{
	border:1px solid #e6e6e6;
	width: 100%;
	text-align: center;
	padding:5px 0;
}
#headerwrapper #brand-tabs-header #marcum .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading {
	font-weight: bold;
	font-size: 12px;
	color: #656565;
	line-height: 20px;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
	float:none;
	text-transform: uppercase;
}
#headerwrapper #brand-tabs-header #marcum .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading:hover {
	text-decoration: none;
	cursor: default;
}
#headerwrapper #brand-tabs-header #marcum .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 {
	line-height: normal;
}
#headerwrapper #brand-tabs-header #marcum .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 >  div {
	line-height: 14px;
	display: inline-block;
    width: 100%;
}
#headerwrapper #brand-tabs-header #marcum .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 a {
	font-weight: normal;
	font-size: 12px;
	color: #8b8b8b;
	line-height: 20px;
	font-family: Lucide Grande Regular;
	float:none;
	text-transform: capitalize;
}
@media screen and (max-width: 959px) {
	#headerwrapper #brand-tabs-header #marcum .brand-assets .sub-category-section-1.brand-asset-two{
		border: none;
	    border-bottom: 1px solid #ccc;
	    width: 100%;
	    text-align: left;
	    padding: 14.5px 0;
	    padding: 0;
	    float: left;
	}
	#headerwrapper #brand-tabs-header #marcum .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading {
		font-size: 15px;
		font-weight: normal;
		color: #333;
		text-transform: capitalize;
		padding: 15px 10px 15px 30px;
	}
	#headerwrapper #brand-tabs-header #marcum .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 a {
		font-size: 15px;
		font-weight: normal;
		color: #333;
		text-transform: capitalize;
    	margin: 0;
    	width: 100%;
	    max-width: initial;
	    box-sizing: border-box;
	}
	#headerwrapper #brand-tabs-header #marcum .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 p {
		padding: 0;
	}
}

/**
	strikemaster brand
**/
 
#headerwrapper #brand-tabs-header #strikemaster .brand-assets .sub-category-section-1.brand-asset-two{
	border:1px solid #e6e6e6;
	width:225px;
	width: 100%;
	text-align: center;
	padding:5px 0;
}
#headerwrapper #brand-tabs-header #strikemaster .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading {
	font-weight: bold;
	font-size: 12px;
	color: #656565;
	line-height: 20px;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
	float:none;
	text-transform: uppercase;
}
#headerwrapper #brand-tabs-header #strikemaster .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading:hover {
	text-decoration: none;
	cursor: default;
}
#headerwrapper #brand-tabs-header #strikemaster .sub-category-section-1.brand-asset-two .sub-category-section-3 {
	line-height: normal;
}
#headerwrapper #brand-tabs-header #strikemaster .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 >  div {
	line-height: 14px;
	display: inline-block;
    width: 100%;
}
#headerwrapper #brand-tabs-header #strikemaster .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 a {
	font-weight: normal;
	font-size: 12px;
	color: #8b8b8b;
	line-height: 20px;
	font-family: Lucide Grande Regular;
	float:none;
	text-transform: capitalize;
}
@media screen and (max-width: 959px) {
	#headerwrapper #brand-tabs-header #strikemaster .brand-assets .sub-category-section-1.brand-asset-two{
		border: none;
	    border-bottom: 1px solid #ccc;
	    width: 100%;
	    text-align: left;
	    padding: 14.5px 0;
	    padding: 0;
	    float: left;
	}
	#headerwrapper #brand-tabs-header #strikemaster .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading {
		font-size: 15px;
		font-weight: normal;
		color: #333;
		text-transform: capitalize;
		padding: 15px 10px 15px 30px;
	}
	#headerwrapper #brand-tabs-header #strikemaster .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 a {
		font-size: 15px;
		font-weight: normal;
		color: #333;
		text-transform: capitalize;
    	margin: 0;
    	width: 100%;
	    max-width: initial;
	    box-sizing: border-box;
	}
	#headerwrapper #brand-tabs-header #strikemaster .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 p{
		padding: 0;
	}
}

/**
	williamson brand
**/

#headerwrapper #brand-tabs-header #williamson .brand-assets .sub-category-section-1.brand-asset-two{
	border:1px solid #e6e6e6;
	width:225px;
	width: 100%;
	text-align: center;
	padding:5px 0;
}
#headerwrapper #brand-tabs-header #williamson .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading {
	font-weight: bold;
	font-size: 12px;
	color: #656565;
	line-height: 20px;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
	float:none;
	text-transform: uppercase;
}
#headerwrapper #brand-tabs-header #williamson .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading:hover {
	text-decoration: none;
	cursor: default;
}
#headerwrapper #brand-tabs-header #williamson .sub-category-section-1.brand-asset-two .sub-category-section-3 {
	line-height: normal;
}
#headerwrapper #brand-tabs-header #williamson .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 >  div {
	line-height: 14px;
	display: inline-block;
    width: 100%;
}
#headerwrapper #brand-tabs-header #williamson .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 a {
	font-weight: normal;
	font-size: 12px;
	color: #8b8b8b;
	line-height: 20px;
	font-family: Lucide Grande Regular;
	float:none;
	text-transform: capitalize;
}
@media screen and (max-width: 959px) {
	#headerwrapper #brand-tabs-header #williamson .brand-assets .sub-category-section-1.brand-asset-two{
		border: none;
	    border-bottom: 1px solid #ccc;
	    width: 100%;
	    text-align: left;
	    padding: 14.5px 0;
	    padding: 0;
	    float: left;
	}
	#headerwrapper #brand-tabs-header #williamson .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading {
		font-size: 15px;
		font-weight: normal;
		color: #333;
		text-transform: capitalize;
		padding: 15px 10px 15px 30px;
	}
	#headerwrapper #brand-tabs-header #williamson .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 a {
		font-size: 15px;
		font-weight: normal;
		color: #333;
		text-transform: capitalize;
    	margin: 0;
    	width: 100%;
	    max-width: initial;
	    box-sizing: border-box;
	}
	#headerwrapper #brand-tabs-header #williamson .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 p {
		padding: 0;
   }
}

/**
	terminator brand
**/

#headerwrapper #brand-tabs-header #terminator .brand-assets .sub-category-section-1.brand-asset-two{
	border:1px solid #e6e6e6;
	width:225px;
	width: 100%;
	text-align: center;
	padding:5px 0;
}
#headerwrapper #brand-tabs-header #terminator .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading {
	font-weight: bold;
	font-size: 12px;
	color: #656565;
	line-height: 20px;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
	float:none;
	text-transform: uppercase;
}
#headerwrapper #brand-tabs-header #terminator .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading:hover {
	text-decoration: none;
	cursor: default;
}
#headerwrapper #brand-tabs-header #terminator .sub-category-section-1.brand-asset-two .sub-category-section-3 {
	line-height: normal;
}
#headerwrapper #brand-tabs-header #terminator .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 >  div {
	line-height: 14px;
	display: inline-block;
    width: 100%;
}
#headerwrapper #brand-tabs-header #terminator .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 a {
	font-weight: normal;
	font-size: 12px;
	color: #8b8b8b;
	line-height: 20px;
	font-family: Lucide Grande Regular;
	float:none;
	text-transform: capitalize;
}
@media screen and (max-width: 959px) {
	#headerwrapper #brand-tabs-header #terminator .brand-assets .sub-category-section-1.brand-asset-two{
		border: none;
	    border-bottom: 1px solid #ccc;
	    width: 100%;
	    text-align: left;
	    padding: 14.5px 0;
	    padding: 0;
	    float: left;
	}
	#headerwrapper #brand-tabs-header #terminator .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading {
		font-size: 15px;
		font-weight: normal;
		color: #333;
		text-transform: capitalize;
		padding: 15px 10px 15px 30px;
	}
	#headerwrapper #brand-tabs-header #terminator .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 a {
		font-size: 15px;
		font-weight: normal;
		color: #333;
		text-transform: capitalize;
    	margin: 0;
    	width: 100%;
	    max-width: initial;
	    box-sizing: border-box;
	}
	#headerwrapper #brand-tabs-header #terminator .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 p {
		padding: 0;
	}
}

/**
	bluefox brand
**/

#headerwrapper #brand-tabs-header #bluefox .brand-assets .sub-category-section-1.brand-asset-two{
	border:1px solid #e6e6e6;
	width:225px;
	width: 100%;
	text-align: center;
	padding:5px 0;
}
#headerwrapper #brand-tabs-header #bluefox .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading {
	font-weight: bold;
	font-size: 12px;
	color: #656565;
	line-height: 20px;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
	float:none;
	text-transform: uppercase;
}
#headerwrapper #brand-tabs-header #bluefox .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading:hover {
	text-decoration: none;
	cursor: default;
}
#headerwrapper #brand-tabs-header #bluefox .sub-category-section-1.brand-asset-two .sub-category-section-3 {
	line-height: normal;
}
#headerwrapper #brand-tabs-header #bluefox .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 >  div {
	line-height: 14px;
	display: inline-block;
    width: 100%;
}
#headerwrapper #brand-tabs-header #bluefox .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 a {
	font-weight: normal;
	font-size: 12px;
	color: #8b8b8b;
	line-height: 20px;
	font-family: Lucide Grande Regular;
	float:none;
	text-transform: capitalize;
}
@media screen and (max-width: 959px) {
	#headerwrapper #brand-tabs-header #bluefox .brand-assets .sub-category-section-1.brand-asset-two {
		border: none;
	    border-bottom: 1px solid #ccc;
	    width: 100%;
	    text-align: left;
	    padding: 14.5px 0;
	    padding: 0;
	    float: left;
	}
	#headerwrapper #brand-tabs-header #bluefox .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading {
		font-size: 15px;
		font-weight: normal;
		color: #333;
		text-transform: capitalize;
		padding: 15px 10px 15px 30px;
	}
	#headerwrapper #brand-tabs-header #bluefox .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 a {
		font-size: 15px;
		font-weight: normal;
		color: #333;
		text-transform: capitalize;
    	margin: 0;
    	width: 100%;
	    max-width: initial;
	    box-sizing: border-box;
	}
	#headerwrapper #brand-tabs-header #bluefox .brand-assets .sub-category-section-1.brand-asset-two p {
		padding: 0;
   }
}
/**
	triggerx brand
**/
#headerwrapper #brand-tabs-header #triggerx .brand-assets .sub-category-section-1.brand-asset-two{
	border:1px solid #e6e6e6;
	width:225px;
	width: 100%;
	text-align: center;
	padding:5px 0;
}
#headerwrapper #brand-tabs-header #triggerx .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading {
	font-weight: bold;
	font-size: 12px;
	color: #656565;
	line-height: 20px;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
	float:none;
	text-transform: uppercase;
}
#headerwrapper #brand-tabs-header #triggerx .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading:hover {
	text-decoration: none;
	cursor: default;
}
#headerwrapper #brand-tabs-header #triggerx .sub-category-section-1.brand-asset-two .sub-category-section-3 {
	line-height: normal;
}
#headerwrapper #brand-tabs-header #triggerx .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 >  div {
	line-height: 14px;
	display: inline-block;
    width: 100%;
}
#headerwrapper #brand-tabs-header #triggerx .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 a {
	font-weight: normal;
	font-size: 12px;
	color: #8b8b8b;
	line-height: 20px;
	font-family: Lucide Grande Regular;
	float:none;
	text-transform: capitalize;
}
@media screen and (max-width: 959px) {
	#headerwrapper #brand-tabs-header #triggerx .brand-assets .sub-category-section-1.brand-asset-two{
		border: none;
	    border-bottom: 1px solid #ccc;
	    width: 100%;
	    text-align: left;
	    padding: 14.5px 0;
	    padding: 0;
	    float: left;
	}
	#headerwrapper #brand-tabs-header #triggerx .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading {
		font-size: 15px;
		font-weight: normal;
		color: #333;
		text-transform: capitalize;
		padding: 15px 10px 15px 30px;
	}
	#headerwrapper #brand-tabs-header #triggerx .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 a {
		font-size: 15px;
		font-weight: normal;
		color: #333;
		text-transform: capitalize;
    	margin: 0;
    	width: 100%;
	    max-width: initial;
	    box-sizing: border-box;
	}
	#headerwrapper #brand-tabs-header #triggerx .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 p {
		padding: 0;
	}
}

/**
	luhrjensen brand
**/

#headerwrapper #brand-tabs-header #luhrjensen .brand-assets .sub-category-section-1.brand-asset-two {
	border:1px solid #e6e6e6;
	width:225px;
	width: 100%;
	text-align: center;
	padding:5px 0;
}
#headerwrapper #brand-tabs-header #luhrjensen .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading {
	font-weight: bold;
	font-size: 12px;
	color: #656565;
	line-height: 20px;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
	float:none;
	text-transform: uppercase;
}
#headerwrapper #brand-tabs-header #luhrjensen .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading:hover {
	text-decoration: none;
	cursor: default;
}
#headerwrapper #brand-tabs-header #luhrjensen .sub-category-section-1.brand-asset-two .sub-category-section-3 {
	line-height: normal;
}
#headerwrapper #brand-tabs-header #luhrjensen .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 >  div {
	line-height: 14px;
	display: inline-block;
    width: 100%;
}
#headerwrapper #brand-tabs-header #luhrjensen .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 a {
	font-weight: normal;
	font-size: 12px;
	color: #8b8b8b;
	line-height: 20px;
	font-family: Lucide Grande Regular;
	float:none;
	text-transform: capitalize;
}
@media screen and (max-width: 959px) {
	#headerwrapper #brand-tabs-header #luhrjensen .brand-assets .sub-category-section-1.brand-asset-two {
		border: none;
	    border-bottom: 1px solid #ccc;
	    width: 100%;
	    text-align: left;
	    padding: 14.5px 0;
	    padding: 0;
	    float: left;
	}
	#headerwrapper #brand-tabs-header #luhrjensen .brand-assets .sub-category-section-1.brand-asset-two a.brand-heading {
		font-size: 15px;
		font-weight: normal;
		color: #333;
		text-transform: capitalize;
		padding: 15px 10px 15px 30px;
	}
	#headerwrapper #brand-tabs-header #luhrjensen .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 a {
		font-size: 15px;
		font-weight: normal;
		color: #333;
		text-transform: capitalize;
    	margin: 0;
    	width: 100%;
	    max-width: initial;
	    box-sizing: border-box;
	}
	#headerwrapper #brand-tabs-header #luhrjensen .brand-assets .sub-category-section-1.brand-asset-two .sub-category-section-3 p {
		padding: 0;
	}
}