
/* @import must be at top of file, otherwise CSS will not work */

@import url("../css/MyFontsWebfontsKit.css");



/* body */
body {
	color: black;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,"AppleGothic", Arial, sans-serif;
	font-size: 13px;
	background: white url(../images/container-background-70.jpg) 0 0 repeat;
	&.js-body {
		background: none;
	}
	.js-container-active {
		.open-menu-wrap {
			background: white url(../images/container-background-70.jpg) 0 -105px repeat;
		}
	}
}

/* <a> styles */
a {
	color: $marcum-bgboxred;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
	color: red;
}

/* H1-H6 */
h1,h2,h4,h5,h6,.h-one-tag {
	font-family: 'SteelfishEb-Regular', Arial, Helvetica, sans-serif;
font-weight: normal;
color: #333;
text-transform: uppercase;
}

h1,.h-one-tag {
	font-size: 48px;
	line-height: 48px;
	margin:0;
}

h2 {
	font-size: 25px;
	line-height: 30px;
	
}

h3 {
	font-size: 16px;
	line-height: 16px;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode",
		"Trebuchet MS", Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: $marcum-bgboxred;
	font-style: italic;
	text-transform: none;
}

.pt_productsearchresult #page-background .row.column3 .colspan2.cell4 .contentboxcontent a.searchedfor{color: #ce0d0d;}
#container.pt_product-search-noresult {
	.breadcrumb {
		color:$white;
	}
}
h4 {
	font-size: 24px;
	line-height: 24px;
}

h5 {
	font-size: 18px;
	line-height: 18px;
}

h6 {
	font-size: 16px;
	line-height: 16px;
}

h1.left-nav-style {
	font-family: 'SteelfishEb-Regular', Arial, Helvetica, sans-serif;
	font-size: 40px;
	line-height: 36px;
}

h1.leftnav {
	font-size: 40px;
	line-height: 40px;
}

h2.input-style, .order-head h2 {
font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
text-transform: uppercase;
font-size: 16px;
line-height: 16px;
font-weight: bold;
padding-bottom: 2px;
}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
	color: #333;
	text-decoration: none;
}

h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover {
	color: $marcum-bgboxred;
	text-decoration: none;
}

/* <p> style */
p {
	color: black;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,"AppleGothic", Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	word-spacing: normal;
	line-height: 18px;
	padding: 9px 0 9px 0;
	text-align: left;
}

/*buttons*/
a.button,button {
display: block;
clear: left;
float: left;
height: 28px;
line-height: 28px;
font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode","Trebuchet MS", Helvetica, Arial, sans-serif;
font-size: 11px;
font-style: normal;
font-weight: bold;
text-transform: uppercase;
letter-spacing: 0;
color: white;
padding: 0 18px 0 18px;
background-color: $marcum-bgboxred;
border-style: solid;
border-width: 1px;
border-top-color: $marcum-borderone;
border-right-color: #C32E33;
border-bottom-color: #E9ACAE;
border-left-color: #C32E33;
}
a.button:hover,button:hover {
	cursor:pointer;
	background: red;
	text-decoration: none;
	border-top-color: #D70101;
	border-right-color: #F90A0A;
	border-bottom-color: #FF9D9D;
	border-left-color: #F90A0A;
}
.addTo-cart-section {
	a.button:hover,button:hover {
		cursor:pointer;
		background: -moz-linear-gradient(top, rgba(170,0,3,1) 0%, rgba(206,13,13,1) 100%) !important;
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(170,0,3,1)), color-stop(100%, rgba(206,13,13,1))) !important;
		background: -webkit-linear-gradient(top, rgba(170,0,3,1) 0%, rgba(206,13,13,1) 100%) !important;
		background: -o-linear-gradient(top, rgba(170,0,3,1) 0%, rgba(206,13,13,1) 100%) !important;
		background: -ms-linear-gradient(top, rgba(170,0,3,1) 0%, rgba(206,13,13,1) 100%) !important;
		background: linear-gradient(to bottom, rgba(170,0,3,1) 0%, rgba(206,13,13,1) 100%) !important;
		text-decoration: none;
		border-top-color: #D70101;
		border-right-color: #F90A0A;
		border-bottom-color: #FF9D9D;
		border-left-color: #F90A0A;
	}
}

.ui-dialog{ 
	&.addressadd{ 
		#dialog-container{ 
			.form-horizontal{ 
				.form-row{ 
					&.form-row-button{ 
						button{ 
							&.simple{ 
								background-color: $marcum-bgboxred;
								color: $white;
								&:hover{
									 background:$marcum-red;
								}  
							}
						} 
					} 
				} 
			} 
		} 
	}
}


#footernew {
  .wrapper {
    .footer-main {
       .footer-left-section {
          .footer-links {
              #about {
                 li#linkheading.desktopHide a {
                     span {
                       color:#fff;
                     }
                     &:hover {
                        color: #fff;
    					text-decoration: underline;
                     }
                 }
              }
           }          
       }
    }
  }         
}
.pt_leftnav-profile{
	#primary{
		#RegistrationForm{
			legend{
				font-family:$marcum-Avant;
			}
		}
	}
}

.pt_acc_landing{ 
	.content-asset{ 
		.account-options{
			li{
				transition:none;
				a{
					transition:none;
					h2{
	                    font-family:$marcum-original;
					    text-transform: uppercase;
					    font-weight: normal;
					    font-size: 48px;
					    line-height: 48px;
			    		padding:10px 0;
					}
					p{
					
						text-transform:capitalize;
					}
				}
				&:hover{
					background-color:$marcum-bgboxred;
					border-color:$marcum-bgboxred;
					transition:none;
						h2{
							color:$marcum-white;
						}
						p{
							color:$marcum-white;
						}
						i{
							color:$marcum-white;
						}
					}
			}
		} 
	} 
}

.pt_store-locator{ 
	.storelocator{ 
		h1{
			text-transform:uppercase;
			font-vairant:normal;
		} 
	}
	.storelocatorzipsearch{
		.stack {
			.form-row{
				.label{
					   font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,"AppleGothic", Arial, sans-serif;
					    font-weight: bold;
					    color: #333;
					    text-transform: uppercase;
					    font-size: 16px;
					    line-height: 16px;
				}
			}
		}
	}
}


.pt_order{ 
	.search-result-items{ 
		li{ 
			.order-history-header{
				.order-status{
					.value{
						color:red;
					}
				}
			}
			.order-history-items{ 
				.order-history-table{ 
					th{
					        font-family: $marcum-Avant;
						    font-weight: bold;
						    color: $marcum-list-black;
						    text-transform: uppercase;
						    font-size: 16px;
						    line-height: 16px;
						    padding-bottom: 2px;
					}
					tr{
						.order-price{
							.value{
								font-family:$marcum-Baskerville;
							    color: $marcum-bgboxred;
							    font-weight: bold;
							    font-style: italic;
							    font-size: 24px;
							    line-height: 24px;
							}
						}
					}
				}
			}
		}
	}
}

.pt_wish-list{
	 #main{ 
	 	.item-details{ 
	 		.product-list-item{ 
	 			span{
	 				&.price-sales{
	 					color:$marcum-redtwo;
	 					font-size:15px;
	 				}  
	 			}
	 		}
	 	}
	 }
}


.pt_leftnav-addressbook{ 
	#main{
		.breadcrumb{
			a{
				color:$marcum-white;
			}
			.breadcrumb-element{ &:last-child {
    			color:$marcum-white;
    			}
    		}
		}
	}
	#addresses{ 
		.address-list{ 
			.address-tile{ 
				.mini-address-title{
				        color:$marcum-list-black;
					    font-family:$marcum-Avant;
					    font-weight: bold;
					    font-size: 16px;
					    text-transform:uppercase;
				}  
				 .mini-address-name{
				 	font-size:13px;
				 	line-height:14px;
				 }
				.mini-address-location{
					address{
						font-size:13px;
				 		line-height:14px;
					}
					margin-bottom:8px;
				}
				.address-edit, 
				.address-delete.delete, 
				.address-make-default{
					font-size:12px;
				 	line-height:14px;
				 	padding-right:0px;
				 		&:hover{
				 			color:$marcum-bgred;
				 		}
				}
			}
		} 
	} 
}


.orderdetails{ 
	.order-information{ 
		.order-number{
			.label{
          	    font-size: 48px;
    			line-height: 48px;
    			font-family: $marcum-original;
			    font-weight: normal;
			    color:$marcum-list-black;
			    text-transform: uppercase;
			    font-style:normal;
			 }
			 .value{
				 font-size: 48px;
    			line-height: 48px;
    			font-family: $marcum-original;
			    font-weight: normal;
			    color:$marcum-list-black;
			    text-transform: uppercase;
			    font-style:normal;
			 }
		} 
	}  
}

.orderdetails{ 
	.order-payment-summary ,
	.order-billing ,
	.order-shipment-address ,
	.line-item-details ,
	.line-item-quantity ,
	.line-item-price{
		.label{
		    font-family: $marcum-Avant;
            font-size: 16px;
		    line-height: 16px;
		    text-transform: uppercase;
		    color: $marcum-list-black;
		}
	}
}

.orderdetails{ 
	.line-items{ 
		.line-item{ 
			.line-item-price{
				    font-family:$marcum-Baskerville;
				    color:$marcum-bgboxred;
				    font-weight: bold;
				    font-style: italic;
				    font-size: 24px;
				    line-height: 24px;
			    	.label{
			    		 font-family: $marcum-Avant;
			            font-size: 16px;
					    line-height: 16px;
					    text-transform: uppercase;
					    color: $marcum-list-black;
					    font-style:normal;
			    	}
			}
		}
	}
}


p a {
	color: $marcum-bgboxred;
	font-weight: bold;
}


p {
    color: black;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,"AppleGothic", Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    word-spacing: normal;
    line-height: 18px;
    padding: 9px 0 9px 0;
    text-align: left;
}
a {
    color: $marcum-bgboxred;
    text-decoration: none;
    &.filter {
	    margin: 18px 0 0;
	    display: block;
	    clear: left;
	    float: left;
	    width: 184px;
	    line-height: 18px;
	    font-family: $marcum-lucida;
	    font-size: 14px;
	    font-style: normal;
	    font-weight: bold;
	    text-transform: uppercase;
	    letter-spacing: 0;
	    color: $marcum-white !important;
	    padding: 5px 28px 5px 10px;
	    border-style: solid;
	    border-width: 1px;
	    color:$marcum-white;
		background: rgba(206,13,13,1);
		background: -moz-linear-gradient(top, rgba(206,13,13,1) 0%, rgba(170,0,3,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(206,13,13,1)), color-stop(100%, rgba(170,0,3,1)));
		background: -webkit-linear-gradient(top, rgba(206,13,13,1) 0%, rgba(170,0,3,1) 100%);
		background: -o-linear-gradient(top, rgba(206,13,13,1) 0%, rgba(170,0,3,1) 100%);
		background: -ms-linear-gradient(top, rgba(206,13,13,1) 0%, rgba(170,0,3,1) 100%);
		background: linear-gradient(to bottom, rgba(206,13,13,1) 0%, rgba(170,0,3,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce0d0d', endColorstr='#aa0003', GradientType=0 );
	    border-top-color: $marcum-borderone;
	    border-right-color: $marcum-bordertwo;
	    border-bottom-color: $marcum-borderthree;
	    border-left-color: $marcum-borderfour;
	    background-position: 100% 0;
	    background-repeat: no-repeat;
	    &:hover {
		    text-decoration: none;
		    background: rgba(170,0,3,1);
			background: -moz-linear-gradient(top, rgba(170,0,3,1) 0%, rgba(206,13,13,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(170,0,3,1)), color-stop(100%, rgba(206,13,13,1)));
			background: -webkit-linear-gradient(top, rgba(170,0,3,1) 0%, rgba(206,13,13,1) 100%);
			background: -o-linear-gradient(top, rgba(170,0,3,1) 0%, rgba(206,13,13,1) 100%);
			background: -ms-linear-gradient(top, rgba(170,0,3,1) 0%, rgba(206,13,13,1) 100%);
			background: linear-gradient(to bottom, rgba(170,0,3,1) 0%, rgba(206,13,13,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa0003', endColorstr='#ce0d0d', GradientType=0 );
		    border-top-color: $marcum-hov-borderone;
		    border-right-color: $marcum-hov-bordertwo;
		    border-bottom-color: $marcum-hov-borderthree;
		    border-left-color: $marcum-hov-borderfour;
		}
	}
}
a:hover {
    text-decoration: none;
    cursor: pointer;
    color: white;
}
p a {
    color: $marcum-bgboxred;
    font-weight: bold;
}

.pt_product-search-result{ 
	#page-background{ 
		#primary{
			.contentboxcontent{
				h1{ 
					color:$marcum-white;
					&.search-result {
				    	font-family:$marcum-lucida;
				    	font-size: 22px;
				    	font-style: normal;
				    	font-variant: normal;
				    	font-weight: bold;
				    	line-height: 36px;
				    	color:$marcum-white;
					}
				}
			}
		}
	}
}

.pt_product-search-result{ 
	#page-background{ 
		#primary{
			.search-blk{ 
				a {
				    display: inline-block;
				    text-transform: capitalize;
				    color:$marcum-hov-red;
				    &:hover{
				    	text-decoration:none;
				    }
				}
			}
		}
	}
}


#headerwrapper #header .row.column1 #minicart #multi-site-one-cart {
    background-image: url(../images/multi-site-one-cart-bg-right.png);
    background-position: right top;
    background-color: none;
}
#headerwrapper #header .row.column1 #minicart #multi-site-one-cart span {
    color: white;
    font-weight: normal;
    width: 58px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    text-transform: capitalize;
    background-image: url(../images/multi-site-one-cart-bg.png);
}
.minicarticon-cont .cart-icon {
    background: url(../images/cart.png) 0 6px no-repeat;
    width: 30px;
    float: left;
    height: 30px;
    margin: 0 5px 0 10px;
}
#headerwrapper #header .row.column1 #minicart a.minicart-button {
    color: $marcum-bgboxred;
}
#headerwrapper #header .row.column1 #minicart a.minicart-checkout-button {
    background: linear-gradient(to bottom, #ce0d0d 60%,#aa0004 100%);
    background: -moz-linear-gradient(to bottom, #ce0d0d 60%,#aa0004 100%);
    background: -webkit-linear-gradient(to bottom, #ce0d0d 60%,#aa0004 100%);
    background: -ms-linear-gradient(to bottom, #ce0d0d 60%,#aa0004 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,#ce0d0d), color-stop(100%,#aa0004));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce0d0d', endColorstr='#aa0004',GradientType=0 );
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 7px 0;
    height: 17px;
    text-indent: 0;
    font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode","Trebuchet MS",Helvetica,Arial,sans-serif;
    font-size: 11px;
    border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
}
#headerwrapper #header .row.column1 #minicart a.minicart-checkout-button:hover {
    background: linear-gradient(to bottom, #aa0004 0%,#ce0d0d 60%);
    background: -moz-linear-gradient(to bottom, #aa0004 0%,#ce0d0d 60%);
    background: -webkit-linear-gradient(to bottom, #aa0004 0%,#ce0d0d 60%);
    background: -ms-linear-gradient(to bottom, #aa0004 0%,#ce0d0d 60%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aa0004), color-stop(60%,#ce0d0d));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa0004', endColorstr='#ce0d0d',GradientType=0 );
}
.owl-carousel {
	.owl-dot {
		span {
			 background-image: url(../images/slideshow-counter.png);
		}
	}
}
.international-links-container {
	font-size: 13px;
}
.international-links-footer-product {
    height: 1px;
}
.international-investor-link {
    margin-top: 140px;
}
.international-investor-link a {
    line-height: 10px;
    float: none;
    padding-left: 0px;
    letter-spacing: 0;
}
.international-investor-link a:hover {
    padding-left: 0px;
}

.shop-brand {
    font-size: 32px;
    font-weight: normal;
    line-height: 22px;
    padding: 15px 0 10px 0 !important;
    font-family: $marcum-original;
}
.categorymenusnew{ 
	a{
		&:hover{
			color:$marcum-hov-red;
			text-decoration:underline;
			.count-products{
				color:$marcum-hov-red;
			}
		}	
	}
	.category-top-level{
	    &.active{
			a{ 
				color:$marcum-hov-red;
				&:hover{ 
					color:$marcum-hov-red;
					.count-products{
						color:$marcum-hov-red;
					}
					
				} 
				.count-products{
					color:$marcum-hov-red;
				}
			} 
			ul{
				.count-products{
					color:$marcum-hov-grey;
				}
			}
		} 
		.category-top-level2{
			li{
				&.active{
					a{
						color:$marcum-hov-red;
						text-decoration:underline;
						.count-products{
							color:$marcum-hov-red;
						}
					}
				}
				a{
					&:hover{
						color:$marcum-hov-red;
						.count-products{
							color:$marcum-hov-red;
						}
					}
				}
			}
		}
	} 
}



/* start of styles for my account page */
#container.pt_account {
	#primary.primary-content {
		.account-section {
			.label {
				.labeltext {
				    color: #666 ;
				    float: none;
				    font-size: 12px ;
				    font-variant: normal;
				    font-weight: normal ;
				    line-height: normal ;
				    text-align: left;
				    width: auto;
				    font-family:$marcum-lucida ;
				    padding: 0;
				    vertical-align: top;
				    }
				}
			.returningcustomers {
				.form-row {
					/* margin: 8px 0 16px 1px; */ 
					@media screen and (max-width: 480px) {
						/* margin: 0px 0 16px 1px; */
					}
				}
			}
			.custom-checkbox {
			    float: left;
			    margin: 2px 0 15px 0;
			    padding: 0;
			    width: 100%;
			    position: relative;
			}
			.cell {
				margin: 25px 0 0 10px;
			}
			.upshift{ 
				.contentboxcontent.account-logs{ 
					h1{
						padding:8px 0 2px;
					} 
				}  
			}
			.createan-account{
				margin-top:23px;
				.contentboxcontent.new-register{ 
					.registration{ 
						.form-row{
							 /* margin: 15px 0 -3px 0px; */
						} 
					}  
				}
			}
		}
	}
	#footernew {
	    top: -110px !important;
	}
}
/* end of styles for my account page */
.pt_storefront {
	#footernew {
    	top: -128px !important;
    }
}
#content {
	.homepage {
		.cell.downshift.featured-1 {
			h2 {
				margin-bottom:0px;
			}
		}
	}
}
.pt_storefront #footernew #footer-brands {
    padding: 50px 16px 20px 17px;
    margin-top: 27px !important;
}
.pt_cart #footernew #footer-brands {
    padding: 50px 16px 20px 17px;
    margin-top: 27px !important;
}
.pt_product-search-result #footernew #footer-brands {
    padding: 50px 16px 20px 17px;
    margin-top: 27px !important;
}
#footernew {
	background-image: url(../images/footer-background.png);
    background-position: 50% 28px;
    .social-icons {
	    #fallow-us-on {
		    ul {
			    .Facebook {
			        padding: 4px 35px 2px 3px;
    				margin: 7px 0 0 0;
			    }
			    .you-tube {
			       margin-top: 13px;
			       padding: 2px 15px 5px 0;
			    }
			    .Instagram {
			        margin-top: 9px;
			    }
		    }
	    }
    }
}
.pt_product-details {
	#footernew {
		background-position: 50% 0;
	}
}
.copyright {
	clear: both;
    padding: 5px 18px 0 0;
}
#footernew .email-subscribe input.emailinput {
	padding: 0 9px 0 8px;
}
body {
	color: black;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,"AppleGothic", Arial, sans-serif;
    font-size: 13px;
    background: white url(../images/container-background-70.jpg) 0 0 repeat;
}
#footernew #footer-brands {
//	padding: 50px 16px 20px 17px;
//  margin-top: 27px !important;
}
#footernew .wrapper .footer-main .footer-left-section .footer-links .footer-heading p, #footernew .wrapper .footer-main .footer-left-section .footer-links #linkheading, #footernew .wrapper .footer-main .footer-left-section .footer-links #linkheading a, .footer-links ul li a, #footernew .social-icons #fallow-us-on ul li a ,#footernew .wrapper .footer-main #linkheading, .copyright, #footernew .email-txt .tooltip-footer, #footernew .email-txt .applay{
	color: #fff;
}
#footernew .social-icons #fallow-us-on ul .you-tube a {
	background: url("../images/youtube-white.svg") no-repeat scroll left top transparent;
    padding-left: 40px;
}
.footer-links ul li a, .footer-links ul li a:hover {
	font-weight: normal;
    color: #f2f2f2;
    font-family:"Lucida Grande","Lucida Sans","Lucida Sans Unicode","Trebuchet MS",Helvetica,Arial,sans-serif;
}
form {
	.label {
        font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,"AppleGothic", Arial, sans-serif;
    	font-weight: bold;
    	color: #333;
    	font-variant:initial;
   		text-transform: uppercase;
    	font-size: 16px;
    	line-height: 16px ;
    	padding-bottom: 2px;
    }
}
#vippage-background {
	form {
		.label {
	        font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,"AppleGothic", Arial, sans-serif;
	    	font-weight: bold !important;
	    	color: #333;
	    	font-variant:initial !important;
	   		text-transform: uppercase;
	    	font-size: 16px !important;
	    	line-height: 16px ;
	    	padding-bottom: 2px;
	    }
	}
}

div {
	.returningcustomers {
		.custom_signin {
			.formfield {
				.form-row {
					.label {
						font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,"AppleGothic", Arial, sans-serif;
				    	font-weight: bold ;
				    	color: #333;
				    	font-variant:initial ;
				   		text-transform: uppercase;
				    	font-size: 16px ;
				    	line-height: 16px ;
				    	padding-bottom: 2px;
						
					}
				}
			}
		}
	}
}



.productdetail {
	.addtocartbar{ 
		.addtocart{ 
			button{ 
				&.addtocartbutton{
					background-image:none;
					float:left;
					width:calc(100% - 50px);
					height:40px;
					line-height:40px;
					color:$marcum-white;
					background-image:none;
					background: rgba(206,13,13,1);
					background: -moz-linear-gradient(top, rgba(206,13,13,1) 0%, rgba(170,0,3,1) 100%);
					background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(206,13,13,1)), color-stop(100%, rgba(170,0,3,1)));
					background: -webkit-linear-gradient(top, rgba(206,13,13,1) 0%, rgba(170,0,3,1) 100%);
					background: -o-linear-gradient(top, rgba(206,13,13,1) 0%, rgba(170,0,3,1) 100%);
					background: -ms-linear-gradient(top, rgba(206,13,13,1) 0%, rgba(170,0,3,1) 100%);
					background: linear-gradient(to bottom, rgba(206,13,13,1) 0%, rgba(170,0,3,1) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce0d0d', endColorstr='#aa0003', GradientType=0 );
					transition: inherit;
					text-transform: inherit;
					border: none;
				}
			}
			.quantity{ 
				.label{ 
					font-size:13px !important;
					font-style:normal; 
					font-weight:normal !important; 
					font-family:$marcum-lucida;
				} 
			} 
		}
	}
}

@media screen and (max-width: 959px) {
	#vippage-background{
		.disign-header-title , 
		h1 {
			font-size:25px;
		 	line-height:30px;
		 	font-weight:normal !important;
		}
	}

				.pt_wish-list,
.pt_leftnav-addressbook,
.pt_order,
.pt_leftnav-payment ,
.pt_leftnav-profile ,
.pt_acc_landing {
	#main{
		#page-background{
			#primary{
				h1{
					font-size:25px;
					line-height:30px;
					font-variant:normal;
				}
			}
		}
	}
}

.pt_acc_landing{ 
	.content-asset{ 
		.account-options{ 
			li{ 
				a{ 
					h2{
						font-size:25px;
						line-height:30px;
					} 
				}
			} 
		} 
	} 
}



	.desktop-view {
    	display: none !important;
    }

	.productdetail {
		a{ 
			&.filter{ 
				span{  font-style:normal; color:$marcum-white;font-weight: normal;}  
				.selectedvarval{color:$marcum-white;}
			} 
		}
		.price{ 
			.salesprice{
				font-style:bold !important;
				font-size:15px !important;
				color:$marcum-hov-red !important;
			}
		}
	}
	.selected,  
	.future{ 
		a{
			&.filter {
			    background-color: #f1f1f1 !important;
			    border-top: 1px solid #d0d0d0;
			    border-right: 1px solid #e8e8e8;
			    border-bottom: 1px solid #f8f8f8;
			    border-left: 1px solid #e8e8e8;
			    color: #333 !important;
			    border-radius: 3px;
			}	
		}
	}
	.current{
		a{ 
			&.filter{
				color:$marcum-white;
				background: rgba(206,13,13,1);
				background: -moz-linear-gradient(top, rgba(206,13,13,1) 0%, rgba(170,0,3,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(206,13,13,1)), color-stop(100%, rgba(170,0,3,1)));
				background: -webkit-linear-gradient(top, rgba(206,13,13,1) 0%, rgba(170,0,3,1) 100%);
				background: -o-linear-gradient(top, rgba(206,13,13,1) 0%, rgba(170,0,3,1) 100%);
				background: -ms-linear-gradient(top, rgba(206,13,13,1) 0%, rgba(170,0,3,1) 100%);
				background: linear-gradient(to bottom, rgba(206,13,13,1) 0%, rgba(170,0,3,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce0d0d', endColorstr='#aa0003', GradientType=0 );
				&:hover{
					background: rgba(170,0,3,1);
					background: -moz-linear-gradient(top, rgba(170,0,3,1) 0%, rgba(206,13,13,1) 100%);
					background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(170,0,3,1)), color-stop(100%, rgba(206,13,13,1)));
					background: -webkit-linear-gradient(top, rgba(170,0,3,1) 0%, rgba(206,13,13,1) 100%);
					background: -o-linear-gradient(top, rgba(170,0,3,1) 0%, rgba(206,13,13,1) 100%);
					background: -ms-linear-gradient(top, rgba(170,0,3,1) 0%, rgba(206,13,13,1) 100%);
					background: linear-gradient(to bottom, rgba(170,0,3,1) 0%, rgba(206,13,13,1) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa0003', endColorstr='#ce0d0d', GradientType=0 );
				}
			} 
		}	
	}
	
	.pt_wish-list,
	.pt_leftnav-addressbook,
	.pt_order,
	.pt_leftnav-payment,
	.pt_account,
	.pt_product-search-result,
	.pt_content-search-result ,
	.pt_leftnav-profile {
		.breadcrumb {
			 background:url(../images/container-background-70.jpg) !important ;
			 height: auto !important;
			 a{
			 	color:$white !important;
			 }
			 .breadcrumb-element{
		 		color:$white !important;
		 		&:after{
		 			color:$white;
		 		}
		 		&:last-element{
		 			font-weight:normal !important;
		 		}
		 	}
		 	.breadcrumb-element-slash{
		 		&:after{
		 			color:$white !important;
		 		}
		 	}
		 	span{
		 		&.breadcrumb-element-slash{
		 			background:none;
		 		}
		 		color:$white;
		 	}
		}
	}
	.pt_wish-list,
	.pt_leftnav-addressbook,
	.pt_order,
	.pt_leftnav-payment{
		.breadcrumb {
				span{
			 	&.breadcrumb-element-slash{
			 		background:none !important;
		 		}
		 	}
		}
	}
	


.pt_product-search-result, 
	.pt_content-search-result{ 
		.contentboxcontent{  
			.left-nav-style{
				font-size:25px;
					line-height:30px;
			}
			h1{ 
				&.leftnav{
					font-size:25px;
					line-height:30px;
				} 
			}		 
		}
	}
	
	
    .pt_storefront {
    	#footernew {
			top:0 !important;
		}
		
		
	}
	#footernew {
		background:none;
		.wrapper {
			.receive-emails {
				a {
					color : $marcum-white;
				}
			}
			.footer-main {
			     background-image: none;
			    margin: 0;
			    width: 100%;
			     box-shadow: inset  0  8px 8px -8px #696868,inset  0 -8px 8px -8px #696868;
			    -moz-box-shadow: inset  0  8px 8px -8px #696868,inset  0 -8px 8px -8px #696868;
			    -webkit-box-shadow: inset  0  8px 8px -8px #696868,inset  0 -8px 8px -8px #696868;
			    -ms-box-shadow: inset  0  8px 8px -8px #696868,inset  0 -8px 8px -8px #696868;
			     .footer-left-section {
			    	.footer-links {
			    		#about,  #customer-service, #More-ways-to-shop, #busniness, #follow_us, #rapala_insider {
	    			     	#linkheading {
	    			     			color:$marcum-black;
	    			     			a {
	    			     			   color:$marcum-black;
	    			     			   span {
	    			     			     color:$marcum-black;
	    			     			   }
	    			     			}
	    			     	}
	    			     }
	    			      #about.expanded,  #customer-service.expanded, #More-ways-to-shop.expanded, #busniness.expanded, #follow_us.expanded, #rapala_insider.expanded {
	    			     	ul {
	    			     	  li {
	    			     	    a {
	    			     	      color:$marcum-black;
	    			     	    }
	    			     	  }
	    			     	}
	    			     	
	    			     }
			    	}
			    }
		    }
	    }
	}
}
@media screen and (max-width: 480px) {
	#container{
		&.pt_account{ 
			#primary {
				#footernew{
					top:0 !important;
				}
				&.primary-content{ 
					.account-section { 
					h1 {
						&.title {
						    line-height: 30px;
						    font-size:25px;
						}
					}
						.createan-account{
							margin: 5px 0 0 0 ;
							} 
							.upshift {
								.contentboxcontent {
									&.account-logs {
										h1 {
										   padding: 0 0 30px 0;
										}
									}
								}
							}
						}  
					}  
				}  
			}
		}
	.marcum-background .logo {
		    background: url(../images/MarCumLogo_mobile-bar.svg) no-repeat center transparent;
		    float: left;
		    width: 100%;
		    margin: 20px 0 20px;
		    min-height: 40px;
	}

	#vippage-background{ 
		#page {
		 .vip-signup-top1{ 
			/* h1{
			 	font-size:36px;
			 	line-height:36px;
			 	}  */
			 }
	 	}
	}
	#vippage-background{ 
		#page{ 
			.contentbox{ 
			.contentboxcontent {
				/* h1{
				 	font-size:25px !important;
				 	line-height:27px !important;
				 	} */
			 	}
			}  
		}  
	}
	
	#RegistrationForm {
		.label {
			span{
			&.labeltext{
				font-size:12px !important;
	    	line-height:12px; 
				}
			}
		}
	}

	form {
		.label {
	    	font-size:12px !important;
	    	line-height:12px; 
	    }
	}
}
@media screen and (max-width: 767px) {
#footernew .wrapper .receive-emails a, #footernew .wrapper .footer-main .footer-left-section .terms-privacy .terms, #footernew .wrapper .footer-main .footer-left-section .terms-privacy .privacy {
	    color: #fff;
}
}
#container.pt_error {
	#primary.primary-content {
		.errorpage {
			.nohits a:hover {
				color:$marcum-white;
			}
			fieldset.nohitsearch {
			    input.box {
				    background: url("../images/search-marcum.png") no-repeat scroll 0 0 transparent;
				}	
				button.btn {
				    background: url("../images/search-marcum.png") no-repeat scroll right top $marcum-bgred;
				    transition: none;
				    &:hover {
				        background: url("../images/search-marcum.png") no-repeat $marcum-bgred;
    					background-position: -202px -28px;
    					transition: none;
				    }
				}
			}
			.errorfooter .errorfooterbottom {
				.content-asset {
					div {
						font-size: 14.3px;
					}
				}
			}
		}
	}
}
.pt_account.acc_landing {
	.content-asset {
		.account-options {
			li {
			    background: $marcum-white;
			    -webkit-box-shadow: #999 0 0 10px;
			    -moz-box-shadow: #999 0 0 10px;
			    box-shadow: #999 0 0 10px;
			    position: relative;
				h2 {
					text-align: center;
					background: none;
					font-family: $marcum-original;
				    font-size: 48px;
				    font-variant: small-caps;
				    font-weight: normal;
				    color:$marcum-list-black;
				}
				p, a{
					color:$marcum-list-black;
				}
				&:hover {
				    background-color: $marcum-bgboxred;
				    border-color:$marcum-bgboxred;
				    a, h2, p {
				    	color:$marcum-list-black;
				    }
				}
			}
		}
	}
}
.pt_product-search-result {
	#page-background {
		#primary {
			.contentboxcontent {
				h1 {
					&.left-nav-style {
					   	color: $white;
					    font-weight: normal;
					    font-size: 32px;
					    font-family: $marcum-original;
					    margin-top:-39px;
					}
				}
			}
		}
	}
}

.product-tile {
    .product-image {
        .quickview {
            background-color: $marcum-redtwo;
			border-style: solid;
			border-width: 1px;
			border-top-color: $marcum-borderone;
			border-right-color: $marcum-bordertwo;
			border-bottom-color: $marcum-borderthree;
			border-left-color: $marcum-borderfour;
        }
        .quickview:hover {
			background-color: $marcum-red;
			text-decoration: none;
			border-top-color: $marcum-hov-borderone;
			border-right-color: $marcum-hov-bordertwo;
			border-bottom-color: $marcum-hov-borderthree;
			border-left-color: $marcum-hov-borderfour;
		}
    }
}

.pt_product-search-result {
	#page-background {
		#primary {
			.search-result-content {
				.product-tile {
					.product-image {
						.quickview {
						    background-color: $marcum-redtwo;
							border-style: solid;
							border-width: 1px;
							border-top-color: $marcum-borderone;
							border-right-color: $marcum-bordertwo;
							border-bottom-color: $marcum-borderthree;
							border-left-color: $marcum-borderfour;
						}
						.quickview:hover {
							background-color: $marcum-red;
							text-decoration: none;
							border-top-color: $marcum-hov-borderone;
							border-right-color: $marcum-hov-bordertwo;
							border-bottom-color: $marcum-hov-borderthree;
							border-left-color: $marcum-hov-borderfour;
						
						}
					}
				}
			}
		}
	}
}
.pt_product-search-result  {
	#page-background {
		#primary {
			.search-result-content {
				.product-tile {
					.product-name {
						a {
							color: $marcum-black;
						}
						a:hover {
							text-decoration: none;
							color:  #ce0d0d;
						}
					}
				}
			}
		}
	}
}
.pt_product-search-result {
	#page-background {
		#primary {
			.search-result-content {
				.product-tile { 
					.product-pricing {
						.product-sales-price {
							    color: $marcum-gray;
								font-size: 11px;
								font-weight: normal;
						}
					}
				}
			}
		}
	}
}
.pt_product-search-result {
	#page-background {
		#primary {
			.search-result-content {
				.product-tile {
					.product-promo {
						text-align: left;
						color: $marcum-red;
						font-family: $marcum-lucida;
						font-size: 10px;
						padding-top: 3px;
						font-weight: normal;
						line-height: 14px;
					}
				}
			}
		}
	}
}

.pt_content-search-result{ 
	#page-background{ 
		#primary{ 
			#tabs{ 
				ul{
					&.search-tabs{ 
						li{ 
							&.active{ 
								a{ 
									span{
										color: $marcum-redtwo;
									} 
								} 
							} 
						} 
					} 
				} 
			}
			.folder-content-list{ 
				li{ 
					a{
					    font-size: 30px;
					    line-height: 30px;
					    font-weight: normal;
					    font-family:$marcum-original;
					    color:$marcum-list-black;
					} 
					p{
						font-family:$marcum-Avant;
						color:$marcum-black;
						font-size:13px;
						 a{
						    &.readmore{
						 		font-family:$marcum-Avant;
						 		color:$marcum-redtwo;
						 		font-weight:bold;
						 		&:hover{
						 			color:$marcum-bgred;
						 		}
						 	}
						 }
					}
				}
			} 
		}
	}
}
.pt_customerservice {
	.accordion{
		&.tabover {
		   background: none repeat scroll 0 0 $marcum-bgboxred;
		}
	}
}
.registration {
	.custom_signup {
		.form-row {
			.label {
				.labeltext {
					vertical-align: top;
				}
			}
		}
	}
}
#headerwrapper {
	#header {
		.row {
			&.column1 {
				.headercustomerinfo {
					.change-regionnew {
					    padding: 9px 12px 8px 0;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 959px) {
.breadcrumb-element-slash:after {
	    content: '/';
	    color:$white;
	}
	.pt_cart {
	   #main {
	     .breadcrumb {
	       color:$white;
	       .breadcrumb-element, .breadcrumb-element-slash{
	       		color:$white;
	       }
	       .breadcrumb-element-slash {
	          color:$white;
	       }
	     }
	  }
	}
	#footernew .wrapper .footer-main .footer-left-section .footer-links .footer-heading p, #footernew .wrapper .footer-main .footer-left-section .footer-links #linkheading, #footernew .wrapper .footer-main .footer-left-section .footer-links #linkheading a, .footer-links ul li a, #footernew .social-icons #fallow-us-on ul li a ,#footernew .wrapper .footer-main #linkheading, .copyright, #footernew .email-txt .tooltip-footer, #footernew .email-txt .applay{
	    color: #000;
	    &:hover {
	      color: #000;
	    }
	}
	.pt_product-details {
		.breadcrumb {
			.wrapper {
				.cell {
					ul {
						.breadcrumb-element-slash {
							&:after {
								content: "/";
								color: #fff;
								vertical-align: middle;
							}
						}	
					}				
				}	
			}	
		}	
	}
	#container {
		&.pt_error {
			#primary {
				&.primary-content {
					.errorpage {
						.errorfooter {
							.errorfooterbottom {
								.content-asset {
									div {
										font-size: 12px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
#footernew {
	.change-region {
	    padding: 5px 18px 8px 0;
	}
}
@media screen and (max-width: 959px) {
	#headerwrapper #header div.logo {
	    margin: 21px 0;
	}
}
.productdetail {
	.price {
	    font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode","Trebuchet MS",Helvetica,Arial,sans-serif;
	    color: $marcum-bgboxred;
	    font-weight: bold;
	    font-size: 15px;
	    line-height: 24px;
	    letter-spacing: 0px;
	}
}
#special-offers {
	.promotion-title{
	    color: $marcum-list-black;
	}
}
.productdetail {
	a{
		&.filter {
			span {
			    color: $marcum-white;
			    font-size: 12px;
			    font-weight: normal;
			}
		}
	}
} 
.breadcrumb ul {
    font-family:$marcum-arial;
    font-size: 11px;
    a,span {
	    font-family: $marcum-lucida;
	    font-size: 11px !important;
	    color: $marcum-white !important;
	    font-weight: bold;
	    text-shadow: 2px 3px 5px $marcum-black;
	}
}
.breadcrumb {
	span {
		&.breadcrumb-element-slash {
		    padding: 0 2px;
		    background: url(../images/arrow-breadcrumb.png) center center no-repeat !important;
		}
	}
}
.pt_product-details {
	.breadcrumb {
		.wrapper {
			.cell {
				ul {
					.breadcrumb-element{
						&:last-child {
							font-weight: bold;
						}
					}	
				}
			}
		}
	}
}
.pt_product-details {
	.productdetail {
		.wrapper {
			~ #page-background {
				.product-info {
					&.column {
						&.tab-sec {
							#tabs {
								ul {
									&.ui-tabs-nav  {
										li {
											&.ui-state-active {
												a {
													background-image: none;
													background: #ce0d0d; /* Old browsers */
													background: -moz-linear-gradient(top,  #ce0d0d 10%, rgba(255,255,255,1) 10%, #ce0d0d 10%, rgba(255,255,255,1) 10%); /* FF3.6-15 */
													background: -webkit-linear-gradient(top,  #ce0d0d 10%,rgba(255,255,255,1) 10%,#ce0d0d 10%,rgba(255,255,255,1) 10%); /* Chrome10-25,Safari5.1-6 */
													background: linear-gradient(to bottom,  #ce0d0d 10%,rgba(255,255,255,1) 10%,#ce0d0d 10%,rgba(255,255,255,1) 10%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
													filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e80000', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
} 
.quickview {
	.ui-dialog-titlebar-close {
		.ui-icon {
		    background-image: url(../images/close-button.png);
		    &:hover {
			    background-position: 0 -34px;
			}
		}
	}
}
.pt_product-details {
	.pdp-main {
		.pdpmain-content {
			.productname{
				font-size:25px;
				line-height: 30px;
				font-variant:normal;
				color:$marcum-white;
				@media screen and (max-width:480px)  {
					color:$marcum-black;
				}
			} 			
		}	
	}	
}
.productdetail {
	.price {
		.salesprice {
		    color: #ce0d0d;
		    font-size: 15px;
		    font-weight: bold;
		    letter-spacing: 0;
		    line-height: 24px;
		}	
	}	
}
.pt_customerservice {
	#content {
		.customer {
			.cell {
				.contentboxcontent {
					h1 {
						font-size: 25px ;
						line-height:30px;
						font-family: $marcum-original;
					}
				}
			}
		}
	}
}
.pt_customerservice {
	.style-cservice {
		.column {
			.contentbox {
				.left-nav-top {
					.contentboxcontent {
						.nav-group {
							padding:0;
							li {
								&.first-level {
									.second-level {
										li {
											&.active {
												a {
													color:$marcum-hov-red;
												}
											}
										}
									}
								}
							}	 
						}	
					}
				}
			}
		}
	}
}
.pt_customerservice {
	.style-cservice {
		.column {
			.contentbox {
				.left-nav-top {
					.contentboxcontent {
						h2.left-nav-style {
							padding: 9.5px 0;
							font-size: 25px ;
							line-height:30px;
							font-family: $marcum-original;
						}
					}
				}
			}
		}
	}
}
.pt_customerservice {
	#content {
		.productsearchbreadcrumb {
			background: url(../images/container-background-70.jpg) ;
		}
	}
}
@media screen and (max-width: 959px) { 
	.pt_customerservice {
			#content {
				.productsearchbreadcrumb {
						.breadcrumb-element {
						    color: #fff;
						}
						.breadcrumb-element-slash:after {
							color: #fff;
						}
				}
			}
		}
#content { 
	.homepage {
		.column {
			&.cell3 {
				.cell{
					&.downshift {
						h2 {
							line-height: 30px;
						}
					}
				}
			}
		}
	}   
}
}
@media screen and (max-width: 959px) {
	.pt_customerservice {
		#content {
			.style-cservice {
				.column {
					&.colspan2 {
						h1 {
							font-size: 25px ;
							line-height:30px;
							font-family: $marcum-original;
						}
						.cellbox {
							&.accordion {
								&.tabover {
									.folder-contentboxcontent {
										background: none repeat scroll 0 0 $marcum-bgboxred;
									}
								}
							}
						}
					}
				} 
			}
		}
	}
}
.paymentinstruments {
	.label {
	    text-transform: uppercase;
	    font-weight: bold;
	    color: #333;
    	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
	    font-weight: bold;
	    font-size: 16px;
	    line-height: 18px;
	}
}
.ui-dialog {
	&.payment-settings {
		.dialog-content {
		    .creditcardform {
		    	.credit-cart-form-title {
	    		    margin: 0;
				    width: 100%;
				    font-style: normal;
				    font-size: 48px;
    				line-height: 48px;
				    font-weight: bold;
		    	}
		    	#CreditCardForm {
		    		.form-row {
		    			.field-wrapper {
		    			}
		    		}
		    	}
		    }
		}
	}
}
.pt_customerservice {
	#content {
		.breadcrumb {
			background: url(../images/container-background-70.jpg) ;
			.breadcrumb-element {
			    color: #fff;
			    background:none;
			}
			.breadcrumb-element-slash:after {
				color: #fff;
			}
			.breadcrumb-element-slash {
				background:none;
			}
		}
	}
}
.pt_product-details {
	.pdp-main {
		.wrapper {
			.pdpmain-content {
				.provideo-spec-link {
					li {
						a {
							color: #fff;
							@media screen and (max-width: 480px) {
								color: #666;	
							}
						}
					}
				}	
			}
		}	
	}	
}
.tab-sec {
	#tabs {
		ul {
			&.ui-tabs-nav {
				li {
					a {
						&:hover {
							span {
								color: #C6262C;
							}
						}
					}
					&.ui-state-active {
						a {
							span {
								color: #C6262C;
							}
						}
					}
				}
			}
		}
	}
}
.small-new{
	&.new-stamp {
		  border-radius: 15px;
		  background-color: #FF0000;
		  font-style: italic;
		  font-family: sans-serif;
		  font-weight: normal;
		  font-size: 10px;
		  color: #fff;
		  padding: 1px 5px;
		  margin-right: 3px;
		  width: auto !important;
		  position: inherit;
          top: -5px;
	}
	&.new-stamp-big {
	  border-radius: 15px;
	  background-color: #FF0000;
	  font-style: italic;
	  font-family: sans-serif;
	  font-weight: normal;
	  font-size: 12px;
	  color: #fff;
	  padding: 4px 8px;
  	  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.65);
	  margin-right: 3px;
	  vertical-align: top;
	}
}
.newFlagColorSize,.newPakSizeFlag {
	.new-colors-snipe,.new-sizes-snipe,.new-pak-size {
		  border-radius: 15px;
		  background-color: #FF0000;
		  font-style: italic;
		  font-family: sans-serif;
		  font-weight: normal;
		  font-size: 10px;
		  color: #fff;
		  padding: 1px 5px;
		  margin-right: 3px;
	}
}
.variationattributes {
	.color {
		ul {
			li {
				a {
					span{
						&.corner-ribbon {
						  background-color: #FF0000;
						  color: #fff;
						}	
					}
				}
			}
		}
	}
}
.productdetail {
	#special-offers{ 
		ul{ 
			li{
				color:$marcum-hov-red;
			}  
		} 
	} 
}
.productdetail .price .price-sales {
	color: #ce0d0d;
}