$marcum-bgred: #ff0000;
$marcum-white: #FFFFFF;
$white: #ffffff;
$marcum-hov-red: #ce0d0d;
$marcum-hov-grey: #4d4d4d;
$marcum-bgboxred: #C6262C;
$marcum-list-black: #333;
$marcum-red: #f00;
$marcum-redtwo: #C6262C;
$marcum-black: #000;
$marcum-gray: #999;
$marcum-red: #E80000;
$marcum-footerheading: #1a1a1a;
// font-family //

// border color //
$marcum-borderone: #A72126;
$marcum-bordertwo: #C32E33;
$marcum-borderthree: #E9ACAE;
$marcum-borderfour: #C32E33;

$marcum-hov-borderone: #D70101;
$marcum-hov-bordertwo: #F90A0A;
$marcum-hov-borderthree: #FF9D9D;
$marcum-hov-borderfour: #F90A0A;

$marcum-arial: Arial, Helvetica, sans-serif;
$marcum-lucida: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
$marcum-original: 'SteelfishEb-Regular', Arial, Helvetica, sans-serif;
$marcum-Avant: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
$marcum-Baskerville: Baskerville, "Times New Roman", Times, serif;