@mixin form-input {
    width: $form-field-width;
    box-shadow: $form-field-box-shadow;
    height: $form-field-height;
    margin: $form-field-margin;
    padding: $form-field-padding;
    float: left;
    display: block;
    overflow: hidden;
    line-height: initial;
    box-sizing: border-box;
    border: $form-field-border;
    border-radius: $form-field-border-radius;
    background: $form-field-bg;
    font-size: $form-field-font-size;
    color: $form-field-color;
    font-family: $form-field-font-family;
}

@mixin form-error {
    display: block;
    background-color: transparent !important;
    color: $font-error-color;
    clear: both;
    position: static;
    font-size: $font-error-font-size;
    line-height: $font-error-line-height;
    font-family: $font-error-font-family;
    font-weight: $font-error-font-weight;
    text-align: left;
}

.form-horizontal {
    .form-row {
        & > label,
        & > .label {
            @include respond(large-up) {
                width: rem($form-horizontal-label-width);
                @include line-height($form-horizontal-label-height);
            }
        }
    }
    .field-wrapper {
        @include respond(large-up) {
            width: rem($form-horizontal-field-width);
            padding-left: rem($form-horizontal-field-padding);
        }
    }
    .form-caption,
    .form-row-button {
        margin-left: rem($form-horizontal-label-width + $form-horizontal-field-padding);
    }
    .form-indent {
        margin-left: rem($form-horizontal-label-width);
        .field-wrapper {
            label {
                float: none;
                width: auto;
            }
        }
    }
    .options-inline {
        .field-wrapper {
            width: auto;
            label {
                width: auto;
            }
        }
    }
    .form-row-type-radio {
        .field-wrapper {
            label {
                width: auto;
                margin-bottom: rem(25px);
            }
        }
    }
    .tooltip {
        margin-left: rem(6px);
    }
}

form:not(.form-horizontal) {
    .tooltip {
        float: right;
        line-height: normal;
    }
}

.form-row {
    margin: $form-row-margin;
    .label,
    label {
        @include label;
    }
}
.field-wrapper {
    margin-bottom: 0px;
    float: none;
    position: relative;
    display: inline-block;
    input[type="text"],
    input[type="tel"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="date"],
    textarea {
        @include form-input;
    }
    textarea {
        max-width: 100%;
        height: $form-textarea-height;
    }
}

.textinput.errorclient,
.selectbox.errorclient {
    background: $error-bg-color !important;
    border: 1px solid $red !important;
}

.requiredindicator {
    float: none;
    color: $required-color;
    margin-left: rem(3px);
}

input[type="checkbox"],
input[type="radio"] {
    opacity: 0;
    position: absolute;
    margin: 0;
    padding: 0;
    &:focus + label::before {
        border: $form-checkbox-hover-border;
    }
    & + label {
        position: relative;
        &::before {
            content: "";
            background: $form-checkbox-bg; // should not be $trans
            border: $form-checkbox-border;
            display: inline-block;
            vertical-align: text-bottom;
            width: $form-checkbox-size;
            height: $form-checkbox-size;
            margin-right: 8px;
            text-align: center;
            transition: background-color, border-color 0.3s;
        }
        &:hover {
            &::before {
                background-color: $form-checkbox-bg !important;
                border: $form-checkbox-hover-border;
            }
        }
    }
}

input[type="checkbox"] {
    &:checked + label::before {
        background: $form-checkbox-checked-bg;
        border: $form-checkbox-checked-border;
    }
}

input[type="radio"] {
    & + label {
        display: block;
        clear: both;
    }
    .options-inline & + label {
        display: inline;
        clear: none;
        &:nth-of-type(n + 2)::before { //all but the first
            margin-left: rem(32px);
        }
    }
    & + label::before {
        border-radius: 50%;
    }
    &:checked + label::before {
        background: $form-radio-checked-bg;
        background-size: 8px;
        border: $form-radio-checked-border;
    }
}

.select-style {
    overflow: hidden;
    display: block; // set display to inline-block to allow a select box to shirnk down to it's natural width (rather than 100%)
    padding-right: $form-dropdown-arrow-icon-width;
    //Hack: IE10 only
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        padding-right: 10px;
    }
    //Hack: IE9 only
    @media all and (min-width: 0\0) and (min-resolution: .001dpcm) {
        padding-right: 0;
    }
    box-sizing: border-box;
    border: $form-field-border;
    border-radius: $form-field-border-radius;
    background: $form-field-bg url("../images/svg-icons/drop-down-arrow.svg") no-repeat scroll;
    background-position: right 10px center;
    -moz-appearance: window;
    select {
        border: 0;
        background: $trans;
        padding: 2px 0 2px 10px;
        height: $form-field-height - $form-field-border-width * 2;
        margin: 0;
        //Hack: IE9 only
        @media all and (min-width: 0\0) and (min-resolution: .001dpcm) {
            padding-right: 10px;
        }
        width: 120%; // in case some browser doesn't support the calc function below
        width: calc(100% + #{$form-dropdown-arrow-icon-width});
        appearance: none;
    }
    label {
        display: none;
    }
}

span.errorclient,
div.errorclient {
    @include form-error;
}
