#headerwrapper {
    #header {
        .row.column1 {
            #minicart {
                @include respond(desktop) {
                    float: none;
                    display: inline-block;
                    margin-left: rem(17px);
                    vertical-align: middle;
                    font-family: $font;
                }
                a.minicart-button,
                #multi-site-one-cart {
                    @include respond(desktop) {
                        display: none;
                    }
                }
                a.minicart-button {
                    @include respond(desktop-down) {
                        text-indent: 0;
                        background: none;
                        border: 1px solid $black;
                        border-radius: 50%;
                        width: rem(36px);
                        height: rem(36px);
                        text-align: center;
                    }
                    .icon {
                        @include respond(desktop-down) {
                            width: rem(21px);
                            height: rem(17px);
                            margin-top: rem(3px);
                        }
                    }
                    span {
                        @include respond(desktop-down) {
                            display: none;
                        }
                    }
                }

                a.minicart-checkout-button {
                    @include respond(desktop) {
                        @include button;
                        height: rem(28px) !important;
                        width: auto;
                        min-width: inherit;
                        @include line-height(28px);
                        padding: 0 rem(10px);
                        border-radius: 0 $button-border-radius $button-border-radius 0;
                        @include font-size(12px);
                        text-transform: none;
                        box-sizing: border-box;
                    }
                }

                .minicarttotal {
                    @include respond(desktop) {
                        height: rem(28px);
                        background: $white;
                        box-shadow: none;
                        border-radius: 0 $button-border-radius $button-border-radius 0;
                        border: $border-secondary;
                    }
                }
            }
        }
    }
}

.minicarticon-cont {
    @include respond(desktop-down) {
        padding: 0;
    }
    .cart-icon {
        @include respond(desktop) {
            background: url("../images/svg-icons/shopping-cart.svg") no-repeat center;
            margin: 0 rem(10px);
            height: rem(30px);
        }
    }
    .cart-value {
        font-family: $font;
        font-weight: normal;
        @include font-size(12px);
        @include line-height(28px);
        text-transform: none;
        color: $night-rider;
        padding: 0 rem(10px) 0 0;
    }
}
