.store-locator-header {
    background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top transparent;
    font-size: 1.75em;
    font-style: italic;
    font-weight: 400;
    margin: 20px 0 0;
    padding: 20px 0;
}

.store-information {
    background: none repeat scroll 0 0 $gainsboro;
    border-bottom: 1px solid $white;
}

.store-name {
    font-weight: bold;
    margin: 0 0 10px;
}

.store-map {
    border-bottom: 1px solid $gainsboro;
}

.store-locator-details {
    float: left;
    width: 44%;
    img {
        max-width: 100%;
    }
    h1,
    p {
        margin: 0.25em 0;
    }
}

.store-locator-details-map {
    float: right;
    width: 50%;
    img {
        max-width: 100%;
    }
}

.pt_store-locator,
.pt_customerservice {
    .breadcrumb {
        float: left;
        width: 100%;
        box-sizing: border-box;
        display: none;
        -moz-box-shadow: inset 0 8px 8px -8px $dove-gray, inset 0 -8px 8px -8px $dove-gray;
        -webkit-box-shadow: inset 0 8px 8px -8px $dove-gray, inset 0 -8px 8px -8px $dove-gray;
        box-shadow: inset 0 8px 8px -8px $dove-gray, inset 0 -8px 8px -8px $dove-gray;
        @include respond(0, $desktop-breakpoint - 1) {
            display: block;
        }
        a {
            color: $night-rider;
        }
        .breadcrumb-element-slash {
            /*padding: 0 10px;*/
        }
    }
    .storelocator {
        .cell {
            padding: 0;
            margin: 18px;
        }
        h1 {
            padding-bottom: 18px;
        }
        .contentboxcontent {
            h2 {
                border: 0;
                padding: 0;
            }
            float: left;
            width: 92.8%;
            box-sizing: border-box;
            .store-Locator-page,
            .service-locator-form {
                .form-row {
                    @include respond($medium-breakpoint + 1, $desktop-breakpoint - 1) {
                        margin-bottom: 2em;
                        width: 166px;
                    }
                }
                .mobile-style {
                    @include respond($medium-breakpoint + 1, $desktop-breakpoint - 1) {
                        text-align: center;
                        .stack {
                            float: none;
                            display: inline-block;
                            &.buttonstack {
                                vertical-align: top;
                            }
                        }
                    }
                }
            }

        }
        .zipsearchactions {
            width: 100%;
            text-align: left;
            padding: 18px 0 0 0;
            .stack {
                float: left;
                margin: 0 14px 0 0;
                @include respond(0, $medium-breakpoint) {
                    width: 100%;
                    margin: 0 auto;
                    text-align: center;
                }
                .form-row {
                    @include respond(0, $medium-breakpoint) {
                        margin: 0;
                        padding: 0;
                    }
                    .label {
                        @include respond(0, $medium-breakpoint) {
                            text-align: center;
                        }
                        .requiredindicator {
                            @include respond(0, $medium-breakpoint) {
                                float: none;
                            }
                        }
                    }
                    .field-wrapper {
                        @include respond(0, $medium-breakpoint) {
                            padding-bottom: 20px;
                        }
                        .textinput,
                        .input-select {
                            @include respond(0, $medium-breakpoint) {
                                float: none;
                                margin: 0 auto;
                                width: 200px;
                                height: 30px;
                                border-radius: 3px;
                            }
                        }
                    }
                }
                .label {
                    display: block;
                }
            }
            .buttonstack {
                margin: 0;
                @include respond(0, $medium-breakpoint) {
                    width: 100%;
                    margin: 0 auto;
                    text-align: center;
                }
                .label {
                    @include respond(0, $medium-breakpoint) {
                        display: none;
                    }
                }
                button {
                    @include respond(0, $medium-breakpoint) {
                        height: 50px;
                        width: 300px;
                        float: none;
                        margin: 0 auto;
                    }
                }
            }
            button {
                clear: none;
                margin: 2px 4px 0 0;
                @include respond(0, $desktop-breakpoint - 1) {
                    height: 30px;
                    width: 170px;
                    margin-top: 5px;
                }
            }
            .messagestack {
                margin: 0;
                float: right;
                @include respond(0, $medium-breakpoint) {
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
                .label {
                    @include respond(0, $medium-breakpoint) {
                        display: none;
                    }
                }
            }
            #message {
                &.success {
                    clear: none;
                    float: right;
                    margin: 1px;
                    @include respond(0, $medium-breakpoint) {
                        border-color: $success-green;
                        background-color: $sucess-light-green;
                    }
                }
            }
        }
        .form-row {
            float: left;
            @include respond(0, $medium-breakpoint) {
                width: 100%;
                padding: 0 0 20px 0;
            }
            .field-wrapper {
                display: block;
                .checkbox {
                    float: left;
                    margin-right: 5px;
                    input {
                        padding: 0;
                        margin: 0;
                        line-height: 12px;
                        height: inherit;
                        border: 1px solid $alto2;
                        background: $cloudy;
                        border-radius: 0;
                        @include respond(0, $desktop-breakpoint - 1) {
                            height: 30px;
                            width: 30px;
                            border: 1px solid $alto2;
                            background: $cloudy;
                        }
                    }
                }
            }
            .label {
                margin-right: 15px;
                font-size: 12px;
                display: inline-block;
                vertical-align: middle;
                line-height: initial;
                font-weight: bold;
                font-variant: normal;
                @include respond(0, $desktop-breakpoint - 1) {
                    padding: 7px;
                    margin: 0;
                }
            }
        }
        .storeresult {
            background: $shaded-grey;
            margin: 18px 0;
            padding: 18px;
            div {
                font-size: 11px;
            }
            .button {
                width: 90px;
                text-align: center;
                margin: 9px 0 0 0;
                height: 18px;
                line-height: 18px;
                text-transform: none;
                font-size: 10px;
                padding: 0 9px;
            }
            img {
                margin: 0 9px 0 0;
            }
        }
        .storeinformation {
            float: left;
            width: 216px;
            @include respond($medium-breakpoint, $desktop-breakpoint - 1) {
                width: 180px;
                margin-right: 1em;
            }
        }
        .storebrands {
            float: left;
            width: 482px;
            @include respond($medium-breakpoint, $desktop-breakpoint - 1) {
                width: calc(100% - 310px);
            }
        }
        .storephone,
        .brandlabel,
        .storedistance {
            color: $nobel;
            font-style: italic;
        }
        .storemap {
            width: 110px;
            float: right;
        }
    }
}

img {
    &.logo {
        &.medium {
            border: 1px solid $border-very-light-gray;
            padding: 0;
            margin: 18px;
            width: 48px;
        }
    }
}

.pt_customerservice .storelocator .contentboxcontent h2,
.pt_store-locator .storelocator .contentboxcontent h2 {
    font-size: 15px;
    line-height: normal;
}

.storelocatorzipsearch {
    .form-row {
        &.label-inline {
            .label {
                .labeltext {
                    text-transform: capitalize;
                    font-size: 12px;
                }
            }
        }
    }
}

.storelocator {
    h3 {
        display: block;
        clear: both;
        margin: 0 0 18px 0;
        padding: 5px 18px;
        line-height: 18px;
        font-family: $lucida-font-family;
        font-size: 11px;
        font-style: normal;
        font-variant: normal;
        border-width: 1px;
        border-style: solid;
        background-repeat: no-repeat;
        border-color: $light-blue;
        background-color: $white-grey;
        padding: 5px 18px 5px 36px;
        color: $bip-brown;
        border-color: $dip-red;
        background-color: $light-pink;
        background-image: url("../images/icon-alert-db1c23.png");
        background-position: 12px 8px;
        font-weight: bold;
    }
}

.pt_customerservice {
    #content {
        .style-cservice {
            .column {
                &.servicestorelocator {
                    .cell {
                        margin: 18px;
                    }
                }
            }
        }
    }
}

.pt_customerservice,
.pt_store-locator {
    .servicestorelocator {
        .zipsearchactions {
            .messagestack {
                margin: 0;
                float: none;
                h3 {
                    margin: 18px 0 0;
                }
            }
            #message {
                &.success {
                    clear: none;
                    float: none;
                    margin: 18px 0 0;
                }
            }
        }
    }
}

.pt_store-locator .storelocator .contentboxcontent .store-Locator-page .mobile-style .stack.less-mobile-padding .field-wrapper {
    background: url("../images/down-arrow.svg") no-repeat;
    background-position: 94% 14px;
    border: 1px solid $very-light-gray;
    @include respond(0, $medium-breakpoint) {
        background-position: 97% 14px;
    }
    .input-select {
        padding: 0 9px;
        opacity: 0;
        margin: 0;
    }
    .selectorOut {
        line-height: 28px;
    }
}

@include respond($medium-breakpoint + 1, 736px) {
    .pt_store-locator .storelocator .contentboxcontent .store-Locator-page .form-row {
        width: 133px;
    }
}

#customer-become-a-dealer .formfields .formfield.custom-select,
#customer-dealer-locator-additions .formfields .formfield.custom-select {
    &.customselect-error {
        .value {
            border-color: red;
        }
    }
    .value {
        border: 1px solid $very-light-gray;
        background: url("../images/down-arrow.svg") 94% 12px no-repeat;
        display: -webkit-box;
        float: left;
        width: 100%;
        @include respond(0, $desktop-breakpoint - 1) {
            background-position: 98% 14px;
        }
        .selectbox {
            margin: 0;
        }
        .selectorOut {
            top: 19px !important;
            left: 0;
            line-height: 26px;
        }
    }
}

.pt_customerservice .less-mobile-padding.custom-select {
    .field-wrapper {
        border: 1px solid $very-light-gray;
        background: url("../images/down-arrow.svg") 94% 12px no-repeat !important;
        display: -webkit-box;
        float: left;
        width: 100%;
        .selectorOut {
            left: 0;
            line-height: 28px;
        }
    }
    select {
        opacity: 0;
        margin: 0;
    }
}

.pt_store-locator .storelocator .storeresult div.storedistance,
.pt_customerservice .storelocator .storeresult div.storedistance {
    font-size: 14px;
    padding-bottom: 5px;
}

.pt_customerservice .storelocator .zipsearchactions button.submitdealer-button {
    width: auto !important;
}
