.pt_product-search-result {
    #content {
        #page-background {
            background: none;
            padding: 0;
        }
    }
}

.shop-brand {
    @include h1;
}


.pt_product-search-result {
    #page-background {
        #primary {
            p {
                font-family: $font;
            }
            .contentboxcontent {
                h1.search-result,
                h1 {
                    @include h1;
                }
            }
            .search-top {
                .searchresultsheader {
                    background: $background;
                    .pagination {
                        .toggle-grid {
                            p,
                            i,
                            i.active,
                            span {
                                font-family: $font;
                            }
                        }
                    }
                    .results-hits {
                        font-family: $font;
                    }
                    .sortitem-blk {
                        select {
                            font-family: $font;
                        }
                    }
                    li {
                        font-family: $font;
                        &.current-page {
                            font-family: $font;
                            a {
                                font-family: $font;
                            }
                        }
                        a {
                            font-family: $font;
                        }
                    }
                }
            }
            .search-result-content {
                div.subcat-header {
                    background: $background;
                    h2 {
                        font-family: $font;
                    }
                }
                .product-tile {
                    .product-image {
                        .quickview {
                            @include quickview;
                        }
                    }
                    .product-swatches {
                        a.product-swatches-all {
                            font-family: $font;
                        }
                    }
                    .product-name {
                        a {
                            font-family: $font;
                        }
                    }
                    .product-pricing {
                        .product-sales-price {
                            font-family: $pdp-price-font-family;
                            font-weight: $pdp-price-font-weight;
                            letter-spacing: $pdp-price-letter-spacing;
                            color: $pdp-price-color;
                        }
                        .product-standard-price {
                            font-family: $pdp-price-font-family;
                            font-weight: $pdp-price-font-weight;
                            letter-spacing: $pdp-price-letter-spacing;
                            color: $pdp-price-sale-color;
                        }
                    }
                }
            }
            .search-blk {
                .resultstext,
                a {
                    font-family: $font;
                }
            }
        }
        .row.column3 {
            .column {
                .cell {
                    .contentboxcontent {
                        box-shadow: none;
                        border: $border;
                        font-family: $font;
                        background: $background;
                        h2 {
                            border: $border;
                            font-family: $font;
                            background: $background-secondary;
                            &:after {
                                border-color: $background-secondary transparent transparent;
                            }
                        }
                    }
                }
            }
        }
        .cell.contentbox.upshift {
            box-shadow: none;
        }
    }
    .searchrefinements {
        .refinement {
            .filter {
                @include clp-refinement-title;
            }
            ul {
                li {
                    margin: rem(5px) 0;
                    &.selected {
                        a {
                            background: url("../images/svg-icons/checkmark-selected.svg") no-repeat center left;
                            @include line-height(18px);
                            height: rem(18px);
                        }
                    }
                    a {
                        display: block;
                        background: url("../images/svg-icons/checkmark-not-selected.svg") no-repeat center left;
                        @include line-height(18px);
                        height: rem(18px);

                        &:hover {
                            background: url("../images/svg-icons/checkmark-selected.svg") no-repeat center left;
                            @include line-height(18px);
                            height: rem(18px);
                        }
                    }
                }
            }
        }
    }
}

.subcat-header {
    a {
        font-family: $font;
    }
}

.categorymenusnew {
    a {
        font-family: $font;
    }
    .category-top-level.active {
        & > a {
            font-family: $font;
        }
        ul {
            a {
                font-family: $font;
            }
        }
    }
}

.refinement {
    .clear-refinement {
        a {
            font-family: $font;
        }
    }
}

.refinements {
    .contentbox {
        & > div {
            border: $border;
        }
    }
}
