@import url("../css/MyFontsWebfontsKit.css");
body {
  color: #333;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  background: white url(../images/body-background-70.jpg) 50% 0 no-repeat; }
  body.js-body {
    background: none; }
  body .js-container-active .open-menu-wrap {
    background: white url(../images/body-background-70.jpg) 50% -105px no-repeat; }

/* <a> styles */
a {
  color: #D2232A;
  text-decoration: none; }

a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #EE060F; }

/* H1-H6 */
h1, h2, h4, h5, h6, .h-one-tag {
  font-family: 'Eurostile-Bla';
  font-weight: normal;
  color: #030303;
  text-transform: uppercase; }

h1, .h-one-tag {
  font-size: 25px;
  line-height: 25px;
  font-weight: bold;
  letter-spacing: 0;
  margin: 0; }

h2 {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0;
  color: #D2232A; }

.contentboxcontent.account-logs h1 {
  font-weight: normal; }

.pt_productsearchresult #page-background .row.column3 .colspan2.cell4 .contentboxcontent a.searchedfor {
  color: #e12626; }

.categorymenusnew .category-top-level > a:hover .count-products, .categorymenusnew li.active > a .count-products {
  color: #e12626; }

#footernew .domainswitch {
  bottom: -35px; }

h3 {
  font-size: 16px;
  line-height: 16px;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #333333;
  font-style: italic;
  text-transform: none; }

h4 {
  font-size: 24px;
  line-height: 24px; }

h5 {
  font-size: 18px;
  line-height: 18px; }

h6 {
  font-size: 16px;
  line-height: 16px; }

h1.left-nav-style {
  padding-bottom: 6px;
  border-bottom: #CCC solid 1px; }

h2.input-style {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  padding-bottom: 2px;
  color: #030303; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: black;
  text-decoration: none; }

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #EE2E24;
  text-decoration: none; }

p {
  color: #030303;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: normal;
  word-spacing: normal;
  line-height: 18px;
  padding: 9px 0 9px 0;
  text-align: left; }

p a {
  font-weight: bold; }

a {
  color: #D2232A;
  text-decoration: none; }
  a.filter {
    margin: 18px 0 0;
    display: block;
    clear: left;
    float: left;
    width: 184px;
    line-height: 18px;
    font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0;
    color: #fff;
    padding: 5px 28px 5px 10px;
    border-style: solid;
    border-width: 1px;
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-image: url(../images/arrow-filter-expand-big.png);
    background: #e12626;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #e12626), color-stop(100%, #ac0000));
    background: linear-gradient(to bottom, #e12626 0%, #ac0000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e12626', endColorstr='#ac0000', GradientType=0 );
    border-top-color: #C3050C;
    border-right-color: #A8040B;
    border-bottom-color: #F0272F;
    border-left-color: #F2444B; }
    a.filter:hover {
      background: #ac0000;
      background: -webkit-gradient(left top, left bottom, color-stop(0%, #ac0000), color-stop(100%, #e12626));
      background: linear-gradient(to bottom, #ac0000 0%, #e12626 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac0000', endColorstr='#e12626', GradientType=0 );
      border-top-color: #C3050C;
      border-right-color: #A8040B;
      border-bottom-color: #F0272F;
      border-left-color: #F2444B;
      text-decoration: none; }

a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #EE060F; }

#content .homepage .downshift h1, #content .homepage .downshift h2 {
  padding-top: 1px; }

.pt_leftnav-profile #primary #RegistrationForm .form-row .label .labeltext {
  font-weight: normal; }

.pt_leftnav-profile #primary #RegistrationForm legend {
  font-family: "Eurostile-Bla";
  font-weight: normal; }
  .pt_leftnav-profile #primary #RegistrationForm legend .dialog-required .required-indicator {
    font-weight: normal; }

.pt_store-locator .storelocator h1 {
  text-transform: uppercase;
  font-vairant: normal; }

.pt_store-locator .storelocatorzipsearch .stack .form-row .label {
  font-family: 'Eurostile-Bla';
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal; }

.pt_order .search-result-items li .order-history-header .order-status .value {
  color: red; }

.pt_order .search-result-items li .order-history-items .order-history-table th {
  font-family: "Eurostile-Bla";
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  color: #030303; }

.pt_order .search-result-items li .order-history-items .order-history-table tr .order-price .value {
  font-family: Baskerville, "Times New Roman", Times, serif;
  color: #D2232A;
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
  line-height: 30px; }

.pt_acc_landing .content-asset .account-options li {
  transition: none; }
  .pt_acc_landing .content-asset .account-options li a {
    transition: none; }
    .pt_acc_landing .content-asset .account-options li a h2 {
      font-family: "Eurostile-Bla";
      text-transform: uppercase;
      font-size: 25px;
      line-height: 25px;
      padding: 10px 0;
      color: #333; }
    .pt_acc_landing .content-asset .account-options li a p {
      text-transform: capitalize; }
  .pt_acc_landing .content-asset .account-options li:hover {
    background-color: #D2232A;
    border-color: #D2232A;
    transition: none; }
    .pt_acc_landing .content-asset .account-options li:hover h2 {
      color: #030303; }
    .pt_acc_landing .content-asset .account-options li:hover p {
      color: #030303; }
    .pt_acc_landing .content-asset .account-options li:hover i {
      color: #030303; }

.pt_wish-list #main .item-details .product-list-item span.price-sales {
  color: #D2232A;
  font-size: 15px; }

.pt_wish-list #main #page-background #secondary h2,
.pt_leftnav-addressbook #main #page-background #secondary h2,
.pt_order #main #page-background #secondary h2,
.pt_leftnav-payment #main #page-background #secondary h2,
.pt_leftnav-profile #main #page-background #secondary h2,
.pt_acc_landing #main #page-background #secondary h2 {
  color: #D2232A; }

.pt_leftnav-addressbook #main .breadcrumb {
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif; }

.pt_leftnav-addressbook #addresses .address-list .address-tile .mini-address-title {
  font-family: "Eurostile-Bla";
  color: #030303;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase; }

.ui-dialog.addressadd #dialog-container .form-horizontal .form-row.form-row-button button.simple {
  background-color: #D2232A;
  color: #030303; }
  .ui-dialog.addressadd #dialog-container .form-horizontal .form-row.form-row-button button.simple:hover {
    background: #EE060F; }

.orderdetails .order-information .order-number .label {
  font-size: 25px;
  line-height: 25px;
  font-weight: bold;
  font-family: "Eurostile-Bla";
  font-weight: normal;
  color: #030303;
  text-transform: uppercase;
  font-style: normal; }

.orderdetails .order-information .order-number .value {
  font-size: 25px;
  line-height: 25px;
  font-weight: bold;
  font-family: "Eurostile-Bla";
  font-weight: normal;
  color: #030303;
  text-transform: uppercase;
  font-style: normal; }

.orderdetails .order-payment-summary .label,
.orderdetails .order-billing .label,
.orderdetails .order-shipment-address .label,
.orderdetails .line-item-details .label,
.orderdetails .line-item-quantity .label,
.orderdetails .line-item-price .label {
  color: #030303;
  font-family: "Eurostile-Bla";
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase; }

.orderdetails .line-items .line-item .line-item-price {
  font-family: Baskerville, "Times New Roman", Times, serif;
  color: #D2232A;
  font-weight: bold;
  font-style: italic;
  font-size: 24px;
  line-height: 24px; }
  .orderdetails .line-items .line-item .line-item-price .label {
    color: #030303;
    font-family: "Eurostile-Bla";
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    font-style: normal; }

.pt_customerservice .historymilestones h1,
.pt_customerservice .ourlegacy h1 {
  font-weight: bold !important;
  margin-bottom: 0; }

.pt_customerservice form .formfields .formactions button {
  margin: 14px 0 36px 0;
  display: block;
  clear: left;
  float: left;
  width: 129px;
  height: 30px;
  line-height: 30px;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #030303;
  padding: 0 18px 0 18px;
  background: #D2232A;
  border-style: solid;
  border-width: 1px;
  box-shadow: none;
  border-radius: 0;
  border-top-color: #AC1D22;
  border-right-color: #94191E;
  border-bottom-color: #D84046;
  border-left-color: #DD5A5F; }
  .pt_customerservice form .formfields .formactions button:hover {
    background: #EE060F;
    text-decoration: none;
    /*border-top-color: #0056AC;
							border-right-color: #0064C7;
							border-bottom-color: #9DC4EB;
							border-left-color: #0064C7;*/
    cursor: pointer; }

/*buttons*/
a.button, button {
  margin: 0;
  display: block;
  clear: left;
  float: left;
  height: 28px;
  line-height: 28px;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #030303;
  padding: 0 18px 0 18px;
  background-color: #D2232A;
  border-style: solid;
  border-width: 1px;
  border-top-color: #AC1D22;
  border-right-color: #94191E;
  border-bottom-color: #D84046;
  border-left-color: #DD5A5F; }

a.button:hover, button:hover {
  background: #EE060F;
  text-decoration: none;
  /*border-top-color: #0056AC;
	border-right-color: #0064C7;
	border-bottom-color: #9DC4EB;
	border-left-color: #0064C7;*/
  cursor: pointer; }

.addTo-cart-section a.button:hover, .addTo-cart-section button:hover {
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ac0000), color-stop(100%, #e12626)) !important;
  background: linear-gradient(to bottom, #ac0000 0%, #e12626 100%) !important;
  text-decoration: none;
  /*border-top-color: #0056AC;
		border-right-color: #0064C7;
		border-bottom-color: #9DC4EB;
		border-left-color: #0064C7;*/
  cursor: pointer; }

h1.search-result {
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 36px; }

.pt_product-search-result #page-background #primary .search-blk a {
  display: inline-block;
  text-transform: capitalize;
  color: #e12626; }
  .pt_product-search-result #page-background #primary .search-blk a:hover {
    text-decoration: none; }

.owl-carousel .owl-dot span {
  background-image: url(../images/slideshow-counter.png); }

#headerwrapper #header .row.column1 #minicart #multi-site-one-cart {
  background-image: url(../images/multi-site-one-cart-bg-right.png);
  background-color: none;
  background-position: right top; }

#headerwrapper #header .row.column1 #minicart #multi-site-one-cart span {
  color: #fff;
  font-weight: normal;
  width: 58px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  text-transform: capitalize;
  background-image: url(../images/multi-site-one-cart-bg.png); }

#headerwrapper #header .row.column1 #minicart #multi-site-one-cart span {
  color: #fff;
  font-weight: normal;
  width: 58px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  text-transform: capitalize;
  background-image: url(../images/multi-site-one-cart-bg.png); }

.minicarticon-cont .cart-icon {
  background: url(../images/cart.png) 0 6px no-repeat;
  width: 30px;
  float: left;
  height: 30px;
  margin: 0 5px 0 10px; }

#headerwrapper #header .row.column1 #minicart a.minicart-button {
  color: #E80000; }
  #headerwrapper #header .row.column1 #minicart a.minicart-button:hover {
    color: #e12626; }

#headerwrapper #header .row.column1 #minicart a.minicart-checkout-button {
  background: linear-gradient(to bottom, #e12626 60%, #ac0000 100%);
  background: -ms-linear-gradient(to bottom, #e12626 60%, #ac0000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #e12626), color-stop(100%, #ac0000));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e12626', endColorstr='#ac0000',GradientType=0 );
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 7px 0;
  height: 17px;
  text-indent: 0;
  font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode","Trebuchet MS",Helvetica,Arial,sans-serif;
  font-size: 11px;
  border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0; }

#headerwrapper #header .row.column1 #minicart a.minicart-checkout-button:hover {
  background: linear-gradient(to bottom, #ac0000 0%, #e12626 60%);
  background: -ms-linear-gradient(to bottom, #ac0000 0%, #e12626 60%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ac0000), color-stop(60%, #e12626));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac0000', endColorstr='#e12626',GradientType=0 ); }

.shop-brand {
  font-size: 16px;
  font-family: "Eurostile-Bla";
  font-weight: normal;
  line-height: 22px;
  padding: 15px 0 5px !important; }

.categorymenusnew a:hover {
  color: #e12626;
  text-decoration: underline; }

.categorymenusnew .category-top-level.active a {
  color: #e12626; }
  .categorymenusnew .category-top-level.active a:hover {
    color: #e12626; }
    .categorymenusnew .category-top-level.active a:hover .count-products {
      color: #e12626; }
  .categorymenusnew .category-top-level.active a .count-products {
    color: #e12626; }

.categorymenusnew .category-top-level.active ul .count-products {
  color: #4d4d4d; }

.categorymenusnew .category-top-level .category-top-level2 li.active a {
  color: #e12626;
  text-decoration: underline; }
  .categorymenusnew .category-top-level .category-top-level2 li.active a .count-products {
    color: #e12626; }

.categorymenusnew .category-top-level .category-top-level2 li a:hover {
  color: #e12626; }
  .categorymenusnew .category-top-level .category-top-level2 li a:hover .count-products {
    color: #e12626; }

/* start of styles for my account page */
#container.pt_account #primary.primary-content .account-section .label .labeltext {
  color: #666;
  float: none;
  font-size: 12px;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-align: left;
  width: auto;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  padding: 0;
  vertical-align: top; }

#container.pt_account #primary.primary-content .account-section .returningcustomers .form-row {
  /* margin: 8px 0 16px 1px; */ }
  @media screen and (max-width: 480px) {
    #container.pt_account #primary.primary-content .account-section .returningcustomers .form-row {
      /* margin: 0px 0 16px 1px; */ } }

#container.pt_account #primary.primary-content .account-section .custom-checkbox {
  float: left;
  margin: 2px 0 15px 0;
  padding: 0;
  width: 100%;
  position: relative; }

#container.pt_account #primary.primary-content .account-section .cell {
  margin: 25px 0 0 10px; }

#container.pt_account #primary.primary-content .account-section .upshift .contentboxcontent.account-logs h1 {
  padding: 8px 0 2px; }

#container.pt_account #primary.primary-content .account-section .createan-account {
  margin-top: 23px; }
  #container.pt_account #primary.primary-content .account-section .createan-account .contentboxcontent.new-register .registration .form-row {
    /* margin: 15px 0 -3px 0px; */ }

/* end of styles for my account page */
.international-links-container {
  font-size: 12px; }

.international-investor-link {
  margin-top: 90px;
  color: #333333; }

.international-links-footer-product {
  height: 1px; }

.international-investor-link a {
  line-height: 10px;
  float: none;
  padding-left: 0px;
  letter-spacing: 0;
  color: #333333; }

.international-investor-link a:hover {
  padding-left: 0px;
  color: #333333; }

.pt_content-search-result #footernew {
  top: 0 !important; }

#footernew {
  background-image: url(../images/footer-background.png);
  background-position: 50% 28px; }
  #footernew .social-icons #fallow-us-on ul .Facebook {
    padding: 2px 35px 2px 3px;
    margin: 7px 0 0 0; }
  #footernew .social-icons #fallow-us-on ul .you-tube {
    margin-top: 13px; }
  #footernew .social-icons #fallow-us-on ul .Instagram {
    margin-top: 14px; }

form .label {
  font-family: 'Eurostile-Bla';
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  font-variant: initial;
  font-weight: normal;
  padding-bottom: 2px;
  color: #030303; }

#vippage-background form .label {
  font-family: 'Eurostile-Bla';
  text-transform: uppercase !important;
  font-size: 14px !important;
  line-height: 14px;
  font-variant: initial !important;
  font-weight: normal !important;
  padding-bottom: 2px;
  color: #030303; }

div .returningcustomers .custom_signin .formfield .form-row .label {
  font-family: 'Eurostile-Bla';
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  font-variant: initial;
  font-weight: normal;
  padding-bottom: 2px;
  color: #030303; }

.copyright {
  clear: both;
  padding: 5px 18px 0 0; }

#footernew #footer-brands {
  background: none repeat scroll 0 0 transparent;
  clear: both;
  margin: 27px auto 0 auto;
  padding: 50px 16px 20px 17px;
  width: 835px; }

.productdetail .addtocartbar .addtocart button.addtocartbutton {
  background-image: none;
  float: left;
  width: calc(100% - 50px);
  height: 40px;
  line-height: 40px;
  color: #ffffff;
  background-image: none;
  background: #e12626;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #e12626), color-stop(100%, #ac0000));
  background: linear-gradient(to bottom, #e12626 0%, #ac0000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e12626', endColorstr='#ac0000', GradientType=0 );
  transition: inherit;
  text-transform: inherit;
  border: none; }

.productdetail .addtocartbar .addtocart .quantity .label {
  font-size: 13px !important;
  font-style: normal;
  font-weight: normal !important;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif; }

@media screen and (max-width: 959px) {
  #vippage-background .disign-header-title,
  #vippage-background h1 {
    font-size: 18px;
    line-height: 24px;
    font-weight: normal !important; }
  .pt_wish-list #main #page-background #primary h1,
  .pt_leftnav-addressbook #main #page-background #primary h1,
  .pt_order #main #page-background #primary h1,
  .pt_leftnav-payment #main #page-background #primary h1,
  .pt_leftnav-profile #main #page-background #primary h1,
  .pt_acc_landing #main #page-background #primary h1 {
    font-size: 24px;
    line-height: 28px;
    font-variant: normal; }
  .pt_acc_landing .content-asset .account-options li a h2 {
    font-size: 20px;
    line-height: 24px; }
  #container.pt_product-search-noresult .breadcrumb {
    background: url(../images/body-background-70.jpg) repeat-x; }
  .desktop-view {
    display: none !important; }
  .pt_product-details .pdp-main .pdpmain-content .productname {
    font-size: 20px;
    line-height: 25px;
    font-variant: normal; }
  .productdetail a.filter span {
    font-style: normal;
    color: #fff;
    font-weight: bold; }
  .productdetail a.filter .selectedvarval {
    color: #ffffff; }
  .productdetail .price .salesprice {
    font-style: bold !important;
    font-size: 15px !important;
    color: #e12626 !important; }
  .selected a.filter,
  .future a.filter {
    background-color: #f1f1f1 !important;
    border-top: 1px solid #d0d0d0;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #f8f8f8;
    border-left: 1px solid #e8e8e8;
    color: #333 !important;
    border-radius: 3px; }
  .current a.filter {
    color: #ffffff;
    background: #e12626;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #e12626), color-stop(100%, #ac0000));
    background: linear-gradient(to bottom, #e12626 0%, #ac0000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e12626', endColorstr='#ac0000', GradientType=0 ); }
    .current a.filter:hover {
      background: #ac0000;
      background: -webkit-gradient(left top, left bottom, color-stop(0%, #ac0000), color-stop(100%, #e12626));
      background: linear-gradient(to bottom, #ac0000 0%, #e12626 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac0000', endColorstr='#e12626', GradientType=0 ); }
  .pt_wish-list .breadcrumb,
  .pt_leftnav-addressbook .breadcrumb,
  .pt_order .breadcrumb,
  .pt_leftnav-payment .breadcrumb,
  .pt_account .breadcrumb,
  .pt_product-search-result .breadcrumb,
  .pt_content-search-result .breadcrumb,
  .pt_leftnav-profile .breadcrumb {
    background: url(../images/body-background-70.jpg) !important;
    height: auto !important;
    font-size: 13px; }
  .pt_product-search-result .contentboxcontent .left-nav-style,
  .pt_content-search-result .contentboxcontent .left-nav-style {
    font-size: 18px;
    line-height: 24px; }
  .pt_product-search-result .contentboxcontent h1.leftnav,
  .pt_content-search-result .contentboxcontent h1.leftnav {
    font-size: 18px;
    line-height: 24px; }
  #footernew {
    background: none;
    top: 0 !important; }
    #footernew .wrapper .footer-main {
      background-image: url(../images/footer-background-responsive.png);
      margin: 0;
      width: 100%; }
      #footernew .wrapper .footer-main .footer-left-section .footer-links #about, #footernew .wrapper .footer-main .footer-left-section .footer-links #customer-service, #footernew .wrapper .footer-main .footer-left-section .footer-links #More-ways-to-shop, #footernew .wrapper .footer-main .footer-left-section .footer-links #busniness, #footernew .wrapper .footer-main .footer-left-section .footer-links #rapala_insider, #footernew .wrapper .footer-main .footer-left-section .footer-links #follow_us {
        background-color: #f1f1f1; }
        #footernew .wrapper .footer-main .footer-left-section .footer-links #about .social-icons, #footernew .wrapper .footer-main .footer-left-section .footer-links #customer-service .social-icons, #footernew .wrapper .footer-main .footer-left-section .footer-links #More-ways-to-shop .social-icons, #footernew .wrapper .footer-main .footer-left-section .footer-links #busniness .social-icons, #footernew .wrapper .footer-main .footer-left-section .footer-links #rapala_insider .social-icons, #footernew .wrapper .footer-main .footer-left-section .footer-links #follow_us .social-icons {
          background-color: #f1f1f1; } }

@media screen and (max-width: 480px) {
  .product-specifications .specificiations {
    border-bottom: none; }
    .product-specifications .specificiations tbody {
      border-bottom: 1px solid #ccc;
      margin-bottom: 2em;
      display: table;
      width: 100%; }
      .product-specifications .specificiations tbody:last-child {
        margin-bottom: 0; }
      .product-specifications .specificiations tbody tr:first-child {
        background: #e12626;
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #e12626), color-stop(100%, #ac0000));
        background: linear-gradient(to bottom, #e12626 0%, #ac0000 100%);
        color: #fff; }
        .product-specifications .specificiations tbody tr:first-child th {
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          width: 100%;
          vertical-align: middle;
          padding: 8px 13.5px;
          box-sizing: border-box;
          min-height: 31px;
          margin: 0;
          border: none;
          background: transparent;
          color: inherit; }
      .product-specifications .specificiations tbody tr:nth-child(2n+3) {
        background: #FBDFDE; }
      .product-specifications .specificiations tbody tr td {
        width: 50%;
        float: left;
        vertical-align: middle;
        padding: 8px 13.5px;
        box-sizing: border-box;
        min-height: 31px;
        display: block; }
  #container.pt_account #primary.primary-content .account-section h1.title {
    line-height: 24px;
    font-size: 18px; }
  #container.pt_account #primary.primary-content .account-section .createan-account {
    margin: 5px 0 0 0; }
  #container.pt_account #primary.primary-content .account-section .upshift .contentboxcontent.account-logs h1 {
    padding: 0 0 30px 0; }
  .strikemaster-background .logo {
    background: url(../images/StrikeMasterLogo_mobile-bar.svg) no-repeat center transparent;
    float: left;
    width: 100%;
    margin: 20px 0 20px;
    min-height: 40px; }
  #vippage-background #page .vip-signup-top1 {
    /* h1{
			 	font-size:36px;
			 	line-height:36px;
			 	}  */ }
  #vippage-background #page .contentbox .contentboxcontent {
    /* h1{
				 	font-size:25px !important;
				 	line-height:27px !important;
				 	} */ }
  #RegistrationForm .label span.labeltext {
    font-size: 12px !important;
    line-height: 12px; }
  form .label {
    font-size: 12px !important;
    line-height: 12px; } }

#container.pt_error #primary.primary-content .notfound.cell {
  margin: 14px 18px 22px 18px; }

#container.pt_error #primary.primary-content .errorpage fieldset.nohitsearch input.box {
  background: url("../images/search-full-strike-master.png") no-repeat scroll 0 0 transparent; }

#container.pt_error #primary.primary-content .errorpage fieldset.nohitsearch button.btn {
  background: url("../images/search-full-strike-master.png") no-repeat scroll right top #D2232A;
  transition: none; }
  #container.pt_error #primary.primary-content .errorpage fieldset.nohitsearch button.btn:hover {
    background: url("../images/search-full-strike-master.png") no-repeat #EE060F;
    background-position: -202px -28px;
    transition: none; }

#container.pt_error #footernew {
  top: 0 !important; }

.pt_account.acc_landing .content-asset .account-options li {
  background: #ffffff;
  box-shadow: #999 0 0 10px;
  position: relative; }
  .pt_account.acc_landing .content-asset .account-options li h2 {
    text-align: center;
    background: none;
    font-family: "Eurostile-Bla";
    font-size: 25px;
    font-variant: small-caps;
    font-weight: normal;
    color: #030303; }
  .pt_account.acc_landing .content-asset .account-options li p, .pt_account.acc_landing .content-asset .account-options li a {
    color: #030303; }
  .pt_account.acc_landing .content-asset .account-options li:hover {
    background-color: #D2232A;
    border-color: #D2232A; }
    .pt_account.acc_landing .content-asset .account-options li:hover a, .pt_account.acc_landing .content-asset .account-options li:hover h2, .pt_account.acc_landing .content-asset .account-options li:hover p {
      color: #030303; }

.pt_product-search-result #page-background #primary .contentboxcontent h1.left-nav-style {
  color: #000;
  font-weight: normal;
  font-size: 16px;
  font-family: "Eurostile-Bla";
  border: none; }

.product-tile .product-image .quickview {
  background-color: #D2232A;
  border-style: solid;
  border-width: 1px;
  border-top-color: #AC1D22;
  border-right-color: #94191E;
  border-bottom-color: #D84046;
  border-left-color: #DD5A5F;
  color: #000; }

.product-tile .product-image .quickview:hover {
  background-color: #EE060F;
  text-decoration: none;
  border-top-color: #C3050C;
  border-right-color: #A8040B;
  border-bottom-color: #F0272F;
  border-left-color: #F2444B; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-image .quickview {
  color: #000;
  background-color: #D2232A;
  border-style: solid;
  border-width: 1px;
  border-top-color: #AC1D22;
  border-right-color: #94191E;
  border-bottom-color: #D84046;
  border-left-color: #DD5A5F; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-image .quickview:hover {
  background-color: #EE060F;
  text-decoration: none;
  border-top-color: #C3050C;
  border-right-color: #A8040B;
  border-bottom-color: #F0272F;
  border-left-color: #F2444B; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-name a {
  color: #000; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-name a:hover {
  text-decoration: none;
  color: #e12626; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-pricing .product-sales-price {
  color: #999;
  font-size: 11px;
  font-weight: normal; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-promo {
  text-align: left;
  color: #E80000;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 10px;
  padding-top: 3px;
  font-weight: normal;
  line-height: 14px; }

.pt_content-search-result #page-background #primary #tabs ul.search-tabs li.active a span {
  color: #D2232A; }

.pt_content-search-result #page-background #primary .folder-content-list li a {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0;
  color: #D2232A;
  font-family: "Eurostile-Bla"; }

.pt_content-search-result #page-background #primary .folder-content-list li p {
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 13px; }
  .pt_content-search-result #page-background #primary .folder-content-list li p a.readmore {
    font-family: Arial, Helvetica, sans-serif;
    color: #D2232A;
    font-weight: bold; }
    .pt_content-search-result #page-background #primary .folder-content-list li p a.readmore:hover {
      color: #EE060F; }

.pt_customerservice .cell-header .affiliates h1, .pt_customerservice .cell-header .prostaff h1 {
  text-align: left;
  font-family: "Eurostile-Bla";
  color: #030303; }

.pt_customerservice .cell-header .affiliates .pro-detail h2, .pt_customerservice .cell-header .prostaff .pro-detail h2 {
  font-family: "Eurostile-Bla";
  color: #030303; }

.pt_customerservice .nav-group li {
  font-size: 11px;
  font-style: italic;
  font-weight: bold;
  margin: 0 0 9px 0; }
  .pt_customerservice .nav-group li .first-level.navfirstClick {
    color: #999; }

.pt_customerservice .contentboxcontent h1 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: normal; }

.pt_customerservice .accordion.tabover {
  background: #D2232A; }
  .pt_customerservice .accordion.tabover h1 {
    color: #000;
    background: url(../images/arrow-filter-collapse-big.png) 0 0 no-repeat; }

.pt_customerservice #footernew {
  top: 0px !important; }

@media screen and (max-width: 959px) {
  #container.pt_error #primary.primary-content .notfound.cell {
    margin: 0px; } }

@media screen and (max-width: 959px) {
  #headerwrapper #header div.logo {
    margin: 27px 0; } }

.breadcrumb ul a:hover {
  color: #D2232A;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif; }

.productdetail .price {
  font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode","Trebuchet MS",Helvetica,Arial,sans-serif;
  color: #D2232A;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0px; }

#special-offers .promotion-title {
  color: #333; }

.productdetail a .filter span {
  color: #fff;
  font-size: 12px;
  font-weight: bold; }

.productdetail a.filter span {
  color: #fff;
  font-size: 12px;
  font-weight: bold; }

.product-specifications .specificiations thead tr.header td {
  background: #e12626;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #e12626), color-stop(100%, #ac0000));
  background: linear-gradient(to bottom, #e12626 0%, #ac0000 100%);
  color: #fff; }

.product-specifications .specificiations tbody tr.evenrow {
  background: #FBDFDE; }

.pt_product-details .productdetail .wrapper ~ #page-background .product-info.column.tab-sec #tabs ul.ui-tabs-nav li.ui-state-active a {
  background-image: none;
  background: #e12626;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e12626 10%, white 10%, #e12626 10%, white 10%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e80000', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */ }

.quickview .ui-dialog-titlebar-close .ui-icon {
  background-image: url(../images/close-button.png); }
  .quickview .ui-dialog-titlebar-close .ui-icon:hover {
    background-position: 0 -34px; }

/*about-us*/
.pt_customerservice .style-cservice .column .contentbox .left-nav-top .contentboxcontent .nav-group li.active {
  background-color: #e80000;
  border-top: 1px solid #c40000;
  border-right: 1px solid #e30000;
  border-bottom: 1px solid #f69d9d;
  border-left: 1px solid #e30000;
  color: #fff; }

.nav-group li.first-level-no-children a:hover {
  color: #D2232A;
  text-decoration: none; }

.nav-group li.list-active {
  color: #D2232A; }

@media screen and (max-width: 959px) {
  .pt_customerservice #content .column3.about-us .contentbox.secondbox .left-content .nav-group li.active {
    background-color: #D2232A;
    border-top: 1px solid #D2232A;
    border-right: 1px solid #D2232A;
    border-bottom: 1px solid #D2232A;
    border-left: 1px solid #D2232A;
    color: #fff; }
  .pt_customerservice #content .column3.about-us .column .contentboxcontent h1 {
    font-family: "Eurostile-Bla";
    font-size: 18px;
    line-height: 24px; } }

.pt_customerservice #content .customer .cell .contentboxcontent h1 {
  font-size: 18px;
  line-height: 24px;
  font-family: "Eurostile-Bla"; }

.pt_customerservice .style-cservice .column .contentbox .left-nav-top .contentboxcontent .nav-group {
  padding: 0; }
  .pt_customerservice .style-cservice .column .contentbox .left-nav-top .contentboxcontent .nav-group li.first-level .second-level li.active a {
    color: #e12626; }

.pt_customerservice .style-cservice .column .contentbox .left-nav-top .contentboxcontent h2.left-nav-style {
  padding: 12.5px 0;
  font-size: 18px;
  line-height: 24px;
  font-family: "Eurostile-Bla"; }

.pt_customerservice #content .productsearchbreadcrumb, .pt_customerservice #content .breadcrumb {
  background: url(../images/body-background-70.jpg); }

@media screen and (max-width: 959px) {
  .pt_customerservice #content .column3.about-us .column.colspan2 .cell.upshift.tabover {
    background-color: #D2232A; }
  .pt_customerservice #content .style-cservice .column.colspan2 h1 {
    font-size: 18px;
    line-height: 24px;
    font-family: "Eurostile-Bla"; }
  .pt_customerservice #content .style-cservice .column.colspan2 .cellbox.accordion.tabover .folder-contentboxcontent {
    background-color: #D2232A; } }

.paymentinstruments .label {
  text-transform: uppercase;
  font-family: 'Eurostile-Bla';
  color: #030303;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal; }

.ui-dialog.payment-settings .dialog-content .creditcardform .credit-cart-form-title {
  margin: 0;
  width: 100%;
  font-style: normal;
  font-size: 25px;
  line-height: 25px;
  font-weight: bold;
  letter-spacing: 0; }

/* RIST-376 fix*/
.upshift {
  top: -58px; }

.downshift .contentboxcontent h1 {
  margin-bottom: 20px; }

/* RIST-376 fix*/
.pt_customerservice .site-map ul li.first-level h2.left-nav-style a {
  color: #D2232A; }

.pt_customerservice .site-map ul li.first-level ul li a:hover {
  text-decoration: none; }

.tab-sec #tabs ul.ui-tabs-nav li a:hover span {
  color: #D2232A; }

.tab-sec #tabs ul.ui-tabs-nav li.ui-state-active a span {
  color: #D2232A; }

.small-new.new-stamp {
  border-radius: 15px;
  background-color: #EE060F;
  font-style: italic;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 10px;
  color: #fff;
  padding: 1px 5px;
  margin-right: 3px;
  width: auto !important;
  vertical-align: top;
  margin-top: 4px;
  float: left; }

.small-new.new-stamp-big {
  border-radius: 15px;
  background-color: #EE060F;
  font-style: italic;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #fff;
  padding: 4px 8px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.65);
  margin-right: 3px;
  position: inherit;
  top: -5px; }

.newFlagColorSize .new-colors-snipe, .newFlagColorSize .new-sizes-snipe, .newFlagColorSize .new-pak-size, .newPakSizeFlag .new-colors-snipe, .newPakSizeFlag .new-sizes-snipe, .newPakSizeFlag .new-pak-size {
  border-radius: 15px;
  background-color: #EE060F;
  font-style: italic;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 10px;
  color: #fff;
  padding: 1px 5px;
  margin-right: 3px; }

.variationattributes .color ul li a span.corner-ribbon {
  background-color: #FF0000;
  color: #fff; }

.productdetail #special-offers ul li {
  color: #e12626; }

.productdetail a.filter:hover,
.productdetail a.filter:hover span {
  color: #fff; }

.product-price .price .salesprice {
  color: #e12626 !important; }

.variationattributes .swatches li.selected a {
  color: #fff; }

.productdetail .price .price-sales {
  color: #e12626; }

.tabover h1 a {
  color: #000000; }

/*# sourceMappingURL=strikemaster.css.map */
