@import url("../css/MyFontsWebfontsKit.css");
a {
  color: #E80000; }

/***********************************************/
/* PAGE STRUCTURE CSS                          */
/***********************************************/
body {
  background-image: url(../images/body-background-70.jpg);
  background-repeat: repeat;
  background-color: #c8beb3;
  text-align: left; }
  body.js-body {
    background: none; }
  body .js-container-active .open-menu-wrap {
    background: #c8beb3 url(../images/body-background-70.jpg) repeat; }

h1, h2, h3, h4, h5, h6, .h-one-tag {
  color: #333333;
  font-family: "ArtcraftURW-Reg", "Times New Roman", Times, Serif;
  font-variant: small-caps;
  font-weight: normal; }

h1, .h-one-tag {
  font-size: 36px;
  line-height: 36px;
  font-variant: small-caps;
  margin: 0; }

h2 {
  font-size: 20px;
  line-height: 20px;
  font-variant: small-caps;
  text-transform: inherit; }
  h2.left-nav-style {
    padding-bottom: 6px;
    border-bottom: #ccc solid 1px; }

a {
  color: #E80000; }
  a.filter span {
    font-size: 11px;
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0;
    text-transform: none; }

.selectedvarval {
  color: #E80000; }

form .label {
  font-variant: small-caps;
  font-family: Artcraft, "ArtcraftURW-Reg", "Times New Roman", Times, Serif;
  color: #333333; }
  @media screen and (max-width: 480px) {
    form .label {
      line-height: 12px; } }

.personal-info .label {
  color: #333;
  display: block;
  float: none;
  font-family: Artcraft, "ArtcraftURW-Reg", "Times New Roman", Times, Serif;
  font-size: 20px;
  font-variant: small-caps;
  font-weight: normal;
  line-height: 17px;
  text-align: left; }

button, a.button {
  background-color: #E80000;
  border-color: #C40000 #E30000 #F69D9D;
  border-style: solid;
  border-width: 1px;
  clear: left;
  color: #ffffff;
  cursor: pointer;
  display: block;
  float: left;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: bold;
  height: 28px;
  letter-spacing: 0;
  line-height: 28px;
  padding: 0 18px;
  text-transform: uppercase; }

button:hover, a.button:hover {
  background: #D80000;
  text-decoration: none; }

.addTo-cart-section button:hover, .addTo-cart-section a.button:hover {
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #c70000), color-stop(100%, #e80000)) !important;
  background: -webkit-linear-gradient(top, #c70000 0%, #e80000 100%) !important;
  background: linear-gradient(to bottom, #c70000 0%, #e80000 100%) !important;
  text-decoration: none; }

#container {
  background-image: url(../images/container-background-80.jpg);
  background-position: 50% 0;
  background-repeat: repeat-x; }
  @media screen and (min-width: 960px) {
    #container {
      min-height: 544px; } }

#container, #grid, #header, #page-background, #page, #footer, #vertical-fill {
  clear: both;
  float: left;
  width: 100%; }

.returningcustomers .label {
  color: #333333;
  display: block;
  float: none;
  font-size: 20px;
  font-variant: small-caps;
  font-weight: normal;
  line-height: 20px;
  text-align: left;
  width: auto; }

.homepage {
  margin-top: 8px; }

.pt_storefront #footernew {
  top: -100px; }

.pt_acc_landing .content-asset .account-options li {
  -webkit-transition: none;
  transition: none; }
  .pt_acc_landing .content-asset .account-options li a {
    padding: 8px;
    -webkit-transition: none;
    transition: none; }
    .pt_acc_landing .content-asset .account-options li a h2 {
      font-size: 36px;
      font-family: Artcraft, "ArtcraftURW-Reg", "Times New Roman", Times, Serif;
      font-variant: small-caps;
      font-weight: normal;
      padding: 12px 0; }
    .pt_acc_landing .content-asset .account-options li a p {
      text-transform: capitalize; }
  .pt_acc_landing .content-asset .account-options li:hover {
    background: #E80000;
    border-color: #E80000;
    -webkit-transition: none;
    transition: none; }
    .pt_acc_landing .content-asset .account-options li:hover h2 {
      color: #ffffff; }
    .pt_acc_landing .content-asset .account-options li:hover p {
      color: #ffffff; }
    .pt_acc_landing .content-asset .account-options li:hover i {
      color: #ffffff; }

.pt_leftnav-profile #primary #RegistrationForm legend {
  font-family: Artcraft, "ArtcraftURW-Reg", "Times New Roman", Times, Serif;
  font-weight: normal; }

.pt_leftnav-profile #primary #RegistrationForm .form-row .label .labeltext {
  color: #333;
  font-family: Artcraft, "ArtcraftURW-Reg", "Times New Roman", Times, Serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 17px;
  text-align: left;
  text-transform: none;
  font-variant: small-caps; }

.pt_leftnav-profile #primary #RegistrationForm .form-row .label .requiredindicator {
  font-size: 20px; }

.pt_order .search-result-items li .order-history-items .order-history-table th {
  font-variant: small-caps;
  font-family: "ArtcraftURW-Reg", "Times New Roman", Times, Serif;
  color: #333333;
  font-weight: normal;
  font-size: 12px; }

.pt_order .search-result-items li .order-history-items .order-history-table tr .order-price .value {
  font-variant: small-caps;
  color: #E80000;
  font-size: 20px;
  font-style: italic;
  font-family: "ArtcraftURW-Reg", "Times New Roman", Times, Serif; }

.orderdetails .order-information .order-number .label {
  color: #333333;
  font-family: "ArtcraftURW-Reg", "Times New Roman", Times, Serif;
  font-variant: small-caps;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  font-variant: small-caps;
  font-style: normal; }

.orderdetails .order-payment-summary .label,
.orderdetails .order-billing .label,
.orderdetails .order-shipment-address .label,
.orderdetails .line-item-details .label,
.orderdetails .line-item-quantity .label,
.orderdetails .line-item-price .label {
  font-family: Artcraft, "ArtcraftURW-Reg", "Times New Roman", Times, Serif;
  font-variant: small-caps;
  font-size: 20px;
  line-height: 20px;
  font-weight: normal;
  text-transform: none; }

.orderdetails .line-items .line-item .line-item-price {
  color: #E80000;
  font-family: Artcraft, "ArtcraftURW-Reg", "Times New Roman", Times, Serif;
  font-variant: small-caps;
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  font-weight: normal; }
  .orderdetails .line-items .line-item .line-item-price .label {
    font-family: Artcraft, "ArtcraftURW-Reg", "Times New Roman", Times, Serif;
    font-variant: small-caps;
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
    text-transform: none;
    font-style: normal;
    color: #000; }

.pt_wish-list #main .item-details .product-list-item span.price-sales {
  color: #E80000;
  font-size: 15px; }

.pt_wish-list #main #page-background #primary h1,
.pt_leftnav-addressbook #main #page-background #primary h1,
.pt_order #main #page-background #primary h1,
.pt_leftnav-payment #main #page-background #primary h1,
.pt_leftnav-profile #main #page-background #primary h1,
.pt_acc_landing #main #page-background #primary h1 {
  font-variant: small-caps;
  text-transform: none; }

.pt_wish-list #main #page-background #secondary h2,
.pt_leftnav-addressbook #main #page-background #secondary h2,
.pt_order #main #page-background #secondary h2,
.pt_leftnav-payment #main #page-background #secondary h2,
.pt_leftnav-profile #main #page-background #secondary h2,
.pt_acc_landing #main #page-background #secondary h2 {
  text-transform: none; }

.pt_leftnav-addressbook #addresses .address-list .address-tile .mini-address-title {
  color: #333333;
  display: block;
  float: none;
  font-family: "ArtcraftURW-Reg", "Times New Roman", Times, Serif;
  font-size: 20px;
  font-variant: small-caps;
  font-weight: normal;
  text-align: left; }

.ui-dialog.addressadd #dialog-container .form-horizontal .form-row.form-row-button button.simple {
  background-color: #E80000;
  color: #ffffff; }
  .ui-dialog.addressadd #dialog-container .form-horizontal .form-row.form-row-button button.simple:hover {
    background-color: #D80000;
    color: #ffffff; }

.ui-corner-all {
  border-radius: 4px; }

.ui-widget-content {
  background: #fff url(images/ui-bg_glass_75_ffffff_1x400.png) 0 0 repeat-x;
  color: #222; }

.international-links-container {
  font-size: 12px; }

.international-links-footer-product {
  height: 88px; }

.international-investor-link {
  margin-top: 40px; }

.international-investor-link a {
  color: #E80000;
  line-height: 10px;
  float: none;
  padding-left: 0px; }

.international-investor-link a:hover {
  padding-left: 0px; }

#minicart #multi-site-one-cart {
  background-image: url(../images/multi-site-one-cart-bg-right.png); }

#minicart #multi-site-one-cart span {
  color: #ffffff;
  background-image: url(../images/multi-site-one-cart-bg.png); }

#headerwrapper #header .row.column1 #minicart a.minicart-button {
  color: #E80000; }

.passwordreset p {
  margin: 8px; }

#wrapper.pt_account #primary.primary-content .account-section .custom-checkbox {
  float: left;
  margin: -3px 0 15px 1px;
  padding: 0;
  width: 100%;
  position: relative; }
  #wrapper.pt_account #primary.primary-content .account-section .custom-checkbox.custom .label span.labeltext {
    margin-left: 0px; }

#RegistrationForm .vipregform .form-row .label span.requiredindicator {
  font-size: 20px; }

#RegistrationForm .vipregform .form-row .label span.labeltext {
  font-size: 20px; }

.pt_product-search-result #page-background #primary .contentboxcontent h1 {
  font-family: "ArtcraftURW-Reg", "Times New Roman", Times, Serif;
  margin-top: -38px;
  font-size: 25px;
  font-weight: bold;
  color: #000; }

.pt_product-search-result #page-background #primary .contentboxcontent h1.leftnav {
  font-size: 22px;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif; }
  .pt_product-search-result #page-background #primary .contentboxcontent h1.leftnav.categoryTitle {
    font-family: 'ArtcraftURW-Reg';
    font-size: 25px; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-name a {
  color: #000; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-name a:hover {
  color: #E80000;
  text-decoration: none; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-swatches-all {
  color: #333333; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-swatches-all:hover {
  color: #E80000 !important; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-pricing .product-sales-price {
  color: #999;
  font-size: 12px;
  font-weight: bold; }

.pt_productdetails .breadcrumb {
  margin-bottom: 9px; }

.productdetail .availability {
  margin-top: 0; }

.productdetail .price {
  color: #E80000;
  font-size: 15px; }
  .productdetail .price .salesprice {
    color: #E80000;
    font-size: 15px; }

.productdetail .addtocartbar .addtocart button.addtocartbutton {
  float: left;
  width: calc(100% - 50px);
  height: 40px;
  line-height: 40px;
  background-image: none;
  background: #e80000;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #e80000), color-stop(100%, #c70000));
  background: -webkit-linear-gradient(top, #e80000 0%, #c70000 100%);
  background: linear-gradient(to bottom, #e80000 0%, #c70000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$rap-red', endColorstr='#c70000', GradientType=0 );
  -webkit-transition: inherit;
  transition: inherit;
  text-transform: inherit;
  border: none; }

.productdetail .addtocartbar .addtocart .quantity .label {
  font-size: 13px !important;
  font-style: normal;
  font-weight: normal !important;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif; }

a.filter {
  background: #e80000;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #e80000), color-stop(100%, #c70000));
  background: -webkit-linear-gradient(top, #e80000 0%, #c70000 100%);
  background: linear-gradient(to bottom, #e80000 0%, #c70000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$rap-red', endColorstr='#c70000', GradientType=0 );
  background-repeat: no-repeat;
  border-color: #C40000 #E30000 #F69D9D;
  border-style: solid;
  border-width: 1px;
  clear: left;
  color: #FFFFFF !important;
  display: block;
  float: left;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
  margin: 18px 0 0;
  padding: 5px 28px 5px 10px;
  text-transform: uppercase;
  width: 184px; }
  a.filter:hover {
    background-image: none;
    background: #c70000;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #c70000), color-stop(100%, #e80000));
    background: -webkit-linear-gradient(top, #c70000 0%, #e80000 100%);
    background: linear-gradient(to bottom, #c70000 0%, #e80000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c70000', endColorstr='$rap-red', GradientType=0 );
    text-decoration: none;
    color: #999; }

input.quantityinput, input input, .quantity.quantityinput, .quantity input {
  border: 2px solid #E80000;
  color: #E80000; }

@media screen and (max-width: 959px) {
  #container.pt_account #primary.primary-content .account-section h1.title {
    font-family: "ArtcraftURW-Bol";
    font-weight: 400; }
  .pt_leftnav-addressbook #addresses .address-list .address-tile .mini-address-title {
    text-transform: capitalize;
    font-variant: normal; }
  .pt_wish-list #main #page-background #primary h1,
  .pt_leftnav-addressbook #main #page-background #primary h1,
  .pt_order #main #page-background #primary h1,
  .pt_leftnav-payment #main #page-background #primary h1,
  .pt_leftnav-profile #main #page-background #primary h1,
  .pt_acc_landing #main #page-background #primary h1 {
    font-size: 25px;
    line-height: 27px;
    font-variant: normal; }
  .pt_acc_landing .content-asset .account-options li a h2 {
    font-size: 25px;
    line-height: 27px; }
  #container.pt_product-search-noresult .breadcrumb {
    background: url("../images/subcategory-landing-grid-tablet-breadcrumb.jpg") repeat-x; }
  .pt_product-details .breadcrumb {
    margin-bottom: 0; }
  .pt_product-details .pdp-main .pdpmain-content .productname {
    font-size: 25px;
    line-height: 27px;
    font-variant: normal; }
  .productdetail .price {
    font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode","Trebuchet MS",Helvetica,Arial,sans-serif; }
    .productdetail .price .salesprice {
      font-style: bold !important;
      font-size: 15px !important;
      color: #E80000 !important; }
  .selected a.filter,
  .future a.filter {
    background-color: #f1f1f1 !important;
    border-top: 1px solid #d0d0d0;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #f8f8f8;
    border-left: 1px solid #e8e8e8;
    color: #333 !important;
    border-radius: 3px; }
  .current a.filter {
    border: 1px solid #9E0000;
    background: #e80000;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #e80000), color-stop(100%, #c70000));
    background: -webkit-linear-gradient(top, #e80000 0%, #c70000 100%);
    background: linear-gradient(to bottom, #e80000 0%, #c70000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$rap-red', endColorstr='#c70000', GradientType=0 ); }
    .current a.filter:hover {
      background: #c70000;
      background: -webkit-gradient(left top, left bottom, color-stop(0%, #c70000), color-stop(100%, #e80000));
      background: -webkit-linear-gradient(top, #c70000 0%, #e80000 100%);
      background: linear-gradient(to bottom, #c70000 0%, #e80000 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c70000', endColorstr='$rap-red', GradientType=0 ); }
  .pt_wish-list .breadcrumb,
  .pt_leftnav-addressbook .breadcrumb,
  .pt_order .breadcrumb,
  .pt_leftnav-payment .breadcrumb,
  .pt_account .breadcrumb,
  .pt_product-search-result .breadcrumb,
  .pt_content-search-result .breadcrumb,
  .pt_leftnav-profile .breadcrumb {
    background: url(../images/body-background-70.jpg); }
  .pt_product-search-result .contentboxcontent h1.leftnav,
  .pt_content-search-result .contentboxcontent h1.leftnav {
    font-size: 25px;
    line-height: 27px; }
  h1 {
    font-size: 25px;
    line-height: 27px; }
  #vippage-background #page .vip-signup-top1 h1 {
    font-size: 25px;
    line-height: 27px;
    font-weight: normal;
    font-family: "ArtcraftURW-Bol"; }
  .homepage {
    margin-top: 0px; }
  .pt_storefront #footernew {
    top: 0; }
  #footernew {
    background: none; }
    #footernew .wrapper .footer-main {
      background-image: none;
      margin: 0;
      width: 100%;
      box-shadow: inset  0  8px 8px -8px #696868,inset  0 -8px 8px -8px #696868;
      -moz-box-shadow: inset  0  8px 8px -8px #696868,inset  0 -8px 8px -8px #696868;
      -webkit-box-shadow: inset  0  8px 8px -8px #696868,inset  0 -8px 8px -8px #696868;
      -ms-box-shadow: inset  0  8px 8px -8px #696868,inset  0 -8px 8px -8px #696868; } }

@media screen and (max-width: 480px) {
  .mobile-view li {
    display: block; }
  .rapala-background .logo {
    background: url(../images/Rapala_Logo_mobile-bar.svg) no-repeat center transparent;
    float: left;
    width: 100%;
    margin: 20px 0 20px;
    min-height: 40px; } }

.productlisting .product .name a {
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-weight: bold; }
  .productlisting .product .name a:hover {
    color: #E80000;
    text-decoration: none; }

.prostaff .name a,
.affiliate .name a {
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-weight: bold; }

.pt_content-search-result #page-background #primary .folder-content-list li a {
  font-family: "ArtcraftURW-Reg", "Times New Roman", Times, Serif; }

.pt_content-search-result #page-background #primary .folder-content-list li p {
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  text-transform: capitalize; }

.pt_customerservice .contentboxcontent h1 {
  margin-bottom: 20px; }

.pt_customerservice #switch-brands {
  width: 195px; }

.pt_customerservice #top-questions ol {
  margin: 0; }

.pt_customerservice .site-map {
  margin: 20px 0 0; }
  .pt_customerservice .site-map ul li.first-level {
    float: left;
    padding-right: 20px;
    width: 200px;
    background: none; }
    @media screen and (max-width: 959px) {
      .pt_customerservice .site-map ul li.first-level {
        width: 50%;
        box-sizing: border-box;
        padding: 0; } }
  @media screen and (max-width: 959px) and (max-width: 480px) {
    .pt_customerservice .site-map ul li.first-level {
      width: 100%; } }
    .pt_customerservice .site-map ul li.first-level ul {
      padding-left: 12px; }
      .pt_customerservice .site-map ul li.first-level ul li {
        background: url("../images/arrow-333333.png") no-repeat 0 6px transparent;
        padding-left: 12px;
        font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
        color: #ccc; }
        .pt_customerservice .site-map ul li.first-level ul li a {
          /*color: $rap-black;*/ }
  .pt_customerservice .site-map h2 {
    font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-variant: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px; }

.categorymenusnew .category-top-level a:hover {
  color: #E80000; }
  .categorymenusnew .category-top-level a:hover .count-products {
    color: #E80000; }

.categorymenusnew .category-top-level .category-top-level2 li.active > a {
  color: #E80000;
  text-decoration: underline; }
  .categorymenusnew .category-top-level .category-top-level2 li.active > a .count-products {
    color: #E80000; }

.categorymenusnew .category-top-level .category-top-level2 a:hover {
  color: #4d4d4d; }
  .categorymenusnew .category-top-level .category-top-level2 a:hover .count-products {
    color: #4d4d4d; }

#footernew .wrapper .footer-main .footer-left-section .footer-links #about li#linkheading.desktopHide {
  line-height: 10px;
  margin-top: 19px; }
  #footernew .wrapper .footer-main .footer-left-section .footer-links #about li#linkheading.desktopHide a {
    color: #000; }

.quickview .ui-dialog-titlebar-close .ui-icon {
  background-image: url(../images/close-button.png);
  display: block;
  float: left;
  height: 34px;
  margin: 0;
  overflow: hidden;
  text-indent: -9999px;
  width: 32px; }

.pdp-owl-customization .owl-stage-outer .owl-stage .owl-item.selected img {
  border: 2px solid #E80000; }

.productinfo {
  height: auto;
  margin-bottom: 25px;
  margin-top: 20px; }

.productdetail .price .standardprice {
  color: #999;
  font-size: 15px;
  font-weight: bold; }

.pt_product-details .productdetail .wrapper ~ #page-background .product-info.column.tab-sec #tabs ul.ui-tabs-nav li.ui-state-active a {
  background-image: none;
  background: #E80000;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #E80000 10%, white 10%, #E80000 10%, white 10%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #E80000 10%, white 10%, #E80000 10%, white 10%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$rap-red', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */ }

@media screen and (min-width: 481px) {
  .product-specifications .specificiations thead tr {
    background: #e80000;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #e80000), color-stop(100%, #c70000));
    background: -webkit-linear-gradient(top, #e80000 0%, #c70000 100%);
    background: linear-gradient(to bottom, #e80000 0%, #c70000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$rap-red', endColorstr='#c70000', GradientType=0 );
    color: #ffffff; }
  .product-specifications .specificiations tbody tr.evenrow {
    background: #FDD9D9;
    color: #000; }
  .product-specifications .specificiations tbody tr td {
    border-right: 1px solid #ccc; } }

.quickview .ui-dialog-titlebar-close .ui-icon {
  background-image: url(../images/close-button.png); }
  .quickview .ui-dialog-titlebar-close .ui-icon:hover {
    background-position: 0 -34px; }

@media screen and (max-width: 480px) {
  .product-specifications.iphone-view .specificiations {
    border: none; }
    .product-specifications.iphone-view .specificiations tbody {
      border-bottom: 1px solid #ccc;
      margin-bottom: 2em;
      display: table;
      width: 100%; }
      .product-specifications.iphone-view .specificiations tbody tr:first-child th {
        width: 100%;
        background: #e80000;
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #e80000), color-stop(100%, #c70000));
        background: -webkit-linear-gradient(top, #e80000 0%, #c70000 100%);
        background: linear-gradient(to bottom, #e80000 0%, #c70000 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$rap-red', endColorstr='#c70000', GradientType=0 );
        color: #fff;
        vertical-align: middle;
        border: none;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px; }
      .product-specifications.iphone-view .specificiations tbody tr td {
        width: 50%;
        float: left;
        vertical-align: middle;
        padding: 8px 13.5px;
        box-sizing: border-box;
        min-height: 31px;
        display: block; }
        .product-specifications.iphone-view .specificiations tbody tr td:last-child {
          border-right: 1px solid #ccc; }
      .product-specifications.iphone-view .specificiations tbody tr:nth-child(even) {
        background: #fff; }
      .product-specifications.iphone-view .specificiations tbody tr:nth-child(odd) {
        background: #FDD9D9; } }

/*about-us*/
.nav-group li.first-level-no-children a:hover {
  color: #333;
  text-decoration: none; }

.nav-group li.list-active {
  color: #5c5c5c; }

@media screen and (max-width: 959px) {
  #vippage-background h1, #vippage-background .labeltext, #vippage-background h2 {
    text-transform: none;
    font-family: "ArtcraftURW-Bol";
    font-weight: 400 !important; }
  .pt_customerservice #content .column3.about-us .column.colspan2 .cell.upshift.tabover {
    color: #fff;
    background: none repeat scroll 0 0 #E80000; }
    .pt_customerservice #content .column3.about-us .column.colspan2 .cell.upshift.tabover a {
      color: #fff; }
  .pt_customerservice #content .column3.about-us .contentbox.secondbox .left-content .nav-group li.active {
    background-color: #E80000;
    border-top: 1px solid #c40000;
    border-right: 1px solid #e30000;
    border-bottom: 1px solid #f69d9d;
    border-left: 1px solid #e30000;
    color: #fff; }
  .pt_customerservice #content .column3.about-us .column .contentboxcontent h1 {
    font-family: "ArtcraftURW-Bol";
    font-size: 25px;
    line-height: 27px; } }

.variationattributes .swatches ul li a span {
  color: #E80000; }

.variationattributes .swatches ul li a:hover span {
  color: #333333; }

.variationattributes .swatches ul li.selected a {
  border-color: #E80000;
  color: #ffffff; }

.pt_customerservice #content .customer .cell .contentboxcontent h1 {
  font-size: 25px;
  line-height: 27px;
  font-family: "ArtcraftURW-Bol"; }

.paymentslist .paymentinstruments .creditcard .payment-list .cc-owner .label {
  color: #333;
  display: block;
  float: none;
  font-family: Artcraft, "ArtcraftURW-Reg", "Times New Roman", Times, Serif;
  font-size: 20px;
  font-variant: small-caps;
  font-weight: normal;
  line-height: 17px;
  text-align: left; }

.paymentslist .paymentinstruments .creditcard .payment-list .cc-exp .label {
  color: #666;
  float: left;
  font-size: 12px;
  font-variant: normal;
  font-weight: bold;
  font-style: italic;
  font-family: 'Lucida Grande','Lucida Sans','Lucida Sans Unicode','Trebuchet MS',Helvetica,Arial,sans-serif; }

.paymentslist .paymentinstruments .creditcard .payment-list .cc-exp label {
  padding-left: 5px;
  clear: left;
  display: inline;
  font-weight: bold;
  text-align: right;
  word-wrap: break-word; }

.ui-dialog.payment-settings .dialog-content .creditcardform .credit-cart-form-title {
  margin: 0;
  width: 100%;
  font-style: normal;
  font-size: 36px;
  line-height: 36px; }

.ui-dialog.payment-settings .dialog-content .creditcardform #CreditCardForm .form-label-text .labeltext {
  font-variant: small-caps;
  text-transform: none; }

.ui-dialog.payment-settings .dialog-content .creditcardform #CreditCardForm .form-row .label .labeltext {
  font-variant: small-caps;
  text-transform: none; }

.pt_customerservice .style-cservice .column .left-nav-top .contentboxcontent h2.left-nav-style, .pt_customerservice .customer .column .left-nav-top .contentboxcontent h2.left-nav-style {
  font-size: 25px;
  line-height: 27px;
  font-family: "ArtcraftURW-Bol"; }

.pt_customerservice .style-cservice .column .contentbox .left-nav-top .contentboxcontent .nav-group {
  padding: 0; }
  .pt_customerservice .style-cservice .column .contentbox .left-nav-top .contentboxcontent .nav-group li.first-level .second-level li.active a {
    color: #E80000;
    text-decoration: underline; }

.press-release:hover {
  background-color: #E80000; }
  .press-release:hover h2 a {
    color: #ffffff; }
  .press-release:hover .release-date a {
    color: #ffffff; }

.storelocator .zipsearchactions .stack .label {
  text-align: left;
  float: none;
  display: block;
  font-size: 20px;
  line-height: 20px;
  font-weight: normal;
  font-variant: small-caps;
  font-family: Artcraft, "ArtcraftURW-Reg", "Times New Roman", Times, Serif;
  color: #333; }

.tab-sec #tabs ul.ui-tabs-nav li a:hover span {
  color: #E80000; }

.tab-sec #tabs ul.ui-tabs-nav li.ui-state-active a span {
  color: #E80000; }

.small-new.new-stamp {
  border-radius: 15px;
  background-color: #E80000;
  font-style: italic;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 10px;
  color: white;
  padding: 1px 5px;
  margin-right: 3px;
  width: auto !important;
  vertical-align: top;
  line-height: 13px; }

.small-new.new-stamp-big {
  border-radius: 15px;
  background-color: #E80000;
  font-style: italic;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: white;
  padding: 4px 8px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.65);
  margin-right: 3px;
  position: inherit;
  top: -5px; }

.newFlagColorSize .new-colors-snipe, .newFlagColorSize .new-sizes-snipe, .newFlagColorSize .new-pak-size, .newPakSizeFlag .new-colors-snipe, .newPakSizeFlag .new-sizes-snipe, .newPakSizeFlag .new-pak-size {
  border-radius: 15px;
  background-color: #E80000;
  font-style: italic;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 10px;
  color: white;
  padding: 1px 5px;
  margin-right: 3px; }

.variationattributes .color ul li a span.corner-ribbon {
  background-color: #E80000;
  color: #ffffff; }

.productdetail #special-offers ul li {
  color: #E80000; }

.productdetail .price .price-sales {
  color: #e80000; }
