@import url("../css/MyFontsWebfontsKit.css");
.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.menu {
  float: left;
  margin: 0;
  padding: 0; }
  .menu li {
    float: left;
    list-style: none outside none !important; }

body {
  color: #000;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  font-size: 13px;
  background: white url(../images/container-background-70.jpg) 0 0 repeat; }

body.js-body {
  background: none; }

body .js-container-active .open-menu-wrap {
  background: white url(../images/container-background-70.jpg) 0 -105px repeat; }

h1,
.h-one-tag {
  font-family: "SteelfishEb-Regular", Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-weight: normal;
  font-style: normal;
  line-height: 48px;
  text-transform: uppercase;
  color: #333; }

h2 {
  font-family: "SteelfishEb-Regular", Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  line-height: 30px;
  text-transform: uppercase;
  color: #333; }

h3 {
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  line-height: 16px;
  text-transform: none;
  color: #C6262C; }

h4 {
  font-family: "SteelfishEb-Regular", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  text-transform: uppercase;
  color: #333; }

h5 {
  font-family: "SteelfishEb-Regular", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  text-transform: uppercase;
  color: #333; }

h6 {
  font-family: "SteelfishEb-Regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
  text-transform: uppercase;
  color: #333; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #000;
  text-decoration: none; }
  h1 a:hover,
  h2 a:hover,
  h3 a:hover,
  h4 a:hover,
  h5 a:hover,
  h6 a:hover {
    color: #C6262C;
    text-decoration: none; }

p {
  color: #000;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  word-spacing: normal;
  line-height: 18px;
  padding: 9px 0;
  text-align: left; }

a {
  color: #C6262C;
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    color: #fff;
    text-decoration: none; }

a.filter {
  background-image: "";
  background-color: #ce0d0d;
  background: linear-gradient(to bottom, #ce0d0d 0%, #aa0003 100%);
  background-repeat: no-repeat;
  border-width: 1px;
  border-style: solid;
  border-top-color: #A72126;
  border-right-color: #C32E33;
  border-bottom-color: #E9ACAE;
  border-left-color: #C32E33;
  clear: left;
  color: #fff !important;
  display: block;
  float: left;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
  margin: 18px 0 0;
  padding: 5px 28px 5px 10px;
  text-transform: uppercase;
  width: 184px; }
  a.filter:hover {
    background-image: none;
    background-color: #aa0003;
    background: linear-gradient(to bottom, #aa0003 0%, #ce0d0d 100%);
    text-decoration: none;
    color: #fff; }

/* @import must be at top of file, otherwise CSS will not work */
/* body */
body.js-body {
  background: none; }

h1, .h-one-tag {
  margin: 0; }

.pt_productsearchresult #page-background .row.column3 .colspan2.cell4 .contentboxcontent a.searchedfor {
  color: #ce0d0d; }

#container.pt_product-search-noresult .breadcrumb {
  color: #fff; }

h1.left-nav-style {
  font-family: "SteelfishEb-Regular", Arial, Helvetica, sans-serif;
  font-size: 40px;
  line-height: 36px; }

h1.leftnav {
  font-size: 40px;
  line-height: 40px; }

h2.input-style, .order-head h2 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  padding-bottom: 2px; }

/*buttons*/
a.button, button {
  display: block;
  clear: left;
  float: left;
  height: 28px;
  line-height: 28px;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0;
  color: white;
  padding: 0 18px 0 18px;
  background-color: #C6262C;
  border-width: 1px;
  border-style: solid;
  border-top-color: #A72126;
  border-right-color: #C32E33;
  border-bottom-color: #E9ACAE;
  border-left-color: #C32E33; }

a.button:hover, button:hover {
  cursor: pointer;
  background: red;
  text-decoration: none;
  border-top-color: #D70101;
  border-right-color: #F90A0A;
  border-bottom-color: #FF9D9D;
  border-left-color: #F90A0A; }

.addTo-cart-section a.button:hover, .addTo-cart-section button:hover {
  cursor: pointer;
  background: linear-gradient(top bottom, #aa0003 0%, #ce0d0d 100%) !important;
  text-decoration: none;
  border-top-color: #D70101;
  border-right-color: #F90A0A;
  border-bottom-color: #FF9D9D;
  border-left-color: #F90A0A; }

.ui-dialog.addressadd #dialog-container .form-horizontal .form-row.form-row-button button.simple {
  background-color: #C6262C;
  color: #fff; }
  .ui-dialog.addressadd #dialog-container .form-horizontal .form-row.form-row-button button.simple:hover {
    background: #E80000; }

#footernew .wrapper .footer-main .footer-left-section .footer-links #about li#linkheading.desktopHide a span {
  color: #fff; }

#footernew .wrapper .footer-main .footer-left-section .footer-links #about li#linkheading.desktopHide a:hover {
  color: #fff;
  text-decoration: underline; }

.pt_leftnav-profile #primary #RegistrationForm legend {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif; }

.pt_acc_landing .content-asset .account-options li {
  transition: none; }
  .pt_acc_landing .content-asset .account-options li a {
    transition: none; }
    .pt_acc_landing .content-asset .account-options li a h2 {
      font-family: "SteelfishEb-Regular", Arial, Helvetica, sans-serif;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 48px;
      line-height: 48px;
      padding: 10px 0; }
    .pt_acc_landing .content-asset .account-options li a p {
      text-transform: capitalize; }
  .pt_acc_landing .content-asset .account-options li:hover {
    background-color: #C6262C;
    border-color: #C6262C;
    transition: none; }
    .pt_acc_landing .content-asset .account-options li:hover h2 {
      color: #fff; }
    .pt_acc_landing .content-asset .account-options li:hover p {
      color: #fff; }
    .pt_acc_landing .content-asset .account-options li:hover i {
      color: #fff; }

.pt_store-locator .storelocator h1 {
  text-transform: uppercase;
  font-vairant: normal; }

.pt_store-locator .storelocatorzipsearch .stack .form-row .label {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px; }

.pt_order .search-result-items li .order-history-header .order-status .value {
  color: red; }

.pt_order .search-result-items li .order-history-items .order-history-table th {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  padding-bottom: 2px; }

.pt_order .search-result-items li .order-history-items .order-history-table tr .order-price .value {
  font-family: Baskerville, "Times New Roman", Times, serif;
  color: #C6262C;
  font-weight: bold;
  font-style: italic;
  font-size: 24px;
  line-height: 24px; }

.pt_wish-list #main .item-details .product-list-item span.price-sales {
  color: #C6262C;
  font-size: 15px; }

.pt_leftnav-addressbook #main .breadcrumb a {
  color: #fff; }

.pt_leftnav-addressbook #main .breadcrumb .breadcrumb-element:last-child {
  color: #fff; }

.pt_leftnav-addressbook #addresses .address-list .address-tile .mini-address-title {
  color: #333;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase; }

.pt_leftnav-addressbook #addresses .address-list .address-tile .mini-address-name {
  font-size: 13px;
  line-height: 14px; }

.pt_leftnav-addressbook #addresses .address-list .address-tile .mini-address-location {
  margin-bottom: 8px; }
  .pt_leftnav-addressbook #addresses .address-list .address-tile .mini-address-location address {
    font-size: 13px;
    line-height: 14px; }

.pt_leftnav-addressbook #addresses .address-list .address-tile .address-edit,
.pt_leftnav-addressbook #addresses .address-list .address-tile .address-delete.delete,
.pt_leftnav-addressbook #addresses .address-list .address-tile .address-make-default {
  font-size: 12px;
  line-height: 14px;
  padding-right: 0px; }
  .pt_leftnav-addressbook #addresses .address-list .address-tile .address-edit:hover,
  .pt_leftnav-addressbook #addresses .address-list .address-tile .address-delete.delete:hover,
  .pt_leftnav-addressbook #addresses .address-list .address-tile .address-make-default:hover {
    color: #ff0000; }

.orderdetails .order-information .order-number .label {
  font-size: 48px;
  line-height: 48px;
  font-family: "SteelfishEb-Regular", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #333;
  text-transform: uppercase;
  font-style: normal; }

.orderdetails .order-information .order-number .value {
  font-size: 48px;
  line-height: 48px;
  font-family: "SteelfishEb-Regular", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #333;
  text-transform: uppercase;
  font-style: normal; }

.orderdetails .order-payment-summary .label,
.orderdetails .order-billing .label,
.orderdetails .order-shipment-address .label,
.orderdetails .line-item-details .label,
.orderdetails .line-item-quantity .label,
.orderdetails .line-item-price .label {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #333; }

.orderdetails .line-items .line-item .line-item-price {
  font-family: Baskerville, "Times New Roman", Times, serif;
  color: #C6262C;
  font-weight: bold;
  font-style: italic;
  font-size: 24px;
  line-height: 24px; }
  .orderdetails .line-items .line-item .line-item-price .label {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #333;
    font-style: normal; }

p a {
  color: #C6262C;
  font-weight: bold; }

p {
  color: black;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  word-spacing: normal;
  line-height: 18px;
  padding: 9px 0 9px 0;
  text-align: left; }

p a {
  color: #C6262C;
  font-weight: bold; }

.pt_product-search-result #page-background #primary .contentboxcontent h1 {
  color: #fff; }
  .pt_product-search-result #page-background #primary .contentboxcontent h1.search-result {
    font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 36px;
    color: #fff; }

.pt_product-search-result #page-background #primary .search-blk a {
  display: inline-block;
  text-transform: capitalize;
  color: #ce0d0d; }
  .pt_product-search-result #page-background #primary .search-blk a:hover {
    text-decoration: none; }

#headerwrapper #header .row.column1 #minicart #multi-site-one-cart {
  background-image: url(../images/multi-site-one-cart-bg-right.png);
  background-position: right top;
  background-color: none; }

#headerwrapper #header .row.column1 #minicart #multi-site-one-cart span {
  color: white;
  font-weight: normal;
  width: 58px;
  border-radius: 5px;
  text-transform: capitalize;
  background-image: url(../images/multi-site-one-cart-bg.png); }

.minicarticon-cont .cart-icon {
  background: url(../images/cart.png) 0 6px no-repeat;
  width: 30px;
  float: left;
  height: 30px;
  margin: 0 5px 0 10px; }

#headerwrapper #header .row.column1 #minicart a.minicart-button {
  color: #C6262C; }

#headerwrapper #header .row.column1 #minicart a.minicart-checkout-button {
  background: linear-gradient(to bottom, #ce0d0d 60%, #aa0004 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0d0d', endColorstr='#aa0004', GradientType=0);
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 7px 0;
  height: 17px;
  text-indent: 0;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 11px;
  border-radius: 0 5px 5px 0; }

#headerwrapper #header .row.column1 #minicart a.minicart-checkout-button:hover {
  background: linear-gradient(to bottom, #aa0004 0%, #ce0d0d 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa0004', endColorstr='#ce0d0d', GradientType=0); }

.owl-carousel .owl-dot span {
  background-image: url(../images/slideshow-counter.png); }

.international-links-container {
  font-size: 13px; }

.international-links-footer-product {
  height: 1px; }

.international-investor-link {
  margin-top: 140px; }

.international-investor-link a {
  line-height: 10px;
  float: none;
  padding-left: 0px;
  letter-spacing: 0; }

.international-investor-link a:hover {
  padding-left: 0px; }

.shop-brand {
  font-size: 32px;
  font-weight: normal;
  line-height: 22px;
  padding: 15px 0 10px 0 !important;
  font-family: "SteelfishEb-Regular", Arial, Helvetica, sans-serif; }

.categorymenusnew a:hover {
  color: #ce0d0d;
  text-decoration: underline; }
  .categorymenusnew a:hover .count-products {
    color: #ce0d0d; }

.categorymenusnew .category-top-level.active a {
  color: #ce0d0d; }
  .categorymenusnew .category-top-level.active a:hover {
    color: #ce0d0d; }
    .categorymenusnew .category-top-level.active a:hover .count-products {
      color: #ce0d0d; }
  .categorymenusnew .category-top-level.active a .count-products {
    color: #ce0d0d; }

.categorymenusnew .category-top-level.active ul .count-products {
  color: #4d4d4d; }

.categorymenusnew .category-top-level .category-top-level2 li.active a {
  color: #ce0d0d;
  text-decoration: underline; }
  .categorymenusnew .category-top-level .category-top-level2 li.active a .count-products {
    color: #ce0d0d; }

.categorymenusnew .category-top-level .category-top-level2 li a:hover {
  color: #ce0d0d; }
  .categorymenusnew .category-top-level .category-top-level2 li a:hover .count-products {
    color: #ce0d0d; }

/* start of styles for my account page */
#container.pt_account #primary.primary-content .account-section .label .labeltext {
  color: #666;
  float: none;
  font-size: 12px;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-align: left;
  width: auto;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  padding: 0;
  vertical-align: top; }

#container.pt_account #primary.primary-content .account-section .returningcustomers .form-row {
  /* margin: 8px 0 16px 1px; */ }
  @media only screen and (min-width: 0) and (max-width: 480px) {
    #container.pt_account #primary.primary-content .account-section .returningcustomers .form-row {
      /* margin: 0px 0 16px 1px; */ } }

#container.pt_account #primary.primary-content .account-section .custom-checkbox {
  float: left;
  margin: 2px 0 15px 0;
  padding: 0;
  width: 100%;
  position: relative; }

#container.pt_account #primary.primary-content .account-section .cell {
  margin: 25px 0 0 10px; }

#container.pt_account #primary.primary-content .account-section .upshift .contentboxcontent.account-logs h1 {
  padding: 8px 0 2px; }

#container.pt_account #primary.primary-content .account-section .createan-account {
  margin-top: 23px; }
  #container.pt_account #primary.primary-content .account-section .createan-account .contentboxcontent.new-register .registration .form-row {
    /* margin: 15px 0 -3px 0px; */ }

#container.pt_account #footernew {
  top: -110px !important; }

/* end of styles for my account page */
.pt_storefront #footernew {
  top: -128px !important; }

#content .homepage .cell.downshift.featured-1 h2 {
  margin-bottom: 0px; }

.pt_storefront #footernew #footer-brands {
  padding: 50px 16px 20px 17px;
  margin-top: 27px !important; }

.pt_cart #footernew #footer-brands {
  padding: 50px 16px 20px 17px;
  margin-top: 27px !important; }

.pt_product-search-result #footernew #footer-brands {
  padding: 50px 16px 20px 17px;
  margin-top: 27px !important; }

#footernew {
  background-image: url(../images/footer-background.png);
  background-position: 50% 28px; }
  #footernew .social-icons #fallow-us-on ul .Facebook {
    padding: 4px 35px 2px 3px;
    margin: 7px 0 0 0; }
  #footernew .social-icons #fallow-us-on ul .you-tube {
    margin-top: 13px;
    padding: 2px 15px 5px 0; }
  #footernew .social-icons #fallow-us-on ul .Instagram {
    margin-top: 9px; }

.pt_product-details #footernew {
  background-position: 50% 0; }

.copyright {
  clear: both;
  padding: 5px 18px 0 0; }

#footernew .email-subscribe input.emailinput {
  padding: 0 9px 0 8px; }

body {
  color: black;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  font-size: 13px;
  background: white url(../images/container-background-70.jpg) 0 0 repeat; }

#footernew .wrapper .footer-main .footer-left-section .footer-links .footer-heading p, #footernew .wrapper .footer-main .footer-left-section .footer-links #linkheading, #footernew .wrapper .footer-main .footer-left-section .footer-links #linkheading a, .footer-links ul li a, #footernew .social-icons #fallow-us-on ul li a, #footernew .wrapper .footer-main #linkheading, .copyright, #footernew .email-txt .tooltip-footer, #footernew .email-txt .applay {
  color: #fff; }

#footernew .social-icons #fallow-us-on ul .you-tube a {
  background: url("../images/youtube-white.svg") no-repeat scroll left top transparent;
  padding-left: 40px; }

.footer-links ul li a, .footer-links ul li a:hover {
  font-weight: normal;
  color: #f2f2f2;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif; }

form .label {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  font-weight: bold;
  color: #333;
  font-variant: initial;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  padding-bottom: 2px; }

#vippage-background form .label {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  font-weight: bold !important;
  color: #333;
  font-variant: initial !important;
  text-transform: uppercase;
  font-size: 16px !important;
  line-height: 16px;
  padding-bottom: 2px; }

div .returningcustomers .custom_signin .formfield .form-row .label {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  font-weight: bold;
  color: #333;
  font-variant: initial;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  padding-bottom: 2px; }

.productdetail .addtocartbar .addtocart button.addtocartbutton {
  background-image: none;
  float: left;
  width: calc(100% - 50px);
  height: 40px;
  line-height: 40px;
  color: #fff;
  background-image: none;
  background: #ce0d0d;
  background: linear-gradient(to bottom, #ce0d0d 0%, #aa0003 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0d0d', endColorstr='#aa0003', GradientType=0);
  transition: inherit;
  text-transform: inherit;
  border: none; }

.productdetail .addtocartbar .addtocart .quantity .label {
  font-size: 13px !important;
  font-style: normal;
  font-weight: normal !important;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif; }

@media only screen and (min-width: 0) and (max-width: 959px) {
  #vippage-background .disign-header-title,
  #vippage-background h1 {
    font-size: 25px;
    line-height: 30px;
    font-weight: normal !important; }
  .pt_wish-list #main #page-background #primary h1,
  .pt_leftnav-addressbook #main #page-background #primary h1,
  .pt_order #main #page-background #primary h1,
  .pt_leftnav-payment #main #page-background #primary h1,
  .pt_leftnav-profile #main #page-background #primary h1,
  .pt_acc_landing #main #page-background #primary h1 {
    font-size: 25px;
    line-height: 30px;
    font-variant: normal; }
  .pt_acc_landing .content-asset .account-options li a h2 {
    font-size: 25px;
    line-height: 30px; }
  .desktop-view {
    display: none !important; }
  .productdetail a.filter span {
    font-style: normal;
    color: #fff;
    font-weight: normal; }
  .productdetail a.filter .selectedvarval {
    color: #fff; }
  .productdetail .price .salesprice {
    font-style: bold !important;
    font-size: 15px !important;
    color: #ce0d0d !important; }
  .selected a.filter,
  .future a.filter {
    background-color: #f1f1f1 !important;
    border-top: 1px solid #d0d0d0;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #f8f8f8;
    border-left: 1px solid #e8e8e8;
    color: #333 !important;
    border-radius: 3px; }
  .current a.filter {
    color: #fff;
    background: #ce0d0d;
    background: linear-gradient(to bottom, #ce0d0d 0%, #aa0003 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0d0d', endColorstr='#aa0003', GradientType=0); }
    .current a.filter:hover {
      background: #aa0003;
      background: linear-gradient(to bottom, #aa0003 0%, #ce0d0d 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa0003', endColorstr='#ce0d0d', GradientType=0); }
  .pt_wish-list .breadcrumb,
  .pt_leftnav-addressbook .breadcrumb,
  .pt_order .breadcrumb,
  .pt_leftnav-payment .breadcrumb,
  .pt_account .breadcrumb,
  .pt_product-search-result .breadcrumb,
  .pt_content-search-result .breadcrumb,
  .pt_leftnav-profile .breadcrumb {
    background: url(../images/container-background-70.jpg) !important;
    height: auto !important; }
    .pt_wish-list .breadcrumb a,
    .pt_leftnav-addressbook .breadcrumb a,
    .pt_order .breadcrumb a,
    .pt_leftnav-payment .breadcrumb a,
    .pt_account .breadcrumb a,
    .pt_product-search-result .breadcrumb a,
    .pt_content-search-result .breadcrumb a,
    .pt_leftnav-profile .breadcrumb a {
      color: #fff !important; }
    .pt_wish-list .breadcrumb .breadcrumb-element,
    .pt_leftnav-addressbook .breadcrumb .breadcrumb-element,
    .pt_order .breadcrumb .breadcrumb-element,
    .pt_leftnav-payment .breadcrumb .breadcrumb-element,
    .pt_account .breadcrumb .breadcrumb-element,
    .pt_product-search-result .breadcrumb .breadcrumb-element,
    .pt_content-search-result .breadcrumb .breadcrumb-element,
    .pt_leftnav-profile .breadcrumb .breadcrumb-element {
      color: #fff !important; }
      .pt_wish-list .breadcrumb .breadcrumb-element:after,
      .pt_leftnav-addressbook .breadcrumb .breadcrumb-element:after,
      .pt_order .breadcrumb .breadcrumb-element:after,
      .pt_leftnav-payment .breadcrumb .breadcrumb-element:after,
      .pt_account .breadcrumb .breadcrumb-element:after,
      .pt_product-search-result .breadcrumb .breadcrumb-element:after,
      .pt_content-search-result .breadcrumb .breadcrumb-element:after,
      .pt_leftnav-profile .breadcrumb .breadcrumb-element:after {
        color: #fff; }
      .pt_wish-list .breadcrumb .breadcrumb-element:last-element,
      .pt_leftnav-addressbook .breadcrumb .breadcrumb-element:last-element,
      .pt_order .breadcrumb .breadcrumb-element:last-element,
      .pt_leftnav-payment .breadcrumb .breadcrumb-element:last-element,
      .pt_account .breadcrumb .breadcrumb-element:last-element,
      .pt_product-search-result .breadcrumb .breadcrumb-element:last-element,
      .pt_content-search-result .breadcrumb .breadcrumb-element:last-element,
      .pt_leftnav-profile .breadcrumb .breadcrumb-element:last-element {
        font-weight: normal !important; }
    .pt_wish-list .breadcrumb .breadcrumb-element-slash:after,
    .pt_leftnav-addressbook .breadcrumb .breadcrumb-element-slash:after,
    .pt_order .breadcrumb .breadcrumb-element-slash:after,
    .pt_leftnav-payment .breadcrumb .breadcrumb-element-slash:after,
    .pt_account .breadcrumb .breadcrumb-element-slash:after,
    .pt_product-search-result .breadcrumb .breadcrumb-element-slash:after,
    .pt_content-search-result .breadcrumb .breadcrumb-element-slash:after,
    .pt_leftnav-profile .breadcrumb .breadcrumb-element-slash:after {
      color: #fff !important; }
    .pt_wish-list .breadcrumb span,
    .pt_leftnav-addressbook .breadcrumb span,
    .pt_order .breadcrumb span,
    .pt_leftnav-payment .breadcrumb span,
    .pt_account .breadcrumb span,
    .pt_product-search-result .breadcrumb span,
    .pt_content-search-result .breadcrumb span,
    .pt_leftnav-profile .breadcrumb span {
      color: #fff; }
      .pt_wish-list .breadcrumb span.breadcrumb-element-slash,
      .pt_leftnav-addressbook .breadcrumb span.breadcrumb-element-slash,
      .pt_order .breadcrumb span.breadcrumb-element-slash,
      .pt_leftnav-payment .breadcrumb span.breadcrumb-element-slash,
      .pt_account .breadcrumb span.breadcrumb-element-slash,
      .pt_product-search-result .breadcrumb span.breadcrumb-element-slash,
      .pt_content-search-result .breadcrumb span.breadcrumb-element-slash,
      .pt_leftnav-profile .breadcrumb span.breadcrumb-element-slash {
        background: none; }
  .pt_wish-list .breadcrumb span.breadcrumb-element-slash,
  .pt_leftnav-addressbook .breadcrumb span.breadcrumb-element-slash,
  .pt_order .breadcrumb span.breadcrumb-element-slash,
  .pt_leftnav-payment .breadcrumb span.breadcrumb-element-slash {
    background: none !important; }
  .pt_product-search-result .contentboxcontent .left-nav-style,
  .pt_content-search-result .contentboxcontent .left-nav-style {
    font-size: 25px;
    line-height: 30px; }
  .pt_product-search-result .contentboxcontent h1.leftnav,
  .pt_content-search-result .contentboxcontent h1.leftnav {
    font-size: 25px;
    line-height: 30px; }
  .pt_storefront #footernew {
    top: 0 !important; }
  #footernew {
    background: none; }
    #footernew .wrapper .receive-emails a {
      color: #fff; }
    #footernew .wrapper .footer-main {
      background-image: none;
      margin: 0;
      width: 100%;
      box-shadow: inset 0 8px 8px -8px #696868, inset 0 -8px 8px -8px #696868; }
      #footernew .wrapper .footer-main .footer-left-section .footer-links #about #linkheading, #footernew .wrapper .footer-main .footer-left-section .footer-links #customer-service #linkheading, #footernew .wrapper .footer-main .footer-left-section .footer-links #More-ways-to-shop #linkheading, #footernew .wrapper .footer-main .footer-left-section .footer-links #busniness #linkheading, #footernew .wrapper .footer-main .footer-left-section .footer-links #follow_us #linkheading, #footernew .wrapper .footer-main .footer-left-section .footer-links #rapala_insider #linkheading {
        color: #000; }
        #footernew .wrapper .footer-main .footer-left-section .footer-links #about #linkheading a, #footernew .wrapper .footer-main .footer-left-section .footer-links #customer-service #linkheading a, #footernew .wrapper .footer-main .footer-left-section .footer-links #More-ways-to-shop #linkheading a, #footernew .wrapper .footer-main .footer-left-section .footer-links #busniness #linkheading a, #footernew .wrapper .footer-main .footer-left-section .footer-links #follow_us #linkheading a, #footernew .wrapper .footer-main .footer-left-section .footer-links #rapala_insider #linkheading a {
          color: #000; }
          #footernew .wrapper .footer-main .footer-left-section .footer-links #about #linkheading a span, #footernew .wrapper .footer-main .footer-left-section .footer-links #customer-service #linkheading a span, #footernew .wrapper .footer-main .footer-left-section .footer-links #More-ways-to-shop #linkheading a span, #footernew .wrapper .footer-main .footer-left-section .footer-links #busniness #linkheading a span, #footernew .wrapper .footer-main .footer-left-section .footer-links #follow_us #linkheading a span, #footernew .wrapper .footer-main .footer-left-section .footer-links #rapala_insider #linkheading a span {
            color: #000; }
      #footernew .wrapper .footer-main .footer-left-section .footer-links #about.expanded ul li a, #footernew .wrapper .footer-main .footer-left-section .footer-links #customer-service.expanded ul li a, #footernew .wrapper .footer-main .footer-left-section .footer-links #More-ways-to-shop.expanded ul li a, #footernew .wrapper .footer-main .footer-left-section .footer-links #busniness.expanded ul li a, #footernew .wrapper .footer-main .footer-left-section .footer-links #follow_us.expanded ul li a, #footernew .wrapper .footer-main .footer-left-section .footer-links #rapala_insider.expanded ul li a {
        color: #000; } }

@media only screen and (min-width: 0) and (max-width: 480px) {
  #container.pt_account #primary #footernew {
    top: 0 !important; }
  #container.pt_account #primary.primary-content .account-section h1.title {
    line-height: 30px;
    font-size: 25px; }
  #container.pt_account #primary.primary-content .account-section .createan-account {
    margin: 5px 0 0 0; }
  #container.pt_account #primary.primary-content .account-section .upshift .contentboxcontent.account-logs h1 {
    padding: 0 0 30px 0; }
  .marcum-background .logo {
    background: url(../images/MarCumLogo_mobile-bar.svg) no-repeat center transparent;
    float: left;
    width: 100%;
    margin: 20px 0 20px;
    min-height: 40px; }
  #vippage-background #page .vip-signup-top1 {
    /* h1{
                     font-size:36px;
                     line-height:36px;
                     }  */ }
  #vippage-background #page .contentbox .contentboxcontent {
    /* h1{
                         font-size:25px !important;
                         line-height:27px !important;
                         } */ }
  #RegistrationForm .label span.labeltext {
    font-size: 12px !important;
    line-height: 12px; }
  form .label {
    font-size: 12px !important;
    line-height: 12px; } }

@media only screen and (min-width: 0) and (max-width: 767px) {
  #footernew .wrapper .receive-emails a, #footernew .wrapper .footer-main .footer-left-section .terms-privacy .terms, #footernew .wrapper .footer-main .footer-left-section .terms-privacy .privacy {
    color: #fff; } }

#container.pt_error #primary.primary-content .errorpage .nohits a:hover {
  color: #fff; }

#container.pt_error #primary.primary-content .errorpage fieldset.nohitsearch input.box {
  background: url("../images/search-marcum.png") no-repeat scroll 0 0 transparent; }

#container.pt_error #primary.primary-content .errorpage fieldset.nohitsearch button.btn {
  background: url("../images/search-marcum.png") no-repeat scroll right top #ff0000;
  transition: none; }
  #container.pt_error #primary.primary-content .errorpage fieldset.nohitsearch button.btn:hover {
    background: url("../images/search-marcum.png") no-repeat #ff0000;
    background-position: -202px -28px;
    transition: none; }

#container.pt_error #primary.primary-content .errorpage .errorfooter .errorfooterbottom .content-asset div {
  font-size: 14.3px; }

.pt_account.acc_landing .content-asset .account-options li {
  background: #fff;
  box-shadow: #999 0 0 10px;
  position: relative; }
  .pt_account.acc_landing .content-asset .account-options li h2 {
    text-align: center;
    background: none;
    font-family: "SteelfishEb-Regular", Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-variant: small-caps;
    font-weight: normal;
    color: #333; }
  .pt_account.acc_landing .content-asset .account-options li p, .pt_account.acc_landing .content-asset .account-options li a {
    color: #333; }
  .pt_account.acc_landing .content-asset .account-options li:hover {
    background-color: #C6262C;
    border-color: #C6262C; }
    .pt_account.acc_landing .content-asset .account-options li:hover a, .pt_account.acc_landing .content-asset .account-options li:hover h2, .pt_account.acc_landing .content-asset .account-options li:hover p {
      color: #333; }

.pt_product-search-result #page-background #primary .contentboxcontent h1.left-nav-style {
  color: #fff;
  font-weight: normal;
  font-size: 32px;
  font-family: "SteelfishEb-Regular", Arial, Helvetica, sans-serif;
  margin-top: -39px; }

.product-tile .product-image .quickview {
  background-color: #C6262C;
  border-width: 1px;
  border-style: solid;
  border-top-color: #A72126;
  border-right-color: #C32E33;
  border-bottom-color: #E9ACAE;
  border-left-color: #C32E33; }

.product-tile .product-image .quickview:hover {
  background-color: #E80000;
  text-decoration: none;
  border-top-color: #D70101;
  border-right-color: #F90A0A;
  border-bottom-color: #FF9D9D;
  border-left-color: #F90A0A; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-image .quickview {
  background-color: #C6262C;
  border-width: 1px;
  border-style: solid;
  border-top-color: #A72126;
  border-right-color: #C32E33;
  border-bottom-color: #E9ACAE;
  border-left-color: #C32E33; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-image .quickview:hover {
  background-color: #E80000;
  text-decoration: none;
  border-top-color: #D70101;
  border-right-color: #F90A0A;
  border-bottom-color: #FF9D9D;
  border-left-color: #F90A0A; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-name a {
  color: #000; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-name a:hover {
  text-decoration: none;
  color: #ce0d0d; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-pricing .product-sales-price {
  color: #999;
  font-size: 11px;
  font-weight: normal; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-promo {
  text-align: left;
  color: #E80000;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 10px;
  padding-top: 3px;
  font-weight: normal;
  line-height: 14px; }

.pt_content-search-result #page-background #primary #tabs ul.search-tabs li.active a span {
  color: #C6262C; }

.pt_content-search-result #page-background #primary .folder-content-list li a {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  font-family: "SteelfishEb-Regular", Arial, Helvetica, sans-serif;
  color: #333; }

.pt_content-search-result #page-background #primary .folder-content-list li p {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  color: #000;
  font-size: 13px; }
  .pt_content-search-result #page-background #primary .folder-content-list li p a.readmore {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
    color: #C6262C;
    font-weight: bold; }
    .pt_content-search-result #page-background #primary .folder-content-list li p a.readmore:hover {
      color: #ff0000; }

.pt_customerservice .accordion.tabover {
  background: none repeat scroll 0 0 #C6262C; }

.registration .custom_signup .form-row .label .labeltext {
  vertical-align: top; }

#headerwrapper #header .row.column1 .headercustomerinfo .change-regionnew {
  padding: 9px 12px 8px 0; }

@media only screen and (min-width: 0) and (max-width: 959px) {
  .breadcrumb-element-slash:after {
    content: '/';
    color: #fff; }
  .pt_cart #main .breadcrumb {
    color: #fff; }
    .pt_cart #main .breadcrumb .breadcrumb-element, .pt_cart #main .breadcrumb .breadcrumb-element-slash {
      color: #fff; }
    .pt_cart #main .breadcrumb .breadcrumb-element-slash {
      color: #fff; }
  #footernew .wrapper .footer-main .footer-left-section .footer-links .footer-heading p, #footernew .wrapper .footer-main .footer-left-section .footer-links #linkheading, #footernew .wrapper .footer-main .footer-left-section .footer-links #linkheading a, .footer-links ul li a, #footernew .social-icons #fallow-us-on ul li a, #footernew .wrapper .footer-main #linkheading, .copyright, #footernew .email-txt .tooltip-footer, #footernew .email-txt .applay {
    color: #000; }
    #footernew .wrapper .footer-main .footer-left-section .footer-links .footer-heading p:hover, #footernew .wrapper .footer-main .footer-left-section .footer-links #linkheading:hover, #footernew .wrapper .footer-main .footer-left-section .footer-links #linkheading a:hover, .footer-links ul li a:hover, #footernew .social-icons #fallow-us-on ul li a:hover, #footernew .wrapper .footer-main #linkheading:hover, .copyright:hover, #footernew .email-txt .tooltip-footer:hover, #footernew .email-txt .applay:hover {
      color: #000; }
  .pt_product-details .breadcrumb .wrapper .cell ul .breadcrumb-element-slash:after {
    content: "/";
    color: #fff;
    vertical-align: middle; }
  #container.pt_error #primary.primary-content .errorpage .errorfooter .errorfooterbottom .content-asset div {
    font-size: 12px; } }

#footernew .change-region {
  padding: 5px 18px 8px 0; }

@media only screen and (min-width: 0) and (max-width: 959px) {
  #headerwrapper #header div.logo {
    margin: 21px 0; } }

.productdetail .price {
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  color: #C6262C;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0px; }

#special-offers .promotion-title {
  color: #333; }

.productdetail a.filter span {
  color: #fff;
  font-size: 12px;
  font-weight: normal; }

.breadcrumb ul {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px; }
  .breadcrumb ul a, .breadcrumb ul span {
    font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 11px !important;
    color: #fff !important;
    font-weight: bold;
    text-shadow: 2px 3px 5px #000; }

.breadcrumb span.breadcrumb-element-slash {
  padding: 0 2px;
  background: url(../images/arrow-breadcrumb.png) center center no-repeat !important; }

.pt_product-details .breadcrumb .wrapper .cell ul .breadcrumb-element:last-child {
  font-weight: bold; }

.pt_product-details .productdetail .wrapper ~ #page-background .product-info.column.tab-sec #tabs ul.ui-tabs-nav li.ui-state-active a {
  background-image: none;
  background: #ce0d0d;
  /* Old browsers */
  background: linear-gradient(to bottom, #ce0d0d 10%, white 10%, #ce0d0d 10%, white 10%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e80000', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */ }

.quickview .ui-dialog-titlebar-close .ui-icon {
  background-image: url(../images/close-button.png); }
  .quickview .ui-dialog-titlebar-close .ui-icon:hover {
    background-position: 0 -34px; }

.pt_product-details .pdp-main .pdpmain-content .productname {
  font-size: 25px;
  line-height: 30px;
  font-variant: normal;
  color: #fff; }
  @media only screen and (min-width: 0) and (max-width: 480px) {
    .pt_product-details .pdp-main .pdpmain-content .productname {
      color: #000; } }

.productdetail .price .salesprice {
  color: #ce0d0d;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px; }

.pt_customerservice #content .customer .cell .contentboxcontent h1 {
  font-size: 25px;
  line-height: 30px;
  font-family: "SteelfishEb-Regular", Arial, Helvetica, sans-serif; }

.pt_customerservice .style-cservice .column .contentbox .left-nav-top .contentboxcontent .nav-group {
  padding: 0; }
  .pt_customerservice .style-cservice .column .contentbox .left-nav-top .contentboxcontent .nav-group li.first-level .second-level li.active a {
    color: #ce0d0d; }

.pt_customerservice .style-cservice .column .contentbox .left-nav-top .contentboxcontent h2.left-nav-style {
  padding: 9.5px 0;
  font-size: 25px;
  line-height: 30px;
  font-family: "SteelfishEb-Regular", Arial, Helvetica, sans-serif; }

.pt_customerservice #content .productsearchbreadcrumb {
  background: url(../images/container-background-70.jpg); }

@media only screen and (min-width: 0) and (max-width: 959px) {
  .pt_customerservice #content .productsearchbreadcrumb .breadcrumb-element {
    color: #fff; }
  .pt_customerservice #content .productsearchbreadcrumb .breadcrumb-element-slash:after {
    color: #fff; }
  #content .homepage .column.cell3 .cell.downshift h2 {
    line-height: 30px; } }

@media only screen and (min-width: 0) and (max-width: 959px) {
  .pt_customerservice #content .style-cservice .column.colspan2 h1 {
    font-size: 25px;
    line-height: 30px;
    font-family: "SteelfishEb-Regular", Arial, Helvetica, sans-serif; }
  .pt_customerservice #content .style-cservice .column.colspan2 .cellbox.accordion.tabover .folder-contentboxcontent {
    background: none repeat scroll 0 0 #C6262C; } }

.paymentinstruments .label {
  text-transform: uppercase;
  font-weight: bold;
  color: #333;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px; }

.ui-dialog.payment-settings .dialog-content .creditcardform .credit-cart-form-title {
  margin: 0;
  width: 100%;
  font-style: normal;
  font-size: 48px;
  line-height: 48px;
  font-weight: bold; }

.pt_customerservice #content .breadcrumb {
  background: url(../images/container-background-70.jpg); }
  .pt_customerservice #content .breadcrumb .breadcrumb-element {
    color: #fff;
    background: none; }
  .pt_customerservice #content .breadcrumb .breadcrumb-element-slash:after {
    color: #fff; }
  .pt_customerservice #content .breadcrumb .breadcrumb-element-slash {
    background: none; }

.pt_product-details .pdp-main .wrapper .pdpmain-content .provideo-spec-link li a {
  color: #fff; }
  @media only screen and (min-width: 0) and (max-width: 480px) {
    .pt_product-details .pdp-main .wrapper .pdpmain-content .provideo-spec-link li a {
      color: #666; } }

.tab-sec #tabs ul.ui-tabs-nav li a:hover span {
  color: #C6262C; }

.tab-sec #tabs ul.ui-tabs-nav li.ui-state-active a span {
  color: #C6262C; }

.small-new.new-stamp {
  border-radius: 15px;
  background-color: #ff0000;
  font-style: italic;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 10px;
  color: #fff;
  padding: 1px 5px;
  margin-right: 3px;
  width: auto !important;
  position: inherit;
  top: -5px; }

.small-new.new-stamp-big {
  border-radius: 15px;
  background-color: #ff0000;
  font-style: italic;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #fff;
  padding: 4px 8px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.65);
  margin-right: 3px;
  vertical-align: top; }

.newFlagColorSize .new-colors-snipe, .newFlagColorSize .new-sizes-snipe, .newFlagColorSize .new-pak-size, .newPakSizeFlag .new-colors-snipe, .newPakSizeFlag .new-sizes-snipe, .newPakSizeFlag .new-pak-size {
  border-radius: 15px;
  background-color: #ff0000;
  font-style: italic;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 10px;
  color: #fff;
  padding: 1px 5px;
  margin-right: 3px; }

.variationattributes .color ul li a span.corner-ribbon {
  background-color: #ff0000;
  color: #fff; }

.productdetail #special-offers ul li {
  color: #ce0d0d; }

.productdetail .price .price-sales {
  color: #ce0d0d; }

/*# sourceMappingURL=marcum.css.map */
