@import url("https://fast.fonts.com/cssapi/cbb4354c-180c-4070-8d88-4a145ac73007.css");
.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.menu {
  float: left;
  margin: 0;
  padding: 0; }
  .menu li {
    float: left;
    list-style: none outside none !important; }

body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background: #040B1E url(../images/body-background-70.jpg) 50% 0 no-repeat; }

body.js-body {
  background: none; }

body .js-container-active .open-menu-wrap {
  background: #040B1E url(../images/body-background-70.jpg) 50% -105px no-repeat; }

h1,
.h-one-tag {
  font-family: "Europa W00 Bold", "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  font-size: 38px;
  font-weight: normal;
  font-style: normal;
  line-height: 38px;
  text-transform: uppercase;
  color: #333; }

h2 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 18px;
  text-transform: uppercase;
  color: #333; }

h3 {
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  line-height: 16px;
  text-transform: none;
  color: #333; }

h4 {
  font-family: "Europa W00 Bold", "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  text-transform: uppercase;
  color: #333; }

h5 {
  font-family: "Europa W00 Bold", "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  text-transform: uppercase;
  color: #333; }

h6 {
  font-family: "Europa W00 Bold", "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
  text-transform: uppercase;
  color: #333; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #333;
  text-decoration: none; }
  h1 a:hover,
  h2 a:hover,
  h3 a:hover,
  h4 a:hover,
  h5 a:hover,
  h6 a:hover {
    color: #235AA6;
    text-decoration: none; }

p {
  color: #333;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  word-spacing: normal;
  line-height: 18px;
  padding: 9px 0;
  text-align: left; }

a {
  color: #235AA6;
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    color: #4396E1;
    text-decoration: none; }

a.filter {
  background-image: url(../images/arrow-filter-expand-big.png);
  background-color: #235aa6;
  background: linear-gradient(to bottom, #235aa6 0%, #00407c 100%);
  background-repeat: no-repeat;
  border-width: 1px;
  border-style: solid;
  border-top-color: #4396E1;
  border-right-color: #2359A2;
  border-bottom-color: #AAC0DD;
  border-left-color: #2B5FA6;
  clear: left;
  color: #fff !important;
  display: block;
  float: left;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
  margin: 18px 0 0;
  padding: 5px 28px 5px 10px;
  text-transform: uppercase;
  width: 184px; }
  a.filter:hover {
    background-image: none;
    background-color: #00407c;
    background: linear-gradient(to bottom, #00407c 0%, #235aa6 100%);
    text-decoration: none;
    color: #fff; }

#container {
  background: transparent; }

.categorymenusnew .category-top-level > a:hover .count-products, .categorymenusnew li.active > a .count-products {
  color: #235AA6; }

.pt_productsearchresult #page-background .row.column3 .colspan2.cell4 .contentboxcontent a.searchedfor {
  color: #235AA6; }

h1, .h-one-tag {
  margin: 0; }

h1.left-nav-style {
  padding-bottom: 6px;
  border-bottom: #CCC solid 1px; }

h2.input-style {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  padding-bottom: 2px; }

a.filter {
  margin: 18px 0 0;
  display: block;
  clear: left;
  float: left;
  width: 184px;
  line-height: 18px;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0;
  padding: 5px 28px 5px 10px;
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-image: url(../images/arrow-filter-expand-big.png);
  color: #fff !important;
  background: #235aa6;
  background: linear-gradient(to bottom, #235aa6 0%, #00407c 100%);
  border-width: 1px;
  border-style: solid;
  border-top-color: #4396E1;
  border-right-color: #2359A2;
  border-bottom-color: #AAC0DD;
  border-left-color: #2B5FA6; }
  a.filter:hover {
    text-decoration: none;
    background: #00407c;
    background: linear-gradient(to bottom, #00407c 0%, #235aa6 100%);
    border-top-color: #397FBE;
    border-right-color: #4292DC;
    border-bottom-color: #B7D7F3;
    border-left-color: #4896DD; }

p a {
  font-weight: bold; }

#container.pt_product-search-noresult .breadcrumb {
  color: #fff; }

#footernew .wrapper .footer-main .footer-left-section .footer-links #about li#linkheading.desktopHide a span {
  color: #b3b3b3; }

#footernew .wrapper .footer-main .footer-left-section .footer-links #about li#linkheading.desktopHide a:hover {
  font-weight: normal;
  color: #f2f2f2;
  text-decoration: underline; }

.ui-dialog.addressadd #dialog-container .form-horizontal .form-row.form-row-button button.simple {
  background-color: #235AA6;
  color: #fff; }
  .ui-dialog.addressadd #dialog-container .form-horizontal .form-row.form-row-button button.simple:hover {
    background: #4396E1; }

#content .homepage .downshift h1, #content .homepage .downshift h2 {
  padding-top: 1px; }

.pt_store-locator .storelocator h1 {
  text-transform: uppercase;
  font-vairant: normal; }

.pt_store-locator .storelocatorzipsearch .stack .form-row .label {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold; }

.pt_wish-list #main .item-details .product-list-item span.price-sales {
  color: #235AA6;
  font-size: 15px; }

.pt_acc_landing .content-asset .account-options li {
  transition: none; }
  .pt_acc_landing .content-asset .account-options li a {
    transition: none; }
    .pt_acc_landing .content-asset .account-options li a h2 {
      font-family: "Europa W00 Bold", "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 38px;
      line-height: 38px;
      padding: 10px 0; }
    .pt_acc_landing .content-asset .account-options li a p {
      text-transform: capitalize; }
  .pt_acc_landing .content-asset .account-options li:hover {
    background-color: #4396E1;
    border-color: #4396E1;
    transition: none; }
    .pt_acc_landing .content-asset .account-options li:hover h2 {
      color: #fff; }
    .pt_acc_landing .content-asset .account-options li:hover p {
      color: #fff; }
    .pt_acc_landing .content-asset .account-options li:hover i {
      color: #fff; }

.pt_leftnav-addressbook #main .breadcrumb .breadcrumb-element:last-child {
  color: #fff; }

.pt_leftnav-addressbook #main .breadcrumb .breadcrumb-element span.breadcrumb-element-slash {
  background: none; }
  .pt_leftnav-addressbook #main .breadcrumb .breadcrumb-element span.breadcrumb-element-slash:after {
    color: #fff; }

.pt_leftnav-addressbook #addresses .address-list .address-tile .mini-address-title {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 2px;
  color: #333;
  text-transform: uppercase; }

.pt_leftnav-addressbook #addresses .address-list .address-tile .mini-address-location address {
  line-height: 14px; }

.pt_leftnav-profile #primary #RegistrationForm legend {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif; }

.pt_order h1 {
  text-align: left;
  background: none;
  border: none;
  padding: 0; }

.pt_order .search-result-items li .order-history-items .order-history-table th {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold; }

.pt_order .search-result-items li .order-history-items .order-history-table tr .order-price .value {
  font-family: Baskerville, "Times New Roman", Times, serif;
  color: #235AA6;
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
  line-height: 30px; }

.orderdetails .order-information .order-number .label {
  font-size: 38px;
  line-height: 38px;
  font-family: "Europa W00 Bold", "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  font-weight: normal;
  color: #333;
  text-transform: uppercase;
  font-style: normal; }

.orderdetails .order-information .order-number .value {
  font-size: 38px;
  line-height: 38px;
  font-family: "Europa W00 Bold", "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  font-weight: normal;
  color: #333;
  text-transform: uppercase;
  font-style: normal; }

.orderdetails .order-payment-summary .label,
.orderdetails .order-billing .label,
.orderdetails .order-shipment-address .label,
.orderdetails .line-item-details .label,
.orderdetails .line-item-quantity .label,
.orderdetails .line-item-price .label {
  color: #333;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase; }

.orderdetails .line-items .line-item .line-item-price {
  font-family: Baskerville, "Times New Roman", Times, serif;
  color: #235AA6;
  font-weight: bold;
  font-style: italic;
  font-size: 24px;
  line-height: 24px; }
  .orderdetails .line-items .line-item .line-item-price .label {
    color: #333;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    font-style: normal; }

.pt_product-search-result #page-background #primary .contentboxcontent h1 {
  color: #fff; }
  .pt_product-search-result #page-background #primary .contentboxcontent h1.search-result {
    font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 36px;
    color: #fff; }

.pt_product-search-result #page-background #primary .search-blk a {
  display: inline-block;
  text-transform: capitalize;
  color: #235AA6; }
  .pt_product-search-result #page-background #primary .search-blk a:hover {
    text-decoration: none; }

.owl-carousel .owl-dot span {
  background-image: url(../images/slideshow-counter.png); }

/*buttons*/
a.button, button {
  margin: 0;
  display: block;
  clear: left;
  float: left;
  height: 28px;
  line-height: 28px;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0;
  color: white;
  padding: 0 18px 0 18px;
  background-color: #235AA6;
  border-width: 1px;
  border-style: solid;
  border-top-color: #4396E1;
  border-right-color: #2359A2;
  border-bottom-color: #AAC0DD;
  border-left-color: #2B5FA6; }

a.button:hover, button:hover {
  background: #4396E1;
  text-decoration: none;
  border-top-color: #397FBE;
  border-right-color: #4292DC;
  border-bottom-color: #B7D7F3;
  border-left-color: #4896DD;
  cursor: pointer; }

.addTo-cart-section a.button:hover, .addTo-cart-section button:hover {
  background: linear-gradient(to bottom, #00407c 0%, #235aa6 100%) !important;
  text-decoration: none;
  border-top-color: #397FBE;
  border-right-color: #4292DC;
  border-bottom-color: #B7D7F3;
  border-left-color: #4896DD;
  cursor: pointer; }

#headerwrapper #header .row.column1 #minicart #multi-site-one-cart {
  background-image: url(../images/multi-site-one-cart-bg-right.png);
  background-color: none;
  background-position: right top; }

#headerwrapper #header .row.column1 #minicart #multi-site-one-cart span {
  color: white;
  font-weight: normal;
  width: 58px;
  border-radius: 5px;
  text-transform: capitalize;
  background-image: url(../images/multi-site-one-cart-bg.png); }

.minicarticon-cont .cart-icon {
  background: url(../images/darkbluecart.png) 0 6px no-repeat;
  width: 30px;
  float: left;
  height: 30px;
  margin: 0 5px 0 10px; }

#headerwrapper #header .row.column1 #minicart a.minicart-button {
  color: #235AA6;
  text-decoration: underline; }

#headerwrapper #header .row.column1 #minicart a.minicart-checkout-button {
  background: linear-gradient(to bottom, #235AA6 60%, #00407c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$wil-bgblue', endColorstr='#00407c', GradientType=0);
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 7px 0;
  height: 17px;
  text-indent: 0;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 11px;
  border-radius: 0 5px 5px 0; }

#headerwrapper #header .row.column1 #minicart a.minicart-checkout-button:hover {
  background: linear-gradient(to bottom, #00407c 0%, #235AA6 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00407c', endColorstr='$wil-bgblue', GradientType=0); }

.international-links-container {
  font-size: 12px; }

.international-investor-link {
  margin-top: 50px;
  color: #235AA6; }

.international-investor-link a {
  color: #235AA6;
  border-width: 1px;
  border-style: solid;
  border-top-color: #4396E1;
  border-right-color: #2359A2;
  border-bottom-color: #AAC0DD;
  border-left-color: #2B5FA6;
  line-height: 10px;
  float: none;
  padding-left: 0px;
  letter-spacing: 0; }

.international-investor-link a:hover {
  color: #4396E1;
  border-top-color: #397FBE;
  border-right-color: #4292DC;
  border-bottom-color: #B7D7F3;
  border-left-color: #4896DD;
  padding-left: 0px; }

.shop-brand {
  font-weight: normal;
  line-height: 22px;
  padding-bottom: 7px !important;
  font-size: 33px;
  font-family: "Europa W00 Bold", "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif; }

.categorymenusnew a:hover {
  color: #235aa6;
  text-decoration: underline; }

.categorymenusnew .category-top-level.active a {
  color: #235aa6; }
  .categorymenusnew .category-top-level.active a:hover {
    color: #235aa6; }
    .categorymenusnew .category-top-level.active a:hover .count-products {
      color: #235aa6; }
  .categorymenusnew .category-top-level.active a .count-products {
    color: #235aa6; }

.categorymenusnew .category-top-level.active ul .count-products {
  color: #4d4d4d; }

.categorymenusnew .category-top-level .category-top-level2 li.active a {
  color: #235aa6;
  text-decoration: underline; }
  .categorymenusnew .category-top-level .category-top-level2 li.active a .count-products {
    color: #235aa6; }

.categorymenusnew .category-top-level .category-top-level2 li a:hover {
  color: #235aa6; }
  .categorymenusnew .category-top-level .category-top-level2 li a:hover .count-products {
    color: #235aa6; }

/* start of styles for my account page */
#container.pt_account #primary.primary-content .account-section .label .labeltext {
  color: #666;
  float: none;
  font-size: 12px;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-align: left;
  width: auto;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  padding: 0; }

#container.pt_account #primary.primary-content .account-section .returningcustomers .form-row {
  /* margin: 8px 0 16px 1px; */ }
  @media only screen and (min-width: 0) and (max-width: 480px) {
    #container.pt_account #primary.primary-content .account-section .returningcustomers .form-row {
      /* margin: 0px 0 16px 1px; */ } }

#container.pt_account #primary.primary-content .account-section .custom-checkbox {
  float: left;
  margin: 2px 0 15px 0;
  padding: 0;
  width: 100%;
  position: relative; }

#container.pt_account #primary.primary-content .account-section .cell {
  margin: 25px 0 0 10px; }

#container.pt_account #primary.primary-content .account-section .upshift .contentboxcontent.account-logs h1 {
  padding: 8px 0 2px; }

#container.pt_account #primary.primary-content .account-section .createan-account {
  margin-top: 23px; }
  #container.pt_account #primary.primary-content .account-section .createan-account .contentboxcontent.new-register .registration .form-row {
    /* margin: 15px 0 -3px 0px; */ }

#container.pt_account #footernew {
  top: -110px !important; }

/* end of styles for my account page */
.pt_content-search-result #footernew {
  top: 0 !important; }

#footernew {
  background-image: url(../images/footer-background.png);
  background-position: 50% 28px; }
  #footernew .social-icons #fallow-us-on ul .Facebook {
    padding: 2px 35px 2px 3px;
    margin: 7px 0 0 0; }
  #footernew .social-icons #fallow-us-on ul .you-tube {
    margin-top: 13px; }

.pt_product-details #footernew {
  background-position: 50% 0; }
  .pt_product-details #footernew #footer-brands {
    margin-top: 0; }

.pt_storefront #footernew {
  top: -132px; }

#footernew #footer-brands {
  padding: 50px 16px 20px 17px;
  margin-top: 27px; }

#footernew .social-icons #fallow-us-on ul .Facebook {
  height: 19px; }

#footernew .social-icons #fallow-us-on ul .you-tube {
  padding: 0 15px 5px 0; }

#footernew .email-subscribe input.emailinput {
  padding: 0 9px 0 8px; }

#footernew .wrapper .footer-main .footer-left-section .footer-links .footer-heading p {
  color: #b3b3b3;
  padding: 0 0 9px; }

#footernew .wrapper .footer-main .footer-left-section .footer-links #linkheading, #footernew .wrapper .footer-main .footer-left-section .footer-links #linkheading a {
  color: #b3b3b3; }

.footer-links ul li a, .footer-links ul li a:hover {
  font-weight: normal;
  color: #f2f2f2; }

#footernew .social-icons #fallow-us-on ul li a {
  color: #fff; }

#footernew .social-icons #fallow-us-on ul .you-tube a {
  background: url("../images/youtube-white.svg") no-repeat scroll left top transparent;
  padding-left: 40px; }

.copyright {
  clear: both;
  padding: 5px 18px 0 0;
  color: #b3b3b3; }

#footernew .wrapper .footer-main .footer-left-section .footer-links #linkheading a span {
  color: #b3b3b3; }

#footernew .email-txt .tooltip-footer, #footernew .email-txt .applay, #footernew .wrapper .footer-main #linkheading {
  color: #b3b3b3; }

form .label {
  font-variant: initial;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold; }

#vippage-background form .label {
  font-variant: initial !important;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  text-transform: uppercase !important;
  font-size: 14px !important;
  line-height: 16px;
  font-weight: bold !important; }

div .returningcustomers .custom_signin .formfield .form-row .label {
  font-variant: initial;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  padding-bottom: 2px; }

.productdetail .addtocartbar .addtocart button.addtocartbutton {
  background-image: none;
  float: left;
  width: calc(100% - 50px);
  height: 40px;
  line-height: 40px;
  color: #fff;
  background-image: none;
  background: #235aa6;
  background: linear-gradient(to bottom, #235aa6 0%, #00407c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#235aa6', endColorstr='#00407c', GradientType=0);
  transition: inherit;
  text-transform: inherit;
  border: none; }

.productdetail .addtocartbar .addtocart .quantity .label {
  font-size: 13px !important;
  font-style: normal;
  font-weight: normal !important;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif; }

@media only screen and (min-width: 481px) {
  .pt_product-details #content .pdp-main .pdpmain-content .provideo-spec-link li.specChart-link a {
    color: #fff; } }

.pt_product-details #content .pdp-main .pdpmain-content .productname {
  color: #fff; }
  @media only screen and (min-width: 0) and (max-width: 480px) {
    .pt_product-details #content .pdp-main .pdpmain-content .productname {
      color: #000; } }

@media only screen and (min-width: 0) and (max-width: 959px) {
  #vippage-background .disign-header-title,
  #vippage-background h1 {
    font-size: 24px;
    line-height: 28px;
    font-weight: normal; }
  #footernew .wrapper .footer-main .footer-left-section .terms-privacy .terms,
  #footernew .wrapper .footer-main .footer-left-section .terms-privacy .privacy {
    color: #fff; }
  #footernew .wrapper .footer-main .footer-left-section .footer-links #about, #footernew .wrapper .footer-main .footer-left-section .footer-links #customer-service, #footernew .wrapper .footer-main .footer-left-section .footer-links #More-ways-to-shop, #footernew .wrapper .footer-main .footer-left-section .footer-links #busniness, #footernew .wrapper .footer-main .footer-left-section .footer-links #rapala_insider, #footernew .wrapper .footer-main .footer-left-section .footer-links #follow_us {
    background: #F1F1F1; }
  .pt_wish-list #main #page-background #primary h1,
  .pt_leftnav-addressbook #main #page-background #primary h1,
  .pt_order #main #page-background #primary h1,
  .pt_leftnav-payment #main #page-background #primary h1,
  .pt_leftnav-profile #main #page-background #primary h1,
  .pt_acc_landing #main #page-background #primary h1 {
    font-size: 24px;
    line-height: 28px;
    font-variant: normal; }
  .pt_acc_landing .content-asset .account-options li a h2 {
    font-size: 24px;
    line-height: 28px; }
  #container.pt_product-search-noresult .breadcrumb {
    background: url(../images/body-background-70.jpg) repeat-x; }
  .desktop-view {
    display: none !important; }
  .pt_product-details .pdp-main .pdpmain-content .productname {
    font-size: 24px;
    line-height: 28px;
    font-variant: normal;
    color: #fff; }
  .productdetail a.filter span {
    font-style: normal;
    color: #fff;
    font-weight: normal; }
  .productdetail a.filter .selectedvarval {
    color: #fff; }
  .productdetail .price .salesprice {
    font-style: bold !important;
    font-size: 15px !important;
    color: #235aa6 !important; }
  .selected a.filter,
  .future a.filter {
    background-color: #F1F1F1 !important;
    border-top: 1px solid #d0d0d0;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #f8f8f8;
    border-left: 1px solid #e8e8e8;
    color: #333 !important;
    border-radius: 3px; }
  .current a.filter {
    color: #fff;
    border: 1px solid #105182;
    background: #235aa6;
    background: linear-gradient(to bottom, #235aa6 0%, #00407c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#235aa6', endColorstr='#00407c', GradientType=0); }
    .current a.filter:hover {
      background: #00407c;
      background: linear-gradient(to bottom, #00407c 0%, #235aa6 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00407c', endColorstr='#235aa6', GradientType=0); }
  .pt_product-search-result .contentboxcontent .left-nav-style,
  .pt_content-search-result .contentboxcontent .left-nav-style {
    font-size: 25px;
    line-height: 27px; }
  .pt_product-search-result .contentboxcontent h1.leftnav,
  .pt_content-search-result .contentboxcontent h1.leftnav {
    font-size: 24px;
    line-height: 28px; }
  .pt_wish-list .breadcrumb,
  .pt_leftnav-addressbook .breadcrumb,
  .pt_order .breadcrumb,
  .pt_leftnav-payment .breadcrumb,
  .pt_account .breadcrumb,
  .pt_product-search-result .breadcrumb,
  .pt_content-search-result .breadcrumb,
  .pt_leftnav-profile .breadcrumb {
    background: url(../images/body-background-70.jpg) !important;
    height: auto !important;
    font-size: 13px; }
    .pt_wish-list .breadcrumb a,
    .pt_leftnav-addressbook .breadcrumb a,
    .pt_order .breadcrumb a,
    .pt_leftnav-payment .breadcrumb a,
    .pt_account .breadcrumb a,
    .pt_product-search-result .breadcrumb a,
    .pt_content-search-result .breadcrumb a,
    .pt_leftnav-profile .breadcrumb a {
      color: #fff !important; }
    .pt_wish-list .breadcrumb .breadcrumb-element,
    .pt_leftnav-addressbook .breadcrumb .breadcrumb-element,
    .pt_order .breadcrumb .breadcrumb-element,
    .pt_leftnav-payment .breadcrumb .breadcrumb-element,
    .pt_account .breadcrumb .breadcrumb-element,
    .pt_product-search-result .breadcrumb .breadcrumb-element,
    .pt_content-search-result .breadcrumb .breadcrumb-element,
    .pt_leftnav-profile .breadcrumb .breadcrumb-element {
      color: #fff !important; }
      .pt_wish-list .breadcrumb .breadcrumb-element:after,
      .pt_leftnav-addressbook .breadcrumb .breadcrumb-element:after,
      .pt_order .breadcrumb .breadcrumb-element:after,
      .pt_leftnav-payment .breadcrumb .breadcrumb-element:after,
      .pt_account .breadcrumb .breadcrumb-element:after,
      .pt_product-search-result .breadcrumb .breadcrumb-element:after,
      .pt_content-search-result .breadcrumb .breadcrumb-element:after,
      .pt_leftnav-profile .breadcrumb .breadcrumb-element:after {
        color: #fff !important; }
      .pt_wish-list .breadcrumb .breadcrumb-element:last-element,
      .pt_leftnav-addressbook .breadcrumb .breadcrumb-element:last-element,
      .pt_order .breadcrumb .breadcrumb-element:last-element,
      .pt_leftnav-payment .breadcrumb .breadcrumb-element:last-element,
      .pt_account .breadcrumb .breadcrumb-element:last-element,
      .pt_product-search-result .breadcrumb .breadcrumb-element:last-element,
      .pt_content-search-result .breadcrumb .breadcrumb-element:last-element,
      .pt_leftnav-profile .breadcrumb .breadcrumb-element:last-element {
        font-weight: normal !important; }
    .pt_wish-list .breadcrumb .breadcrumb-element-slash,
    .pt_leftnav-addressbook .breadcrumb .breadcrumb-element-slash,
    .pt_order .breadcrumb .breadcrumb-element-slash,
    .pt_leftnav-payment .breadcrumb .breadcrumb-element-slash,
    .pt_account .breadcrumb .breadcrumb-element-slash,
    .pt_product-search-result .breadcrumb .breadcrumb-element-slash,
    .pt_content-search-result .breadcrumb .breadcrumb-element-slash,
    .pt_leftnav-profile .breadcrumb .breadcrumb-element-slash {
      background: none; }
      .pt_wish-list .breadcrumb .breadcrumb-element-slash:after,
      .pt_leftnav-addressbook .breadcrumb .breadcrumb-element-slash:after,
      .pt_order .breadcrumb .breadcrumb-element-slash:after,
      .pt_leftnav-payment .breadcrumb .breadcrumb-element-slash:after,
      .pt_account .breadcrumb .breadcrumb-element-slash:after,
      .pt_product-search-result .breadcrumb .breadcrumb-element-slash:after,
      .pt_content-search-result .breadcrumb .breadcrumb-element-slash:after,
      .pt_leftnav-profile .breadcrumb .breadcrumb-element-slash:after {
        color: #fff !important; }
    .pt_wish-list .breadcrumb span,
    .pt_leftnav-addressbook .breadcrumb span,
    .pt_order .breadcrumb span,
    .pt_leftnav-payment .breadcrumb span,
    .pt_account .breadcrumb span,
    .pt_product-search-result .breadcrumb span,
    .pt_content-search-result .breadcrumb span,
    .pt_leftnav-profile .breadcrumb span {
      color: #fff; }
  .pt_wish-list .breadcrumb span.breadcrumb-element-slash,
  .pt_leftnav-addressbook .breadcrumb span.breadcrumb-element-slash,
  .pt_order .breadcrumb span.breadcrumb-element-slash,
  .pt_leftnav-payment .breadcrumb span.breadcrumb-element-slash {
    background: none !important; }
  #footernew {
    background: none;
    top: 0 !important; }
    #footernew .wrapper .receive-emails a {
      color: #fff; }
    #footernew .wrapper .footer-main {
      background-image: none;
      margin: 0;
      width: 100%; }
      #footernew .wrapper .footer-main .footer-left-section .footer-links #about #linkheading, #footernew .wrapper .footer-main .footer-left-section .footer-links #customer-service #linkheading, #footernew .wrapper .footer-main .footer-left-section .footer-links #More-ways-to-shop #linkheading, #footernew .wrapper .footer-main .footer-left-section .footer-links #busniness #linkheading, #footernew .wrapper .footer-main .footer-left-section .footer-links #follow_us #linkheading, #footernew .wrapper .footer-main .footer-left-section .footer-links #rapala_insider #linkheading {
        color: #000; }
        #footernew .wrapper .footer-main .footer-left-section .footer-links #about #linkheading a, #footernew .wrapper .footer-main .footer-left-section .footer-links #customer-service #linkheading a, #footernew .wrapper .footer-main .footer-left-section .footer-links #More-ways-to-shop #linkheading a, #footernew .wrapper .footer-main .footer-left-section .footer-links #busniness #linkheading a, #footernew .wrapper .footer-main .footer-left-section .footer-links #follow_us #linkheading a, #footernew .wrapper .footer-main .footer-left-section .footer-links #rapala_insider #linkheading a {
          color: #000; }
          #footernew .wrapper .footer-main .footer-left-section .footer-links #about #linkheading a span, #footernew .wrapper .footer-main .footer-left-section .footer-links #customer-service #linkheading a span, #footernew .wrapper .footer-main .footer-left-section .footer-links #More-ways-to-shop #linkheading a span, #footernew .wrapper .footer-main .footer-left-section .footer-links #busniness #linkheading a span, #footernew .wrapper .footer-main .footer-left-section .footer-links #follow_us #linkheading a span, #footernew .wrapper .footer-main .footer-left-section .footer-links #rapala_insider #linkheading a span {
            color: #000; }
      #footernew .wrapper .footer-main .footer-left-section .footer-links #about.expanded ul li a, #footernew .wrapper .footer-main .footer-left-section .footer-links #customer-service.expanded ul li a, #footernew .wrapper .footer-main .footer-left-section .footer-links #More-ways-to-shop.expanded ul li a, #footernew .wrapper .footer-main .footer-left-section .footer-links #busniness.expanded ul li a, #footernew .wrapper .footer-main .footer-left-section .footer-links #follow_us.expanded ul li a, #footernew .wrapper .footer-main .footer-left-section .footer-links #rapala_insider.expanded ul li a {
        color: #000; } }

@media only screen and (min-width: 0) and (max-width: 767px) {
  #footernew .wrapper .footer-main .footer-left-section .terms-privacy .terms, #footernew .wrapper .footer-main .footer-left-section .terms-privacy .privacy {
    color: #fff; } }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .product-specifications.iphone-view .specificiations {
    border: none; }
    .product-specifications.iphone-view .specificiations tbody {
      border-bottom: 1px solid #CCC;
      margin-bottom: 2em;
      display: table;
      width: 100%; }
      .product-specifications.iphone-view .specificiations tbody tr:nth-child(even) {
        background: #fff; }
      .product-specifications.iphone-view .specificiations tbody tr:nth-child(odd) {
        background: #DEE6F1; }
      .product-specifications.iphone-view .specificiations tbody tr:first-child th {
        width: 100%;
        background: #235AA6;
        background: linear-gradient(to bottom, #235AA6 0%, #00407c 100%);
        color: #fff;
        vertical-align: middle;
        border: none;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px; }
      .product-specifications.iphone-view .specificiations tbody tr td {
        width: 50%;
        float: left;
        vertical-align: middle;
        padding: 8px 13.5px;
        box-sizing: border-box;
        min-height: 31px;
        display: block;
        border-bottom: none; }
  #container.pt_account #primary #footernew {
    top: 0 !important; }
  #container.pt_account #primary.primary-content .account-section h1.title {
    line-height: 28px;
    font-size: 24px; }
  #container.pt_account #primary.primary-content .account-section .createan-account {
    margin: 5px 0 0 0; }
  #container.pt_account #primary.primary-content .account-section .upshift .contentboxcontent.account-logs h1 {
    padding: 0 0 30px 0; }
  .williamson-background .logo {
    background: url(../images/Williamson_Lures_mobile-bar.svg) no-repeat center transparent;
    float: left;
    width: 100%;
    margin: 20px 0 20px;
    min-height: 40px; }
  #vippage-background #page .vip-signup-top1 {
    /* h1{
                     font-size:36px;
                     line-height:36px;
                     } */ }
  #vippage-background #page .contentbox .contentboxcontent {
    /* h1{
                         font-size:25px !important;
                         line-height:27px !important;
                         } */ }
  #RegistrationForm .label span.labeltext {
    font-size: 12px !important;
    line-height: 12px; }
  form .label {
    font-size: 12px !important;
    line-height: 12px; } }

#container.pt_error #primary.primary-content .notfound.cell {
  margin: 12px 18px 24px 18px; }

#container.pt_error #primary.primary-content .errorpage fieldset.nohitsearch input.box {
  background: url("../images/search-full-williamson.png") no-repeat scroll 0 0 transparent; }

#container.pt_error #primary.primary-content .errorpage fieldset.nohitsearch button.btn {
  background: url("../images/search-full-williamson.png") no-repeat scroll right top #235AA6;
  transition: none; }
  #container.pt_error #primary.primary-content .errorpage fieldset.nohitsearch button.btn:hover {
    background: url("../images/search-full-williamson.png") no-repeat #4396E1;
    background-position: -202px -28px; }

#container.pt_error #footernew {
  top: 0 !important; }

.pt_account.acc_landing .content-asset .account-options li {
  background: #fff;
  box-shadow: #999 0 0 10px;
  position: relative; }
  .pt_account.acc_landing .content-asset .account-options li h2 {
    text-align: center;
    background: none;
    font-family: "Europa W00 Bold", "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
    font-size: 36px;
    font-variant: small-caps;
    font-weight: normal;
    color: #333; }
  .pt_account.acc_landing .content-asset .account-options li p, .pt_account.acc_landing .content-asset .account-options li a {
    color: #333; }
  .pt_account.acc_landing .content-asset .account-options li:hover {
    background-color: #4396E1;
    border-color: #4396E1; }
    .pt_account.acc_landing .content-asset .account-options li:hover a, .pt_account.acc_landing .content-asset .account-options li:hover h2, .pt_account.acc_landing .content-asset .account-options li:hover p {
      color: #fff; }

.pt_product-search-result #page-background #primary .contentboxcontent h1.left-nav-style {
  color: #fff;
  font-weight: normal;
  margin-bottom: 0;
  font-family: "Europa W00 Bold", "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  font-size: 33px;
  border: none;
  margin: -43px 0 20px 0; }

.product-tile .product-image .quickview {
  background-color: #235aa6;
  border-width: 1px;
  border-style: solid;
  border-top-color: #4396E1;
  border-right-color: #2359A2;
  border-bottom-color: #AAC0DD;
  border-left-color: #2B5FA6;
  color: #fff; }

.product-tile .product-image .quickview:hover {
  color: white;
  background-color: #4396E1;
  text-decoration: none;
  border-top-color: #397FBE;
  border-right-color: #4292DC;
  border-bottom-color: #B7D7F3;
  border-left-color: #4896DD; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-image .quickview {
  color: #fff;
  background-color: #235aa6;
  border-width: 1px;
  border-style: solid;
  border-top-color: #4396E1;
  border-right-color: #2359A2;
  border-bottom-color: #AAC0DD;
  border-left-color: #2B5FA6; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-image .quickview:hover {
  background-color: #4396E1;
  text-decoration: none;
  border-top-color: #397FBE;
  border-right-color: #4292DC;
  border-bottom-color: #B7D7F3;
  border-left-color: #4896DD; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-name a {
  color: #000; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-name a:hover {
  text-decoration: none;
  color: #4396E1; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-name a {
  color: #000; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-name a:hover {
  text-decoration: none;
  color: #235AA6; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-swatches-all {
  color: #235aa6; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-swatches-all:hover {
  color: #235AA6 !important;
  text-decoration: underline; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-pricing .product-sales-price {
  color: #999;
  font-size: 11px;
  font-weight: normal; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-swatches img:hover {
  border: #4396E1 solid 1px;
  height: 12px;
  margin: 0px;
  padding: 0px;
  width: 12px; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-swatches .selected img {
  border-color: #FFF200; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-swatches .selected img:hover {
  border: 1px solid #4396E1; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-promo {
  text-align: left;
  color: #E80000;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 10px;
  padding-top: 3px;
  font-weight: normal;
  line-height: 14px; }

.pt_content-search-result #page-background #primary #tabs ul.search-tabs li.active a span {
  color: #235AA6; }

.pt_content-search-result #page-background #primary .folder-content-list li a {
  font-size: 18px;
  line-height: 18px;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  font-weight: bold;
  color: #333; }

.pt_content-search-result #page-background #primary .folder-content-list li p {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 13px; }
  .pt_content-search-result #page-background #primary .folder-content-list li p a.readmore {
    font-family: Arial, Helvetica, sans-serif;
    color: #235AA6;
    font-weight: bold; }
    .pt_content-search-result #page-background #primary .folder-content-list li p a.readmore:hover {
      color: #4396E1; }

.pt_customerservice .affiliates h1, .pt_customerservice .prostaff h1 {
  font-family: "Europa W00 Bold", "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif; }

.pt_customerservice .affiliates .pro-detail h2, .pt_customerservice .prostaff .pro-detail h2 {
  font-family: "Europa W00 Bold", "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  font-weight: normal; }

.pt_customerservice #footernew {
  top: 0px !important; }

.pt_customerservice .accordion.tabover {
  background-color: #235AA6; }

.registration .custom_signup .form-row .label .labeltext {
  vertical-align: top; }

#headerwrapper #header .row.column1 .headercustomerinfo .change-regionnew {
  padding: 9px 12px 8px 0; }

@media only screen and (min-width: 0) and (max-width: 959px) {
  .breadcrumb-element-slash:after {
    content: '/';
    color: #fff !important; }
  .pt_cart #main .breadcrumb {
    color: #fff; }
    .pt_cart #main .breadcrumb .breadcrumb-element, .pt_cart #main .breadcrumb .breadcrumb-element-slash {
      color: #fff; }
    .pt_cart #main .breadcrumb .breadcrumb-element-slash {
      color: #fff; }
  #footernew .wrapper .footer-main .footer-left-section .footer-links .footer-heading p, #footernew .wrapper .footer-main .footer-left-section .footer-links #linkheading, #footernew .wrapper .footer-main .footer-left-section .footer-links #linkheading a, .footer-links ul li a, #footernew .social-icons #fallow-us-on ul li a, #footernew .wrapper .footer-main #linkheading, .copyright, #footernew .email-txt .tooltip-footer, #footernew .email-txt .applay, #footernew .wrapper .footer-main #linkheading a span, #footernew .wrapper .footer-main .footer-left-section .footer-links #linkheading a span {
    color: #000; }
    #footernew .wrapper .footer-main .footer-left-section .footer-links .footer-heading p:hover, #footernew .wrapper .footer-main .footer-left-section .footer-links #linkheading:hover, #footernew .wrapper .footer-main .footer-left-section .footer-links #linkheading a:hover, .footer-links ul li a:hover, #footernew .social-icons #fallow-us-on ul li a:hover, #footernew .wrapper .footer-main #linkheading:hover, .copyright:hover, #footernew .email-txt .tooltip-footer:hover, #footernew .email-txt .applay:hover, #footernew .wrapper .footer-main #linkheading a span:hover, #footernew .wrapper .footer-main .footer-left-section .footer-links #linkheading a span:hover {
      color: #000; }
  #container.pt_error #primary.primary-content .notfound.cell {
    margin: 0px; } }

.product-specifications .specificiations thead tr.header td {
  background: #235AA6;
  background: linear-gradient(to bottom, #235AA6 0%, #00407c 100%);
  color: #fff; }

.product-specifications .specificiations tbody tr.evenrow {
  background: #DEE6F1; }

@media only screen and (min-width: 0) and (max-width: 959px) {
  #headerwrapper #header div.logo {
    margin: 20.5px 0; } }

.productdetail .price {
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  color: #235AA6;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0px; }
  .productdetail .price .salesprice {
    color: #235AA6;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0px; }

#special-offers .promotion-title {
  color: #333; }

input.quantityinput, input .quantity input {
  padding: 11px 9px 11px 9px;
  width: 32px;
  height: 14px;
  line-height: 14px;
  border: 2px solid #235aa6;
  font-size: 14px;
  font-weight: bold;
  color: #235aa6;
  text-align: center; }

.productdetail a.filter span {
  color: #fff;
  font-size: 12px;
  font-weight: normal; }

.variationattributes .swatches li a:hover {
  color: #fff;
  border-color: #4396E1;
  background-image: url("../images/product-detail-size.jpg"); }

.variationattributes .swatches li.selected a {
  color: #fff;
  border-color: #4396E1;
  background-image: url(../images/product-detail-size.jpg); }

.breadcrumb ul {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px; }
  .breadcrumb ul a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px !important;
    font-weight: normal;
    color: #fff !important; }
    .breadcrumb ul a:hover {
      background-position: 2px 50%;
      color: #4396E1 !important;
      text-decoration: none; }
  .breadcrumb ul span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px !important;
    font-weight: normal;
    color: #fff !important; }

.breadcrumb span.breadcrumb-element-slash {
  padding: 0 2px;
  background: url(../images/arrow-breadcrumb.png) center center no-repeat; }

.pt_product-details .productdetail .wrapper ~ #page-background .product-info.column.tab-sec #tabs ul.ui-tabs-nav li.ui-state-active a {
  background-image: none;
  background: #235AA6;
  /* Old browsers */
  background: linear-gradient(to bottom, #235AA6 10%, white 10%, #235AA6 10%, white 10%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e80000', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */ }

.quickview .ui-dialog-titlebar-close .ui-icon {
  background-image: url(../images/close-button.png); }
  .quickview .ui-dialog-titlebar-close .ui-icon:hover {
    background-position: 0 -34px; }

.pt_customerservice #content .customer .cell .contentboxcontent h1 {
  font-size: 24px;
  line-height: 28px;
  font-family: "Europa W00 Bold", "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif; }

.pt_customerservice .style-cservice .column .contentbox .left-nav-top .contentboxcontent h2.left-nav-style {
  padding: 10.5px 0;
  font-size: 24px;
  line-height: 28px;
  font-family: "Europa W00 Bold", "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif; }

.pt_customerservice .style-cservice .column .contentbox .left-nav-top .contentboxcontent .nav-group {
  padding: 0; }
  .pt_customerservice .style-cservice .column .contentbox .left-nav-top .contentboxcontent .nav-group li.first-level .second-level li.active a {
    color: #235AA6; }

.pt_customerservice #content .productsearchbreadcrumb, .pt_customerservice #content .breadcrumb {
  background: url(../images/body-background-70.jpg); }

@media only screen and (min-width: 0) and (max-width: 959px) {
  .pt_customerservice #content .productsearchbreadcrumb .breadcrumb-element, .pt_customerservice #content .breadcrumb .breadcrumb-element {
    color: #fff;
    background: none; }
  .pt_customerservice #content .productsearchbreadcrumb .breadcrumb-element-slash:after, .pt_customerservice #content .breadcrumb .breadcrumb-element-slash:after {
    color: #fff; }
  .pt_customerservice #content .productsearchbreadcrumb .breadcrumb-element-slash, .pt_customerservice #content .breadcrumb .breadcrumb-element-slash {
    background: none; } }

@media only screen and (min-width: 0) and (max-width: 959px) {
  .pt_customerservice #content .style-cservice .column.colspan2 h1 {
    font-size: 24px;
    line-height: 28px;
    font-family: "Europa W00 Bold", "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif; }
  .pt_customerservice #content .style-cservice .column.colspan2 .cellbox.accordion.tabover .folder-contentboxcontent {
    background-color: #235AA6; } }

.paymentinstruments .label {
  text-transform: uppercase;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  padding-bottom: 2px; }

.ui-dialog.payment-settings .dialog-content .creditcardform .credit-cart-form-title {
  margin: 0;
  width: 100%;
  font-style: normal;
  font-size: 38px;
  line-height: 38px;
  letter-spacing: 0; }

.pt_customerservice .site-map ul li.first-level ul li a:hover {
  text-decoration: none; }

.tab-sec #tabs ul.ui-tabs-nav li a:hover span {
  color: #4396E1; }

.tab-sec #tabs ul.ui-tabs-nav li.ui-state-active a span {
  color: #4396E1; }

.small-new.new-stamp {
  border-radius: 15px;
  background-color: #4396E1;
  font-style: italic;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 10px;
  color: #fff;
  padding: 1px 5px;
  margin-right: 3px;
  width: auto !important;
  position: inherit;
  top: -5px; }

.small-new.new-stamp-big {
  border-radius: 15px;
  background-color: #4396E1;
  font-style: italic;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #fff;
  padding: 4px 8px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.65);
  margin-right: 3px;
  vertical-align: top; }

.newFlagColorSize .new-colors-snipe, .newFlagColorSize .new-sizes-snipe, .newFlagColorSize .new-pak-size, .newPakSizeFlag .new-colors-snipe, .newPakSizeFlag .new-sizes-snipe, .newPakSizeFlag .new-pak-size {
  border-radius: 15px;
  background-color: #4396E1;
  font-style: italic;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 10px;
  color: #fff;
  padding: 1px 5px;
  margin-right: 3px; }

.variationattributes .color ul li a span.corner-ribbon {
  background-color: #0093DC;
  color: #fff; }

.productdetail #special-offers ul li {
  color: #235aa6; }

.productdetail .price .price-sales {
  color: #235AA6; }

/*# sourceMappingURL=williamson.css.map */
