.pt_orderconfirmation,
.pt_checkout {
    #main {
        box-shadow: none;
    }
    .header-wrapper {
        background: $white;
        box-shadow: none;
        border-bottom: $border;
        @include respond(medium-down) {
            background: $white !important;
            box-shadow: none !important;
            border-bottom: $border !important;
            height: auto !important;
        }
    }
    #headerwrapper {
        #header {
            box-shadow: none !important;
            background: none !important;
            .row.column1 {
                @include respond(large-up) {
                    margin: 0;
                }
                .headercustomerinfo {
                    #user {
                        margin-top: 0 !important;
                        @include respond(medium-down) {
                            width: auto;
                            @include line-height(33px);
                        }
                        @include respond(large-up) {
                            float: left;
                        }
                        .welcomemessage {
                            @include line-height(33px);
                        }
                    }
                    #userinfo {
                        margin-top: 0 !important;
                        a {
                            margin-right: rem(3px) !important;
                        }
                        .arrow-size.right-arrow {
                            margin-top: rem(11px) !important;
                            @include respond(medium-down) {
                                margin-top: 14px !important;
                            }
                        }
                    }
                }
            }
            .header-wrapper {
                .row.column1 {
                    #topcell {
                        .headercustomerinfo.newcheckout-headercustomerinfo {
                            #userinfo {
                                @include respond(medium-down) {
                                    margin-top: 0 !important;
                                }
                                a {
                                    @include respond(medium-down) {
                                        padding-top: 0 !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .pt_orderconf-guest {
        @include respond(large-up) {
            float: left !important;
        }
    }
    .headercustomerinfo {
        a {
            padding: 0 !important;
            margin-right: 5px;
            line-height: rem(33px) !important;
        }
    }
    #header-brands,
    #header-brands {
        text-align: center;
        li {
            float: none;
            display: inline-block;
            vertical-align: middle;
        }
    }
    #paymentmethods {
        .payment-method {
            label {
                margin-right: rem(10px);
                @include respond(medium-down) {
                    text-align: left !important;
                    margin: 0;
                    padding: 0;
                }
            }
            .expirationdate {
                margin-bottom: rem(7px);
                clear: both;
                overflow: hidden;
                @include respond(large-up) {
                    width: rem(300px);
                    margin-left: rem(125px);
                }
                .form-row {
                    margin: 0;
                }
                .label {
                    line-height: rem(15px) !important;
                    float: none;
                    text-align: left;
                    display: block;
                    position: static;
                    margin: 0 0 rem(5px);
                    .requiredindicator {
                        float: none !important;
                    }
                }
                .field-wrapper {
                    float: none;
                    width: 100%;
                    display: block;
                }
                .month,
                .year {
                    width: 50% !important;
                    margin: 0 !important;
                    box-sizing: border-box;
                    .textinput {
                        width: 100% !important;
                        float: none;
                    }
                }
                .month {
                    padding-right: rem(5px);
                }
                .year {
                    padding-left: rem(5px);
                }
            }
        }
    }
}

.pt_checkout {
    #content {
        .contentbox.checkout_cont {
            @include respond(medium-down) {
                border: none;
            }
        }
    }
    .shippingaccountmsg {
        font-family: $font;
    }
    .checkout_body_cont {
        #couponentry,
        .formfield.giftcertfield {
            span.label,
            .label {
                font-family: $font;
            }
        }
        .checkoutshipping,
        .checkoutbilling {
            .shipping-signintomyaccount,
            .shipping-checkoutasguest,
            .shipping-address {
                font-family: $font;
            }
            .form-row,
            .field-wrapper {
                @include respond(medium-down) {
                    float: none;
                    width: 100%;
                }
            }
            .form-row-type-checkbox {
                .label {
                    @include respond(medium-down) {
                        float: none;
                        width: 100% !important;
                        padding: 0;
                    }
                }
            }
            .shippinglogindetails,
            .shippinglogindetails {
                button {
                    @include button('submit');
                    padding: 0;
                    min-width: inherit;
                    width: rem(100px);
                }
            }
            .addresslist.custom-select {
                font-family: $font;
                .field-wrapper {
                    box-shadow: none;
                    font-family: $font;
                    border: none;
                    background: none;
                    height: rem(30px);
                    @include respond(large-up) {
                        margin-left: 12px;
                    }
                }
            }
            .SaveCard {
                .labeltext {
                    float: none !important;
                }
            }
        }
    }
    .checkout-header-center {
        float: left !important;
        font-family: $font !important;
    }
    .respected-rapala-brands {
        font-family: $font !important;
    }
    .encapsulate-section {
        a.continueshopping {
            font-family: $font;
        }
    }
    .form-row {
        .tooltip {
            @include tooltip;
            @include line-height(15px);
            float: right !important;
            top: inherit !important;
            margin: 0 !important;
            background: none !important;
            text-indent: 0 !important;
            width: auto !important;
            height: auto !important;
        }
    }
    form {
        .field-wrapper {
            input[type="text"],
            input[type="password"] {
                @include form-input;
                border-radius: $form-field-border-radius !important;
            }
        }
        .label {
            @include respond(large-up) {
                margin-bottom: rem(5px);
                line-height: rem(15px) !important;
            }
        }
    }
    .summary-carttable {
        th {
            .left-nav-style {
                font-family: $font;
            }
        }
    }
    .checkout_body_cont {
        .checkoutshipping,
        .checkoutbilling {
            .custom-checkbox {
                .field-wrapper {
                    label {
                        padding-left: 0;
                        font-family: $font;
                    }
                }
            }
            .checkbox {
                @include respond(medium-down) {
                    float: none;
                    width: 100%;
                }
            }
            .form-row-50 {
                &.zip {
                    @include respond(medium-down) {
                        float: none !important;
                        margin-left: 0 !important;
                    }
                    @include respond(large-up) {
                        width: rem(134px);
                    }
                    .field-wrapper {
                        input[type="text"] {
                            @include respond(large-up) {
                                width: 100%;
                            }
                        }
                    }
                    .clearbutton {
                        left: inherit !important;
                        right: 0 !important;
                    }
                }
                .field-wrapper {
                    float: none;
                    select {
                        border: 0;
                        background: $trans;
                        padding: 2px 0 2px 10px;
                        height: $form-field-height - $form-field-border-width * 2;
                        margin: 0;
                        //Hack: IE9 only
                        @media all and (min-width: 0\0) and (min-resolution: .001dpcm) {
                            padding-right: 10px;
                        }
                        width: 120%; // in case some browser doesn't support the calc function below
                        width: calc(100% + #{$form-dropdown-arrow-icon-width});
                        appearance: none;
                    }
                }
            }
            .continue-checkout-button {
                button {
                    @include button('submit');
                    min-width: inherit;
                    box-sizing: border-box;
                    @include respond(medium-down) {
                        width: 100% !important;
                    }
                    span {
                        line-height: inherit;
                        text-transform: inherit;
                        font-size: inherit;
                        color: inherit;
                        text-decoration: none;
                        display: inline-block;
                        background: none;
                        width: 100%;
                        font-weight: inherit;
                        font-family: inherit;
                        letter-spacing: normal;
                        padding: 0;
                        height: inherit;
                    }
                }
            }
        }
        .shipping-ordermessage-process {
            font-family: $font;
        }
    }
    .shippingmethod-tooltip {
        font-family: $font;
    }
    legend {
        font-family: $font;
    }
    .selected-shipping-address,
    .selected-billing-address,
    .minishipment .billingpageShippingaddress {
        font-family: $font;
    }
    .checkout {
        .addressform,
        .checkoutbilling {
            .custom-checkbox {
                margin-bottom: 0;
                .custom-link {
                    display: none !important;
                }
                & + .form-row-type-hidden {
                    display: none;
                }
            }
            .expirationdate-field-wrapper {
                @include respond(medium-down) {
                    margin-left: 0 !important;
                }
            }
            .form-row,
            .form-caption {
                margin-left: 0;
                &.year {
                    @include respond(medium-down) {
                        margin-left: rem(5px);
                        float: left;
                    }
                }
                &.month {
                    @include respond(medium-down) {
                        margin-right: rem(5px);
                        float: left;
                    }
                }
                input[type="text"],
                input[type="tel"],
                input[type="email"],
                input[type="number"],
                input[type="password"],
                input[type="date"],
                textarea {
                    @include respond(medium-down) {
                        border: $form-field-border !important;
                    }
                }
            }
            .form-row-50.addressid {
                margin-left: 0;
                .label {
                    @include label;
                    margin-bottom: 0;
                    width: 100%;
                    @include respond(medium-down) {
                        margin-left: 0;
                        padding-left: 0;
                        line-height: 20px;
                    }
                    @include respond(large-up) {
                        margin-bottom: rem(5px);
                        line-height: rem(15px) !important;
                    }
                    .labeltext {
                        color: inherit;
                    }
                }
                .tooltip {
                    @include tooltip;
                    @include line-height(15px);
                    float: right !important;
                    top: inherit !important;
                    margin: -10px 0 0 !important;
                    left: inherit;
                    right: 0;
                    background: none !important;
                    text-indent: 0 !important;
                    width: auto !important;
                    height: auto !important;
                }
            }
            .whyemail-address {
                float: right !important;
                margin: 0 !important;
            }
            .new-address-field {
                .new-address-button {
                    @include button;
                    min-width: inherit;
                    width: auto;
                }
            }
        }
    }
    .billingsection {
        .addressform {
            .new-address-field,
            .edit-address-field {
                .new-address-button,
                .edit-billing-button {
                    @include button;
                    min-width: inherit;
                    width: auto;
                }
            }
        }
        .editshippingaddress.first {
            margin-right: 112px;
        }
        .side-note {
            font-family: $font;
        }
        .billingbutton {
            @include button;
            min-width: inherit;
            a {
                color: inherit;
                font-size: inherit;
                line-height: inherit;
            }
            .arrow-size {
                margin-top: rem(15px) !important;
                margin-right: rem(5px) !important;
            }
        }
        .field-wrapper {
            padding-left: 0;
        }
        .email-field {
            @include respond(large-up) {
                max-width: rem(287px);
                margin-bottom: rem(25px);
            }
            .form-row {
                float: none !important;
                margin-left: rem(13px);
                margin-bottom: 0;
            }
        }
    }
    #paymentmethods {
        .form-row {
            margin-bottom: 0;
        }
        .paymentmethods_cont {
            .toggle {
                label,
                label.paypaltoggle {
                    margin-bottom: 0;
                    line-height: normal;
                }
            }
        }
        .card-typ-image {
            line-height: normal;
        }
        .expirationdate {
            .custom-select {
                .field-wrapper {
                    background: none !important;
                    border: none !important;
                    box-shadow: none !important;
                    height: auto !important;
                }
            }
            .selectorOut {
                line-height: 30px !important;
                height: 30px !important;
                font-family: $font !important;
                color: $form-field-color !important;
            }
            .required-indicator {
                @include respond(medium-down) {
                    display: none;
                }
            }
        }
        .label {
            @include label;
            margin-bottom: 0;
            @include respond(medium-down) {
                margin-left: 0;
                padding-left: 0;
                line-height: 20px;
            }
            @include respond(large-up) {
                line-height: rem(30px) !important;
            }
            .labeltext {
                color: inherit;
            }
        }
        .required-indicator,
        .requiredindicator {
            margin-left: 3px !important;
            @include respond(large-up) {
                float: right;
            }
        }
    }
    .selectorOut,
    .singleshipping_error,
    .cardnotworking-tooltip {
        font-family: $font;
    }
    .checkout {
        .paymentform.creditcardpayment {
            .creditcardlist.custom-select {
                .field-wrapper {
                    font-family: $font;
                    background: none;
                    border: none;
                    box-shadow: none;
                    height: 30px;
                    line-height: 30px;
                }
            }
        }
    }
}

.contentboxcontent {
    p {
        font-family: $font;
    }
}

#shipping-method-list  {
    .shipping-methods,
    .shippingMethodDetails {
        font-family: $font;
        label {
            font-family: $font;
        }
        .shippingmethod-left {
            .shippingprice-detail {
                font-family: $font;
            }
        }
        .field-wrapper {
            padding-left: 0;
        }
        .form-row,
        .form-caption {
            margin-left: 0;
        }
    }
}

.pt_checkout {
    .column3 {
        .column {
            .summary-section {
                box-shadow: none;
                border: none;
                padding: 0;
            }
        }
    }
}

.new-summery-cart {
    .checkoutminisummary {
        .section-header {
            font-family: $font;
        }
    }
}

.new-summery-cart .checkoutordertotals .ordertotals {
    table.ordertotalstable,
    table.order-totals-table {
        .label {
            @include product-attr-title;
        }
        .value {
            @include product-attr-name;
        }
    }
}

.checkout_cont,
.new-summery {
    border: none;
    padding: 0;
}

.summary-carttable {
    tr.tablerow:last-child {
        table {
            border-bottom: none;
        }
    }
}

.column3 {
    .column {
        .summary-section {
            .heading,
            .basketItems,
            .editcart {
                font-family: $font;
            }
        }
        .itemtotalcolumn {
            .totalprice {
                @include pdp-price;
                font-style: normal;
                font-size: 10px;
            }
        }
    }
}

.pt_orderconfirmation {
    #page-background {
        @include respond(medium-down) {
            box-shadow: none;
        }
    }
    #content {
        .row {
            .colspan2 {
                .cell {
                    .contentboxcontent {
                        h1 {
                            font-family: $font;
                        }
                        .ordernumber {
                            font-family: $font;
                        }
                        .orderdate {
                            .value {
                                font-family: $font;
                            }
                        }
                        .thankyoumessage {
                            h1 {
                                @include h1;
                            }
                            .orderdate {
                                .value {
                                    font-family: $font;
                                }
                            }
                            .ordernumber {
                                .label {
                                    @include product-attr-title;
                                }
                                .value {
                                    @include product-attr-name;
                                }
                            }
                            .order-content {
                                .impo-things {
                                    font-family: $font;
                                    background: $background;
                                    border: $border;
                                    h2 {
                                        @include h2;
                                    }
                                    ul {
                                        li {
                                            font-family: $font;
                                            span {
                                                font-family: $font;
                                            }
                                        }
                                    }
                                }
                            }
                            .ordermessage-process {
                                span {
                                    font-family: $font;
                                }
                            }
                        }
                    }
                    .order-confirmation-details {
                        .orderpayment {
                            .orderpaymentdetails {
                                .orderpaymentdetailstable {
                                    * {
                                        font-family: $font;
                                    }
                                    .custom-table-head {
                                        font-family: $font;
                                    }
                                    .custom-table-data.orderpaymentinstruments {
                                        .mini-address-location {
                                            address,
                                            .label.paymenttype {
                                                font-family: $font !important;
                                            }
                                        }
                                        .label.paymenttype {
                                            font-family: $font;
                                            color: $black;
                                            @include font-size(13px);
                                        }
                                        .paymentamount {
                                            .label {
                                                @include product-attr-title;
                                                margin-right: rem(3px);
                                            }
                                            .value {
                                                @include product-attr-name;
                                            }
                                        }
                                    }
                                    .cc-type,
                                    .cc-number {
                                        label {
                                            font-family: $font !important;
                                        }
                                    }
                                    .custom-table-data.ordershipping {
                                        .ordershipmentaddress {
                                            .name {
                                                .address {
                                                    font-family: $font;
                                                }
                                            }
                                        }
                                        .shippingmethod,
                                        .shippingstatus,
                                        .trackingnumber {
                                            .label {
                                                @include product-attr-title;
                                            }
                                            .value {
                                                @include product-attr-name;
                                            }
                                        }
                                    }
                                    .custom-table-data.orderpaymentsummary {
                                        .custom-table-row {
                                            .label,
                                            .value-sales,
                                            .value {
                                                font-family: $font;
                                            }
                                        }
                                    }
                                    .custom-table-data.orderpaymentsummary {
                                        .custom-table-row.ordertotal {
                                            .label-total,
                                            .value {
                                                font-family: $font;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .submission-box {
        .button-box {
            &.customerService,
            &.returnShopping {
                @include respond(large-down) {
                    padding: 0;
                    float: none;
                    width: 100%;
                }
            }
        }
        a {
            @include button;
            width: auto;
            @include respond(large-down) {
                width: 100%;
            }
        }
    }
    .ordershipments {
        .ordershipment {
            .ordershipmenttable {
                thead {
                    th {
                        font-family: $font;
                    }
                }
            }
        }
    }
    .ordertotals_conatiner {
        * {
            font-family: $font !important;
        }
        .details.ordercol2 {
            .product-list-item {
                .attribute,
                .sku {
                    .label {
                        @include product-attr-title;
                    }
                    .value {
                        @include product-attr-name;
                    }
                }
            }
        }
    }
}

.checkoutbilling .gucreateaccount .optionalgray,
.guestbillingform,
.checkout .labeltext,
.editshippingaddress,
.checkoutbilling .label .labeltext,
.checkoutbilling .billing-promocode, .paymentmethods .toggle-label,
.paymentmethodform .billing-paymentmethod,
.billing-review,
.reviewcontent,
#address-valid-dialog .addresses-section .left-pane h2,
#address-valid-dialog .addresses-section .right-pane h2 {
    font-family: $font;
}
