// color //

$sufix-lightblack: #333333;
$sufix-black: #000000;
$sufix-white: #ffffff;
$sufix-darkgrey: #666666;
$sufix-mediumgrey: #333532;
$sufix-gray: #999;
$sufix-yellow: #FFEF1E;
$sufix-widget-color: #222222;
$sufix-red: #E80000;

// background //

$sufix-bgyellow: #FFF000;
$sufix-bgyellowmedium: #e8d900;
$sufix-bgwhite: $sufix-white;
$sufix-bgblack: $sufix-black;
$sufix-bglightyellow: #FFE600;
$sufix-bglightwhite: #f1f1f1;
$sufix-bgyellowlight: #FFE600;

// border-color //

$sufix-borderdarkgrey: $sufix-darkgrey;
$sufix-borderyellow: #D7CA00;
$sufix-borderyellowone: #F9EA00;
$sufix-borderyellowtwo: #FFF89D;

// font-family //

$sufix-font: Garamond, "Times New Roman", Times, serif;
$sufix-lucida: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
$sufix-fontsufix: 'BaskervilleBT-Roman';
$sufix-fontBasker: Baskerville, "Times New Roman", Times, serif;
$sufix-fonttimes: "Times New Roman", Times, serif;

//---------------------------------
// Overwrite Global variables
//---------------------------------

// Fonts
$font: $sufix-font;
$font-secondary: $sufix-lucida;
$font-third: $sufix-fontsufix;
$font-fourth: $sufix-fontBasker;
$font-fifth: $sufix-fonttimes;
$body-font-size: 13px;
$body-line-height: 21px;
$body-letter-spacing: 0;

// Main Colors
$body-color: $sufix-darkgrey;
$main-color: $sufix-lightblack;
$body-background: $sufix-bgwhite;
$open-menu-bg: '';

// Label
$label-color: $body-color;
$label-font: $font;
$label-font-style: normal;
$label-weight: bold;
$label-font-size: $body-font-size;
$label-line-height: 12px;
$label-text-transform: none;

// H1-h6
$header-font: $font-third;
$header-link-color: $body-color;
$header-link-hover-color: $sufix-lightblack;
$header-link-decoration: none;

$h1-font: $header-font;
$h1-font-size: 24px;
$h1-font-weight: normal;
$h1-font-style: normal;
$h1-line-height: 24px;
$h1-text-transform: none;
$h1-color: $body-color;

$h2-font: $header-font;
$h2-font-size: 13px;
$h2-font-weight: normal;
$h2-font-style: normal;
$h2-line-height: 13px;
$h2-text-transform: none;
$h2-color: $body-color;

$h3-font: $font;
$h3-font-size: 1.15em;
$h3-font-weight: bold;
$h3-font-style: normal;
$h3-line-height: normal;
$h3-text-transform: none;
$h3-color: $body-color;

$h4-font: $font;
$h4-font-size: 13px;
$h4-font-weight: bold;
$h4-font-style: normal;
$h4-line-height: normal;
$h4-text-transform: none;
$h4-color: $body-color;

$h5-font: $header-font;
$h5-font-size: 12px;
$h5-font-weight: normal;
$h5-font-style: normal;
$h5-line-height: 12px;
$h5-text-transform: none;
$h5-color: $body-color;

$h6-font: $font;
$h6-font-size: 13px;
$h6-font-weight: bold;
$h6-font-style: normal;
$h6-line-height: normal;
$h6-text-transform: none;
$h6-color: $body-color;

// p
$p-color: $body-color;
$p-font-family: $font;
$p-font-size: 13px;
$p-font-weight: normal;
$p-word-spacing: normal;
$p-line-height: 20px;
$p-padding: 0 0 16px 0;
$p-text-align: left;
//---------------------------------
// End Off Overwrite Global variables
//---------------------------------
