// color //

$sufix-lightblack: #333333;
$sufix-black: #000000;
$sufix-white: #ffffff;
$sufix-darkgrey: #666666;
$sufix-mediumgrey: #333532;
$sufix-gray: #999;
$sufix-yellow: #FFEF1E;
$sufix-widget-color: #222222;
$sufix-red: #E80000;

// background //

$sufix-bgyellow: #FFF000;
$sufix-bgyellowmedium: #e8d900;
$sufix-bgwhite: $sufix-white;
$sufix-bgblack: $sufix-black;
$sufix-bglightyellow: #FFE600;
$sufix-bglightwhite: #f1f1f1;
$sufix-bgyellowlight: #FFE600;

// border-color //

$sufix-borderdarkgrey: $sufix-darkgrey;
$sufix-borderyellow: #D7CA00;
$sufix-borderyellowone: #F9EA00;
$sufix-borderyellowtwo: #FFF89D;

// font-family //

$sufix-font: Garamond, "Times New Roman", Times, serif;
$sufix-fontsufix: 'BaskervilleBT-Roman';
$sufix-fontBasker: Baskerville, "Times New Roman", Times, serif;
$sufix-fonttimes: "Times New Roman", Times, serif;
$sufix-fontgara: Garamond, Times New Roman, Times, serif;
$sufix-lucida: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;