.international-links-body {
    a {
        font-family: $font;
    }
}
div.international-links-background-wrapper {
    .international-links-container {
        .international-links-body {
            span {
                font-family: $font;
            }
        }
    }
}
.international-investor-link {
    font-family: $font;
    a {
        font-family: $font;
    }
}
