$storm-bgyellow: #FFF200;
$storm-clgrey: #333;
$storm-lightbg: #f1f1f1;
$storm-black: #000000;
$storm-gray: #666;
$storm-graytwo: #999;
$storm-red: #E80000;
// font-family //

// border-color //
$storm-borderblackone: #000002;
$storm-borderblacktwo: #222;
$storm-borderblackthree: #404040;
$storm-borderblackfour: #000100;

$storm-avant: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
$storm-lucida: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
$storm-fontstorm: 'KenyanCoffeeRg-Regular';
$storm-Basker: Baskerville, "Times New Roman", Times, serif;