/* fontcolor */
$vmc-black: #000;
$vmc-white: #fff;
$vmc-red: #EE2E24;
$vmc-red1: #6D0100;
$vmc-red2: #e80000;
$vmc-gradient1: #e42213;
$vmc-gradient2: #a81101;
$vmc-grey: #333333;
$vmc-grey2: #4d4d4d;
$vmc-gray: #999;
$vmc-yellow: #FFF200;
$vmc-cusservice-color: #ccc;
$vmc-pure-red: #C71A0A;
$vmc-light-pink: #FFE1E1;
/* background */
$vmc-bgwhite: $vmc-white;
$vmc-bgred: $vmc-red;
$vmc-lightwhite: #f1f1f1;

/* border-color */
$vmc-borderone: #C3261E;
$vmc-bordertwo: #A82019;
$vmc-borderthree: #F04A41;
$vmc-borderfour: #F2625B;

/* font-family */
$vmc-fontarial: Arial, Helvetica, sans-serif;
$vmc-fontserarial: 'SerpentineD-Bol', Arial, Helvetica, sans-serif;
$vmc-global: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
$vmc-label-forVIP: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
$vmc-fontBasker: Baskerville, "Times New Roman", Times, serif;