.pt_product-details {
    .productdetail {
        .wrapper {
            & ~ #page-background {
                box-shadow: none;
                @include respond($medium-breakpoint + 1) {
                    background: none;
                    border-top: $tab-all-border;
                    margin-top: rem(40px);
                }
                .product-info.column.tab-sec {
                    #tabs {
                        ul.ui-tabs-nav {
                            height: rem($tab-head-height);
                            top: rem(-32px);
                            li {
                                height: rem($tab-head-height);
                                &.ui-state-active a {
                                    background: $tab-head-active-bg;
                                    border-left: $tab-head-active-border;
                                    border-right: $tab-head-active-border;
                                    color: $tab-head-active-color;
                                    .active-state-tab {
                                        display: block;
                                        height: 5px;
                                        background: $black;
                                        width: calc(100% - (-2px));
                                        top: -2px;
                                        left: -1px;
                                        border-radius: $tab-head-border-radius $tab-head-border-radius 0 0;
                                    }
                                }
                                a {
                                    box-shadow: none;
                                    background: $tab-head-bg;
                                    height: rem($tab-head-height);
                                    font-family: $tab-head-font-family;
                                    font-size: $tab-head-font-size;
                                    @include line-height($tab-head-height);
                                    border-radius: $tab-head-border-radius $tab-head-border-radius 0 0;
                                    span {
                                        height: rem($tab-head-height);
                                        @include line-height($tab-head-height);
                                        &.active-state-tab {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.pdp-main {
    #page-background {
        .product-info.column.tab-sec {
            #tabs {
                box-shadow: none;
                border: none;
            }
        }
    }
}

.productdetail {
    .clear {
        height: auto !important;
    }
}

.mobile-tabs-section {
    @include respond($medium-breakpoint + 1) {
        top: rem(-$tab-head-height);
    }
    .ui-tabs-panel {
        @include respond($medium-breakpoint + 1) {
            padding-top: rem($tab-content-padding);
        }
    }
}
