@import url("../css/MyFontsWebfontsKit.css");

/* <a> styles */
a {
    color: $terminator-bgblue;
    text-decoration: none;
    &:hover {
        color: $terminator-bgblue;
        text-decoration: none;
    }
}

.pt_productsearchresult #page-background .row.column3 .colspan2.cell4 .contentboxcontent a.searchedfor {
    color: $terminator-hov-blue;
}

#headerwrapper #header .row.column1 #minicart a.minicart-button {
    color: $terminator-bgblue;
}

#headerwrapper #header .row.column1 #minicart a.minicart-button:hover {
    color: $terminator-bgblue;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
    color: $terminator-bg-light-blue;
}


h1, .h-one-tag {
    margin: 0;
}


a {
    color: $terminator-bgblue;
    text-decoration: none;
    &.filter {
        margin: 18px 0 0;
        display: block;
        clear: left;
        float: left;
        width: 184px;
        line-height: 18px;
        font-family: $font-secondary;
        font-size: 14px;
        font-style: normal;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0;
        color: $white;
        padding: 5px 28px 5px 10px;
        background-position: 100% 0;
        background-repeat: no-repeat;
        color: $white !important;
        background: rgba(1, 91, 202, 1);
        background: linear-gradient(to bottom, rgba(1, 91, 202, 1) 0%, rgba(16, 83, 142, 1) 100%);
        @include btn-border;
        &:hover {
            background: rgba(16, 83, 142, 1);
            background: linear-gradient(to bottom, rgba(16, 83, 142, 1) 0%, rgba(1, 91, 202, 1) 100%);
            @include btn-border-hover;
            text-decoration: none;
        }
    }
}

a:hover {
    text-decoration: none;
    cursor: pointer;
    color: $terminator-bg-light-blue;
}

/*buttons*/
a.button, button {
    margin: 0;
    display: block;
    clear: left;
    float: left;
    height: 28px;
    line-height: 28px;
    font-family: $font-secondary;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0;
    color: white;
    padding: 0 18px 0 18px;
    background-color: $terminator-bgblue;
    @include btn-border;
}

a.button:hover, button:hover {
    background: $terminator-bg-light-blue;
    text-decoration: none;
    cursor: pointer;
}

.addTo-cart-section {
    a.button:hover, button:hover {
        background: linear-gradient(to bottom, rgba(16, 83, 142, 1) 0%, rgba(1, 91, 202, 1) 100%) !important;
        text-decoration: none;
        cursor: pointer;
    }
}

p a {
    font-weight: bold;
}

#content {
    .homepage {
        .downshift {
            h1, h2 {
                padding-top: 3px;
            }
        }
    }
}

.pt_acc_landing {
    .content-asset {
        .account-options {
            li {
                transition: none;
                a {
                    transition: none;
                    h2 {
                        font-family: $font-third;
                        font-variant: small-caps;
                        font-weight: normal;
                        font-size: 25px;
                        line-height: 25px;
                        padding: 10px 0;
                    }
                    p {

                        text-transform: capitalize;
                    }
                }
                &:hover {
                    background-color: $terminator-bgblue;
                    border-color: $terminator-bgblue;
                    transition: none;
                    h2 {
                        color: $white;
                    }
                    p {
                        color: $white;
                    }
                    i {
                        color: $white;
                    }
                }
            }
        }
    }
}

.pt_store-locator {
    .storelocator {
        h1 {
            text-transform: uppercase;
            font-vairant: normal;
        }
    }
    .storelocatorzipsearch {
        .stack {
            .form-row {
                .label {
                    .labeltext {
                        font-family: $font;
                        color: $terminator-list-black;
                        text-transform: uppercase;
                        font-size: 12px;
                        line-height: 12px;
                    }
                }
            }
        }
    }
}

.pt_order {
    h1 {
        text-align: left;
        background: none;
        border: none;
        padding: 0;
    }
    .search-result-items {
        li {
            .order-history-items {
                .order-history-table {
                    th {
                        font-family: $font;
                        color: $terminator-list-black;
                        text-transform: uppercase;
                        font-size: 12px;
                        line-height: 12px;
                        font-weight: bold;
                    }
                    tr {
                        .order-price {
                            .value {
                                font-family: $font-third;
                                color: $terminator-bgblue;
                                font-weight: bold;
                                font-style: italic;
                                font-size: 30px;
                                line-height: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.ui-dialog {
    &.addressadd {
        #dialog-container {
            .form-horizontal {
                .form-row {
                    .label {
                        .labeltext {
                            text-transform: uppercase;
                            font-weight: bold;
                        }
                    }
                    &.form-row-button {
                        button {
                            &.simple {
                                background-color: $terminator-bgblue;
                                color: $white;
                                &:hover {
                                    background: $terminator-bg-light-blue;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.pt_wish-list {
    #main {
        .item-details {
            .product-list-item {
                span {
                    &.price-sales {
                        color: $terminator-bgblue;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

.pt_leftnav-addressbook {

    #addresses {
        .address-list {
            .address-tile {
                .mini-address-title {
                    font-family: $font;
                    color: $terminator-list-black;
                    font-size: 12px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                .mini-address-name {
                    line-height: 14px;
                }
                .mini-address-location {
                    address {
                        line-height: 14px;
                    }
                }
                .address-edit,
                .address-delete.delete,
                .address-make-default {
                }
            }
        }
    }
}

.orderdetails {
    .order-information {
        .order-number {
            .label {
                font-size: 25px;
                line-height: 25px;
                font-family: $font-third;
                font-weight: normal;
                color: $terminator-list-black;
                text-transform: uppercase;
                font-style: normal;
            }
            .value {
                font-style: normal;
                font-size: 25px;
                line-height: 25px;
                font-family: $font-third;
                font-weight: normal;
                color: $terminator-list-black;
                text-transform: uppercase;
            }
        }
    }
}

.orderdetails {
    .order-payment-summary,
    .order-billing,
    .order-shipment-address,
    .line-item-details,
    .line-item-quantity,
    .line-item-price {
        .label {
            color: $terminator-list-black;
            font-family: $font;
            font-weight: bold;
            font-size: 12px;
            line-height: 12px;
            text-transform: uppercase;
        }
    }
}

.orderdetails {
    .line-items {
        .line-item {
            .line-item-price {
                font-family: $font-third;
                color: $terminator-bgblue;
                font-weight: bold;
                font-style: italic;
                font-size: 24px;
                line-height: 24px;
                .label {
                    color: $terminator-list-black;
                    font-family: $font;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 12px;
                    text-transform: uppercase;
                    font-style: normal;
                }
            }
        }
    }
}

h1.search-result {
    font-family: $font-secondary;
    font-size: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 36px;
}

.variationattributes .size li.selected a, .variationattributes .size li.selected a:hover, .variationattributes .size li a:hover {
    color: $white;
    @include btn-border-hover-color;
    background-position: 0 -20px;
    text-decoration: none;
    background-color: $terminator-bg-light-blue;
}

.variationattributes {
    .swatches {
        li {
            a {
                background-image: url("../images/product-detail-size.jpg");
            }
        }
    }
}

.pt_product-search-result {
    #page-background {
        #primary {
            .search-blk {
                a {
                    display: inline-block;
                    text-transform: capitalize;
                    color: $terminator-hov-blue;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.owl-carousel {
    .owl-dot {
        span {
            background-image: url(../images/slideshow-counter.png);
        }
    }
}

#headerwrapper #header .row.column1 #minicart #multi-site-one-cart {
    background-image: url(../images/multi-site-one-cart-bg-right.png);
    background-color: none;
    background-position: right top;
}

#headerwrapper #header .row.column1 #minicart #multi-site-one-cart span {
    color: white;
    font-weight: normal;
    width: 58px;
    border-radius: 5px;
    text-transform: capitalize;
    background-image: url(../images/multi-site-one-cart-bg.png);
}

.minicarticon-cont .cart-icon {
    background: url(../images/darkbluecart.png) 0 6px no-repeat;
    width: 30px;
    float: left;
    height: 30px;
    margin: 0 5px 0 10px;
}

#headerwrapper #header .row.column1 #minicart a.minicart-button {
    color: $terminator-bgblue;
}

#headerwrapper #header .row.column1 #minicart a.minicart-checkout-button {
    background: linear-gradient(to bottom, $terminator-hov-blue 60%, #004986 100%);
    color: $white;
    text-align: center;
    text-decoration: none;
    padding: 7px 0;
    height: 17px;
    text-indent: 0;
    font-family: $font-secondary;
    font-size: 11px;
    border-radius: 0 5px 5px 0;
}

#headerwrapper #header .row.column1 #minicart a.minicart-checkout-button:hover {
    background: linear-gradient(to bottom, #004986 0%, $terminator-hov-blue 60%);
}

.owl-carousel {
    .owl-dot {
        span {
            background-image: url(../images/slideshow-counter.png);
        }
    }
}

.shop-brand {
    font-weight: normal;
    font-family: $font-third;
    font-size: 16px;
    line-height: 22px;
    padding: 15px 0 5px !important;
}

.categorymenusnew {
    a {
        &:hover {
            color: $terminator-hov-blue;
            text-decoration: underline;
        }
    }
    .category-top-level {
        &.active {
            a {
                color: $terminator-hov-blue;
                &:hover {
                    color: $terminator-hov-blue;
                    text-decoration: underline;
                    .count-products {
                        color: $terminator-hov-blue;
                    }

                }
                .count-products {
                    color: $terminator-hov-blue;
                }
            }
            ul {
                .count-products {
                    color: $terminator-hov-grey;
                }
            }
        }
        .category-top-level2 {
            li {
                &.active {
                    a {
                        color: $terminator-hov-blue;
                        text-decoration: underline;
                        .count-products {
                            color: $terminator-hov-blue;
                        }
                    }
                }
                a {
                    &:hover {
                        color: $terminator-hov-blue;
                        .count-products {
                            color: $terminator-hov-blue;
                        }
                    }
                }
            }

        }
    }
}

/* start of styles for my account page */
#container.pt_account {
    #primary.primary-content {
        .account-section {
            .label {
                .labeltext {
                    color: #666;
                    float: none;
                    font-size: 12px;
                    font-variant: normal;
                    font-weight: normal;
                    line-height: normal;
                    text-align: left;
                    width: auto;
                    font-family: $font-secondary;
                    padding: 0;
                }
            }
            .returningcustomers {
                .form-row {
                    margin: 8px 0 16px 1px;
                    @include respond(0, $medium-breakpoint) {
                        margin: 0px 0 16px 1px;
                    }
                }
            }
            .custom-checkbox {
                float: left;
                margin: 2px 0 15px 0;
                padding: 0;
                width: 100%;
                position: relative;
            }
            .cell {
                margin: 25px 0 0 10px;
            }
            .upshift {
                .contentboxcontent.account-logs {
                    h1 {
                        padding: 8px 0 2px;
                    }
                }
            }
            .createan-account {
                margin-top: 23px;
                .contentboxcontent.new-register {
                    .registration {
                        .form-row {
                            margin: 15px 0 -3px 0px;
                        }
                    }
                }
            }
        }
    }
    #footernew {
        top: -128px !important;
    }
}

/* end of styles for my account page */
#content {
    .homepage {
        .cell.downshift.featured-1 {
            margin-top: 18px;
            h2 {
                margin-bottom: 0px;
            }
        }
    }
}

.international-links-container {
    font-size: 12px
}

.international-investor-link {
    margin-top: 165px;
    color: white;
}

.international-investor-link a {
    line-height: 10px;
    float: none;
    padding-left: 0px;
    letter-spacing: 0;
    color: white;
}

.international-investor-link a:hover {
    padding-left: 0px;
    color: white;
}

form {
    .label {
        font-family: $font;
        color: $terminator-list-black;
        font-variant: initial;
        font-size: 12px;
        line-height: 12px;
    }
}

#vippage-background {
    form {
        .label {
            font-family: $font;
            color: $terminator-list-black;
            font-variant: initial !important;
            text-transform: uppercase !important;
            font-size: 12px !important;
            line-height: 12px;
            font-weight: bold !important;
        }
    }
}

div {
    .returningcustomers {
        .custom_signin {
            .formfield {
                .form-row {
                    .label {
                        font-family: $font;
                        color: $terminator-list-black;
                        font-variant: initial;
                        text-transform: uppercase;
                        font-size: 12px;
                        line-height: 12px;
                        font-weight: bold;
                        padding-bottom: 2px;
                    }
                }
            }
        }
    }
}

/* start of footer styles */
.pt_product-search-result {
    #footernew {
        top: 0 !important;
    }
}

.pt_content-search-result {
    #footernew {
        top: 0 !important;
    }
}

#footernew {
    background-image: url(../images/footer-background.png);
    background-position: 50% 28px;
}

.pt_storefront #footernew {
    top: -128px;
}

.pt_product-details {
    #footernew {
        #footer-brands {
            margin-top: 0;
        }
    }
}

body {
    color: $terminator-list-black;
    font-family: $font;
    font-size: 12px;
    background: #D8D8D8 url(../images/container-background-70.jpg) 0 0 repeat;
}

#footernew #footer-brands {
    clear: both;
    margin: 27px auto 0 auto;
    padding: 50px 16px 20px 17px;
    background: none;
    width: 835px;
}

#footernew .wrapper .footer-main {
    margin: 18px 18px 30px;
    position: relative;
    float: left;
}

#footernew .social-icons #fallow-us-on ul .you-tube {
    padding: 0 15px 10px 0;
}

#footernew .email-subscribe input.emailinput {
    padding: 0 9px 0 8px;
}

.productdetail {
    .addtocartbar {
        .addtocart {
            button {
                &.addtocartbutton {
                    background-image: none;
                    float: left;
                    width: calc(100% - 50px);
                    height: 40px;
                    line-height: 40px;
                    color: $white;
                    background-image: none;
                    background: rgba(1, 91, 202, 1);
                    background: linear-gradient(to bottom, rgba(1, 91, 202, 1) 0%, rgba(16, 83, 142, 1) 100%);
                    transition: inherit;
                    text-transform: inherit;
                    border: none;
                }
            }
            .quantity {
                .label {
                    font-size: 13px !important;
                    font-style: normal;
                    font-weight: normal !important;
                    font-family: $font-secondary;
                }
            }
        }
    }
}

@include respond(0, $desktop-breakpoint - 1) {
    #vippage-background {
        .disign-header-title,
        h1 {
            font-size: 20px;
            line-height: 25px;
            font-weight: normal;
        }
    }

    .pt_wish-list,
    .pt_leftnav-addressbook,
    .pt_order,
    .pt_leftnav-payment,
    .pt_leftnav-profile,
    .pt_acc_landing {
        #main {
            #page-background {
                #primary {
                    h1 {
                        font-size: 20px;
                        line-height: 25px;
                        font-variant: normal;
                    }
                }
            }
        }
    }

    .pt_acc_landing {
        .content-asset {
            .account-options {
                li {
                    a {
                        h2 {
                            font-size: 17px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }

    .desktop-view {
        display: none !important;
    }
    .pt_product-details {
        .pdp-main {
            .pdpmain-content {
                .productname {
                    font-size: 20px;
                    line-height: 25px;
                    font-variant: normal;
                }
            }
        }
    }
    .productdetail {
        a {
            &.filter {
                span {
                    font-style: normal;
                    color: $white;
                    font-weight: normal;
                }
                .selectedvarval {
                    color: $white;
                }
            }
        }
        .price {
            .salesprice {
                font-style: bold !important;
                font-size: 15px !important;
                color: $terminator-blue !important;
            }
        }
    }
    .selected,
    .future {
        a {
            &.filter {
                background-color: #f1f1f1 !important;
                border-top: 1px solid #d0d0d0;
                border-right: 1px solid #e8e8e8;
                border-bottom: 1px solid #f8f8f8;
                border-left: 1px solid #e8e8e8;
                color: $terminator-list-black !important;
                border-radius: 3px;
            }
        }
    }
    .current {
        a {
            &.filter {
                color: $white;
                border: 1px solid #105182;
                background: rgba(1, 91, 202, 1);
                background: linear-gradient(to bottom, rgba(1, 91, 202, 1) 0%, rgba(16, 83, 142, 1) 100%);
                &:hover {
                    background: rgba(16, 83, 142, 1);
                    background: linear-gradient(to bottom, rgba(16, 83, 142, 1) 0%, rgba(1, 91, 202, 1) 100%);
                }
            }
        }
    }
    .pt_wish-list,
    .pt_leftnav-addressbook,
    .pt_order,
    .pt_leftnav-payment,
    .pt_account,
    .pt_product-search-result,
    .pt_content-search-result,
    .pt_leftnav-profile {
        .breadcrumb {
            background: url(../images/container-background-70.jpg) !important;
            background-repeat: repeat-x;
            height: auto !important;
            font-size: 13px;
        }
    }

    .pt_product-search-result,
    .pt_content-search-result {
        .contentboxcontent {
            .left-nav-style {
                font-size: 20px;
                line-height: 25px;
            }
            h1 {
                &.leftnav {
                    font-size: 20px;
                    line-height: 25px;
                }
            }
        }
    }

    #footernew {
        background: none;
        top: 0 !important;
        .wrapper {
            .footer-main {
                background-image: none;
                margin: 0;
                width: 100%;
                box-shadow: inset 0 8px 8px -8px #696868, inset 0 -8px 8px -8px #696868;
            }
        }
    }
}

@include respond(0, $medium-breakpoint) {
    #container {
        &.pt_account {
            #primary {
                #footernew {
                    top: 0 !important;
                }
                &.primary-content {
                    .account-section {
                        h1 {
                            &.title {
                                line-height: 25px;
                                font-size: 20px;
                            }
                        }
                        .createan-account {
                            margin: 5px 0 0 0;
                        }
                        .upshift {
                            .contentboxcontent {
                                &.account-logs {
                                    h1 {
                                        padding: 0 0 30px 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .terminator-background .logo {
        background: url(../images/Terminator_Logo_mobile-bar.svg) no-repeat center transparent;
        float: left;
        width: 100%;
        margin: 20px 0 20px;
        min-height: 40px;
    }
    #vippage-background {
        #page {
            .vip-signup-top1 {
                /* h1{
                     font-size:36px;
                     line-height:36px;
                     }  */
            }
        }
    }
    #vippage-background {
        #page {
            .contentbox {
                .contentboxcontent {
                    /* h1{
                         font-size:25px !important;
                         line-height:27px !important;
                         } */
                }
            }
        }
    }
    #RegistrationForm {
        .label {
            span {
                &.labeltext {
                    font-size: 12px !important;
                    line-height: 12px;
                }
            }
        }
    }

    form {
        .label {
            font-size: 12px !important;
            line-height: 12px;
        }
    }
    .product-specifications.iphone-view {
        .specificiations {
            border: none;
            tbody {
                border-bottom: 1px solid $terminator-cusservice-color;
                margin-bottom: 2em;
                display: table;
                width: 100%;
                tr {
                    &:nth-child(2n + 3) {
                        background: #DAE7F7;
                    }
                    &:first-child {
                        th {
                            background: $terminator-hov-blue;
                            background: linear-gradient(to bottom, $terminator-hov-blue 0%, #10548e 100%);
                            color: $white;
                            padding: 8px 13.5px;
                            width: 100%;
                            margin: 0;
                            vertical-align: middle;
                            border: none;
                            border-top-left-radius: 3px;
                            border-top-right-radius: 3px;
                        }
                    }
                    &.evenrow {
                        background: #DAE7F7;
                    }
                    td {
                        border-right: 1px solid $terminator-cusservice-color;
                        width: 50%;
                        float: left;
                        vertical-align: middle;
                        padding: 8px 13.5px;
                        box-sizing: border-box;
                        min-height: 31px;
                        display: block;
                    }
                }
            }
        }
    }
}

@include respond(0, $large-breakpoint - 1) {
    #footernew .wrapper .footer-main {
        margin: 0px;
    }
}

#container.pt_error {
    #primary.primary-content {
        .errorpage {
            fieldset.nohitsearch {
                input.box {
                    background: url("../images/search-full-terminator.png") no-repeat scroll 0 0 transparent;
                }
                button.btn {
                    background: url("../images/search-full-terminator.png") no-repeat scroll right top $terminator-bgblue;
                    transition: none;
                    &:hover {
                        background: url("../images/search-full-terminator.png") no-repeat $terminator-bg-light-blue;
                        background-position: -202px -28px;
                    }
                }
            }
        }
    }
    #footernew {
        top: 0 !important;
    }
}

.pt_account.acc_landing {
    .content-asset {
        .account-options {
            li {
                background: $white;
                box-shadow: $terminator-gray 0 0 10px;
                position: relative;
                h2 {
                    text-align: center;
                    background: none;
                    font-family: $font-third;
                    font-size: 36px;
                    font-variant: small-caps;
                    font-weight: normal;
                    color: $terminator-list-black;
                }
                p, a {
                    color: $terminator-list-black;
                }
                &:hover {
                    background-color: $terminator-bgblue;
                    border-color: $terminator-bgblue;
                    a, h2, p {
                        color: $white;
                    }
                }
            }
        }
    }
}

.pt_product-search-result {
    #page-background {
        #primary {
            .contentboxcontent {
                h1 {
                    &.left-nav-style {
                        color: $black;
                        font-weight: normal;
                        font-family: $font-third;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.product-tile {
    .product-image {
        .quickview {
            background-color: $terminator-bgblue;
            @include btn-border;
            color: $white;
        }
        .quickview:hover {
            color: white;
            background-color: $terminator-bg-light-blue;
            text-decoration: none;
            @include btn-border-hover;
        }
    }
}

.pt_product-search-result {
    #page-background {
        #primary {
            .search-result-content {
                .product-tile {
                    .product-image {
                        .quickview {
                            color: $white;
                            background-color: $terminator-bgblue;
                            @include btn-border;
                        }
                        .quickview:hover {
                            background-color: $terminator-bg-light-blue;
                            text-decoration: none;
                            @include btn-border-hover;
                        }
                    }
                }
            }
        }
    }
}

.pt_product-search-result {
    #page-background {
        #primary {
            .search-result-content {
                .product-tile {
                    .product-name {
                        a {
                            color: $black;
                        }
                        a:hover {
                            text-decoration: none;
                            color: $terminator-hov-blue;
                        }
                    }
                }
            }
        }
    }
}

.pt_product-search-result {
    #page-background {
        #primary {
            .search-result-content {
                .product-tile {
                    .product-swatches-all {
                        color: $terminator-bgblue;
                    }
                    .product-swatches-all:hover {
                        color: $terminator-hov-blue !important;
                    }
                }
            }
        }
    }
}

.pt_product-details {
    #footernew {
        background-position: 50% 0px;
    }
}

.pt_product-search-result {
    #page-background {
        #primary {
            .search-result-content {
                .product-tile {
                    .product-pricing {
                        .product-sales-price {
                            color: $terminator-gray;
                            font-size: 11px;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }
}

.pt_product-search-result {
    #page-background {
        #primary {
            .search-result-content {
                .product-tile {
                    .product-promo {
                        text-align: left;
                        color: $terminator-red;
                        font-family: $font-secondary;
                        font-style: italic;
                        font-size: 10px;
                        padding-top: 3px;
                        font-weight: normal;
                        line-height: 14px;
                    }
                }
            }
        }
    }
}

.pt_content-search-result {
    #page-background {
        #primary {
            #tabs {
                ul {
                    &.search-tabs {
                        li {
                            &.active {
                                a {
                                    span {
                                        color: $terminator-bgblue;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .folder-content-list {
                li {
                    a {
                        font-family: $font-third;
                        font-size: 16px;
                        line-height: 16px;
                        font-weight: normal;
                        color: $terminator-list-black;
                    }
                    p {
                        font-family: $font;
                        color: $terminator-list-black;
                        font-size: 13px;
                        a {
                            &.readmore {
                                font-family: $font;
                                color: $terminator-bgblue;
                                font-weight: bold;
                                &:hover {
                                    color: $terminator-bg-light-blue;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.pt_customerservice {
    #footernew {
        top: 0px !important;
    }
    .accordion {
        &.tabover {
            background-color: $terminator-bgblue;
        }
    }
}

#headerwrapper {
    #header {
        .row {
            &.column1 {
                .headercustomerinfo {
                    .change-regionnew {
                        padding: 9px 12px 8px 0;
                    }
                }
            }
        }
    }
}

@include respond(0, $desktop-breakpoint - 1) {
    #headerwrapper #header div.logo {
        margin: 26.5px 0;
    }
}

.productdetail {
    .price {
        font-family: $font-secondary;
        color: $terminator-bgblue;
        font-weight: bold;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0px;
        .salesprice {
            color: $terminator-hov-blue;
            font-weight: bold;
            letter-spacing: 0;
        }
    }
}

#special-offers {
    .promotion-title {
        color: $terminator-light-grey;
    }
}

.variationattributes {
    .swatches {
        li {
            a {
                &:hover {
                    color: $white;
                    border-color: $terminator-bg-light-blue;
                }
            }
            &.selected {
                a {
                    background-image: url("../images/product-detail-size.jpg");
                    color: $white;
                    border-color: $terminator-bg-light-blue;
                }
            }
        }
    }
}

.pt_product-details {
    .productdetail {
        .wrapper {
            ~ #page-background {
                .product-info {
                    &.column {
                        &.tab-sec {
                            #tabs {
                                ul {
                                    &.ui-tabs-nav {
                                        li {
                                            &.ui-state-active {
                                                a {
                                                    background-image: none;
                                                    background: $terminator-hov-blue; /* Old browsers */
                                                    background: linear-gradient(to bottom, $terminator-hov-blue 10%, rgba(255, 255, 255, 1) 10%, $terminator-hov-blue 10%, rgba(255, 255, 255, 1) 10%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.quickview {
    .ui-dialog-titlebar-close {
        .ui-icon {
            background-image: url(../images/close-button.png);
            &:hover {
                background-position: 0 -34px;
            }
        }
    }
}

.specTable-wrapper {
    float: left;
    margin: 0 2em 1em 0;
    width: 310px;
    vertical-align: top;
    @include respond(0, $medium-breakpoint) {
        width: 100%;
    }
    &:last-child {
        margin-right: 0;
    }
    table {
        &.specificiations {
            word-wrap: break-word;
            tbody {
                tr {
                    th {
                        background: $terminator-hov-blue;
                        background: linear-gradient(to bottom, $terminator-hov-blue 0%, #10548e 100%);
                        color: $white;
                        border: none;
                        vertical-align: middle;
                        text-transform: capitalize;
                        &:first-child {
                            border-top-left-radius: 4px;
                        }
                        &:last-child {
                            border-top-right-radius: 4px;
                        }
                    }
                    td {
                        &:last-child {
                            border-right: 1px solid $terminator-cusservice-color;
                        }
                    }
                    &.oddrow {
                        background: $white;
                    }
                    &.evenrow {
                        background: #D9E3E8;
                    }
                }
            }
        }
    }
}

.product-specifications {
    &.desk-tab-view {
        .specificiations {
            thead {
                tr {
                    background: $terminator-hov-blue;
                    background: linear-gradient(to bottom, $terminator-hov-blue 0%, #10548e 100%);
                    color: $white;
                    border: none;
                    vertical-align: middle;
                    &:first-child {
                        border-top-left-radius: 3px;
                    }
                    &:last-child {
                        border-top-right-radius: 3px;
                    }
                }
            }
            tbody {
                tr {
                    &.evenrow {
                        background: #DAE7F7;
                    }
                }
            }
        }
    }
}

.pt_customerservice {
    #content {
        .customer {
            .cell {
                .contentboxcontent {
                    h1 {
                        font-size: 20px;
                        line-height: 25px;
                        font-family: $font-third;
                    }
                }
            }
        }
    }
}

.pt_customerservice {
    .style-cservice {
        .column {
            .contentbox {
                .left-nav-top {
                    .contentboxcontent {
                        .nav-group {
                            padding: 0;
                            li {
                                &.first-level {
                                    .second-level {
                                        li {
                                            &.active {
                                                a {
                                                    color: $terminator-hov-blue;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.pt_customerservice {
    .style-cservice {
        .column {
            .contentbox {
                .left-nav-top {
                    .contentboxcontent {
                        h2.left-nav-style {
                            padding: 12px 0;
                            font-size: 20px;
                            line-height: 25px;
                            font-family: $font-third;
                        }
                    }
                }
            }
        }
    }
}

.pt_customerservice {
    #content {
        .productsearchbreadcrumb, .breadcrumb {
            background: url(../images/container-background-70.jpg);
        }
    }
}

@include respond(0, $desktop-breakpoint - 1) {
    .pt_customerservice {
        #content {
            .style-cservice {
                .column {
                    &.colspan2 {
                        h1 {
                            font-size: 20px;
                            line-height: 25px;
                            font-family: $font-third;
                        }
                        .cellbox {
                            &.accordion {
                                &.tabover {
                                    .folder-contentboxcontent {
                                        background-color: $terminator-bgblue;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.paymentinstruments {
    .label {
        text-transform: uppercase;
        padding-bottom: 2px;
        font-family: $font;
        color: $terminator-list-black;
        font-size: 12px;
        line-height: 17px;
        font-weight: bold;
    }
}

.ui-dialog {
    &.payment-settings {
        .dialog-content {
            .creditcardform {
                .credit-cart-form-title {
                    margin: 0;
                    width: 100%;
                    font-style: normal;
                    font-size: 25px;
                    line-height: 25px;
                }
                #CreditCardForm {
                    .form-row {
                        .field-wrapper {
                        }
                    }
                }
            }
        }
    }
}

.pt_customerservice {
    .site-map {
        ul {
            li {
                &.first-level {
                    ul {
                        li {
                            a:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.tab-sec {
    #tabs {
        ul {
            &.ui-tabs-nav {
                li {
                    a {
                        &:hover {
                            span {
                                color: $terminator-bgblue;
                            }
                        }
                    }
                    &.ui-state-active {
                        a {
                            span {
                                color: $terminator-bgblue;
                            }
                        }
                    }
                }
            }
        }
    }
}

.small-new {
    &.new-stamp {
        border-radius: 15px;
        background-color: #0066CC;
        font-style: italic;
        font-family: sans-serif;
        font-weight: normal;
        font-size: 10px;
        color: $white;
        padding: 1px 5px;
        margin-right: 3px;
        width: auto !important;
        vertical-align: top;
        margin-top: 4px;
        float: left;
    }
    &.new-stamp-big {
        border-radius: 15px;
        background-color: #0066CC;
        font-style: italic;
        font-family: sans-serif;
        font-weight: normal;
        font-size: 12px;
        color: $white;
        padding: 4px 8px;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.65);
        margin-right: 3px;
        position: inherit;
        top: -5px;
    }
}

.newFlagColorSize, .newPakSizeFlag {
    .new-colors-snipe, .new-sizes-snipe, .new-pak-size {
        border-radius: 15px;
        background-color: #0066CC;
        font-style: italic;
        font-family: sans-serif;
        font-weight: normal;
        font-size: 10px;
        color: $white;
        padding: 1px 5px;
        margin-right: 3px;
    }
}

.variationattributes {
    .color {
        ul {
            li {
                a {
                    span {
                        &.corner-ribbon {
                            background-color: #0065C5;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}

.productdetail {
    #special-offers {
        ul {
            li {
                color: $terminator-blue;
            }
        }
    }
}

.productdetail .price .price-sales {
    color: $terminator-hov-blue;
}