$terminator-bgblue:#0038AA;
$terminator-bg-light-blue:#06C;
$terminator-hov-blue:#015bca;
$terminator-hov-grey:#4d4d4d;
$terminator-list-black:#333;
$terminator-white:#ffffff;
$terminator-black: #000;
$terminator-gray: #999;
$terminator-red: #E80000;
$terminator-blue:#015bca;
$terminator-light-blue:#D8E1EA;
$terminator-cusservice-color: #ccc;
$terminator-light-grey: #333;
// font-family //

// border color //

$terminator-borderone: #002F8F;
$terminator-bordertwo: #0037A6;
$terminator-borderthree: #9DB3DE;
$terminator-borderfour: #0037A6;

$terminator-hov-borderone: #0056AC;
$terminator-hov-bordertwo: #0064C7;
$terminator-hov-borderthree: #9DC4EB;
$terminator-hov-borderfour: #0064C7;

$terminator-table-row:$terminator-blue;
$terminator-altrnate-row:$terminator-light-blue;

$terminator-lucida: "Lucida Grande","Lucida Sans","Lucida Sans Unicode","Trebuchet MS", Helvetica,Arial,sans-serif;
$terminator-original:'ReversalEb-Italic',Arial,Helvetica,sans-serif;
$terminator-Arial:Arial,Helvetica,sans-serif;
$terminator-Baskerville: Baskerville,"Times New Roman",Times,serif;