body {
    color: $night-rider;
    font-size: 12px;
    font-family: $global-font-family;
}


a {
    color: $global-static-link-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

table {
    font-family: $font;
}

#container {
    background: none;
}

#message {
    font-family: $font;
}
.pt_storefront #footernew {
    top: -100px;
    background: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;

}

body {
    background: $body-bg-color url(../images/body-background-70.jpg) repeat;
    text-align: left;
    -webkit-tap-highlight-color: transparent;
}

#main {
    background: $white;
}