.form-row.title {
    display: none;
}

#headerwrapper #header div.logo a {
    background-size: 87px;
}

#mce-EMAIL-error {
    position: absolute;
    top: 21px;
    color: #d80000;
}

.footer-right-section #mc_embed_signup {

    .email {
        font-size: 10px;
        height: 24px;
        position: absolute;
        top: 0;
        width: 183px;
        z-index: 10;
        color: $black;
        font-family: $global-font-family;
        border: 0 none;
        padding: 0 9px 0 7px;
        font-weight: normal;
        background: transparent;
    }

    input.button {
            background: linear-gradient(to bottom, $bg-greydim 60%, $bg-greydark 100%);
            background: -moz-linear-gradient(to bottom, $bg-greydim 60%, $bg-greydark 100%);
            background: -webkit-linear-gradient(to bottom, $bg-greydim 60%, $bg-greydark 100%);
            background: -ms-linear-gradient(to bottom, $bg-greydim 60%, $bg-greydark 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, $bg-greydim), color-stop(100%, $bg-greydark));
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$bg-greydim', endColorstr='$bg-greydark', GradientType=0);
            height: 26px;
            right: -1px;
            top: -1px;
            width: 72px;
            font-size: 11px;
            font-weight: normal;
            color: $dim-gray;
            border-color: $border-lightblack $border-lightblackone $border-lightblacktwo;
            border-style: none;
            border-width: 1px;
            display: block;
            overflow: hidden;
            position: absolute;
            letter-spacing: 0;
            line-height: 0;
            padding: 0;
            text-transform: uppercase;
            border-radius: 3px 3px 0 0;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            margin: 0;
            &:hover {
                background: linear-gradient(to bottom, $bg-greydark 0%, $bg-greydim 60%);
                background: -moz-linear-gradient(to bottom, $bg-greydark 0%, $bg-greydim 60%);
                background: -webkit-linear-gradient(to bottom, $bg-greydark 0%, $bg-greydim 60%);
                background: -ms-linear-gradient(to bottom, $bg-greydark 0%, $bg-greydim 60%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $bg-greydark), color-stop(60%, $bg-greydim));
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$bg-greydark', endColorstr='$bg-greydim', GradientType=0);
                color: $night-rider;
                right: -1px;
                top: -1px;
            }
    }
}

// customer service 

.pt_customerservice {
    .cell-header {
        #mc_embed_signup .clear {
            input.button {
                background-color: #84bd00;
            }
            a.button {
                background-color: #e80000;
            }
        }
    }
}
.footer-right-section #mc_embed_signup {
    width: 257px;
    height: 24px;
    margin: 0 auto 17px auto;
}

.footer-right-section #mc_embed_signup_scroll {
    background: #fff;
    border: 1px solid #e6e6e6;
    height: 24px;
}

@media screen and (max-width: $desktop-breakpoint - 1) {
    
    .footer-right-section #mc_embed_signup {
        width: 303px;
        height: 38px;
        margin: 22px auto 17px auto;
        input.email {
            width: 233px;
            padding: 9px 0.5em 15px 0.5em;
            left: 0;
            margin: 0;
        }
        input.button {
            height: 24px;
            width: 72px;
        }
    }
}

.homepage {
    @include respond ($desktop-breakpoint) {
        .wrapper {
            max-width: none;
        }
    } 
    
    .row.column1 {
        width: 100%;

        .column {
            width: 100%;
        }
    }

    #page .wrapper {
        width: 996px;
    }

    #slideshow.cell {
        height: auto;
        padding: 1px 0 0;
        margin: 0 0 50px 0;
        text-align: left;
        background: none;
        z-index: 1;
        width: 100%;
        box-sizing: border-box;
    }
}