@import url("../css/MyFontsWebfontsKit.css");
.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.menu {
  float: left;
  margin: 0;
  padding: 0; }
  .menu li {
    float: left;
    list-style: none outside none !important; }

body {
  color: #333;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  font-size: 13px;
  background: #fff url(../images/container-background-70.jpg) 50% 0 repeat-x; }

body.js-body {
  background: none; }

body .js-container-active .open-menu-wrap {
  background: #fff url(../images/container-background-70.jpg) 50% -105px repeat-x; }

h1,
.h-one-tag {
  font-family: "KenyanCoffeeRg-Regular";
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  line-height: 40px;
  text-transform: uppercase;
  color: #333; }

h2 {
  font-family: "KenyanCoffeeRg-Regular";
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  text-transform: uppercase;
  color: #333; }

h3 {
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  line-height: 16px;
  text-transform: none;
  color: #333; }

h4 {
  font-family: "KenyanCoffeeRg-Regular";
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  text-transform: uppercase;
  color: #333; }

h5 {
  font-family: "KenyanCoffeeRg-Regular";
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  text-transform: uppercase;
  color: #333; }

h6 {
  font-family: "KenyanCoffeeRg-Regular";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
  text-transform: uppercase;
  color: #333; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #333;
  text-decoration: none; }
  h1 a:hover,
  h2 a:hover,
  h3 a:hover,
  h4 a:hover,
  h5 a:hover,
  h6 a:hover {
    color: #FFF200;
    text-decoration: none; }

p {
  color: #333;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  word-spacing: normal;
  line-height: 18px;
  padding: 9px 0;
  text-align: left; }

a {
  color: #000;
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    color: #000;
    text-decoration: none; }

a.filter {
  background-image: "";
  background-color: #333333;
  background: linear-gradient(to bottom, #333333 0%, black 100%);
  background-repeat: no-repeat;
  border-width: 1px;
  border-style: solid;
  border-top-color: #000002;
  border-right-color: #222;
  border-bottom-color: #404040;
  border-left-color: #000100;
  clear: left;
  color: #FFF200 !important;
  display: block;
  float: left;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
  margin: 18px 0 0;
  padding: 5px 28px 5px 10px;
  text-transform: uppercase;
  width: 184px; }
  a.filter:hover {
    background-image: none;
    background-color: black;
    background: linear-gradient(to bottom, black 0%, #333333 100%);
    text-decoration: none;
    color: #FFF200; }

/* body */
body.js-body {
  background: none; }

.pt_product-search-result #page-background .cell.contentbox.upshift, .pt_content-search-result #page-background .cell.contentbox.upshift {
  top: -54px; }

.pt_product-search-result #page-background #primary .contentboxcontent h1.search-result, .pt_content-search-result #page-background #primary .contentboxcontent h1.search-result {
  margin: -43px 0 15px 0; }

h1, .h-one-tag {
  margin: 0; }

h1.left-nav-style {
  font-family: "KenyanCoffeeRg-Regular";
  font-size: 30px;
  line-height: 30px; }

.shop-brand {
  padding: 15px 0 7px !important; }

h2.input-style {
  font-size: 22px;
  line-height: 22px; }

/*buttons*/
a.button, button {
  margin: 0;
  display: block;
  clear: left;
  float: left;
  height: 28px;
  line-height: 28px;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #FFF200;
  padding: 0 18px 0 18px;
  background-color: black;
  border-width: 1px;
  border-style: solid;
  border-top-color: #000002;
  border-right-color: #222;
  border-bottom-color: #404040;
  border-left-color: #000100; }

a.button:hover, button:hover {
  background: #333;
  text-decoration: none;
  cursor: pointer; }

.addTo-cart-section a.button:hover, .addTo-cart-section button:hover {
  background: linear-gradient(to bottom, black 0%, #333333 100%) !important;
  text-decoration: none;
  cursor: pointer; }

.upshift {
  position: relative;
  top: -64px; }

p a {
  color: black;
  font-weight: bold; }

h1.search-result {
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 36px; }

.pt_leftnav-profile #primary #RegistrationForm .form-row .label .labeltext {
  font-weight: normal; }

.pt_acc_landing .content-asset .account-options li {
  transition: none; }
  .pt_acc_landing .content-asset .account-options li a {
    transition: none; }
    .pt_acc_landing .content-asset .account-options li a h2 {
      font-family: "KenyanCoffeeRg-Regular";
      font-variant: small-caps;
      font-weight: normal;
      font-size: 40px;
      line-height: 40px; }
    .pt_acc_landing .content-asset .account-options li a p {
      text-transform: capitalize; }
  .pt_acc_landing .content-asset .account-options li:hover {
    background-color: #333;
    color: #FFF200 !important;
    border-color: #333;
    transition: none; }
    .pt_acc_landing .content-asset .account-options li:hover h2 {
      color: #FFF200; }
    .pt_acc_landing .content-asset .account-options li:hover p {
      color: #FFF200; }
    .pt_acc_landing .content-asset .account-options li:hover i {
      color: #FFF200; }

.pt_store-locator .storelocator h1 {
  text-transform: uppercase;
  font-vairant: normal; }

.pt_store-locator .storelocatorzipsearch .stack .form-row .label .labeltext {
  font-family: "KenyanCoffeeRg-Regular";
  font-weight: normal;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 22px; }

.pt_order h1 {
  text-align: left;
  background: none;
  border: none;
  padding: 0; }

.pt_order .search-result-items li .order-history-items .order-history-table th {
  font-family: "KenyanCoffeeRg-Regular";
  font-weight: normal;
  color: #333;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 22px; }

.pt_order .search-result-items li .order-history-items .order-history-table tr .order-price .value {
  font-family: Baskerville, "Times New Roman", Times, serif;
  color: #333;
  font-weight: bold;
  font-style: italic;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0px; }

.pt_order .search-result-items li .order-history-items .order-history-table tr .order-items li {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif; }

.pt_order .search-result-items li .order-history-items .order-history-table tr .order-name .value {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif; }

.pt_wish-list #main .item-details .product-list-item span.price-sales {
  color: #E80000;
  font-size: 15px; }

.ui-dialog.addressadd #dialog-container .form-horizontal .form-row.form-row-button button.simple {
  background-color: #000;
  color: #FFF200; }
  .ui-dialog.addressadd #dialog-container .form-horizontal .form-row.form-row-button button.simple:hover {
    background-color: #333; }

.pt_leftnav-addressbook #main .breadcrumb {
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif; }

.pt_leftnav-addressbook #addresses .address-list .address-tile .mini-address-title {
  color: #333;
  font-family: "KenyanCoffeeRg-Regular";
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase; }

.pt_leftnav-addressbook #addresses .address-list .address-tile a {
  padding-right: 1px; }

.orderdetails .order-information .order-number .label {
  color: #333;
  font-family: "KenyanCoffeeRg-Regular";
  font-weight: normal;
  text-transform: uppercase;
  font-style: normal;
  font-size: 40px;
  line-height: 40px; }

.orderdetails .order-information .order-number .value {
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  line-height: 40px; }

.orderdetails .order-payment-summary .label,
.orderdetails .order-billing .label,
.orderdetails .order-shipment-address .label,
.orderdetails .line-item-details .label,
.orderdetails .line-item-quantity .label,
.orderdetails .line-item-price .label {
  font-family: "KenyanCoffeeRg-Regular";
  font-weight: normal;
  color: #333;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase; }

.orderdetails .line-items .line-item .line-item-price {
  font-family: Baskerville, "Times New Roman", Times, serif;
  color: #333;
  font-weight: bold;
  font-style: italic;
  font-size: 24px;
  line-height: 24px; }
  .orderdetails .line-items .line-item .line-item-price .label {
    font-family: "KenyanCoffeeRg-Regular";
    font-weight: normal;
    color: #333;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
    font-style: normal; }

.pt_product-search-result #page-background #primary .search-blk a {
  display: inline-block;
  text-transform: capitalize;
  color: #000; }

#header div.logo {
  float: left;
  width: 160px;
  height: 57px; }

#headerwrapper #header .row.column1 #minicart #multi-site-one-cart {
  background-image: url(../images/multi-site-one-cart-bg-right.png);
  background-color: none;
  background-position: right top; }

#headerwrapper #header .row.column1 #minicart #multi-site-one-cart span {
  color: #333;
  background-image: url(../images/multi-site-one-cart-bg.png);
  font-weight: normal;
  width: 58px;
  border-radius: 5px;
  text-transform: capitalize; }

.productdetail .selected a.filter {
  color: #333; }
  .productdetail .selected a.filter span {
    font-style: italic;
    color: #333; }

.productdetail a.filter span {
  font-style: italic;
  color: #FFF200;
  font-weight: normal; }
  .productdetail a.filter span.selectedvarval {
    color: #FFF200; }

.productdetail .addtocartbar {
  background-position: top left; }
  .productdetail .addtocartbar .addtocart.disabled a.filter span {
    color: #999; }
  .productdetail .addtocartbar .addtocart .quantity .label {
    padding-bottom: 0; }

.productdetail .price {
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  color: #333;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px; }

#special-offers .promotion-title {
  color: #000; }

#special-offers ul li a {
  font-weight: bold; }

.variationattributes .color li a:hover {
  border-color: #FFF200; }

.variationattributes .swatches li.selected a {
  border-color: #FFF200;
  background-image: none;
  color: #FFF200;
  background-color: #000;
  border-top-color: #DDDDDD;
  border-left-color: #DDDDDD;
  border-right-color: #222222;
  border-bottom-color: #404040; }

.variationattributes .swatches li a:hover {
  background-image: none;
  color: #FFF200;
  background-color: #000;
  border-top-color: #DDDDDD;
  border-left-color: #DDDDDD;
  border-right-color: #222222;
  border-bottom-color: #404040; }

.featuredesc .prodfeature ul li {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  font-size: 13px; }

.owl-carousel .owl-dot span {
  background-image: url(../images/slideshow-counter.png); }

.minicarticon-cont .cart-icon {
  background: url(../images/blackcart.png) 0 6px no-repeat;
  width: 30px;
  float: left;
  height: 30px;
  margin: 0 5px 0 10px; }

#headerwrapper #header .row.column1 #minicart a.minicart-checkout-button {
  background: linear-gradient(to bottom, #fef775 0%, #FFF200 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fef775', endColorstr='#fff200', GradientType=0);
  color: #333;
  text-align: center;
  text-decoration: none;
  padding: 7px 0;
  height: 17px;
  text-indent: 0;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 11px;
  border-radius: 0 5px 5px 0; }

#headerwrapper #header .row.column1 #minicart a.minicart-checkout-button:hover {
  background: linear-gradient(to bottom, #FFF200 60%, #fef775 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff200', endColorstr='#fef775', GradientType=0); }

.shop-brand .shop-brandtext {
  font-family: "KenyanCoffeeRg-Regular";
  font-size: 33px;
  font-weight: normal;
  line-height: 22px; }

.categorymenusnew a:hover {
  color: #000; }

.categorymenusnew a .count-products {
  color: #000; }

.categorymenusnew .category-top-level.active a {
  color: #000; }
  .categorymenusnew .category-top-level.active a:hover {
    color: #000; }
  .categorymenusnew .category-top-level.active a .count-products {
    color: #000; }

.categorymenusnew .category-top-level .category-top-level2 li.active a {
  color: #000;
  text-decoration: underline; }
  .categorymenusnew .category-top-level .category-top-level2 li.active a .count-products {
    color: #000; }

.categorymenusnew .category-top-level .category-top-level2 li a:hover {
  color: #000; }
  .categorymenusnew .category-top-level .category-top-level2 li a:hover .count-products {
    color: #000; }

/* start of styles for my account page */
#container.pt_account #primary.primary-content .account-section .label .labeltext {
  color: #666;
  float: none;
  font-size: 12px;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-align: left;
  width: auto;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  padding: 0;
  vertical-align: top; }

#container.pt_account #primary.primary-content .account-section .custom-checkbox {
  float: left;
  margin: 2px 0 15px 0;
  padding: 0;
  width: 100%;
  position: relative; }

#container.pt_account #primary.primary-content .account-section .cell {
  margin: 25px 0 0 10px;
  top: 0 !important; }

#container.pt_account #primary.primary-content .account-section .upshift .contentboxcontent.account-logs h1 {
  padding: 8px 0 2px; }

#container.pt_account #primary.primary-content .account-section .createan-account {
  margin-top: 23px; }
  #container.pt_account #primary.primary-content .account-section .createan-account .contentboxcontent.new-register .registration .form-row {
    /* margin: 15px 0 -3px 0px; */ }

/* end of styles for my account page */
.international-links-container {
  font-size: 13px; }

.international-links-footer-product {
  height: 1px; }

.international-investor-link {
  margin-top: 75px; }

.international-investor-link a {
  line-height: 10px;
  float: none;
  padding-left: 0px; }

.international-investor-link a:hover {
  padding-left: 0px; }

#footernew {
  background-image: url(../images/footer-background.png);
  background-position: 50% 28px; }
  #footernew .social-icons #fallow-us-on ul .Facebook {
    padding: 3px 35px 2px 3px;
    margin: 8px 0 0 0; }
  #footernew .social-icons #fallow-us-on ul .you-tube {
    margin-top: 15px;
    padding: 0 15px 7px 0; }
  #footernew .social-icons #fallow-us-on ul .Instagram {
    margin-top: 12px; }

form .label {
  font-family: "KenyanCoffeeRg-Regular";
  font-weight: normal;
  color: #333;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 22px; }

div .returningcustomers .custom_signin .formfield .form-row .label {
  font-family: "KenyanCoffeeRg-Regular";
  font-weight: normal;
  color: #333;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 22px; }

.copyright {
  padding: 5px 18px 0 0; }

#footernew .email-subscribe input.emailinput {
  padding: 0 9px 0 7px; }

.productdetail .addtocartbar .addtocart button.addtocartbutton {
  float: left;
  width: calc(100% - 50px);
  height: 40px;
  line-height: 40px;
  background-image: none;
  background: #333333;
  background: linear-gradient(to bottom, #333333 0%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#000000', GradientType=0);
  transition: inherit;
  text-transform: inherit;
  color: #FFF200;
  border: none; }

.productdetail .addtocartbar .addtocart .quantity .label {
  font-size: 13px !important;
  font-style: normal;
  font-weight: normal !important;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif; }

@media only screen and (min-width: 0) and (max-width: 959px) {
  #vippage-background .disign-header-title,
  #vippage-background h1 {
    font-size: 25px;
    line-height: 30px;
    font-weight: normal; }
  .pt_wish-list #main #page-background #primary h1,
  .pt_leftnav-addressbook #main #page-background #primary h1,
  .pt_order #main #page-background #primary h1,
  .pt_leftnav-payment #main #page-background #primary h1,
  .pt_leftnav-profile #main #page-background #primary h1,
  .pt_acc_landing #main #page-background #primary h1 {
    font-size: 25px;
    line-height: 30px;
    font-variant: normal; }
  .pt_acc_landing .content-asset .account-options li a h2 {
    font-size: 25px;
    line-height: 30px; }
  .desktop-view {
    display: none !important; }
  .pt_product-details .pdp-main .pdpmain-content .productname {
    font-size: 25px;
    line-height: 30px;
    font-variant: normal; }
  .productdetail a.filter span {
    font-style: normal; }
  .productdetail .price .salesprice {
    font-style: bold !important;
    font-size: 15px !important;
    color: #666 !important; }
  .selected a.filter,
  .future a.filter {
    background-color: #f1f1f1 !important;
    border-top: 1px solid #d0d0d0;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #f8f8f8;
    border-left: 1px solid #e8e8e8;
    color: #333 !important;
    border-radius: 3px; }
  .current a.filter {
    border: 1px solid #000;
    background: #333333;
    background: linear-gradient(to bottom, #333333 0%, black 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#000000', GradientType=0); }
    .current a.filter:hover {
      background: black;
      background: linear-gradient(to bottom, black 0%, #333333 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#333333', GradientType=0); }
  .pt_wish-list .breadcrumb,
  .pt_leftnav-addressbook .breadcrumb,
  .pt_order .breadcrumb,
  .pt_leftnav-payment .breadcrumb,
  .pt_account .breadcrumb,
  .pt_product-search-result .breadcrumb,
  .pt_content-search-result .breadcrumb,
  .pt_leftnav-profile .breadcrumb {
    background: #ffffff url(../images/container-background-70.jpg) 50% 0 repeat-x !important;
    height: auto !important;
    font-size: 13px;
    font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif; }
  .pt_product-search-result .contentboxcontent .left-nav-style,
  .pt_content-search-result .contentboxcontent .left-nav-style {
    font-size: 25px;
    line-height: 30px; }
  .pt_product-search-result .contentboxcontent h1.leftnav,
  .pt_content-search-result .contentboxcontent h1.leftnav {
    font-size: 25px;
    line-height: 30px; }
  .pt_storefront #footernew {
    top: 0px; }
  #footernew {
    background: none; }
    #footernew .wrapper .footer-main {
      background-image: url(../images/footer-background-responsive.png);
      margin: 0;
      width: 100%; }
      #footernew .wrapper .footer-main .footer-left-section .footer-links #about, #footernew .wrapper .footer-main .footer-left-section .footer-links #customer-service, #footernew .wrapper .footer-main .footer-left-section .footer-links #More-ways-to-shop, #footernew .wrapper .footer-main .footer-left-section .footer-links #busniness, #footernew .wrapper .footer-main .footer-left-section .footer-links #rapala_insider, #footernew .wrapper .footer-main .footer-left-section .footer-links #follow_us {
        background-color: #f1f1f1; }
        #footernew .wrapper .footer-main .footer-left-section .footer-links #about .social-icons, #footernew .wrapper .footer-main .footer-left-section .footer-links #customer-service .social-icons, #footernew .wrapper .footer-main .footer-left-section .footer-links #More-ways-to-shop .social-icons, #footernew .wrapper .footer-main .footer-left-section .footer-links #busniness .social-icons, #footernew .wrapper .footer-main .footer-left-section .footer-links #rapala_insider .social-icons, #footernew .wrapper .footer-main .footer-left-section .footer-links #follow_us .social-icons {
          background-color: #f1f1f1; } }

.product-specifications table.specificiations {
  word-wrap: break-word; }
  .product-specifications table.specificiations thead tr.header td {
    background: #333;
    background: linear-gradient(to bottom, #333 0%, #000 100%);
    color: #FFF200;
    border: none;
    vertical-align: middle; }
    .product-specifications table.specificiations thead tr.header td:first-child {
      border-top-left-radius: 3px; }
    .product-specifications table.specificiations thead tr.header td:last-child {
      border-top-right-radius: 3px; }
  .product-specifications table.specificiations thead tr.header td:last-child {
    border-right: 1px solid #ccc; }
  .product-specifications table.specificiations tbody tr.oddrow {
    background: #fff; }
  .product-specifications table.specificiations tbody tr.evenrow {
    background: #E1E1E1; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .product-specifications .specificiations {
    border-bottom: none; }
    .product-specifications .specificiations tbody {
      border-bottom: 1px solid #ccc;
      margin-bottom: 2em;
      display: table;
      width: 100%; }
      .product-specifications .specificiations tbody:last-child {
        margin-bottom: 0; }
      .product-specifications .specificiations tbody tr:nth-child(odd) {
        background: #E1E1E1; }
      .product-specifications .specificiations tbody tr th:first-child {
        width: 100%;
        background: #333;
        background: linear-gradient(to bottom, #333 0%, #000 100%);
        color: #FFF200;
        vertical-align: middle;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border: 1px solid #ccc;
        border-bottom: 0; }
      .product-specifications .specificiations tbody tr td {
        width: 50%;
        float: left;
        vertical-align: middle;
        padding: 8px 13.5px;
        box-sizing: border-box;
        min-height: 31px;
        display: block; }
        .product-specifications .specificiations tbody tr td:last-child {
          border-right: 1px solid #ccc; }
  #container.pt_account #primary.primary-content .account-section h1.title {
    line-height: 30px;
    font-size: 25px; }
  #container.pt_account #primary.primary-content .account-section .createan-account {
    margin: 5px 0 0 0; }
  #container.pt_account #primary.primary-content .account-section .upshift .contentboxcontent.account-logs h1 {
    padding: 0 0 30px 0; }
  .storm-background .logo {
    background: url(../images/STORM-Logo_mobile-bar.svg) no-repeat center transparent;
    float: left;
    width: 100%;
    margin: 20px 0 20px;
    min-height: 40px; }
  /*#vippage-background{
        #page {
         .vip-signup-top1{
             h1{
                 font-size:25px !important;
                 line-height:27px !important;
                 }
             }
         }
    }*/
  #vippage-background #page .contentbox .contentboxcontent h1 {
    font-size: 25px !important;
    line-height: 27px !important; }
  #RegistrationForm .label span.labeltext {
    font-size: 16px;
    line-height: 16px; }
  form .label {
    font-size: 16px;
    line-height: 16x;
    padding: 0; } }

#container.pt_error #primary.primary-content .errorpage fieldset.nohitsearch button.btn {
  background: url("../images/storm-search.png") no-repeat scroll right top #FFF200; }

#container.pt_error #primary.primary-content .errorpage fieldset.nohitsearch input.box {
  background: url("../images/storm-search.png") no-repeat scroll 0 0 transparent; }

#container.pt_error #primary.primary-content .errorpage .errorfooter .errorfooterbottom .content-asset div {
  font-size: 14.3px;
  color: #333; }

.pt_account.acc_landing .content-asset .account-options li h2 {
  text-align: center;
  background: none;
  font-family: "KenyanCoffeeRg-Regular";
  font-size: 36px;
  font-variant: small-caps;
  font-weight: normal; }

.pt_account.acc_landing .content-asset .account-options li:hover {
  background-color: #333;
  border-color: #333; }
  .pt_account.acc_landing .content-asset .account-options li:hover a, .pt_account.acc_landing .content-asset .account-options li:hover h2, .pt_account.acc_landing .content-asset .account-options li:hover p {
    color: #FFF200; }

.pt_product-search-result #page-background #primary .contentboxcontent h1.left-nav-style {
  color: #000;
  font-family: "KenyanCoffeeRg-Regular";
  font-size: 33px;
  font-weight: normal;
  margin-top: -38px;
  line-height: 36px; }

.product-tile .product-image .quickview {
  color: #FFF200;
  border-width: 1px;
  border-style: solid;
  border-top-color: #000002;
  border-right-color: #222;
  border-bottom-color: #404040;
  border-left-color: #000100;
  background-color: #000; }

.product-tile .product-image .quickview:hover {
  background-color: #333;
  text-decoration: none; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-image .quickview {
  color: #FFF200;
  border-width: 1px;
  border-style: solid;
  border-top-color: #000002;
  border-right-color: #222;
  border-bottom-color: #404040;
  border-left-color: #000100;
  background-color: #000; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-image .quickview:hover {
  background-color: #333;
  text-decoration: none; }

.pdp-main #page-background .product-info.column.tab-sec #tabs ul.ui-tabs-nav li.ui-state-active a,
.pdp-main #page-background .product-info.column.tab-sec #tabs ul.ui-tabs-nav li.active a,
.pdp-main #page-background .product-info.column.tab-sec #tabs ul.ui-tabs-nav li.ui-state-active a:hover,
.pdp-main #page-background .product-info.column.tab-sec #tabs ul.ui-tabs-nav li.active a:hover {
  color: #333; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-name a {
  color: #000; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-name a:hover {
  text-decoration: none;
  color: #666; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-swatches-all {
  color: #333; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-swatches-all:hover {
  text-decoration: underline;
  color: #000 !important; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-pricing .product-sales-price {
  color: #999;
  font-size: 11px;
  font-weight: normal; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-swatches img:hover {
  border: 1px solid #FFF200;
  height: 12px;
  margin: 0px;
  padding: 0px;
  width: 12px; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-swatches .selected img {
  border-color: #FFF200; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-promo {
  text-align: left;
  color: #E80000;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 10px;
  padding-top: 3px;
  font-weight: normal;
  line-height: 14px; }

.pt_content-search-result #page-background #primary .folder-content-list li a {
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  color: #666; }
  .pt_content-search-result #page-background #primary .folder-content-list li a:hover {
    text-decoration: undeline; }

.pt_content-search-result #page-background #primary .folder-content-list li p {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  color: #666;
  font-size: 13px; }
  .pt_content-search-result #page-background #primary .folder-content-list li p a.readmore {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
    font-size: 13px;
    color: #000; }

.pt_customerservice .accordion.tabover {
  background: none repeat scroll 0 0 #000;
  color: #FFF200; }

.registration .custom_signup .form-row .field-wrapper .textinput {
  margin-top: -1px; }

#headerwrapper #header .row.column1 .headercustomerinfo .change-regionnew {
  padding: 9px 12px 8px 0; }

@media only screen and (min-width: 0) and (max-width: 959px) {
  .pt_product-search-result #page-background .cell.contentbox.upshift, .pt_content-search-result #page-background .cell.contentbox.upshift {
    top: 0; }
  #container.pt_product-search-noresult .breadcrumb {
    background: #ffffff url(../images/container-background-70.jpg) 50% 0 repeat-x !important; }
  #container.pt_error #primary.primary-content .notfound.cell.contentbox.upshift {
    top: 0 !important; }
  #container.pt_error #primary.primary-content .errorpage .errorfooter .errorfooterbottom .content-asset div {
    font-size: 12px; } }

#footernew .change-region {
  padding: 5px 18px 8px 0; }

@media only screen and (min-width: 0) and (max-width: 959px) {
  #headerwrapper #header div.logo {
    margin: 21px 0; } }

.pt_product-details .productdetail .wrapper ~ #page-background .product-info.column.tab-sec #tabs ul.ui-tabs-nav li.ui-state-active a {
  background-image: none;
  background: #000;
  /* Old browsers */
  background: linear-gradient(to bottom, #000 10%, white 10%, #000 10%, white 10%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e80000', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */ }

.quickview .ui-dialog-titlebar-close .ui-icon {
  background-image: url(../images/close-button.png); }
  .quickview .ui-dialog-titlebar-close .ui-icon:hover {
    background-position: 0 -34px; }

.pt_customerservice #content .customer .cell .contentboxcontent h1 {
  font-size: 25px;
  line-height: 30px;
  font-family: "KenyanCoffeeRg-Regular"; }

.pt_customerservice .style-cservice .column .contentbox .left-nav-top .contentboxcontent .nav-group {
  padding: 0; }
  .pt_customerservice .style-cservice .column .contentbox .left-nav-top .contentboxcontent .nav-group li.first-level .second-level li.active a {
    color: #000; }

.pt_customerservice #content .productsearchbreadcrumb, .pt_customerservice #content .breadcrumb {
  background: #ffffff url(../images/container-background-70.jpg) 50% 0 repeat-x; }

.paymentinstruments .label {
  text-transform: uppercase;
  padding-bottom: 2px;
  color: #333;
  font-family: "KenyanCoffeeRg-Regular";
  font-weight: normal;
  font-size: 22px;
  line-height: 22px; }

.ui-dialog.payment-settings .dialog-content .creditcardform .credit-cart-form-title {
  margin: 0;
  width: 100%;
  font-style: normal;
  font-size: 40px;
  line-height: 40px; }

@media only screen and (min-width: 0) and (max-width: 959px) {
  .pt_customerservice #content .style-cservice .column.colspan2 h1 {
    font-size: 25px;
    line-height: 30px;
    font-family: "KenyanCoffeeRg-Regular"; }
  .pt_customerservice #content .style-cservice .column.colspan2 .cellbox.accordion.tabover .folder-contentboxcontent {
    background: none repeat scroll 0 0 #000; } }

.pt_customerservice .site-map ul li.first-level ul li a:hover {
  color: #999; }

.tab-sec #tabs ul.ui-tabs-nav li a:hover span {
  color: #333; }

.tab-sec #tabs ul.ui-tabs-nav li.ui-state-active a span {
  color: #333; }

.small-new.new-stamp {
  border-radius: 15px;
  background-color: #000;
  font-style: italic;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 10px;
  color: #EEE200;
  padding: 1px 5px;
  margin-right: 3px;
  width: auto !important;
  vertical-align: top;
  margin-top: 4px;
  float: left; }

.small-new.new-stamp-big {
  border-radius: 15px;
  background-color: #000;
  font-style: italic;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #EEE200;
  padding: 4px 8px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.65);
  margin-right: 3px;
  position: inherit;
  top: -5px; }

.newFlagColorSize .new-colors-snipe, .newFlagColorSize .new-sizes-snipe, .newFlagColorSize .new-pak-size, .newPakSizeFlag .new-colors-snipe, .newPakSizeFlag .new-sizes-snipe, .newPakSizeFlag .new-pak-size {
  border-radius: 15px;
  background-color: #000;
  font-style: italic;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 10px;
  color: #EEE200;
  padding: 1px 5px;
  margin-right: 3px; }

.variationattributes .color ul li a span.corner-ribbon {
  background-color: #000;
  color: #FFF200; }

.productdetail #special-offers ul li {
  color: #666; }

.productdetail .price .salesprice {
  color: #666; }

.productdetail .price .price-sales {
  color: #666; }

/*# sourceMappingURL=storm.css.map */
