.pt_storefront,
#container.pt_account {
    .floatright.site-suggestion-section {
        @include respond(desktop) {
            right: rem(-4px);
            top: rem(85px);
        }
    }
}
.floatright.site-suggestion-section {
    @include respond(desktop) {
        right: rem(-4px);
        top: rem(85px);
    }
}
.suggestions {
    .search-suggestion-wrapper {
        font-family: $font;
    }
}

.sitesearch form.simplesearch button.search-button {
    min-width: 1px;
}