@import url("https://fast.fonts.com/cssapi/e1d62d77-1f31-4ff7-9f89-bfd805e66f34.css");

body {
    &.js-body {
        background: none;
    }
}

#container {
    background: transparent;
}

#container.pt_product-search-noresult {
    #footernew {
        top: 0 !important;
    }
}

h1, .h-one-tag {
    margin: 0;
}

h1.left-nav-style {
    padding-bottom: 6px;
    border-bottom: #CCC solid 1px;
}

h2.input-style {
    font-family: $font;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    padding-bottom: 2px;
}

a {
    &.filter {
        span {
            font-style: italic;
            font-weight: normal;
            text-transform: none;
            letter-spacing: 0px;
            font-size: 11px;
        }
    }
}

/*buttons*/
a.button, button {
    margin: 0;
    display: block;
    clear: left;
    float: left;
    height: 28px;
    line-height: 28px;
    font-family: $font-secondary;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0;
    color: white;
    padding: 0 18px 0 18px;
    background-color: $main-color;
    @include btn-border;
}

a.button:hover, button:hover {
    background: $link-hover-color;
    text-decoration: none;
    cursor: pointer;
}

.addTo-cart-section {
    a.button:hover,
    button:hover {
        background: linear-gradient(to bottom, rgba(209, 111, 0, 1) 0%, rgba(245, 131, 32, 1) 100%) !important;
        text-decoration: none;
        cursor: pointer;
    }
}

p a {
    font-weight: bold;
}

h1.search-result {
    font-family: $font-secondary;
    font-size: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 36px;
}

.product-specifications {
    .specificiations {
        thead {
            tr {
                background: $main-color;
                background: linear-gradient(to bottom, $main-color 0%, #d17000 100%);
                color: $white;
            }
        }
        tbody {
            tr {
                &.evenrow {
                    background: #FEECDE;
                }
            }
        }
    }
}

.pt_acc_landing {
    .content-asset {
        .account-options {
            li {
                transition: none;
                a {
                    transition: none;
                    h2 {
                        font-family: $font-third;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 25px;
                        line-height: 25px;
                        padding: 10px 0;
                    }
                    p {

                        text-transform: capitalize;
                    }
                }
                &:hover {
                    background-color: $main-color;
                    border-color: $main-color;
                    transition: none;
                    h2 {
                        color: $white;
                    }
                    p {
                        color: $white;
                    }
                    i {
                        color: $white;
                    }
                }
            }
        }
    }
}

.pt_store-locator {
    .storelocator {
        h1 {
            text-transform: uppercase;
            font-vairant: normal;
        }
    }
    .storelocatorzipsearch {
        .stack {
            .form-row {
                .label {
                    .labeltext {
                        font-family: $font;
                        text-transform: uppercase;
                        font-size: 12px;
                        line-height: 12px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.pt_product-search-result {
    #page-background {
        #primary {
            .search-blk {
                a {
                    display: inline-block;
                    text-transform: capitalize;
                    color: $main-color;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

#headerwrapper #header .row.column1 #minicart #multi-site-one-cart {
    background-image: url(../images/multi-site-one-cart-bg-right.png);
    background-color: none;
    background-position: right top;
}

#headerwrapper #header .row.column1 #minicart #multi-site-one-cart span {
    color: white;
    font-weight: normal;
    width: 58px;
    border-radius: 5px;
    text-transform: capitalize;
    background-image: url(../images/multi-site-one-cart-bg.png);
}

.minicarticon-cont .cart-icon {
    background: url(../images/orangecart.png) 0 6px no-repeat;
    width: 30px;
    float: left;
    height: 30px;
    margin: 0 5px 0 10px;
}

#headerwrapper #header .row.column1 #minicart a.minicart-button {
    color: $main-color;
}

#headerwrapper #header .row.column1 #minicart a.minicart-checkout-button {
    background: linear-gradient(to bottom, $main-color 60%, #cd6200 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f58220', endColorstr='#cd6200', GradientType=0);
    color: $white;
    text-align: center;
    text-decoration: none;
    padding: 7px 0;
    height: 17px;
    text-indent: 0;
    font-family: $font-secondary;
    font-size: 11px;
    border-radius: 0 5px 5px 0;
}

#headerwrapper #header .row.column1 #minicart a.minicart-checkout-button:hover {
    background: linear-gradient(to bottom, #cd6200 0%, $main-color 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cd6200', endColorstr='#f58220', GradientType=0);
}

.owl-carousel {
    .owl-dot {
        span {
            background-image: url(../images/slideshow-counter.png);
        }
    }
}

.shop-brand {
    font-family: $font-third;
    font-size: 24px;
    font-weight: normal;
    line-height: 22px;
    padding: 15px 0 5px 0 !important;
}

.categorymenusnew {
    a {
        &:hover {
            color: $hover-color;
            text-decoration: underline;
        }

    }
    .category-top-level {
        a {
            &:hover {
                color: $hover-color;
                .count-products {
                    color: $hover-color;
                }
            }
        }
        &.active {
            a {
                color: $hover-color;
                &:hover {
                    color: $hover-color;
                    .count-products {
                        color: $hover-color;
                    }

                }
                .count-products {
                    color: $hover-color;
                }
            }
            ul {
                .count-products {
                    color: $bluefox-hov-grey;
                }
            }
        }
        .category-top-level2 {
            li {
                &.active {
                    a {
                        color: $hover-color;
                        text-decoration: underline;
                        .count-products {
                            color: $hover-color;
                        }
                    }
                }
                a {
                    &:hover {
                        color: $hover-color;
                        .count-products {
                            color: $hover-color;
                        }
                    }
                }
            }
        }
    }
}

.pt_wish-list {
    #main {
        .item-details {
            .product-list-item {
                span {
                    &.price-sales {
                        color: $main-color;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

.ui-dialog {
    &.addressadd {
        #dialog-container {
            .form-horizontal {
                .form-row {
                    &.form-row-button {
                        button {
                            &.simple {
                                background-color: $main-color;
                                color: $white;
                                &:hover {
                                    background: $link-hover-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.pt_leftnav-addressbook {
    #main {
        .breadcrumb {
            font-family: $font-secondary;
        }
    }
    #addresses {
        .address-list {
            .address-tile {
                .mini-address-title {
                    font-family: $font;
                    color: $list-color;
                    font-size: 12px;
                    font-weight: bold;
                    padding: 4px 0 2px;
                    text-transform: uppercase;
                }
                .mini-address-name {
                    line-height: 14px;
                }
                .mini-address-location {
                    address {
                        line-height: 14px;
                    }
                }
                .address-edit,
                .address-delete.delete,
                .address-make-default {
                }
            }
        }
    }
}

.pt_order {
    h1 {
        text-align: left;
        background: none;
        border: none;
        padding: 0;
    }
    .search-result-items {
        li {
            .order-history-items {
                .order-history-table {
                    th {
                        font-family: $font;
                        text-transform: uppercase;
                        font-size: 12px;
                        line-height: 12px;
                        font-weight: bold;
                    }
                    tr {
                        .order-price {
                            .value {
                                font-family: $font-fourth;
                                color: $main-color;
                                font-weight: bold;
                                font-size: 30px;
                                line-height: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.orderdetails {
    .order-information {
        .order-number {
            .label {
                font-size: 25px;
                line-height: 25px;
                font-family: $font-third;
                font-weight: normal;
                color: $list-color;
                text-transform: uppercase;
                font-style: normal;
            }
            .value {
                font-size: 25px;
                line-height: 25px;
                font-family: $font-third;
                font-weight: normal;
                color: $list-color;
                text-transform: uppercase;
                font-style: normal;
            }
        }
    }
}

.orderdetails {
    .order-payment-summary,
    .order-billing,
    .order-shipment-address,
    .line-item-details,
    .line-item-quantity,
    .line-item-price {
        .label {
            color: $list-color;
            font-family: $font;
            font-weight: bold;
            font-size: 12px;
            line-height: 12px;
            text-transform: uppercase;
        }
    }
}

.orderdetails {
    .line-items {
        .line-item {
            .line-item-price {
                font-family: $font-fourth;
                color: $main-color;
                font-weight: bold;
                font-style: italic;
                font-size: 24px;
                line-height: 24px;
                .label {
                    color: $list-color;
                    font-family: $font;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 12px;
                    text-transform: uppercase;
                    font-style: normal;
                }
            }
        }
    }
}

/* start of styles for my account page */
#container.pt_account {
    #primary.primary-content {
        .account-section {
            .label {
                .labeltext {
                    color: #666;
                    float: none;
                    font-size: 12px;
                    font-variant: normal;
                    font-weight: normal;
                    line-height: normal;
                    text-align: left;
                    width: auto;
                    font-family: $font-secondary;
                    padding: 0;
                }
            }
            .returningcustomers {
                .form-row {
                    /* margin: 8px 0 16px 1px; */
                    @include respond(0, $medium-breakpoint) {
                        /* margin: 0px 0 16px 1px; */
                    }
                }
            }
            .custom-checkbox {
                float: left;
                margin: 2px 0 15px 0;
                padding: 0;
                width: 100%;
                position: relative;
            }
            .cell {
                margin: 25px 0 0 10px;
            }
            .upshift {
                .contentboxcontent.account-logs {
                    h1 {
                        padding: 8px 0 2px;
                    }
                }
            }
            .createan-account {
                margin-top: 23px;
                .contentboxcontent.new-register {
                    .registration {
                        .form-row {
                            /* margin: 15px 0 -3px 0px; */
                        }
                    }
                }
            }
        }
    }
    #footernew {
        top: -110px !important;
    }
}

.international-links-container {
    font-size: 12px;
}

.international-investor-link {
    margin-top: 75px;
    color: #235aa6;
}

.international-investor-link a {
    line-height: 10px;
    float: none;
    padding-left: 0px;
    color: $main-color;
    @include btn-border
}

.international-investor-link a:hover {
    color: $link-hover-color;
    @include btn-border-hover-color;
    padding-left: 0px;
}

/* start of footer styles */
.pt_product-search-result {
    #footernew {
        top: 0 !important;
    }
}

.pdp-main {
    #page-background {
        .product-info {
            &.column {
                &.tab-sec {
                    #tabs ul.ui-tabs-nav li.ui-state-active a, #tabs ul.ui-tabs-nav li.active a, #tabs ul.ui-tabs-nav li.ui-state-active a:hover, #tabs ul.ui-tabs-nav li.active a:hover {
                        color: $link-hover-color;
                    }
                }
            }
        }
    }
}

.pt_content-search-result {
    #footernew {
        top: 0 !important;
    }
}

.pt_storefront #footernew {
    top: -128px !important;
}

#footernew {
    background-image: url(../images/footer-background.png);
    background-position: 50% 28px;
    .social-icons {
        #fallow-us-on {
            ul {
                .Facebook {
                    padding: 1px 35px 2px 3px;
                    margin: 8px 0 0 0;
                }
                .you-tube {
                    margin-top: 13px;
                }
            }
        }
    }
}

.pt_product-details {
    #footernew {
        #footer-brands {
            margin-top: 0;
        }
    }
}

form {
    .label {
        font-family: $font;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 12px;
        font-weight: bold;
        font-variant: initial;
        text-transform: uppercase;
        padding-bottom: 2px;
    }
}

#vippage-background {
    form {
        .label {
            font-family: $font;
            text-transform: uppercase;
            font-size: 12px !important;
            line-height: 12px !important;
            font-weight: bold !important;
            font-variant: initial;
            text-transform: uppercase !important;
            padding-bottom: 2px;
        }
    }
}

.copyright {
    padding: 5px 18px 0 0;
}

#footernew #footer-brands {
    clear: both;
    margin: 27px auto 0px auto;
    padding: 50px 16px 20px 17px;
    background: none;
    width: 835px;
}

#footernew .wrapper .footer-main {
    margin: 18px 18px 30px;
    position: relative;
    float: left;
}

#footernew .social-icons #fallow-us-on ul .Facebook {
    height: 19px;
}

#footernew .social-icons #fallow-us-on ul .you-tube {
    padding: 0 15px 10px 0;
}

#footernew .email-subscribe input.emailinput {
    padding: 0 9px 0 8px;
}

.productdetail {
    .addtocartbar {
        .addtocart {
            button {
                &.addtocartbutton {
                    float: left;
                    width: calc(100% - 50px);
                    background-image: none;
                    height: 40px;
                    line-height: 40px;
                    color: $white;
                    background-image: none;
                    background: rgba(245, 131, 32, 1);
                    background: linear-gradient(to bottom, rgba(245, 131, 32, 1) 0%, rgba(209, 111, 0, 1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f58320', endColorstr='#d16f00', GradientType=0);
                    transition: inherit;
                    text-transform: inherit;
                    border: none;
                }
            }
            .quantity {
                .label {
                    font-size: 13px !important;
                    font-style: normal;
                    font-weight: normal !important;
                    font-family: $font-secondary;
                }
            }
        }
    }
}

@include respond(0, $desktop-breakpoint - 1) {
    #vippage-background {
        .disign-header-title,
        h1 {
            font-size: 20px;
            line-height: 25px;
        }
    }

    .pt_wish-list,
    .pt_leftnav-addressbook,
    .pt_order,
    .pt_leftnav-payment,
    .pt_leftnav-profile,
    .pt_acc_landing {
        #main {
            #page-background {
                #primary {
                    h1 {
                        font-size: 20px;
                        line-height: 25px;
                        font-variant: normal;
                    }
                }
            }
        }
    }

    .pt_acc_landing {
        .content-asset {
            .account-options {
                li {
                    a {
                        h2 {
                            font-size: 20px;
                            line-height: 25px;
                        }
                    }
                }
            }
        }
    }

    #container.pt_product-search-noresult {
        .breadcrumb {
            background: url(../images/body-background-70.jpg) repeat-x;
        }
    }
    .pt_storefront #footernew {
        top: 0 !important;
    }
    .desktop-view {
        display: none !important;
    }
    .pt_product-details {
        .pdp-main {
            .pdpmain-content {
                .productname {
                    font-size: 20px;
                    line-height: 25px;
                    font-variant: normal;
                }
            }
        }
    }
    .productdetail {
        a {
            &.filter {
                span {
                    font-style: normal;
                    color: $white;
                    font-weight: normal;
                }
                .selectedvarval {
                    color: $white;
                }
            }
        }
        .price {
            .salesprice {
                font-style: bold !important;
                font-size: 15px !important;
                color: $main-color !important;
            }
        }
    }
    .selected,
    .future {
        a {
            &.filter {
                background-color: #f1f1f1 !important;
                border-top: 1px solid #d0d0d0;
                border-right: 1px solid #e8e8e8;
                border-bottom: 1px solid #f8f8f8;
                border-left: 1px solid #e8e8e8;
                color: $night-rider !important;
                border-radius: 3px;
            }
        }
    }
    .current {
        a {
            &.filter {
                color: $white;
                border: 1px solid #cc6600;
                background: rgba(245, 131, 32, 1);
                background: linear-gradient(to bottom, rgba(245, 131, 32, 1) 0%, rgba(209, 111, 0, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f58320', endColorstr='#d16f00', GradientType=0);
                &:hover {
                    background: rgba(209, 111, 0, 1);
                    background: linear-gradient(to bottom, rgba(209, 111, 0, 1) 0%, rgba(245, 131, 32, 1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d16f00', endColorstr='#f58320', GradientType=0);
                }
            }
        }
    }
    .pt_wish-list,
    .pt_leftnav-addressbook,
    .pt_order,
    .pt_leftnav-payment,
    .pt_account,
    .pt_product-search-result,
    .pt_content-search-result,
    .pt_leftnav-profile {
        .breadcrumb {
            background: url(../images/body-background-70.jpg) !important;
            background-repeat: repeat-x;
            height: auto;
        }
    }

    .pt_product-search-result,
    .pt_content-search-result {
        .contentboxcontent {
            .left-nav-style {
                font-size: 20px;
                line-height: 25px;
            }
            h1 {
                &.leftnav {
                    font-size: 20px;
                    line-height: 25px;
                }
            }
        }
    }

    #footernew {
        background: none;
        top: 0 !important;
        .wrapper {
            .footer-main {
                background-image: none;
                margin: 0;
                width: 100%;
                box-shadow: inset 0 8px 8px -8px #696868, inset 0 -8px 8px -8px #696868;
            }
        }
    }
}

@include respond(0, $medium-breakpoint) {
    .product-specifications {
        .specificiations {
            border-bottom: none;
            tbody {
                border-bottom: 1px solid #ccc;
                margin-bottom: 2em;
                display: table;
                width: 100%;
                &:last-child {
                    margin-bottom: 0;
                }
                tr {
                    &:first-child {
                        background: $main-color;
                        background: linear-gradient(to bottom, $main-color 0%, #d17000 100%);
                        color: $white;
                        th {
                            border-top-left-radius: 3px;
                            border-top-right-radius: 3px;
                            width: 100%;
                            vertical-align: middle;
                            padding: 8px 13.5px;
                            box-sizing: border-box;
                            min-height: 31px;
                            margin: 0;
                            border: none;
                            background: transparent;
                            color: inherit;
                        }
                    }
                    &:nth-child(2n+3) {
                        background: #FEECDE;
                    }
                    td {
                        width: 50%;
                        float: left;
                        vertical-align: middle;
                        padding: 8px 13.5px;
                        box-sizing: border-box;
                        min-height: 31px;
                        display: block;
                    }
                }
            }
        }
    }
    #container {
        &.pt_account {
            #primary {
                &.primary-content {
                    .account-section {
                        h1 {
                            &.title {
                                line-height: 25px;
                                font-size: 20px;
                            }
                        }
                        .createan-account {
                            margin: 5px 0 0 0;
                        }
                        .upshift {
                            .contentboxcontent {
                                &.account-logs {
                                    h1 {
                                        padding: 0 0 30px 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #footernew {

        top: 0 !important;
    }
    .bluefox-background .logo {
        background: url(../images/BLUE_FOX_mobile-bar.svg) no-repeat center transparent;
        float: left;
        width: 100%;
        margin: 20px 0 20px;
        min-height: 40px;
    }
}

@include respond(0, $large-breakpoint - 1) {
    #footernew .wrapper .footer-main {
        margin: 0px;
    }
}

#container.pt_error {
    #primary.primary-content {
        .errorpage {
            fieldset.nohitsearch {
                input.box {
                    background: url("../images/search-full-bluefox.png") no-repeat scroll 0 0 transparent;
                }
                button.btn {
                    background: url("../images/search-full-bluefox.png") no-repeat scroll right top $main-color;
                    transition: none;
                    &:hover {
                        background: url("../images/search-full-bluefox.png") no-repeat $link-hover-color;
                        background-position: -202px -28px;
                        transition: none;
                    }
                }
            }
        }
    }
    #footernew {
        top: 0 !important;
    }
}

.pt_account.acc_landing {
    .content-asset {
        .account-options {
            li {
                background: $white;
                box-shadow: $bluefox-gray 0 0 10px;
                position: relative;
                h2 {
                    text-align: center;
                    background: none;
                    font-family: $font-third;
                    font-size: 36px;
                    font-variant: small-caps;
                    font-weight: normal;
                    color: $list-color;
                }
                p, a {
                    color: $list-color;
                }
                &:hover {
                    background-color: $main-color;
                    border-color: $main-color;
                    a, h2, p {
                        color: $white;
                    }
                }
            }
        }
    }
}

.pt_product-search-result {
    #page-background {
        #primary {
            .contentboxcontent {
                h1 {
                    &.left-nav-style {
                        color: $black;
                        font-family: $font-third;
                        font-size: 24px;
                        font-weight: normal;
                        border: none;
                    }
                }
            }
        }
    }
}

.product-tile {
    .product-image {
        .quickview {
            background-color: $hover-color;
            @include btn-border;
            color: white;
        }
        .quickview:hover {
            color: white;
            background-color: $link-hover-color;
            text-decoration: none;
            @include btn-border-hover-color;
        }
    }
}

.pt_product-search-result {
    #page-background {
        #primary {
            .search-result-content {
                .product-tile {
                    .product-image {
                        .quickview {
                            color: white;
                            background-color: $hover-color;
                            @include btn-border;
                        }
                        .quickview:hover {
                            background-color: $link-hover-color;
                            text-decoration: none;
                            @include btn-border-hover-color;
                        }
                    }
                }
            }
        }
    }
}

.pt_product-search-result {
    #page-background {
        #primary {
            .search-result-content {
                .product-tile {
                    .product-name {
                        a {
                            color: $black;
                        }
                        a:hover {
                            text-decoration: none;
                            color: $main-color;
                        }
                    }
                }
            }
        }
    }
}

.pt_product-search-result {
    #page-background {
        #primary {
            .search-result-content {
                .product-tile {
                    .product-swatches-all {
                        color: $hover-color;
                    }
                    .product-swatches-all:hover {
                        color: $main-color !important;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.pt_product-search-result {
    #page-background {
        #primary {
            .search-result-content {
                .product-tile {
                    .product-pricing {
                        .product-sales-price {
                            color: $bluefox-gray;
                            font-size: 11px;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }
}

.pt_product-search-result {
    #page-background {
        #primary {
            .search-result-content {
                .product-tile {
                    .product-swatches {
                        img:hover {
                            border: 1px solid $link-hover-color;
                            height: 12px;
                            margin: 0px;
                            padding: 0px;
                            width: 12px;

                        }
                        .selected img {
                            border-color: $bluefox-yellow;
                        }
                        .selected img:hover {
                            border: 1px solid $link-hover-color;
                        }
                    }
                }
            }
        }
    }
}

.pt_product-search-result {
    #page-background {
        #primary {
            .search-result-content {
                .product-tile {
                    .product-promo {
                        text-align: left;
                        color: $bluefox-red;
                        font-family: $font-secondary;
                        font-size: 10px;
                        padding-top: 3px;
                        font-weight: normal;
                        line-height: 14px;
                    }
                }
            }
        }
    }
}

.pt_content-search-result {
    #page-background {
        #primary {
            #tabs {
                ul {
                    &.search-tabs {
                        li {
                            &.active {
                                a {
                                    span {
                                        color: $main-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .folder-content-list {
                li {
                    a {
                        font-family: $font-third;
                        font-size: 16px;
                        line-height: 16px;
                        font-weight: normal;
                        color: $list-color;
                    }
                    p {
                        font-family: $font;
                        color: $list-color;
                        font-size: 13px;
                        a {
                            &.readmore {
                                font-family: $font;
                                color: $main-color;
                                &:hover {
                                    color: $link-hover-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.pt_customerservice {
    #footernew {
        top: 0px !important;
    }
    .accordion {
        &.tabover {
            background-color: $main-color;
        }
    }
}

.registration {
    .custom_signup {
        padding: 7px 12px 8px 12px;
        .form-row {
            .label {
                .labeltext {
                    vertical-align: middle;
                }
            }
            .field-wrapper {
                .textinput {
                    margin-top: 6px;
                }
            }
        }
    }
}

#headerwrapper {
    #header {
        .row {
            &.column1 {
                .headercustomerinfo {
                    .change-regionnew {
                        padding: 9px 12px 8px 0;
                    }
                }
            }
        }
    }
}

.variationattributes .size li.selected a, .variationattributes .size li.selected a:hover, .variationattributes .size li a:hover {
    color: white;
    border-right-color: $border-hover-right;
    border-bottom-color: $border-hover-bottom;
    background-position: 0 -20px;
    text-decoration: none;
    background-color: $link-hover-color;
    border-color: $main-color;
}

#footernew {
    .change-region {
        padding: 6px 18px 8px 0;
    }
}

@include respond(0, $desktop-breakpoint - 1) {
    #headerwrapper #header div.logo {
        margin: 29px 0;
    }
}

.productdetail {
    .price {
        color: $hover-color;
        font-family: $font-secondary;
        font-weight: bold;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0px;
        .standardprice {
            font-family: $font-secondary;
            font-size: 15px;
            line-height: 24px;
            color: $bluefox-gray;
        }
        .salesprice {
            font-family: $font-secondary;
        }
    }

}

#special-offers {
    .promotion-title {
        color: $bluefox-light-gray;
    }
}

.productdetail {
    a {
        &.filter {
            span {
                color: $white;
                font-size: 12px;
                font-weight: normal;
            }
        }
    }
}

.variationattributes {
    .swatches {
        li {
            a {
                background-image: url("../images/product-detail-size.jpg");
                &:hover {
                    color: $white;
                    border-color: $hover-color;
                }
            }
            &.selected {
                a {
                    color: $white;
                    border-color: $hover-color;
                }
            }
        }
    }
}

.breadcrumb {
    ul {
        a {
            &:hover {
                background-position: 2px 50%;
                color: $link-hover-color !important;
                text-decoration: none;
            }
        }
    }
}

.pt_product-details {
    .productdetail {
        .wrapper {
            ~ #page-background {
                .product-info {
                    &.column {
                        &.tab-sec {
                            #tabs {
                                ul {
                                    &.ui-tabs-nav {
                                        li {
                                            &.ui-state-active {
                                                a {
                                                    background-image: none;
                                                    background: $main-color; /* Old browsers */
                                                    background: linear-gradient(to bottom, $main-color 10%, rgba(255, 255, 255, 1) 10%, $main-color 10%, rgba(255, 255, 255, 1) 10%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                                                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e80000', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.quickview {
    .ui-dialog-titlebar-close {
        .ui-icon {
            background-image: url(../images/close-button.png);
            &:hover {
                background-position: 0 -34px;
            }
        }
    }
}

.pt_customerservice {
    #content {
        .customer {
            .cell {
                .contentboxcontent {
                    h1 {
                        font-size: 20px;
                        line-height: 25px;
                        font-family: $font-third;
                    }
                }
            }
        }
    }
}

.pt_customerservice {
    .style-cservice {
        .column {
            .contentbox {
                .left-nav-top {
                    .contentboxcontent {
                        .nav-group {
                            padding: 0;
                            li {
                                &.first-level {
                                    .second-level {
                                        li {
                                            &.active {
                                                a {
                                                    color: $main-color;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.pt_customerservice {
    .style-cservice {
        .column {
            .contentbox {
                .left-nav-top {
                    .contentboxcontent {
                        h2.left-nav-style {
                            padding: 12px 0;
                            font-size: 20px;
                            line-height: 25px;
                            font-family: $font-third;
                        }
                    }
                }
            }
        }
    }
}

.pt_customerservice {
    #content {
        .productsearchbreadcrumb, .breadcrumb {
            background: url(../images/body-background-70.jpg);
        }
    }
}

@include respond(0, $desktop-breakpoint - 1) {
    .pt_customerservice {
        #content {
            .style-cservice {
                .column {
                    &.colspan2 {
                        h1 {
                            font-size: 20px;
                            line-height: 25px;
                            font-family: $font-third;
                        }
                        .cellbox {
                            &.accordion {
                                &.tabover {
                                    .folder-contentboxcontent {
                                        background-color: $main-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .column3.about-us {
                .column.colspan2 {
                    .cell.upshift {
                        &.tabover {
                            color: $white;
                            background: none repeat scroll 0 0 $white;
                            a {
                                color: $black;
                            }
                        }
                    }
                }
            }
        }
    }
}

.paymentinstruments {
    .label {
        text-transform: uppercase;
        padding-bottom: 2px;
        font-family: $font;
        color: $night-rider;
        font-size: 12px;
        font-weight: bold;
        line-height: 17px;
    }
}

.ui-dialog {
    &.payment-settings {
        .dialog-content {
            .creditcardform {
                .credit-cart-form-title {
                    margin: 0;
                    width: 100%;
                    font-style: normal;
                    font-size: 25px;
                    line-height: 25px;
                }
                #CreditCardForm {
                    .form-row {
                    }
                }
            }
        }
    }
}

.pt_customerservice {
    .site-map {
        ul {
            li {
                &.first-level {
                    ul {
                        li {
                            a:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.productdetail {
    .price {
        .salesprice {
            color: $main-color;
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 24px;
        }
    }
}

.tab-sec {
    #tabs {
        ul {
            &.ui-tabs-nav {
                li {
                    a {
                        &:hover {
                            span {
                                color: $link-hover-color;
                            }
                        }
                    }
                    &.ui-state-active {
                        a {
                            span {
                                color: $link-hover-color;
                            }
                        }
                    }
                }
            }
        }
    }
}

.small-new {
    &.new-stamp {
        border-radius: 15px;
        background-color: $main-color;
        font-style: italic;
        font-family: $font;
        font-weight: normal;
        font-size: 10px;
        color: $white;
        padding: 1px 5px;
        margin-right: 3px;
        width: auto !important;
        position: inherit;
        top: -5px;
    }
    &.new-stamp-big {
        border-radius: 15px;
        background-color: $main-color;
        font-style: italic;
        font-family: $font;
        font-weight: normal;
        font-size: 12px;
        color: $white;
        padding: 4px 8px;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.65);
        margin-right: 3px;
        vertical-align: top;
    }
}

.newFlagColorSize, .newPakSizeFlag {
    .new-colors-snipe, .new-sizes-snipe, .new-pak-size {
        border-radius: 15px;
        background-color: $main-color;
        font-style: italic;
        font-family: $font;
        font-weight: normal;
        font-size: 10px;
        color: $white;
        padding: 1px 5px;
        margin-right: 3px;
    }
}

.variationattributes {
    .color {
        ul {
            li {
                a {
                    span {
                        &.corner-ribbon {
                            background-color: #005699;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}

.productdetail {
    #special-offers {
        ul {
            li {
                color: $main-color;
            }
        }
    }
}

.productdetail .price .price-sales {
    color: $main-color;
}

.pt_product-details {
    #footernew {
        background-position: 50% 0px;
        #footer-brands {
            margin-top: 0;
        }
    }
}
