$bluefox-bgorange: #F58220;
$bluefox-bg-light-orange: #F93;
$bluefox-hov-orange: #f58220;
$bluefox-hov-grey: #4d4d4d;
$bluefox-white: #ffffff;
$bluefox-list-black: #333;
$bluefox-black: #000;
$bluefox-gray: #999;
$bluefox-yellow: #FFF200;
$bluefox-red: #E80000;
$bluefox-light-sky: #005BAA;
$bluefox-light-grey: #F1F1F1;
$bluefox-original-light-grey: #CCC;
$bluefox-light-gray: #333;
// font-family //

// border color //
$bluefox-borderone: #CF6F1C;
$bluefox-bordertwo: #EF8020;
$bluefox-borderthree: #FBCFA9;
$bluefox-borderfour: #F08428;
$bluefox-hov-borderone: #D7812C;
$bluefox-hov-bordertwo: #F99533;
$bluefox-hov-borderthree: #FFD8B1;
$bluefox-hov-borderfour: #F9993A;

$bluefox-lucida: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
$bluefox-original: 'ITCLubalinGraphW01-Demi', 'LubalGraph Bd BT', Rockwell, serif;
$bluefox-Arial: Arial, Helvetica, sans-serif;
$bluefox-Baskerville: Baskerville, "Times New Roman", Times, serif;

$font: Arial, Helvetica, sans-serif;
$font-secondary: 'Geogrotesque-RegularIt';
$body-color: black;
$body-font-size: 12px;
$body-line-height: 21px;
$body-letter-spacing: 0;
$body-background: '';