$bluefox-bgorange: #F58220;
$bluefox-bg-light-orange: #F93;
$bluefox-hov-orange: #f58220;
$bluefox-hov-grey: #4d4d4d;
$bluefox-white: #ffffff;
$bluefox-list-black: #333;
$bluefox-black: #000;
$bluefox-gray: #999;
$bluefox-yellow: #FFF200;
$bluefox-red: #E80000;
$bluefox-light-sky: #005BAA;
$bluefox-light-grey: #F1F1F1;
$bluefox-original-light-grey: #CCC;
$bluefox-light-gray: #333;
// font-family //

// border color //
$bluefox-borderone: #CF6F1C;
$bluefox-bordertwo: #EF8020;
$bluefox-borderthree: #FBCFA9;
$bluefox-borderfour: #F08428;
$bluefox-hov-borderone: #D7812C;
$bluefox-hov-bordertwo: #F99533;
$bluefox-hov-borderthree: #FFD8B1;
$bluefox-hov-borderfour: #F9993A;

$bluefox-lucida: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
$bluefox-original: 'ITCLubalinGraphW01-Demi', 'LubalGraph Bd BT', Rockwell, serif;
$bluefox-Arial: Arial, Helvetica, sans-serif;
$bluefox-Baskerville: Baskerville, "Times New Roman", Times, serif;

$body-color: black;
$body-font-size: 12px;
$body-line-height: 21px;
$body-letter-spacing: 0;
$body-background: '';

//---------------------------------
// Overwrite Global variables
//---------------------------------

// Fonts
$font: Arial, Helvetica, sans-serif;
$font-secondary: $bluefox-lucida;
$font-third: $bluefox-original;
$font-fourth: $bluefox-Baskerville;
$body-font-size: 12px;
$body-line-height: 21px;
$body-letter-spacing: 0;

// Main Colors
$body-color: black;
$body-background: #dbe9f4 url(../images/body-background-70.jpg) 50% 0 repeat-x;

// Label
$label-color: $body-color;
$label-font: $font;
$label-font-style: normal;
$label-weight: bold;
$label-font-size: $body-font-size;
$label-line-height: 12px;
$label-text-transform: none;

// H1-h6
$header-font: $font-third;

$h1-font: $header-font;
$h1-font-size: 25px;
$h1-font-weight: normal;
$h1-line-height: 25px;
$h1-text-transform: uppercase;

$h2-font: $header-font;
$h2-font-size: 25px;
$h2-font-weight: normal;
$h2-line-height: 25px;
$h2-text-transform: uppercase;

$h3-font: $header-font;
$h3-font-size: 25px;
$h3-font-weight: bold;
$h3-line-height: 25px;
$h3-text-transform: uppercase;

$h4-font: $header-font;
$h4-font-size: 25px;
$h4-font-weight: normal;
$h4-line-height: 25px;
$h4-text-transform: uppercase;

$h5-font: $header-font;
$h5-font-size: 25px;
$h5-font-weight: normal;
$h5-line-height: 25px;
$h5-text-transform: uppercase;

$h6-font: $header-font;
$h6-font-size: 25px;
$h6-font-weight: normal;
$h6-line-height: 25px;
$h6-text-transform: uppercase;
//---------------------------------
// End Off Overwrite Global variables
//---------------------------------
