div.returningcustomers {
    .custom_signin {
        .formfield {
            .form-row {
                margin: $form-row-margin;
                .label {
                    @include label;
                    .requiredindicator {
                        float: none;
                        color: $required-color;
                        position: static;
                        display: inline-block;
                        padding: 0;
                    }
                }
            }
        }
        .forgot-password {
            width: auto;
        }
        .formactions {
            .signin-button {
                @include button;
            }
        }
    }
}

