@import url("../css/MyFontsWebfontsKit.css");

/* body */
body {
    &.js-body {
        background: none;
    }
}

#container {
    background: url(../images/container-background-80-2.jpg) 50% 0 repeat-x;
    &.js-container-active {
        background: none;
    }
}


h1, .h-one-tag {
    margin: 0;
}

.pt_product-details {
    #footernew {
        background-position: 50% 0px;
        .wrapper {
            #footer-brands {
                margin-top: 0 !important;
            }
        }
    }
}

h1.left-nav-style {
    font-size: 28px;
    line-height: 28px;
}

h2.left-nav-style {
    padding-bottom: 6px;
    border-bottom: #CCC solid 1px;
}

h2.input-style, .order-head h2 {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    padding-bottom: 2px;
    color: black;
}

p a {
    font-weight: bold;
}

h1.search-result {
    font-family: $font-secondary;
    font-size: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 36px;
}

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-name a {
    &:hover {
        color: $ice-dark-black;
    }
}

#footernew {
    .wrapper {
        .footer-main {
            .footer-left-section {
                .footer-links {
                    #about {
                        li#linkheading.desktopHide a {
                            span {
                                color: $ice_footer_grey;
                            }
                            &:hover {
                                font-weight: normal;
                                color: $ice_footer_grey;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}

.pt_store-locator {
    .storelocator {
        h1 {
            text-transform: uppercase;
            font-vairant: normal;
        }
    }
    .storelocatorzipsearch {
        .stack {
            .form-row {
                .label {
                    font-family: $font-eight;
                    color: black;
                    text-transform: uppercase;
                    font-size: 16px;
                    line-height: 16px;
                    font-weight: normal;
                }
            }
        }
    }
}

.pt_wish-list {
    #main {
        .item-details {
            .product-list-item {
                span {
                    &.price-sales {
                        color: $main-color;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

.pt_leftnav-addressbook {
    #main {
        .breadcrumb {
        }

    }
    #addresses {
        .address-list {
            .address-tile {
                .mini-address-title {
                    font-family: $font;
                    color: $body-color;
                    text-transform: uppercase;
                    font-size: 12px;
                    line-height: 12px;
                    font-weight: bold;
                    padding: 2px 0;
                }
                .mini-address-name {
                }
                .mini-address-location {
                    address {
                    }
                }
                .address-edit,
                .address-delete.delete,
                .address-make-default {
                }
            }
        }
    }
}

.pt_acc_landing {
    .content-asset {
        .account-options {
            li {
                transition: none;
                a {
                    transition: none;
                    h2 {
                        font-family: $font-fifth;
                        font-variant: small-caps;
                        font-weight: normal;
                        font-size: 25px;
                        line-height: 25px;
                        color: $main-color;
                        padding: 10px 0;
                    }
                    p {

                        text-transform: capitalize;
                    }
                }
                &:hover {
                    background-color: $main-color;
                    border-color: $main-color;
                    transition: none;
                    h2 {
                        color: $white;
                    }
                    p {
                        color: $white;
                    }
                    i {
                        color: $white;
                    }
                }
            }
        }
    }
}

.pt_leftnav-profile {
    #primary {
        #RegistrationForm {
            legend {
                color: $body-color;
                font-family: $font;
                font-weight: bold;
                font-size: 12px;
                line-height: 12px;
            }
            .form-row {
                .label {
                    .labeltext {
                        color: $body-color;
                        font-family: $font;
                        font-weight: bold;
                        font-size: 12px;
                        line-height: 12px;
                    }
                    .requiredindicator {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

.pt_order {
    .search-result-items {
        li {
            .order-history-header {
                .order-status {
                    .value {
                        color: red;
                    }
                }
            }
            .order-history-items {
                .order-history-table {
                    th {
                        font-family: $font-eight;
                        color: $main-color;
                        text-transform: uppercase;
                        font-size: 16px;
                        line-height: 16px;
                        font-weight: normal;
                    }
                    tr {
                        .order-price {
                            .value {
                                font-family: $font-sixth;
                                color: $main-color;
                                font-weight: bold;
                                font-style: italic;
                                font-size: 30px;
                                line-height: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.pt_customerservice {
    .column3 {
        .colspan2 {
            .prostaff {
                .pro-detail {
                    h2 {
                        font-size: 19px;
                        line-height: 20px;
                    }
                    .proddesc {
                        p {
                            padding-bottom: 18px;
                        }
                    }
                }
            }
        }
    }
}

.pt_product-search-result {
    #page-background {
        #primary {
            .search-blk {
                a {
                    display: inline-block;
                    text-transform: capitalize;
                    color: $ice-hov-blue;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.owl-carousel {
    .owl-dot {
        span {
            background-image: url(../images/slideshow-counter.png);
        }
    }
}

.ui-dialog {
    &.addressadd {
        #dialog-container {
            .form-horizontal {
                .form-row {
                    &.form-row-button {
                        button {
                            &.simple {
                                background-color: $main-color;
                                color: $white;
                                &:hover {
                                    background: $ice-bg-light-black;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.orderdetails {
    .order-information {
        .order-number {
            .label {
                font-size: 28px;
                line-height: 28px;
                font-weight: bold;
                font-family: $font-third;
                color: $body-color;
                text-transform: uppercase;
                font-style: normal;
            }
            .value {
                font-size: 28px;
                line-height: 28px;
                font-weight: bold;
                font-family: $font-third;
                color: $body-color;
                text-transform: uppercase;
                font-style: normal;
            }
        }
    }
}

.orderdetails {
    .order-payment-summary,
    .order-billing,
    .order-shipment-address,
    .line-item-details,
    .line-item-quantity,
    .line-item-price {
        .label {
            color: $body-color;
            font-family: $font;
            font-weight: bold;
            font-size: 12px;
            line-height: 12px;
            text-transform: uppercase;
        }
    }
}

.orderdetails {
    .line-items {
        .line-item {
            .line-item-price {
                font-family: $font-sixth;
                color: $main-color;
                font-weight: bold;
                font-style: italic;
                font-size: 24px;
                line-height: 24px;
                .label {
                    color: $body-color;
                    font-family: $font;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 12px;
                    text-transform: uppercase;
                    font-style: normal;
                }
            }
        }
    }
}

/*buttons*/
a.button,
button {
    margin: 0;
    display: block;
    clear: left;
    float: left;
    height: 28px;
    line-height: 28px;
    font-family: $font-secondary;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0;
    color: white;
    padding: 0 18px 0 18px;
    background-color: black;
    background-color: black;
    @include btn-border;
}

a.button:hover,
button:hover {
    text-decoration: none;
    background: $ice-bg-light-black;
    @include btn-border-hover-color;
    cursor: pointer;
}

.addTo-cart-section {
    a.button:hover, button:hover {
        text-decoration: none;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(51, 51, 51, 1) 100%) !important;
        @include btn-border-hover-color;
        cursor: pointer;
    }
}

#headerwrapper #header .row.column1 #minicart #multi-site-one-cart {
    background-image: url(../images/multi-site-one-cart-bg-right.png);
    background-color: none;
    background-position: right top;
}

#headerwrapper #header .row.column1 #minicart #multi-site-one-cart span {
    color: white;
    font-weight: bold;
    background-image: url(../images/multi-site-one-cart-bg.png);
    border-radius: 5px;
    font-weight: normal;
    width: 58px;
}

#headerwrapper #header .row.column1 #minicart .minicarticon-cont .cart-icon {
    background: url(../images/blackcart.png) 0 6px no-repeat;
    width: 25px;
    float: left;
    height: 30px;
    margin: 0 5px 0 10px;
}

#headerwrapper #header .row.column1 #minicart a.minicart-button {
    color: $black;
}

#headerwrapper #header .row.column1 #minicart a.minicart-checkout-button {
    background: linear-gradient(to bottom, #3b3b3c 0%, $black 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b3b3c', endColorstr='#000', GradientType=0);
    color: $white;
    text-align: center;
    text-decoration: none;
    padding: 7px 0;
    height: 17px;
    text-indent: 0;
    font-family: $font-secondary;
    font-size: 11px;
    border-radius: 0 5px 5px 0;
}

#headerwrapper #header .row.column1 #minicart a.minicart-checkout-button:hover {
    background: linear-gradient(to bottom, $black 60%, #3b3b3c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b3b3c', endColorstr='#000', GradientType=0);
}

.shop-brand {
    font-family: $font-third;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    line-height: 22px;
    padding: 15px 0 5px !important;
}

.categorymenusnew {
    a {
        &:hover {
            color: $main-color;
            .count-products {
                color: $main-color;
            }
        }
    }
    .category-top-level {
        &.active {
            a {
                color: $main-color;
                &:hover {
                    color: $main-color;
                    .count-products {
                        color: $main-color;
                    }

                }
                .count-products {
                    color: $main-color;
                }
            }
            ul {
                .count-products {
                    color: $ice-hov-grey;
                }
            }
        }
        .category-top-level2 {
            li {
                &.active {
                    a {
                        color: $main-color;
                        text-decoration: underline;
                        .count-products {
                            color: $main-color;
                        }
                    }
                }
                a {
                    &:hover {
                        color: $main-color;
                        .count-products {
                            color: $main-color;
                        }
                    }
                }
            }
        }
    }
}

/* start of styles for my account page */
#container.pt_account {
    #primary.primary-content {
        .account-section {
            .label {
                .labeltext {
                    color: $ice-dark-black;
                    float: none;
                    font-size: 12px;
                    font-variant: normal;
                    font-weight: normal;
                    line-height: normal;
                    text-align: left;
                    width: auto;
                    font-family: $font-secondary;
                    padding: 0;
                    vertical-align: top;
                }
            }
            .returningcustomers {
                .form-row {
                    /* margin: 8px 0 16px 1px; */
                    @include respond(0, $medium-breakpoint) {
                        /* margin: 0px 0 16px 1px; */
                    }
                }
            }
            .custom-checkbox {
                float: left;
                margin: 2px 0 15px 0;
                padding: 0;
                width: 100%;
                position: relative;
            }
            .cell {
                margin: 25px 0 0 10px;
            }
            .upshift {
                .contentboxcontent.account-logs {
                    h1 {
                        padding: 8px 0 2px;
                    }
                }
            }
            .createan-account {
                margin-top: 23px;
                .contentboxcontent.new-register {
                    .registration {
                        .form-row {
                            /* margin: 15px 0 -3px 0px; */
                        }
                    }
                }
            }
        }
    }
    /* #footernew {
        top: -110px;
    } */
}

/* end of styles for my account page */
form {
    .label {
        font-variant: initial !important;
        font-family: $font-eight;
        color: black;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 16px;
        font-weight: normal;
        padding-bottom: 2px;
    }
}

#vippage-background {
    form {
        .label {
            font-variant: initial !important;
            font-family: $font-eight;
            color: black;
            text-transform: uppercase;
            font-size: 16px !important;
            line-height: 16px;
            font-weight: normal;
            padding-bottom: 2px;
        }
    }
}

div {
    .returningcustomers {
        .custom_signin {
            .formfield {
                .form-row {
                    .label {
                        font-variant: initial !important;
                        font-family: $font-eight;
                        color: black;
                        text-transform: uppercase;
                        font-size: 16px;
                        line-height: 16px;
                        font-weight: normal;
                        padding-bottom: 2px;
                    }
                }
            }
        }
    }
}

/* start of footer styles */
.pt_content-search-result {
    #footernew {
        top: 0 !important;
    }
}

.pt_storefront #footernew {
    top: -132px !important;
}

#footernew {
    color: white;
    background-image: url(../images/footer-background.png);
    background-position: 50% 28px;
    .wrapper {
        .footer-main {
            .footer-left-section {
                .footer-links {
                    .footer-heading {
                        p {
                            color: $ice_footer_grey;
                        }
                    }
                }
            }
        }
    }
    .email-signup {
        .email-txt {
            span, a {
                color: $ice_footer_grey;
            }
        }
    }
    .social-icons {
        margin: 8px 0 0 !important;
        #fallow-us-on {
            ul {
                .Facebook {

                }
                .you-tube {

                }
                .Instagram {
                    margin-top: 9px;
                }
            }
        }
    }
    .wrapper {
        .footer-main {
            .footer-left-section {
                .footer-links {
                    #linkheadding {
                        a {
                            color: $ice_footer_grey;
                            font-size: 12px;
                        }
                    }
                }
                .footer-links {
                    #linkheadding {
                        color: $ice_footer_grey;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

.pt_product-details {
    #footernew {
        #footer-brands {
            clear: both;
            margin: 27px auto 0 auto !important;
            padding: 50px 16px 20px 17px;
            background: none;
            width: 835px;
        }
    }
}

.pt_product-search-result.subCategory-template #page-background .contentboxcontent span.count {
    padding-top: 10px;
}

#footernew .wrapper .footer-main #linkheading, #footernew .wrapper .footer-main #linkheading a, #footernew .wrapper .footer-main .footer-left-section .footer-links #about #linkheading, #footernew .wrapper .footer-main .footer-left-section .footer-links #customer-service #linkheading, #footernew .wrapper .footer-main .footer-left-section .footer-links #More-ways-to-shop #linkheading, #footernew .wrapper .footer-main .footer-left-section .footer-links #busniness #linkheading, #footernew .wrapper .footer-main .footer-left-section .footer-links #rapala_insider #linkheading {
    color: $ice_footer_grey;
    a {
        span {
            color: $ice_footer_grey;
        }
    }
}

body {
    color: $body-color;
    font-family: $font;
    font-size: 12px;
    background: black url(../images/body-background-70.jpg) 50% 0 repeat;
}

.pt_storefront #footernew #footer-brands {
    clear: both;
    margin: 27px auto 0 auto !important;
    padding: 50px 16px 20px 17px;
    background: none;
    width: 835px;
}

#footernew {
    .wrapper {
        #footer-brands {
            clear: both;
            margin: 27px auto 0 auto !important;
            padding: 50px 16px 20px 17px;
            background: none;
            width: 835px;
        }
    }
}

.footer-links ul li a, #footernew .wrapper .footer-main .footer-left-section .footer-links ul li a:hover, #footernew .social-icons #fallow-us-on ul li a, #footernew .email-txt .tooltip-footer, #footernew .email-txt .applay, #footernew .wrapper .footer-main #linkheading a span {
    font-weight: normal;
    color: $iceforce-lightwhite;
}

#footernew .social-icons #fallow-us-on ul .you-tube a {
    background: url("../images/youtube-white.svg") no-repeat scroll left top transparent;
    padding-left: 40px;
}

#footernew .wrapper .footer-main {
    margin: 10px 18px 30px;
}

#footernew .social-icons #fallow-us-on ul .Facebook {
    height: 19px;
}

#footernew .social-icons #fallow-us-on ul .you-tube {
    padding: 0 15px 5px 0;
}

.copyright {
    clear: both;
    padding: 5px 18px 0 0;
    color: $ice_footer_grey;
}

/* end of footer styles */
.productdetail {
    .addtocartbar {
        .addtocart {
            button {
                &.addtocartbutton {
                    background-image: none;
                    float: left;
                    width: calc(100% - 50px);
                    height: 40px;
                    line-height: 40px;
                    color: $white;
                    background-image: none;
                    background: rgba(51, 51, 51, 1);
                    background: linear-gradient(to bottom, rgba(51, 51, 51, 1) 0%, rgba(0, 0, 0, 1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#000000', GradientType=0);
                    transition: inherit;
                    text-transform: inherit;
                    border: none;
                }
            }
            .quantity {
                .label {
                    font-size: 13px !important;
                    font-style: normal;
                    font-weight: normal !important;
                    font-family: $font-secondary;
                }
            }
        }
    }
}

.productdetail {
    .addtocartbar {
        .addtocart {
            .quanity {
                .label {
                    font-weight: normal;
                }
            }
        }
    }
}

@include respond(0, $desktop-breakpoint - 1) {
    #vippage-background {
        .disign-header-title,
        h1 {
            font-size: 25px;
            line-height: 28px;
        }
    }

    .pt_wish-list,
    .pt_leftnav-addressbook,
    .pt_order,
    .pt_leftnav-payment,
    .pt_leftnav-profile,
    .pt_acc_landing {
        #main {
            #page-background {
                #primary {
                    h1 {
                        font-size: 25px;
                        line-height: 28px;
                        font-variant: normal;
                    }
                }
            }
        }
    }

    .pt_acc_landing {
        .content-asset {
            .account-options {
                li {
                    a {
                        h2 {
                            font-size: 20px;
                            line-height: 23px;
                        }
                    }
                }
            }
        }
    }

    #container.pt_product-search-noresult {
        .breadcrumb {
            background: url(../images/body-background-70.jpg) repeat-x;
            color: $white;
        }
    }
    .desktop-view {
        display: none !important;
    }
    .pt_product-details {
        .pdp-main {
            .pdpmain-content {
                .productname {
                    font-size: 25px;
                    line-height: 28px;
                    font-variant: normal;
                }
            }
        }
    }
    .productdetail {
        a {
            &.filter {
                span {
                    font-style: normal;
                    color: $white;
                    font-weight: normal;
                }
                .selectedvarval {
                    color: $white;
                }
            }
        }
        .price {
            .salesprice {
                font-style: bold !important;
                font-size: 15px !important;
                color: $ice-dark-black !important;
            }
        }
    }
    .selected,
    .future {
        a {
            &.filter {
                background-color: $ice-light-grey !important;
                border-top: 1px solid #d0d0d0;
                border-right: 1px solid #e8e8e8;
                border-bottom: 1px solid #f8f8f8;
                border-left: 1px solid #e8e8e8;
                color: $body-color !important;
                border-radius: 3px;
            }
        }
    }
    .current {
        a {
            &.filter {
                color: $white;
                border: 1px solid $main-color;
                background: rgba(51, 51, 51, 1);
                background: linear-gradient(to bottom, rgba(51, 51, 51, 1) 0%, rgba(0, 0, 0, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#000000', GradientType=0);
                &:hover {
                    background: rgba(0, 0, 0, 1);
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(51, 51, 51, 1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#333333', GradientType=0);
                }
            }
        }
    }
    .pt_wish-list,
    .pt_leftnav-addressbook,
    .pt_order,
    .pt_leftnav-payment {
        .breadcrumb {
            span {
                &.breadcrumb-element-slash {
                    background: none !important;
                }
            }
        }
    }

    .pt_wish-list,
    .pt_leftnav-addressbook,
    .pt_order,
    .pt_leftnav-payment,
    .pt_account,
    .pt_product-search-result,
    .pt_content-search-result,
    .pt_leftnav-profile {
        .breadcrumb {
            background: url(../images/body-background-70.jpg) !important;
            height: auto !important;
            a {
                color: $white !important;
            }
            .breadcrumb-element {
                color: $white !important;
                &:after {
                    color: $white;
                }
                &:last-element {
                    font-weight: normal !important;
                }
            }
            .breadcrumb-element-slash {
                &:after {
                    color: $white !important;
                }
            }
            span {
                color: $white;
            }
        }

    }

    .pt_product-search-result,
    .pt_content-search-result {
        .contentboxcontent {
            .left-nav-style {
                font-size: 20px;
                line-height: 25px;
            }
            h1 {
                &.leftnav {
                    font-size: 25px;
                    line-height: 28px;
                }
            }
        }
    }
    .pt_storefront #footernew {
        top: 0 !important;
    }
    #footernew {
        background: none;
        top: 0 !important;
        .wrapper {
            .receive-emails {
                a {
                    color: $white;
                }
            }
            .footer-main {
                background-image: none;
                margin: 0;
                width: 100%;
                .footer-left-section {
                    .footer-links {
                        #about, #customer-service, #More-ways-to-shop, #busniness, #follow_us, #rapala_insider {
                            #linkheading {
                                color: $main-color;
                                a {
                                    color: $main-color;
                                    span {
                                        color: $main-color;
                                    }
                                }
                            }
                            ul {
                                li {
                                    color: $main-color;
                                    a {
                                        color: $main-color;
                                    }
                                }
                            }
                        }
                        #about.expanded, #customer-service.expanded, #More-ways-to-shop.expanded, #busniness.expanded, #follow_us.expanded, #rapala_insider.expanded {
                            ul {
                                li {
                                    color: $main-color;
                                    a {
                                        color: $main-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include respond(0, $medium-breakpoint) {
    #container {
        &.pt_account {
            #primary {
                #footernew {
                    top: 0 !important;
                }
                &.primary-content {
                    .account-section {
                        h1 {
                            &.title {
                                line-height: 28px;
                                font-size: 25px;
                            }
                        }
                        .createan-account {
                            margin: 5px 0 0 0;
                        }
                        .upshift {
                            .contentboxcontent {
                                &.account-logs {
                                    h1 {
                                        padding: 0 0 30px 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .iceforce-background .logo {
        background: url(../images/IceForceLogo_mobile-bar.svg) no-repeat center transparent;
        float: left;
        width: 100%;
        margin: 20px 0 20px;
        min-height: 40px;
    }
    #vippage-background {
        #page {
            .vip-signup-top1 {
                /*h1{
                    font-size:36px;
                    line-height:36px;
                    } */
            }
        }
    }
    #vippage-background {
        #page {
            .contentbox {
                .contentboxcontent {
                    /* h1{
                         font-size:25px !important;
                         line-height:27px !important;
                         } */
                }
            }
        }
    }

    #RegistrationForm {
        .label {
            span {
                &.labeltext {
                    font-size: 12px !important;
                    line-height: 14px;
                }
            }
        }
    }

    form {
        .label {
            font-size: 12px !important;
            line-height: 14px;
        }
    }

}

@include respond(0, $large-breakpoint - 1) {

    #footernew .wrapper .footer-main {
        margin: 0;
    }

    #footernew .wrapper .footer-main .footer-left-section .terms-privacy .terms, #footernew .wrapper .footer-main .footer-left-section .terms-privacy .privacy {
        color: $white;
    }
}

#container.pt_error {
    #primary.primary-content {
        .errorpage {
            fieldset.nohitsearch {
                input.box {
                    background: url("../images/search-full-iceforce.png") no-repeat scroll 0 0 transparent;
                }
                button.btn {
                    background: url("../images/search-full-iceforce.png") no-repeat scroll right top $main-color;
                    transition: none;
                    &:hover {
                        background: url("../images/search-full-iceforce.png") no-repeat $ice-bg-light-black;
                        background-position: -202px -28px;
                    }
                }
            }
        }
    }
    #footernew {
        top: 0 !important;
    }
}

.pt_account.acc_landing {
    .content-asset {
        .account-options {
            li {
                background: $white;
                box-shadow: $ice-gray 0 0 10px;
                position: relative;
                h2 {
                    text-align: center;
                    background: none;
                    font-family: $font-fifth;
                    font-size: 25px;
                    font-variant: small-caps;
                    font-weight: normal;
                    color: $main-color;
                }
                p, a {
                    color: $main-color;
                }
                &:hover {
                    background-color: $main-color;
                    border-color: $main-color;
                    a, h2, p {
                        color: $white;
                    }
                }
            }
        }
    }
}

.pt_product-search-result {
    #page-background {
        #primary {
            .contentboxcontent {
                h1 {
                    &.leftnav {
                        color: $main-color;
                        font-family: $font-third;
                        font-size: 22px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.product-tile {
    .product-image {
        .quickview {
            background-color: $main-color;
            @include btn-border;
            color: $white;
        }
        .quickview:hover {
            background-color: $ice-bg-light-black;
            text-decoration: none;
            @include btn-border-hover-color;
        }
    }
}

.pt_product-search-result {
    #page-background {
        #primary {
            .search-result-content {
                .product-tile {
                    .product-image {
                        .quickview {
                            color: $white;
                            background-color: $main-color;
                            @include btn-border;
                        }
                        .quickview:hover {
                            text-decoration: none;
                            background-color: $ice-bg-light-black;
                            @include btn-border-hover-color;
                        }
                    }
                }
            }
        }
    }
}

.pt_product-search-result {
    #page-background {
        #primary {
            .search-result-content {
                .product-tile {
                    .product-name {
                        &a {
                            font-family: $font-secondary;
                            text-decoration: none;
                            font-weight: bold;
                            color: $main-color;
                        }
                    }
                }
            }
        }
    }
}

.pt_product-search-result {
    #page-background {
        #primary {
            .search-result-content {
                .productlisting {
                    .pricing {
                        .price {
                            color: $ice-gray;
                            font-size: 15px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}

.pt_product-search-result {
    #page-background {
        #primary {
            .search-result-content {
                .product-tile {
                    .product-promo {
                        text-align: left;
                        color: $ice-red;
                        font-family: $font-secondary;
                        font-size: 10px;
                        padding-top: 3px;
                        font-weight: normal;
                        line-height: 14px;
                    }
                }
            }
        }
    }
}

.pt_content-search-result {
    #page-background {
        #primary {
            #tabs {
                ul {
                    &.search-tabs {
                        li {
                            &.active {
                                a {
                                    span {
                                        color: $main-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .folder-content-list {
                li {
                    a {
                        font-size: 16px;
                        line-height: 16px;
                        font-weight: normal;
                        font-family: $font;
                        color: $body-color;
                    }
                    p {
                        font-family: $font;
                        color: $body-color;
                        font-size: 13px;
                        a {
                            &.readmore {
                                font-family: $font;
                                color: $main-color;
                                font-weight: bold;
                                &:hover {
                                    color: $ice-bg-light-black;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.pt_customerservice {
    .contentboxcontent {
        h1 {
            text-transform: uppercase;
            margin-bottom: 20px;
        }
    }
    .accordion {
        &.tabover {
            background-color: $main-color;
            h1 {
                color: $white;
                background: url(../images/arrow-filter-collapse-big-6d0100.png) 0 0 no-repeat;
                a {
                    color: $white;
                }
            }
        }
    }
    #footernew {
        top: 0px !important;
    }
}

.registration {
    .custom_signup {
        .form-row {
            .label {
                .labeltext {
                    vertical-align: top;
                }
            }
        }
    }
}

#headerwrapper {
    #header {
        .row {
            &.column1 {
                .headercustomerinfo {
                    .change-regionnew {
                        padding: 9px 12px 8px 0;
                    }
                }
            }
        }
    }
}

.productdetail {
    .product-specifications {
        .header {
            td {
                font-weight: normal;
                text-transform: none;
                &:first-child {
                    text-align: left;
                }
            }
        }
    }
}

table {
    .specificiations {
        border-top: none;
        font-size: 12px;
        line-height: 12px;
        display: table;
        width: 100%;
        .oddrow {
            background-color: $ice-light-grey;
        }
        td {
            min-width: 40px;
            padding: 5px;
            text-align: left;
            border-top: 1px solid $ice-light-grey;
            font-weight: bold;
            border-bottom: 1px solid $main-color;
            &.col0 {
                text-align: left;
                text-transform: none;
                font-family: $font;
                font-weight: bold;
                border-right: 1px solid $body-color;
            }
        }
    }
}

.product-specifications {
    .specificiations {
        thead {
            tr {
                background: $body-color;
                background: linear-gradient(to bottom, $body-color 0%, $black 100%);
                color: $white;
            }
        }
        tbody {
            tr {
                &.evenrow {
                    background: #E1E1E1;
                }
            }
        }
    }
}

@include respond(0, $desktop-breakpoint - 1) {
    #headerwrapper #header div.logo {
        margin: 22px 0;
    }
}

.productdetail {
    .price {
        font-family: $font-secondary;
        color: $main-color;
        font-weight: bold;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0px;
        .salesprice {
            color: $ice-dark-black;
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 24px;
        }
    }
}

#special-offers {
    .promotion-title {
        color: $body-color;
    }
}

.pt_product-details {
    .productdetail {
        .wrapper {
            ~ #page-background {
                .product-info {
                    &.column {
                        &.tab-sec {
                            #tabs {
                                ul {
                                    &.ui-tabs-nav {
                                        li {
                                            &.ui-state-active {
                                                a {
                                                    background-image: none;
                                                    background: $body-color; /* Old browsers */
                                                    background: linear-gradient(to bottom, $body-color 10%, rgba(255, 255, 255, 1) 10%, $body-color 10%, rgba(255, 255, 255, 1) 10%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                                                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e80000', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.variationattributes .swatches li a:hover,
.variationattributes .swatches li.selected a,
.variationattributes .swatches li.selected a:hover {
    color: $white;
    border-top-color: #dddddd;
    border-right-color: #424242;
    border-left-color: #dddddd;
    border-bottom-color: #b7b7b7;
    background-color: $ice-bg-light-black;
}

.variationattributes {
    .swatches {
        li {
            a {
                background-image: url("../images/product-detail-size.jpg");
            }
        }
    }
}

.variationattributes {
    .color {
        li {
            a {
                &:hover {
                    border-color: $black;
                }
            }
        }
    }
}

.quickview {
    .ui-dialog-titlebar-close {
        .ui-icon {
            background-image: url(../images/close-button.png);
            &:hover {
                background-position: 0 -34px;
            }
        }
    }
}

.productdetail {
    .price {
        .standardprice {
            color: $ice-gray;
            font-size: 15px;
        }
    }
}

/*about us*/
.nav-group {
    li.first-level-no-children {
        a {
            &:hover {
                color: black;
                text-decoration: none;
            }
        }
    }
    li {
        &.list-active {
            color: $black;
        }
        //list-active
    }
}

@include respond(0, $desktop-breakpoint - 1) {
    .breadcrumb-element-slash:after {
        content: '/';
        color: $white;
    }
    .pt_cart {
        #main {
            .breadcrumb {
                color: $white;
                background: url(../images/body-background-70.jpg);
                .breadcrumb-element, .breadcrumb-element-slash {
                    color: $white;
                }
                .breadcrumb-element-slash {
                    color: $white;
                }
            }
        }
    }
    #footernew .wrapper .footer-main .footer-left-section .footer-links .footer-heading p, #footernew .wrapper .footer-main .footer-left-section .footer-links #linkheading, #footernew .wrapper .footer-main .footer-left-section .footer-links #linkheading a, .footer-links ul li a, #footernew .social-icons #fallow-us-on ul li a, #footernew .wrapper .footer-main #linkheading, .copyright, #footernew .email-txt .tooltip-footer, #footernew .email-txt .applay, #footernew .wrapper .footer-main #linkheading a span {
        color: $body-color;
        &:hover {
            color: $body-color;
        }
    }
    .pt_customerservice {
        #content {
            .column3.about-us {
                .contentbox.secondbox {
                    .left-content {
                        .nav-group {
                            li {
                                &.active {
                                    background-color: $black;
                                    border-top: 1px solid $black;
                                    border-right: 1px solid $black;
                                    border-bottom: 1px solid $black;
                                    border-left: 1px solid $black;
                                    color: $white;
                                }
                            }
                        }
                    }
                }
                .column {
                    .contentboxcontent {
                        h1 {
                            font-family: $font-third;
                            font-size: 25px;
                            line-height: 28px;
                        }
                    }
                }
            }
        }
    }

}

/*about us*/

.pt_customerservice {
    #content {
        .nav-group {
            li.active {
                color: $white;
                /*  background-color: $black; */
                border-top-color: $black;
                border-right-color: $black;
                border-bottom-color: $black;
                border-left-color: $black;
            }
        }
        .customer {
            .cell {
                .contentboxcontent {
                    h1 {
                        font-size: 25px;
                        line-height: 28px;
                        font-family: $font-third;
                    }
                }
            }
        }
    }
}

.pt_customerservice {
    .style-cservice {
        .column {
            .contentbox {
                .left-nav-top {
                    .contentboxcontent {
                        .nav-group {
                            padding: 0;
                            li {
                                &.first-level {
                                    .second-level {
                                        li {
                                            &.active {
                                                a {
                                                    color: $main-color;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.pt_customerservice {
    .style-cservice {
        .column {
            .contentbox {
                .left-nav-top {
                    .contentboxcontent {
                        h2.left-nav-style {
                            padding: 10.5px 0;
                            font-size: 25px;
                            line-height: 28px;
                            font-family: $font-third;
                        }
                    }
                }
            }
        }
    }
}

.pt_customerservice {
    #content {
        .productsearchbreadcrumb {
            background: url(../images/body-background-70.jpg);
        }
    }
}

@include respond(0, $desktop-breakpoint - 1) {
    .pt_customerservice {
        #content {
            .productsearchbreadcrumb {
                .breadcrumb-element {
                    color: $white;
                }
                .breadcrumb-element-slash:after {
                    color: $white;
                }
            }
        }
    }
}

@include respond(0, $desktop-breakpoint - 1) {
    .pt_customerservice {
        #content {
            .column3.about-us {
                .column.colspan2 {
                    .cell.upshift {
                        &.tabover {
                            a {
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }
    .pt_customerservice {
        #content {
            .style-cservice {
                .column {
                    &.colspan2 {
                        h1 {
                            font-size: 25px;
                            line-height: 28px;
                            font-family: $font-third;
                        }
                        .cellbox {
                            &.accordion {
                                &.tabover {
                                    .folder-contentboxcontent {
                                        background-color: black;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.paymentinstruments {
    .label {
        font-family: Arial, Helvetica, sans-serif;
        color: $body-color;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 12px;
        font-weight: bold;
    }
}

.ui-dialog {
    &.payment-settings {
        .dialog-content {
            .creditcardform {
                .credit-cart-form-title {
                    margin: 0;
                    width: 100%;
                    font-style: normal;
                    font-size: 28px;
                    line-height: 28px;
                    font-weight: bold;
                }
                #CreditCardForm {
                    .form-row {
                        .field-wrapper {
                        }
                    }
                }
            }
        }
    }
}

.pt_customerservice {
    .site-map {
        ul {
            li {
                &.first-level {
                    ul {
                        li {
                            a:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.pt_customerservice {
    #content {
        .breadcrumb {
            background: url(../images/body-background-70.jpg);
            .breadcrumb-element {
                color: $white;
                background: none;
            }
            .breadcrumb-element-slash:after {
                color: $white;
            }
            .breadcrumb-element-slash {
                background: none;
            }
        }
    }
}

.tab-sec {
    #tabs {
        ul {
            &.ui-tabs-nav {
                li {
                    a {
                        &:hover {
                            span {
                                color: $black;
                            }
                        }
                    }
                    &.ui-state-active {
                        a {
                            span {
                                color: $black;
                            }
                        }
                    }
                }
            }
        }
    }
}

.small-new {
    &.new-stamp {
        border-radius: 15px;
        background-color: $ice-bg-light-black;
        font-style: italic;
        font-family: sans-serif;
        font-weight: normal;
        font-size: 10px;
        color: $white;
        padding: 1px 5px;
        margin-right: 3px;
        width: auto !important;
        vertical-align: top;
        margin-top: 4px;
        float: left;
    }
    &.new-stamp-big {
        border-radius: 15px;
        background-color: $ice-bg-light-black;
        font-style: italic;
        font-family: sans-serif;
        font-weight: normal;
        font-size: 12px;
        color: $white;
        padding: 4px 8px;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.65);
        margin-right: 3px;
        vertical-align: top;
    }
}

.newFlagColorSize, .newPakSizeFlag {
    .new-colors-snipe, .new-sizes-snipe, .new-pak-size {
        border-radius: 15px;
        background-color: $ice-bg-light-black;
        font-style: italic;
        font-family: sans-serif;
        font-weight: normal;
        font-size: 10px;
        color: $white;
        padding: 1px 5px;
        margin-right: 3px;
        position: inherit;
        top: -5px;
    }
}

.variationattributes {
    .color {
        ul {
            li {
                a {
                    span {
                        &.corner-ribbon {
                            background-color: #424342;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}

.productdetail {
    #special-offers {
        ul {
            li {
                color: $ice-dark-black;
            }
        }
    }
}

@include respond(0, $medium-breakpoint) {
    .product-specifications .specificiations tbody tr:nth-child(2n+3) {
        background: #F1F8E8;
    }
    .product-specifications {
        .specificiations {
            border-bottom: none;
            tbody {
                tr:first-child {
                    background: $body-color;
                    background: linear-gradient(to bottom, $body-color 0%, $black 100%);
                    color: $white;
                    &:first-child {
                        border-top-left-radius: 3px;
                    }
                    &:last-child {
                        border-top-right-radius: 3px;
                    }
                    th {
                        color: $white;
                        border: none;
                        vertical-align: middle;
                        border: none;
                        border-top-left-radius: 3px;
                        border-top-right-radius: 3px;
                        background: transparent;
                        font-size: 13px;
                    }
                }

            }
            tbody {
                border-bottom: 1px solid #ccc;
                margin-bottom: 2em;
                display: table;
                width: 100%;
                tr {
                    &.evenrow {
                        background: #F1F8E8;
                    }
                    td {
                        width: 50%;
                        float: left;
                        vertical-align: middle;
                        padding: 8px 13.5px;
                        box-sizing: border-box;
                        min-height: 31px;
                        display: block;
                    }
                }
            }
        }
    }
}

.productdetail .price .price-sales {
    color: $ice-dark-black;
}
