//Brand specific color
$ice_footer_grey:#b3b3b3;
$ice-bgblack:#000000;
$ice-bg-light-black:#444;
$ice-light-black:#333;
$ice-dark-black:#666;
$ice-white:#ffffff;
$white:#ffffff;
$ice-hov-black:#000;
$ice-hov-blue:#015bca;
$ice-hov-grey:#4d4d4d;
$ice-gray: #999;
$ice-red: #E80000;
$ice-light-grey: #F1F1F1;
$ice-light-black:#333;
$iceforce-footerheading: #1a1a1a;
$iceforce-lightwhite:#f2f2f2;

// font-family //
$ice-arial-font: Arial,Helvetica,sans-serif;
// border color //

$ice-border: #9D9D9D;

$ice-borderone: #393939;
$ice-bordertwo: #424242;
$ice-borderthree: #B7B7B7;
$ice-borderfour: #424242;

$ice-lucida: "Lucida Grande","Lucida Sans","Lucida Sans Unicode","Trebuchet MS", Helvetica,Arial,sans-serif;
$ice-original: Geogrotesque-RegularIt;
$ice-original-bold: Geogrotesque-BoldIt;
$ice-reversal:"ReversalExtraBoldItalic";
$ice-Arial: Arial,Helvetica,sans-serif;
$ice-baskervile: Baskerville,"Times New Roman",Times,serif;
$ice-Artcraft:Artcraft, "ArtcraftURW-Reg", "Times New Roman", Times, Serif;