$strikemaster-bgred: #D2232A;
$strikemaster-bg-light-red: #EE060F;
$strike-masterlight: #f1f1f1;
$strike-hov-red: #e12626;
$strike-hov-grey: #4d4d4d;
$strike-white: #ffffff;
$strike-list-black: #030303;
$strike-black: #000;
$strike-gray: #999;
$strike-red: #E80000;
$strike-lgt-grey: #333;

// font-family //

// border color //
$strikemaster-borderone: #AC1D22;
$strikemaster-bordertwo: #94191E;
$strikemaster-borderthree: #D84046;
$strikemaster-borderfour: #DD5A5F;

$strikemaster-hov-borderone: #C3050C;
$strikemaster-hov-bordertwo: #A8040B;
$strikemaster-hov-borderthree: #F0272F;
$strikemaster-hov-borderfour: #F2444B;

$strike-lucida: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
$strike-original: 'Eurostile-Bla';
$strike-Arial: Arial, Helvetica, sans-serif;
$strike-Baskerville: Baskerville, "Times New Roman", Times, serif;