#page-background {
    padding: 0;
    background: none;
    float: none;
    #page {
        float: none;
    }
}

#slideshow.cell {
    margin: 0 0 rem(60px) !important;
    padding: 0;
    height: auto;
    .owl-carousel.owl-theme {
        margin: 0;
        .owl-stage-outer {
            margin: 0;
        }
    }
}
.skin-slidedeck {
    &:after {
        display: none;
    }
    dl.slidedeck {
        .owl-carousel {
            &:before,
            &:after {
                display: none;
            }
            .owl-stage-outer {
                .owl-stage {
                    .owl-item {
                        .item {
                            img {
                                border: none;
                            }
                        }
                    }
                }
            }
            .owl-controls {
                .owl-dots {
                    padding: 0;
                    bottom: rem(-23px) !important;
                }
                .owl-dot {
                    opacity: 0.4;
                    background-color: $silver;
                    padding: 0 !important;
                    margin: 0 rem(5px) !important;
                    width: rem(10px) !important;
                    height: rem(10px) !important;
                    border-radius: 50%;
                    &.active {
                        opacity: 1;
                        background-color: $tundora;
                    }
                    span {
                        width: rem(10px) !important;
                        height: rem(10px) !important;
                        background: none !important;
                    }
                }
            }
        }
    }
}
#content {
    .homepage {
        .row {
            float: none;
        }
        .downshift {
            position: static;
            margin: 0;
            width: 100%;
            float: none;
            overflow: hidden;
        }
        .column.cell3 {
            .cell.downshift {
                @include respond(desktop-down) {
                    padding: 0 rem(10px);
                }
            }
        }
    }
}

.homepage-featured {
    .block {
        width: 100%;
        position: relative;
        margin-bottom: rem(20px);
        border: $border-secondary;
        box-sizing: border-box;
        @include respond(large-up) {
            float: left;
            width: calc(100% / 3 - #{rem(14px)});
            margin-right: rem(20px);
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
        img {
            width: 100%;
            height: auto;
            vertical-align: middle;
        }
        .title {
            position: absolute;
            width: 100%;
            bottom: 0;
            height: rem(40px);
            text-align: center;
            font-family: 'FranklinGothicStd-ExtraCond';
            @include font-size(24px);
            @include line-height(40px);
            color: $white;
            background-color: rgba(0, 0, 0, 0.75);
            @include respond(desktop) {
                @include font-size(30px);
            }
        }
    }
}

.homepage-promotion {
    clear: both;
    padding: 0 rem(10px);
    @include respond(desktop) {
        margin-top: rem(15px);
        padding: 0;
    }
    .block {
        position: relative;
        img {
            width: 100%;
            height: auto;
            vertical-align: middle;
        }
        &.left-top {
            .info {
                left: rem(30px);
                top: rem(30px);
            }
        }
        &.right-top {
            .info {
                right: rem(30px);
                top: rem(30px);
                text-align: right;
            }
        }
        &.left-bottom {
            .info {
                left: rem(30px);
                left: rem(30px);
                bottom: rem(30px);
                bottom: rem(30px);
                @include respond(desktop) {

                }
            }
        }
        &.right-bottom {
            .info {
                right: rem(30px);
                bottom: rem(30px);
                text-align: right;
            }
        }
        .info {
            position: absolute;
            .tag {
                font-family: $font;
                @include font-size(15px);
                line-height: 1.87;
                color: $red;
            }
            .title {
                color: $white;
                font-family: FranklinGothicStd-ExtraCond;
                @include font-size(30px);
                margin-bottom: rem(12px);
                @include respond(desktop) {
                    @include font-size(50px);
                }
            }
        }
    }
}
