//
// Font Stacks
//
$sans-serif-regular: "Roboto", Arial, sans-serif;
$sans-serif-light: $sans-serif-regular;
$sans-serif-regular-italic: $sans-serif-regular;
$sans-serif-semibold: $sans-serif-regular;
$sans-serif-bold: $sans-serif-regular;
$sans-serif-black: $sans-serif-regular;

$sans-serif-secondary: "ITCFranklinGothicStd-DmXCp", sans-serif;
$sans-serif-third: "ITCFranklinGothicStd-DmCd", sans-serif;
$sans-serif-fourth: "ITCFranklinGothicStd-MdCd", sans-serif;
//
// Font Weights
//
$font-wt-thin: 100;
$font-wt-light: 300;
$font-wt-regular: 400;
$font-wt-semibold: 500;
$font-wt-bold: 700;
$font-wt-black: 900;
//
// Font Style
//
$font-style-italic: italic;
