@mixin h1 {
    font-family: $h1-font;
    font-size: $h1-font-size;
    font-weight: $h1-font-weight;
    font-style: $h1-font-style;
    font-variant: $h1-font-variant;
    line-height: $h1-line-height;
    text-transform: $h1-text-transform;
    color: $h1-color;
}
@mixin h2 {
    font-family: $h2-font;
    font-size: $h2-font-size;
    font-weight: $h2-font-weight;
    font-style: $h2-font-style;
    font-variant: $h2-font-variant;
    line-height: $h2-line-height;
    text-transform: $h2-text-transform;
    color: $h2-color;
}
@mixin h3 {
    font-family: $h3-font;
    font-size: $h3-font-size;
    font-weight: $h3-font-weight;
    font-style: $h3-font-style;
    font-variant: $h3-font-variant;
    line-height: $h3-line-height;
    text-transform: $h3-text-transform;
    color: $h3-color;
}
@mixin h4 {
    font-family: $h4-font;
    font-size: $h4-font-size;
    font-weight: $h4-font-weight;
    font-style: $h4-font-style;
    font-variant: $h4-font-variant;
    line-height: $h4-line-height;
    text-transform: $h4-text-transform;
    color: $h4-color;
}
@mixin h5 {
    font-family: $h5-font;
    font-size: $h5-font-size;
    font-weight: $h5-font-weight;
    font-style: $h5-font-style;
    font-variant: $h5-font-variant;
    line-height: $h5-line-height;
    text-transform: $h5-text-transform;
    color: $h5-color;
}
@mixin h6 {
    font-family: $h6-font;
    font-size: $h6-font-size;
    font-weight: $h6-font-weight;
    font-style: $h6-font-style;
    font-variant: $h6-font-variant;
    line-height: $h6-line-height;
    text-transform: $h6-text-transform;
    color: $h6-color;
}

@mixin color {
    &.white {
        color: $white;
    }
    &.red {
        color: $red-two;
    }
    &.black {
        color: $black;
    }
}

@mixin hero-title {
    @include font-size($hero-title-font-size-mobile);
    font-family: $hero-title-font-family;
    line-height: $hero-title-line-height;
    text-transform: $hero-title-text-transform;

    @include respond(large-up) {
        @include font-size($hero-title-font-size);
    }
}

@mixin visual-category {
    @include font-size($visual-category-font-size-mobile);
    font-family: $visual-category-font-family;
    line-height: $visual-category-line-height;
    text-transform: $visual-category-text-transform;

    @include respond(large-up) {
        @include font-size($visual-category-font-size);
    }
}

@mixin carousel-heading {
    @include font-size($carousel-heading-font-size-mobile);
    font-family: $carousel-heading-font-family;
    line-height: $carousel-heading-line-height;
    text-transform: $carousel-heading-text-transform;

    @include respond(large-up) {
        @include font-size($carousel-heading-font-size);
    }
}

@mixin hero-subtitle {
    @include font-size($hero-subtitle-font-size-mobile);
    font-family: $hero-subtitle-font-family;
    line-height: $hero-subtitle-line-height;
    text-transform: $hero-subtitle-text-transform;

    @include respond(large-up) {
        @include font-size($hero-subtitle-font-size);
    }
}

@mixin pdp-name {
    @include font-size($pdp-name-font-size-mobile);
    font-family: $pdp-name-font-family;
    line-height: $pdp-name-line-height;
    text-transform: $pdp-name-text-transform;
    letter-spacing: $pdp-name-letter-spacing-mobile;

    @include respond(large-up) {
        @include font-size($pdp-name-font-size);
        letter-spacing: $pdp-name-letter-spacing;
    }
}

@mixin pdp-description {
    @include font-size($pdp-description-font-size);
    @include line-height($pdp-description-line-height);
    font-family: $pdp-description-font-family;
    letter-spacing: $pdp-description-letter-spacing;
}

@mixin product-attr-title {
    @include font-size($product-attr-title-font-size);
    @include line-height($product-attr-title-line-height);
    font-family: $product-attr-title-font-family;
    font-weight: $product-attr-title-font-weight;
    font-style: $product-attr-title-font-style;
    letter-spacing: $product-attr-title-letter-spacing;
    color: $product-attr-title-color;
}
@mixin product-availability {
    @include product-attr-title;
}

@mixin product-attr-name {
    @include font-size($product-attr-name-font-size);
    @include line-height($product-attr-name-line-height);
    font-family: $product-attr-name-font-family;
    letter-spacing: $product-attr-name-letter-spacing;
    color: $product-attr-name-color;
}

@mixin pdp-price {
    .price-standard,
    .price-sales {
        @include font-size($pdp-price-font-size);
        @include line-height($pdp-price-line-height);
        font-family: $pdp-price-font-family;
        font-weight: $pdp-price-font-weight;
        letter-spacing: $pdp-price-letter-spacing;
    }
    .price-standard {
        color: $pdp-price-sale-color;
        text-decoration: line-through;
    }
    .price-sales {
        color: $pdp-price-color;
    }
}

@mixin pdp-message {
    @include font-size($pdp-message-font-size);
    font-weight: $pdp-message-font-weight;
    line-height: $pdp-message-line-height;
    font-family: $pdp-message-font-family;
    letter-spacing: $pdp-message-letter-spacing;
    color: $pdp-message-color;
}

@mixin pdp-accordion-title {
    @include font-size($pdp-accordion-title-font-size);
    font-weight: $pdp-accordion-title-font-weight;
    line-height: $pdp-accordion-title-line-height;
    font-family: $pdp-accordion-title-font-family;
    letter-spacing: $pdp-accordion-title-letter-spacing;
    color: $pdp-accordion-title-color;
}

@mixin clp-refinement-title {
    @include font-size($clp-refinement-title-font-size);
    @include line-height($clp-refinement-title-line-height);
    font-weight: $clp-refinement-title-font-weight;
    font-family: $clp-refinement-title-font-family;
    letter-spacing: $clp-refinement-title-letter-spacing;
    color: $clp-refinement-title-color;
}

@mixin pdp-promo {
    @include font-size($pdp-promo-font-size);
    @include line-height($pdp-promo-line-height);
    font-weight: $pdp-promo-font-weight;
    font-family: $pdp-promo-font-family;
    letter-spacing: $pdp-promo-letter-spacing;
    color: $pdp-promo-color;
}

@mixin form-caption {
    @include font-size($form-caption-font-size);
    @include line-height($form-caption-line-height);
    font-weight: $form-caption-font-weight;
    font-family: $form-caption-font-family;
    letter-spacing: $form-caption-letter-spacing;
    color: $form-caption-color;
}

@mixin label {
    margin: $form-label-margin;
    color: $form-label-color;
    font-family: $form-label-font-family;
    @include font-size($form-label-font-size);
    @include line-height($form-label-line-height);
    font-weight: $form-label-font-weight;
    font-variant: $form-label-font-variant;
    text-transform: $form-label-text-transform;
    letter-spacing: $form-label-letter-spacing;
    border: $form-label-border;
    float: left;
}

@mixin p {
    @include font-size($p-font-size);
    @include line-height($p-line-height);
    font-weight: $p-font-weight;
    font-family: $p-font-family;
    letter-spacing: $p-letter-spacing;
    color: $p-color;
}

@mixin ul {
    @include font-size($ul-font-size);
    @include line-height($ul-line-height);
    font-weight: $ul-font-weight;
    font-family: $ul-font-family;
    letter-spacing: $ul-letter-spacing;
    color: $ul-color;
    li {
        list-style: $ul-list-style;
    }
}

@mixin main-nav {
    @include font-size($main-nav-font-size);
    @include line-height($main-nav-line-height);
    font-weight: $main-nav-font-weight;
    font-family: $main-nav-font-family;
    letter-spacing: $main-nav-letter-spacing;
    text-transform: $main-nav-text-transform;
    color: $main-nav-color;
    text-decoration: $main-nav-text-decoration;
    padding: $main-nav-padding;
    background: $main-nav-bg;
    transition: all 0.3s;
    &:hover {
        color: $main-nav-hover-color;
        text-decoration: $main-nav-hover-text-decoration;
        background: $main-nav-hover-bg;
    }
}

@mixin link {
    @include font-size($link-font-size);
    @include line-height($link-line-height);
    font-weight: $link-font-weight;
    font-family: $link-font-family;
    letter-spacing: $link-letter-spacing;
    color: $link-color;
    text-decoration: $link-text-decoration;
    &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-text-decoration;
    }
}

@mixin footer-link {
    @include font-size($footer-link-font-size);
    @include line-height($footer-link-line-height);
    font-weight: $footer-link-font-weight;
    font-family: $footer-link-font-family;
    letter-spacing: $footer-link-letter-spacing;
    color: $footer-link-color;
    text-decoration: $footer-link-text-decoration;
    &:hover {
        color: $footer-link-hover-color;
        text-decoration: $footer-link-hover-text-decoration;
    }
}

@mixin button($type: '') {
    @if ($type == 'big') {
        height: $button-big-height;
        @include font-size($button-big-font-size);
        @include line-height($button-big-line-height);
        font-weight: $button-big-font-weight;
        font-family: $button-big-font-family;
        letter-spacing: $button-big-letter-spacing;
        color: $button-big-color;
        text-decoration: $button-big-text-decoration;
        text-transform: $button-big-text-transform;
        padding: $button-big-padding;
        background: $button-big-bg;
        border: $button-big-border;
        border-radius: $button-big-border-radius;
        width: 100%;
        transition: all 0.3s;
        &:hover {
            color: $button-big-hover-color;
            text-decoration: $button-big-hover-text-decoration;
            background: $button-big-hover-bg;
            border: $button-big-hover-border;
        }
    } @else  {
        height: $button-height;
        @include font-size($button-font-size);
        @include line-height($button-line-height);
        font-weight: $button-font-weight;
        font-family: $button-font-family;
        letter-spacing: $button-letter-spacing;
        color: $button-color;
        text-decoration: $button-text-decoration;
        text-transform: $button-text-transform;
        padding: $button-padding;
        background: $button-bg;
        border: $button-border;
        border-radius: $button-border-radius;
        transition: all 0.3s;
        min-width: rem($button-min-width);
        &:hover {
            color: $button-hover-color;
            text-decoration: $button-hover-text-decoration;
            background: $button-hover-bg;
            border: $button-hover-border;
        }
    }
    &.disabled {
        opacity: 1;
        background: $button-disabled-bg;
        border: none;
        color: $button-disabled-color;
    }
}

@mixin quickview {
    display: inline-block;
    text-align: center;
    height: $quickview-height;
    @include font-size($quickview-font-size);
    @include line-height($quickview-line-height);
    font-weight: $quickview-font-weight;
    font-family: $quickview-font-family;
    letter-spacing: $quickview-letter-spacing;
    color: $quickview-color;
    text-decoration: $quickview-text-decoration;
    text-transform: $quickview-text-transform;
    padding: $quickview-padding;
    background: $quickview-bg;
    border: $quickview-border;
    border-radius: $quickview-border-radius;
    min-width: rem($quickview-min-width);
    transition: all 0.3s;
    &:hover {
        color: $quickview-hover-color;
        text-decoration: $quickview-hover-text-decoration;
        background: $quickview-hover-bg;
        border: $quickview-hover-border;
    }
}

@mixin swatch-attr {
    display: inline-block;
    text-align: center;
    height: $swatch-attr-height;
    @include font-size($swatch-attr-font-size);
    @include line-height($swatch-attr-line-height);
    font-weight: $swatch-attr-font-weight;
    font-family: $swatch-attr-font-family;
    letter-spacing: $swatch-attr-letter-spacing;
    color: $swatch-attr-color;
    text-decoration: $swatch-attr-text-decoration;
    text-transform: $swatch-attr-text-transform;
    padding: $swatch-attr-padding;
    background: $swatch-attr-bg;
    border: $swatch-attr-border;
    border-radius: $swatch-attr-border-radius;
    transition: all 0.3s;
    span {
        color: $swatch-attr-inner-color;
    }
    &:hover {
        color: $swatch-attr-hover-color;
        text-decoration: $swatch-attr-hover-text-decoration;
        background: $swatch-attr-hover-bg;
        border: $swatch-attr-hover-border;
        span {
            color: $swatch-attr-inner-color;
        }
    }
}

@mixin product-tag {
    display: inline-block;
    text-align: center;
    height: $product-tag-height;
    @include font-size($product-tag-font-size);
    @include line-height($product-tag-line-height);
    font-weight: $product-tag-font-weight;
    font-family: $product-tag-font-family;
    letter-spacing: $product-tag-letter-spacing;
    color: $product-tag-color;
    text-decoration: $product-tag-text-decoration;
    text-transform: $product-tag-text-transform;
    padding: $product-tag-padding;
    background: $product-tag-bg;
    border: $product-tag-border;
    border-radius: $product-tag-border-radius;
}

@mixin tooltip {
    @include font-size($tooltip-font-size);
    @include line-height($tooltip-line-height);
    font-weight: $tooltip-font-weight;
    font-family: $tooltip-font-family;
    color: $tooltip-color;
    text-decoration: $tooltip-text-decoration;
    &:hover {
        color: $tooltip-hover-color;
        text-decoration: $tooltip-hover-text-decoration;
    }
}

h1,
.h1 {
    @include h1;
}

h2,
.h2 {
    @include h2;
}

h3,
.h3 {
    @include h3;
}

h4,
.h4 {
    @include h4;
}

h5,
.h5 {
    @include h5;
}

h6,
.h6 {
    @include h6;
}

.hero-title {
    @include hero-title;
    @include color;
}

.visual-category {
    @include visual-category;
    @include color;
}

.carousel-heading {
    @include carousel-heading;
    @include color;
}

.hero-subtitle {
    @include hero-subtitle;
    @include color;
}

.pdp-name {
    @include pdp-name;
}

.pdp-description {
    @include pdp-description;
}

.product-attr-title,
.product-availability {
    @include product-attr-title;
}

.product-attr-name {
    @include product-attr-name;
}

.price {
    @include pdp-price
}

.pdp-message {
    @include pdp-message;
}

.pdp-accordion-title {
    @include pdp-accordion-title;
}

.clp-refinement-title {
    @include clp-refinement-title;
}

.pdp-promo {
    @include pdp-promo;
}

.form-caption {
    @include form-caption;
}

.p,
p {
    @include p;
}

p a,
.link {
    @include link;
}

.footer-link {
    @include footer-link;
}

.main-nav {
    @include main-nav;
}

button,
.button {
    @include button;
    &.big {
        @include button('big');
    }
}

.quickview {
    @include quickview;
}

.product-tag {
    @include product-tag;
}

.swatch-attr {
    @include swatch-attr;
}

.tooltip {
    @include tooltip;
}
