$red: #d80000;
$black: #000;
$night-rider: #333;
$greyish-brown: #4d4d4d;
$pinkish-grey: #ccc;
$silver: #bbbdbf;
$silver-two: #e6e7e8;
$concrete: #f2f2f2;
$kermit-green: #52a300;
$white: #fff;
$red-two: #e80000;
$sangria: #a00000;
$tundora: #4b4b4b;
$limeade: #61C000;

$input-field-width: 290px;
$input-field-box-shadow: none;
$input-field-height: 40px;
$input-field-padding: 0 12px;
$input-field-border: 1px solid $silver;
$input-field-border-radius: 0;
$input-field-bg: $white;
$input-field-font-size: 13px;

$input-label-font-family: $sans-serif-regular;
$input-label-font-size: 13px;
$input-label-font-weight: normal;
$input-label-color: $black;
$input-label-text-transform: capitalize;
$input-label-border: none;
$input-label-padding: 0 0 3px 0;
$input-label-line-height: 16px;
$input-label-margin: 0;
$input-label-letter-spacing: 0;

$error-bg-color: $white;
$error-border: 1px solid $red;
