$red: #d80000;
$black: #000;
$night-rider: #333;
$greyish-brown: #4d4d4d;
$pinkish-grey: #ccc;
$silver: #bbbdbf;
$silver-two: #e6e7e8;
$concrete: #f2f2f2;
$kermit-green: #52a300;
$white: #fff;
$red-two: #e80000;
$sangria: #a00000;
$tundora: #4b4b4b;
$limeade: #61C000;
$mine-shaft: #303030;
$trans: transparent;

$border-color: $pinkish-grey;
$border: 1px solid $border-color;
