.pt_order {
    h1 {
        @include respond(desktop-down) {
            margin-left: rem(10px);
            margin-right: rem(10px);
        }
    }
    .search-result-options {
        @include respond(desktop-down) {
            padding: 0;
            margin: 0;
            text-align: center;
        }
        .pagination {
            @include respond(medium-down) {
                float: none;
                margin: 0 rem(10px) rem(10px);
                overflow: hidden;
            }
            li {
                @include respond(medium-down) {
                    display: inline-block;
                    width: rem(30px);
                    height: rem(30px);
                    @include line-height(30px);
                    padding: 0;
                }
            }
        }
    }
    .search-result-items {
        li {
            .order-history-header {
                background: $background;
                border-top: $border;
                .label {
                    @include product-attr-title;
                    font-size: rem($product-attr-title-font-size) !important;
                    font-weight: $product-attr-title-font-weight !important;
                    margin-right: rem(3px);
                }
                .value {
                    @include product-attr-name;
                }
                button {
                    padding: 0 rem(10px);
                    min-width: inherit;
                }
            }
            .order-history-items {
                .order-history-table {
                    .order-items {
                        ul {
                            @include ul;
                            li {
                                font-family: $font;
                                @include font-size($ul-font-size);
                                @include line-height($ul-line-height);
                            }
                        }
                    }
                    .order-shipped-to {
                        @include font-size(13px);
                    }
                    .value {
                        @include product-attr-name;
                    }
                    tr {
                        .order-price {
                            .value {
                                font-size: rem(13px) !important;
                            }
                        }
                    }
                }
            }
        }
    }
    .order-country {
        clear: both;
        &.top {
            margin-top: rem(10px);
        }
        .label {
            @include product-attr-title;
            margin-right: rem(3px);
        }
        .value {
            @include product-attr-name;
        }
    }
}

.orderdetails {
    .order-information {
        @include respond(medium-down) {
            margin-left: rem(10px);
            margin-right: rem(10px);
        }
        margin-bottom: rem(15px);
        h1 {
            @include respond(medium-down) {
                margin-left: 0 !important;
            }
        }
        .label {
            @include product-attr-title;
            margin-right: rem(3px);
        }
        .value {
            @include product-attr-name;
        }
        .order-status {
            .label {
                @include product-attr-title;
                margin-right: rem(3px);
            }
        }
    }
    .order-payment-instruments,
    .order-payment-summary,
    .order-billing {
        @include respond(medium-down) {
            margin-left: rem(10px);
            margin-right: rem(10px);
            margin-bottom: rem(10px);
        }
        @include product-attr-name;
        & > .label {
            @include h3;
        }
    }
    .order-payment-instruments {
        @include respond(large-up) {
            width: 45%;
        }
        .payment-type {
            @include product-attr-name;
        }
        .cc-owner,
        .cc-type,
        .cc-number {
            .label,
            label {
                @include product-attr-name;
            }
        }
        .payment-amount {
            .label {
                @include product-attr-title;
                color: $product-attr-title-color !important;
                font-size: $product-attr-title-font-size !important;
                margin-right: rem(3px);
            }
            .value {
                @include product-attr-name;
            }
        }
    }
    .order-payment-summary {
        @include respond(large-up) {
            width: 55%;
        }
        .order-detail-summary {
            .order-totals-table {
                td {
                    &:last-child {
                        @include respond(medium-down) {
                            text-align: right;
                        }
                    }
                    @include respond(medium-down) {
                        padding-right: 0 !important;
                    }
                }
                .order-subtotal,
                .ordersurcharges,
                .order-shipping,
                .ordershipping.vatamount {
                    .label {
                        @include product-attr-title;
                    }
                    .value {
                        @include product-attr-name;
                    }
                }
                .order-total {
                    .label-total {
                        font-family: $font;
                    }
                    .miniright {
                        .value {
                            font-style: normal;
                            font-family: $font;
                        }
                    }
                }
            }
        }
    }
    .order-billing {
        @include respond(large-up) {
            margin-top: rem(15px);
        }
        .mini-address-name,
        .mini-address-location address {
            @include product-attr-name;
        }
        .paymentamount {
            .label {
                @include product-attr-title;
            }
            .value {
                @include product-attr-name;
            }
        }
    }
    .order-shipments {
        h2 {
            @include respond(medium-down) {
                margin-left: rem(10px);
                margin-right: rem(10px);
            }
        }
        .order-shipment-table {
            background: $background;
            border: $border;
            border-radius: 0;
            .shipping-status,
            .shipping-method {
                .label {
                    @include product-attr-title;
                }
                .value {
                    @include product-attr-name;
                }
            }
            .order-shipment-details {
                .order-shipment-address {
                    & > .label {
                        @include h3;
                    }
                    .summarybox {
                        .name {
                            .address {
                                @include product-attr-name;
                            }
                        }
                    }
                }
            }
            .line-items {
                .line-item {
                    .line-item-details,
                    .line-item-quantity,
                    .line-item-price {
                        @include product-attr-name;
                        font-size: $product-attr-name-font-size;
                        line-height: $product-attr-name-line-height;
                        & > .label {
                            @include h3;
                        }
                    }
                    .line-item-price {
                        font-size: $product-attr-name-font-size !important;
                        line-height: $product-attr-name-line-height !important;
                        @include respond(medium-down) {
                            width: 20%;
                        }
                    }
                    .line-item-details {
                        @include respond(medium-down) {
                            width: 64%;
                        }
                        .product-list-item {
                            .name {
                                a {
                                    @include product-attr-name;
                                }
                            }
                            .attribute,
                            .sku {
                                .label {
                                    @include product-attr-title;
                                    margin-right: rem(3px);
                                }
                                .value {
                                    @include product-attr-name;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.pt_orderconfirmation {
    #content {
        .row {
            .colspan2 {
                .cell {
                    .order-confirmation-details {
                        .orderpayment {
                            .orderpaymentdetails {
                                .orderpaymentdetailstable {
                                    .custom-table-data.orderpaymentinstruments {
                                        .mini-address-name {
                                            font-family: $font;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
