.pt_leftnav-addressbook {
    #addresses {
        .address-list {
            .address-tile {
                @include font-size(13px);
                @include line-height(20px);
                &.default {
                    border-radius: 0;
                }
            }
        }
    }
}

.pt_leftnav-addressbook {
    #addresses {
        .address-list {
            align-items: normal;
        }
    }
}

.ui-dialog.addressadd {
    #dialog-container {
        .form-horizontal {
            .form-row.form-row-button {
                .delete-button {
                    margin-top: rem(10px);
                }
            }
        }
    }
}
