.pt_leftnav-profile {
    #primary {
        #RegistrationForm {
            .create_Agree {
                margin-left: 29%;
                font-style: italic;
                font-family: $global-font-family;
                a {
                    color: $black;
                    text-decoration: underline;
                    &:hover {
                        color: $nobel;
                    }
                }
            }
            .charlimit {
                margin: -15px 0 15px 0;
                padding-left: 29.3%;
                float: left;
                width: 100%;
                box-sizing: border-box;
                font-family: $global-font-family;
                font-size: 12px;
            }
            .form-row {
                margin: .5rem 0 1rem;
                &.form-row-button {
                    margin-left: 27% !important;
                    margin-top: .5rem;
                    margin-bottom: .5rem;
                }
                &.form-indent {
                    margin-left: 27% !important;
                    .field-wrapper {
                        padding-left: 0;
                        width: auto;
                        float: left;
                        .checkbox {
                            padding: 2px 0;
                        }
                    }
                    .label {
                        width: 93%;
                        float: left;
                        .labeltext {
                            margin-left: 0;
                            padding-left: 0;
                            float: left;
                            text-align: left;
                            color: black;
                            font-size: 13px;
                            font-family: $sans-serif;
                            font-weight: bold;
                            font-variant: normal;
                            text-transform: none;
                        }
                    }
                }
                .form-caption {
                    margin-left: 29.3%;
                    margin-top: .5rem;
                    float: left;
                    font-family: $global-font-family;
                    font-size: 12px;
                }
                .label {
                    text-align: right;
                    width: 27%;
                    float: left;
                    .labeltext {
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                    .requiredindicator {
                        text-align: right;
                        margin: 0 4px;
                        float: none;
                    }
                }
                .field-wrapper {
                    padding-left: 2%;
                    width: 50%;
                    input[type="password"] {
                        font-size: 15px;
                    }
                    .textinput {
                        height: 22px;
                        line-height: 22px;
                        box-shadow: none;
                        border-radius: 0;
                        padding: 0 9px 0 9px;
                        font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
                        font-size: 11px;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
