.store-locator-header {
	background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top transparent;
	font-size: 1.75em;
	font-style: italic;
	font-weight: 400;
	margin: 20px 0 0;
	padding: 20px 0;
}

.store-information {
	background: none repeat scroll 0 0 $gainsboro;
	border-bottom: 1px solid $white;
}

.store-name {
	font-weight: bold;
	margin: 0 0 10px;
}

.store-map {
	border-bottom: 1px solid $gainsboro;
}

.store-locator-details {
	float: left;
	width: 44%;
	img {
		max-width: 100%;
	}
	h1, p {
		margin: 0.25em 0;
	}
}

.store-locator-details-map {
	float: right;
	width: 50%;
	img {
		max-width: 100%;
	}
}
.pt_store-locator,.pt_customerservice {
	.breadcrumb {
		float: left;
	    width: 100%;
	    box-sizing: border-box;
	    display: none;
	    -moz-box-shadow:    inset  0  8px 8px -8px #696868,inset  0 -8px 8px -8px #696868;
		-webkit-box-shadow: inset  0  8px 8px -8px #696868,inset  0 -8px 8px -8px #696868;
 		box-shadow:         inset  0  8px 8px -8px #696868,inset  0 -8px 8px -8px #696868;
	    @media screen and (max-width: 959px) {
	    	display: block;
	    }
	    a {
	    	color: #333;
	    }
	    .breadcrumb-element-slash {
	    	/*padding: 0 10px;*/
	    }
	}
	.storelocator {
		.cell {
			padding: 0;
			margin:18px;
		}
		h1 {
		    padding-bottom: 18px;
		}
		.contentboxcontent {
			h2 {
			    border: 0;
			    padding: 0;
			}
		}
		.zipsearchactions {
		    width: 100%;
		    text-align: left;
		    padding: 18px 0 0 0;
		    .stack {
			    float: left;
			    margin: 0 14px 0 0;
			    @media screen and (max-width:480px) {
			    	width: 100%;
			    	margin: 0 auto;
			    	text-align: center;
			    }
			    .form-row  {
			    	@media screen and (max-width:480px) { 
			    		margin: 0;
			    		padding: 0;
			    	}
			    	.label {
			    		@media screen and (max-width:480px) { 
			    			text-align: center;
			    		}
			    		.requiredindicator {
			    			@media screen and (max-width:480px) { 
				    			float: none;
				    		}
			    		}
			    	}
			    	.field-wrapper {
			    		@media screen and (max-width:480px) { 
			    			padding-bottom: 20px;
			    		}
			    		.textinput,.input-select  {
			    			@media screen and (max-width:480px) { 
				    			float: none;
				    			margin: 0 auto;
				    			width: 200px;
    							height: 30px;
    							border-radius: 3px;
				    		}
			    		}
			    	}
			    }
			    .label {
			    	display: block;
			    }
			}
			.buttonstack {
			    margin: 0;
			     @media screen and (max-width:480px) {
			    	width: 100%;
			    	margin: 0 auto;
			    	text-align: center;
			    }
			    .label {
			    	@media screen and (max-width:480px) {
			    		display: none;
			    	}
			    }
			    button {
			    	@media screen and (max-width:480px) {
			    		height: 50px;
					    width: 300px;
					    float: none;
    					margin: 0 auto;
			    	}
			    }
			}
			button {
			    clear: none;
			    margin: 2px 4px 0 0;
			    @media screen and (max-width:959px) { 
			        height: 30px;
    				width: 170px;
    				margin-top: 5px;
    			}
			}
			.messagestack {
			    margin: 0;
			    float: right;
			    @media screen and (max-width:480px) { 
			    	margin-top: 20px;
			    	margin-bottom: 20px;
			    }
			    .label {
			    	@media screen and (max-width:480px) { 
				    	display: none;
				    }
			    }
			}
			#message{
				&.success {
				    clear: none;
				    float: right;
				    margin: 1px;
				    @media screen and (max-width:480px) { 
				    	border-color: #4f7009;
				    	background-color: #dce2ce;
				    }
				}
			}
		}
		.form-row {
			float: left;
			@media screen and (max-width:480px) { 
				width: 100%;
    			padding: 0 0 20px 0;
			}
			.field-wrapper {
				display: block;
				.checkbox {
				    float: left;
				    margin-right: 5px;
				    input {
					    padding: 0;
					    margin: 0;
					    line-height: 12px;
					    height: inherit;
					    border: 1px solid #cecece;
					   	background: #A8A49F;
					   	border-radius: 0;
					    @media screen and (max-width: 959px) {
					    	height: 30px;
					    	width: 30px;
					    	border: 1px solid #cecece;
					    	background: #A8A49F;
					    }
					}
				}
			}
			.label {
			    margin-right: 15px;
			    font-size: 12px;
			    font-family: $global-font-family;
			    display: inline-block;
			    vertical-align: middle;
			    line-height: initial;
			    font-weight: bold;
			    font-variant: normal;
			    @media screen and (max-width: 959px) {
			    	padding: 7px;
			    	margin: 0;
			    }
			}
		}
		.storeresult {
		    background: $shaded-grey;
		    margin: 18px 0;
		    padding: 18px;
		    div {
			    font-size: 11px;
			    font-family: $lucida-font-family;
			}
			.button {
			    width: 90px;
			    text-align: center;
			    margin: 9px 0 0 0;
			    height: 18px;
			    line-height: 18px;
			    text-transform: none;
			    font-size: 10px;
			    padding: 0 9px;
			}
			img {
			    margin: 0 9px 0 0;
			}
		}
		.storeinformation {
		    float: left;
		    width: 216px;
		    @media screen and (min-width: 480px) and (max-width: 959px) {
		    	width: 180px;
		    	margin-right: 1em;
		    }
		}
		.storebrands {
		    float: left;
		    width: 482px;
		    @media screen and (min-width: 480px) and (max-width: 959px) {
		    	width: calc(100% - 310px);
		    }
		}
		.storephone,.brandlabel,.storedistance {
		    color: $nobel;
		    font-style: italic;
		}
		.storemap {
		    width: 110px;
		    float: right;
		}
	}
}
img{
	&.logo{
		&.medium {
		    border: 1px solid $border-very-light-gray;
		    padding: 0;
		    margin: 18px;
		    width: 48px;
		}
	}
}
.pt_customerservice .storelocator .contentboxcontent h2, .pt_store-locator .storelocator .contentboxcontent h2 {
	font-size: 15px;
    line-height: normal;
    font-family: $lucida-font-family;
}
.storelocatorzipsearch{

	.form-row{
		&.label-inline {
			.label{
				.labeltext{
				    text-transform:capitalize;
				    font-size: 12px;
				    font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode","Trebuchet MS",Helvetica,Arial,sans-serif;
			    }
		    }
		}
	}
}
.storelocator {
	h3 {
	    display: block;
	    clear: both;
	    margin: 0 0 18px 0;
	    padding: 5px 18px 5px 18px;
	    line-height: 18px;
	    font-family: $lucida-font-family;
	    font-size: 11px;
	    font-style: normal;
	    font-variant: normal;
	    border-width: 1px;
	    border-style: solid;
	    background-repeat: no-repeat;
	    border-color: $light-blue;
	    background-color: $white-grey;
	    padding: 5px 18px 5px 36px;
	    color: $bip-brown;
	    border-color: $dip-red;
	    background-color: $light-pink;
	    background-image: url(../images/icon-alert-db1c23.png);
	    background-position: 12px 8px;
	    font-weight: bold;
	}
}
.pt_customerservice {
	#content {
		.style-cservice {
			.column{
				&.servicestorelocator {
					.cell {
					    margin: 18px;
					}
				}
			}
		}
	}
}
.pt_customerservice,.pt_store-locator {
	.servicestorelocator {
		.zipsearchactions {
			.messagestack {
			    margin: 0;
			    float: none;
			    h3 {
			    	margin: 18px 0 0;
			    }
			}
			#message{
				&.success {
				    clear: none;
				    float: none;
				    margin: 18px 0 0;
				}
			}
		}
	}
}
.pt_store-locator,.pt_customerservice {
	.storelocator {
		.contentboxcontent {
			float: left;
			width: 92.8%;
    		box-sizing: border-box;
			.store-Locator-page,.service-locator-form {
				.form-row {
					@media screen and (min-width: 481px) and (max-width: 959px) {
						margin-bottom: 2em;
    					width: 166px;
					}
				}
				.mobile-style {
					@media screen and (min-width: 481px) and (max-width: 959px) {
						text-align: center;
						.stack {
							float: none;
	    					display: inline-block;
	    					&.buttonstack {
	    						vertical-align: top;
	    					}
		    			}
					}
				}
			}
		}
	}
}

.pt_store-locator .storelocator .contentboxcontent .store-Locator-page .mobile-style .stack.less-mobile-padding .field-wrapper {
	background: url(../images/down-arrow.svg) no-repeat;
    background-position: 94% 14px;
    border: 1px solid #ccc;
    @media screen and (max-width: 480px) {
    	background-position: 97% 14px;	
    }
    .input-select {
    	padding: 0 9px 0 9px;
    	opacity: 0;
    	margin: 0;
    }
    .selectorOut {
    	line-height: 28px;
    }
}
@media screen and (min-width: 481px) and (max-width: 736px) { 
.pt_store-locator .storelocator .contentboxcontent .store-Locator-page .form-row {
	width: 133px;
}
}
#customer-become-a-dealer .formfields .formfield.custom-select,
#customer-dealer-locator-additions .formfields .formfield.custom-select {
    &.customselect-error {
        .value {
                border-color: red;
        }
    }
    .value {
        border: 1px solid #ccc;
        background: url(../images/down-arrow.svg) 94% 12px no-repeat;
        display: -webkit-box;
        float: left;
        width: 100%;
        @media screen and (max-width:959px) { 
        	background-position: 98% 14px;
        }
        .selectbox {
            margin: 0;
        }
        .selectorOut {
            top: 19px !important;
            left: 0;
            line-height: 26px;
        }       
    }
}
.pt_customerservice .less-mobile-padding.custom-select {
	.field-wrapper {
	    border: 1px solid #ccc;
	    background: url(../images/down-arrow.svg) 94% 12px no-repeat !important;
	    display: -webkit-box;
	    float: left;
	    width: 100%;
	    .selectorOut {
		    left: 0;
		    line-height: 28px;
		}
	}
	select {
		opacity:0;
		margin: 0;
	}
}
.pt_store-locator .storelocator .storeresult div.storedistance,
.pt_customerservice .storelocator .storeresult div.storedistance {
	font-size: 14px;
	padding-bottom: 5px;
}
.pt_customerservice .storelocator .zipsearchactions button.submitdealer-button {
	width: auto !important;
}