//
// Font Stacks
//
$sans-serif-regular: "Roboto", Arial, sans-serif;
$sans-serif-light: $sans-serif-regular;
$sans-serif-regular-italic: $sans-serif-regular;
$sans-serif-semibold: $sans-serif-regular;
$sans-serif-bold: $sans-serif-regular;
$sans-serif-black: $sans-serif-regular;

$sans-serif-secondary: "FranklinGothicW01-Extra_692515", sans-serif;
$sans-serif-third: "ITC Franklin Gothic LT W01DmCn", sans-serif;
$sans-serif-fourth: "ITC Franklin Gothic LT W01MdCn", sans-serif;

$font: $sans-serif-regular;
$font-secondary: $sans-serif-secondary;
$font-third: $sans-serif-third;
$font-fourth: $sans-serif-fourth;
//
// Font Weights
//
$font-wt-thin: 100;
$font-wt-light: 300;
$font-wt-regular: 400;
$font-wt-semibold: 500;
$font-wt-bold: 700;
$font-wt-black: 900;
//
// Font Style
//
$font-style-italic: italic;
