@import "../compiled/svg";

.icon {
    display: inline-block;
    vertical-align: middle;
    fill: $black;

    &.close.small {
        width: rem(10px);
        height: rem(10px);
    }
    &.arrow {
        fill: $tundora;
        &.right {
            transform: rotate(180deg);
        }
    }
    &.dot {
        fill: $silver;
        &.active {
            fill: $tundora;
        }
    }
    &.profile-icon-static {
        width: rem(36px);
        height: rem(36px);
    }
}
