
////////////////////////////////////
// Color Section
////////////////////////////////////
$red: #d80000;
$black: #000;
$night-rider: #333;
$greyish-brown: #4d4d4d;
$pinkish-grey: #ccc;
$silver: #bbbdbf;
$silver-two: #e6e7e8;
$concrete: #f2f2f2;
$kermit-green: #52a300;
$white: #fff;
$red-two: #e80000;
$sangria: #a00000;
$tundora: #4b4b4b;
$limeade: #61C000;
$mine-shaft: #303030;
$trans: transparent;
$dusty-gray: #999;


////////////////////////////////////
// Main Site Colors
////////////////////////////////////
$border-color: $pinkish-grey;
$border: 1px solid $border-color;

$border-secondary: 1px solid $silver;

$background: $silver-two;
$background-secondary: $silver;
$global-font-family: $font;
$lucida-font-family: $font;


////////////////////////////////////
// Headers
////////////////////////////////////
$h1-font: $font-secondary;
$h1-font-size: 30px;
$h1-font-size-mobile: 20px;
$h1-font-weight: normal;
$h1-font-variant: normal;
$h1-font-style: normal;
$h1-line-height: 1;
$h1-text-transform: none;
$h1-color: $black;

$h2-font: $font-secondary;
$h2-font-size: 20px;
$h2-font-size-mobile: 16px;
$h2-font-weight: normal;
$h2-font-variant: normal;
$h2-font-style: normal;
$h2-line-height: 1;
$h2-text-transform: none;
$h2-color: $black;

$h3-font: $font-fourth;
$h3-font-size: 15px;
$h3-font-weight: normal;
$h3-font-style: normal;
$h3-font-variant: normal;
$h3-line-height: 1;
$h3-text-transform: none;
$h3-color: $black;

$h4-font: $font;
$h4-font-size: 13px;
$h4-font-weight: normal;
$h4-font-style: normal;
$h4-font-variant: normal;
$h4-line-height: 1;
$h4-text-transform: none;
$h4-color: $black;

$h5-font: $font;
$h5-font-size: 13px;
$h5-font-weight: normal;
$h5-font-style: normal;
$h5-font-variant: normal;
$h5-line-height: 1;
$h5-text-transform: none;
$h5-color: $black;

$h6-font: $font;
$h6-font-size: 13px;
$h6-font-weight: normal;
$h6-font-style: normal;
$h6-font-variant: normal;
$h6-line-height: 1;
$h6-text-transform: none;
$h6-color: $black;


////////////////////////////////////
// Hero Title
////////////////////////////////////
$hero-title-font-size: 60px;
$hero-title-font-size-mobile: 34px;
$hero-title-line-height: 1;
$hero-title-font-family: $font-secondary;
$hero-title-text-transform: capitalize;


////////////////////////////////////
// Hero Subtitle
////////////////////////////////////
$hero-subtitle-font-size: 30px;
$hero-subtitle-font-size-mobile: 24px;
$hero-subtitle-line-height: 1;
$hero-subtitle-font-family: $font-secondary;
$hero-subtitle-text-transform: capitalize;


////////////////////////////////////
// Visual Category
////////////////////////////////////
$visual-category-font-size: 30px;
$visual-category-font-size-mobile: 24px;
$visual-category-line-height: 1;
$visual-category-font-family: $font-secondary;
$visual-category-text-transform: capitalize;


////////////////////////////////////
// Carousel Heading
////////////////////////////////////
$carousel-heading-font-size: 60px;
$carousel-heading-font-size-mobile: 34px;
$carousel-heading-line-height: 1;
$carousel-heading-font-family: $font-secondary;
$carousel-heading-text-transform: capitalize;


////////////////////////////////////
// PDP Product Name
////////////////////////////////////
$pdp-name-font-size: 24px;
$pdp-name-font-size-mobile: 20px;
$pdp-name-letter-spacing: normal;
$pdp-name-letter-spacing-mobile: 0.025em;
$pdp-name-line-height: 1;
$pdp-name-font-family: $font-secondary;
$pdp-name-text-transform: none;
$pdp-name-color: $black;


////////////////////////////////////
// Product Description
////////////////////////////////////
$pdp-description-font-size: 13px;
$pdp-description-letter-spacing: normal;
$pdp-description-line-height: 20px;
$pdp-description-font-family: $font;
$pdp-description-color: $black;


////////////////////////////////////
// Product Attribute Title
////////////////////////////////////
$product-attr-title-font-size: 13px;
$product-attr-title-font-weight: normal;
$product-attr-title-font-style: normal;
$product-attr-title-letter-spacing: normal;
$product-attr-title-line-height: 20px;
$product-attr-title-font-family: $font;
$product-attr-title-color: $silver;
$product-attr-swatch-active-background: $kermit-green;
$product-attr-swatch-active-color: $white;
$product-attr-swatch-active-border-color: $kermit-green;
$product-attr-swatch-active-border: 1px solid $product-attr-swatch-active-border-color;
$product-attr-swatch-color-active-border: 2px solid $product-attr-swatch-active-border-color;




////////////////////////////////////
// Product Attribute Name
////////////////////////////////////
$product-attr-name-font-size: 13px;
$product-attr-name-letter-spacing: normal;
$product-attr-name-line-height: 20px;
$product-attr-name-font-family: $font;
$product-attr-name-font-weight: normal;
$product-attr-name-font-style: normal;
$product-attr-name-color: $black;


////////////////////////////////////
// PDP Product Price
////////////////////////////////////
$pdp-price-font-size: 18px;
$pdp-price-letter-spacing: normal;
$pdp-price-line-height: 20px;
$pdp-price-font-family: $font;
$pdp-price-font-weight: bold;
$pdp-price-font-style: normal;
$pdp-price-color: $black;
$pdp-price-sale-color: $silver;


////////////////////////////////////
// Product Message
////////////////////////////////////
$pdp-message-font-size: 13px;
$pdp-message-letter-spacing: normal;
$pdp-message-line-height: 1;
$pdp-message-font-family: $font;
$pdp-message-font-weight: bold;
$pdp-message-color: $red-two;


////////////////////////////////////
// Product Accordion Title
////////////////////////////////////
$pdp-accordion-title-font-size: 20px;
$pdp-accordion-title-letter-spacing: normal;
$pdp-accordion-title-line-height: 51px;
$pdp-accordion-title-font-family: $font;
$pdp-accordion-title-font-weight: normal;
$pdp-accordion-title-color: $black;


////////////////////////////////////
// Product Filter
////////////////////////////////////
$a-filter-not-active-bg: $silver-two;
$a-filter-opened-section-border: 1px solid $night-rider;
$a-filter-border-radius: 0;
$a-filter-bg: $silver;
$a-filter-color: $black;
$a-filter-font-family: $font;
$a-filter-font-size: 16px;
$a-filter-font-weight: normal;
$a-filter-height: 40px;
$a-filter-line-height: 40px;
$a-filter-margin: 18px 0 0;
$a-filter-padding: 0 28px 0 12px;
$a-filter-text-transform: normal;
$a-filter-width: 184px;
$a-filter-hover-bg: $silver;
$a-filter-hover-text-decoration: none;
$a-filter-hover-color: $black;


////////////////////////////////////
// Product Promotion
////////////////////////////////////
$pdp-promo-font-size: 13px;
$pdp-promo-letter-spacing: normal;
$pdp-promo-line-height: 20px;
$pdp-promo-font-family: $font;
$pdp-promo-font-weight: normal;
$pdp-promo-font-style: normal;
$pdp-promo-color: $red-two;


////////////////////////////////////
// CLP Refinement Title
////////////////////////////////////
$clp-refinement-title-font-size: 13px;
$clp-refinement-title-letter-spacing: normal;
$clp-refinement-title-line-height: 20px;
$clp-refinement-title-font-family: $font;
$clp-refinement-title-font-weight: normal;
$clp-refinement-title-color: $black;
$clp-refinement-title-text-transform: none;
$clp-refinement-title-font-variant: normal;
$clp-refinement-category-active-color: $red-two;
$clp-refinement-category-active-text-decoration: underline;
$clp-refinement-active-background: $concrete;


////////////////////////////////////
// Form Caption
////////////////////////////////////
$form-caption-font-size: 13px;
$form-caption-letter-spacing: normal;
$form-caption-line-height: 20px;
$form-caption-font-family: $font;
$form-caption-font-weight: normal;
$form-caption-color: $black;


////////////////////////////////////
// Form Fields
////////////////////////////////////
$form-row-margin: 0 0 rem(10px) 0;
$form-field-width: 100%;
$form-field-box-shadow: none;
$form-field-height: 30px;
$form-field-padding: 0 12px;
$form-field-border-width: 1px;
$form-field-border: $form-field-border-width solid $silver;
$form-field-border-radius: 0;
$form-field-bg: $white;
$form-field-font-size: 13px;
$form-field-margin: 0 0 rem(3px) 0;
$form-field-color: $black;
$form-field-font-family: $font;

$form-checkbox-size: 18px;
$form-checkbox-border: 1px solid $silver;
$form-checkbox-bg: $white;
$form-checkbox-checked-bg: $white url("../images/svg-icons/checkmark.svg") no-repeat center;
$form-checkbox-checked-border: solid 1px $mine-shaft;
$form-checkbox-hover-border: solid 1px $mine-shaft;

$form-radio-checked-border: solid 1px $mine-shaft;
$form-radio-checked-bg: $white url("../images/svg-icons/radio.svg") no-repeat center;
$form-radio-checked-border: solid 1px $mine-shaft;

$form-dropdown-arrow-icon-color: $black;
$form-dropdown-arrow-icon-width: 32px;
$form-textarea-height: 70px;

$form-horizontal-label-width: 115px;
$form-horizontal-label-height: 30px;
$form-horizontal-field-width: 300px;
$form-horizontal-field-padding: 20px;

$error-bg-color: $white;
$error-border: 1px solid $red;
$required-color: $black;


////////////////////////////////////
// Form Label
////////////////////////////////////
$form-label-font-family: $font;
$form-label-font-size: 13px;
$form-label-font-weight: normal;
$form-label-font-style: normal;
$form-label-color: $black;
$form-label-text-transform: none;
$form-label-border: none;
$form-label-padding: 0 0 3px 0;
$form-label-line-height: 16px;
$form-label-margin: 0 0 9px 0;
$form-label-letter-spacing: 0;
$form-label-font-variant: none;


////////////////////////////////////
// Form Error
////////////////////////////////////
$font-error-color: $red-two;
$font-error-font-family: $font;
$font-error-font-size: 13px;
$font-error-font-weight: normal;
$font-error-line-height: 14px;


////////////////////////////////////
// Paragraph
////////////////////////////////////
$p-font-size: 13px;
$p-letter-spacing: normal;
$p-line-height: 20px;
$p-font-family: $font;
$p-font-weight: normal;
$p-color: $black;


////////////////////////////////////
// UL List
////////////////////////////////////
$ul-font-size: 13px;
$ul-letter-spacing: normal;
$ul-line-height: 26px;
$ul-font-family: $font;
$ul-font-weight: normal;
$ul-color: $black;
$ul-list-style: disc;


////////////////////////////////////
// Main Nav
////////////////////////////////////
$main-nav-font-size: 13px;
$main-nav-letter-spacing: normal;
$main-nav-line-height: 35px;
$main-nav-font-family: $font;
$main-nav-font-weight: normal;
$main-nav-color: $white;
$main-nav-padding: 0 12px;
$main-nav-height: 35px;
$main-nav-text-transform: uppercase;
$main-nav-bg: $tundora;
$main-nav-text-decoration: none;
$main-nav-hover-text-decoration: none;
$main-nav-hover-color: $black;
$main-nav-hover-bg: $concrete;
$main-nav-subcategory-color: $night-rider;


////////////////////////////////////
// Mobile Main Nav
////////////////////////////////////
$mobile-nav-bg: $silver-two;
$mobile-search-height: 30px;


////////////////////////////////////
// Link
////////////////////////////////////
$link-font-size: 13px;
$link-letter-spacing: normal;
$link-line-height: 20px;
$link-font-family: $font;
$link-font-weight: normal;
$link-color: $red-two;
$link-text-decoration: underline;
$link-hover-text-decoration: underline;
$link-hover-color: $sangria;


////////////////////////////////////
// Footer Link
////////////////////////////////////
$footer-link-font-size: 13px;
$footer-link-letter-spacing: normal;
$footer-link-line-height: 20px;
$footer-link-font-family: $font;
$footer-link-font-weight: normal;
$footer-link-color: $black;
$footer-link-text-decoration: none;
$footer-link-hover-text-decoration: underline;
$footer-link-hover-color: $black;
$cookie-background: $white;


////////////////////////////////////
// Buttons
////////////////////////////////////
$button-min-width: 140px;
$button-height: 40px;
$button-font-size: 14px;
$button-letter-spacing: normal;
$button-line-height: 40px;
$button-font-family: $font;
$button-font-weight: normal;
$button-color: $black;
$button-text-transform: uppercase;
$button-text-decoration: none;
$button-padding: 0 30px;
$button-bg: $silver;
$button-border-radius: 5px;
$button-border: 1px solid $silver;
$button-box-shadow: none;
$button-hover-text-decoration: none;
$button-hover-color: $black;
$button-hover-bg: $silver-two;
$button-hover-border: 1px solid $silver;
$button-hover-box-shadow: none;
$button-disabled-bg: $silver-two;
$button-disabled-color: $silver;

$button-promo-min-width: inherit;
$button-promo-height: 40px;
$button-promo-font-size: 14px;
$button-promo-letter-spacing: normal;
$button-promo-line-height: 40px;
$button-promo-font-family: $font;
$button-promo-font-weight: normal;
$button-promo-color: $white;
$button-promo-text-transform: uppercase;
$button-promo-text-decoration: none;
$button-promo-padding: 0 30px;
$button-promo-bg: $red-two;
$button-promo-border-radius: 5px;
$button-promo-border: 1px solid $red-two;
$button-promo-box-shadow: none;
$button-promo-hover-text-decoration: none;
$button-promo-hover-color: $white;
$button-promo-hover-bg: $red;
$button-promo-hover-border: 1px solid $red;
$button-promo-hover-box-shadow: none;
$button-promo-disabled-bg: $silver-two;
$button-promo-disabled-color: $silver;

$button-submit-height: 40px;
$button-submit-font-size: 14px;
$button-submit-letter-spacing: normal;
$button-submit-line-height: 40px;
$button-submit-font-family: $font;
$button-submit-font-weight: normal;
$button-submit-color: $white;
$button-submit-text-transform: uppercase;
$button-submit-text-decoration: none;
$button-submit-padding: 0 30px;
$button-submit-bg: $kermit-green;
$button-submit-border-radius: 5px;
$button-submit-border: 1px solid $kermit-green;
$button-submit-box-shadow: none;
$button-submit-hover-text-decoration: none;
$button-submit-hover-color: $white;
$button-submit-hover-bg: $limeade;
$button-submit-hover-border: 1px solid $limeade;
$button-submit-hover-box-shadow: none;


////////////////////////////////////
// Quickview
////////////////////////////////////
$quickview-height: 30px;
$quickview-font-size: 14px;
$quickview-letter-spacing: normal;
$quickview-line-height: 30px;
$quickview-font-family: $font;
$quickview-font-weight: normal;
$quickview-color: $black;
$quickview-text-transform: uppercase;
$quickview-text-decoration: none;
$quickview-padding: 0;
$quickview-bg: $silver;
$quickview-min-width: none;
$quickview-border: 1px solid $silver;
$quickview-border-radius: 5px;
$quickview-hover-text-decoration: none;
$quickview-hover-color: $black;
$quickview-hover-bg: $silver-two;
$quickview-hover-border: 1px solid $greyish-brown;


////////////////////////////////////
// Swatch Attribute
////////////////////////////////////
$swatch-attr-height: 30px;
$swatch-attr-font-size: 14px;
$swatch-attr-letter-spacing: normal;
$swatch-attr-line-height: 30px;
$swatch-attr-font-family: $font;
$swatch-attr-font-weight: bold;
$swatch-attr-color: $black;
$swatch-attr-text-transform: uppercase;
$swatch-attr-text-decoration: none;
$swatch-attr-padding: 0 20px;
$swatch-attr-bg: $silver;
$swatch-attr-border: 1px solid $silver;
$swatch-attr-border-radius: 0;
$swatch-attr-inner-color: $red-two;
$swatch-attr-hover-text-decoration: none;
$swatch-attr-hover-color: $black;
$swatch-attr-hover-bg: $silver-two;
$swatch-attr-hover-border: 1px solid $greyish-brown;

$swatch-border-color: $border-color;
$swatch-active-border-color: $red-two;


////////////////////////////////////
// Product Table
////////////////////////////////////
$table-font-family: $font;
$table-font-size: 13px;
$table-font-weight: normal;
$table-line-height: normal;
$table-border: 1px solid $silver;
$table-border-radius: 0;
$table-border-collapse: collapse;
$table-padding: 13px 10px;
$table-odd-bg: $white;
$table-even-bg: $silver-two;
$table-head-bg: $silver;
$table-head-font-family: $font;
$table-head-font-size: 16px;
$table-head-font-weight: normal;
$table-head-line-height: normal;
$table-head-padding: 13px 10px;


////////////////////////////////////
// Product Tabs
////////////////////////////////////
$tab-all-border: solid 2px $pinkish-grey;
$tab-head-bg: $silver-two;
$tab-head-font-family: $font-fourth;
$tab-head-font-size: 15px;
$tab-head-color: $greyish-brown;
$tab-head-border-radius: $greyish-brown;
$tab-head-height: 30px;
$tab-head-border-radius: 5px;
$tab-head-active-bg: $white;
$tab-head-active-border: 2px solid $pinkish-grey;
$tab-head-active-color: $black;
$tab-content-padding: 40px;


////////////////////////////////////
// Product Tag
////////////////////////////////////
$product-tag-height: 20px;
$product-tag-font-size: 13px;
$product-tag-letter-spacing: normal;
$product-tag-line-height: 20px;
$product-tag-font-family: $font;
$product-tag-font-weight: normal;
$product-tag-font-style: normal;
$product-tag-color: $white;
$product-tag-text-transform: capitalize;
$product-tag-text-decoration: none;
$product-tag-padding: 0 10px;
$product-tag-bg: $red-two;
$product-tag-border: none;
$product-tag-border-radius: 10px;


////////////////////////////////////
// Tooltip
////////////////////////////////////
$tooltip-font-family: $font;
$tooltip-font-size: 13px;
$tooltip-font-weight: normal;
$tooltip-line-height: 30px;
$tooltip-text-decoration: underline;
$tooltip-color: $black;
$tooltip-hover-color: $black;
$tooltip-hover-text-decoration: none;


////////////////////////////////////
// Blog
////////////////////////////////////
$blog-main-link-color: $black;

////////////////////////////////////
// GeoIP Page
////////////////////////////////////
$geoip-main-text-color: $white;
$geoip-main-link-color: $white;
$geoip-link-decoration: none;
$geoip-link-hover-decoration: underline;
$geoip-link-weight: normal;
$geoip-link-line-height: 24px;
$geoip-main-font-family: $font;
$geoip-top-block-title-font-size: 15px;
$geoip-top-block-title-lin-height: 50px;
$geoip-top-block-title-transform: uppercase;
$geoip-top-block-title-weight: bold;
$geoip-footer-text-font-size: 12px;
$geoip-footer-text-color: $night-rider;
$geoip-footer-text-font-weight: normal;
$geoip-footer-text-link-color: $red-two;
$geoip-footer-text-link-font-size: 12px;
$geoip-footer-text-link-hover-decoration: underline;


////////////////////////////////////
// Checkout
////////////////////////////////////
$order-total-font-color: $dusty-gray;






