.pt_leftnav-profile {
    .custom-checkbox {
        input[type="checkbox"] {
            position: initial;
        }
    }
}
.pt_customerservice {
    .site-map {
        .cs-landing {
            list-style: none;
        }
    }
    .customer {
        .column {
            .contentbox {
                .left-nav-top {
                    .contentboxcontent {
                        .nav-group {
                            list-style: none;
                        }
                    }
                }
            }
        }
        .colspan2 {
            .site-map {
                .cs-landing {
                    ul {
                        list-style: none;
                    }
                }
            }
        }
    }
}
