/* custom fonts */
@import url("../css/MyFontsWebfontsKit.css");

/* body */
body {
    color: black;
    font-family: "Times New Roman", Times, 'OriginalGaramondBT-Roman', serif;
    font-size: 13px;
    background: white url(../images/container-background-70.jpg) 50% 0 repeat-x;
    &.js-body {
        background: none;
    }
    .js-container-active {
        .open-menu-wrap {
            background: white url(../images/container-background-70.jpg) 50% -105px repeat-x;
        }
    }
}

/* <a> styles */
a {
    color: #0078AE;
    text-decoration: none;
}

.pt_productsearchresult #page-background .row.column3 .colspan2.cell4 .contentboxcontent a.searchedfor {
    color: #0069a6;
}

.categorymenusnew .category-top-level > a:hover .count-products, .categorymenusnew li.active > a .count-products {
    color: #0069a6;
}

/* H1-H6 */
h1, h2, h4, h5, h6, .h-one-tag {
    color: black;
    font-family: "OriginalGaramondBT-Roman", Times New Roman, Times, serif;
    font-weight: bold;
    text-transform: uppercase;
}

h1, .h-one-tag {
    font-size: 28px;
    line-height: 28px;
    font-weight: bold;
    margin: 0;
}

h2 {
    font-size: 18px;
    line-height: 18px;
}

h3 {
    font-size: 16px;
    line-height: 16px;
    font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #333333;
    font-style: italic;
    text-transform: none;
}

h4 {
    font-size: 24px;
    line-height: 24px;
}

h5 {
    font-size: 18px;
    line-height: 18px;
}

h6 {
    font-size: 16px;
    line-height: 16px;
}

h1.left-nav-style {
    font-family: 'OriginalGaramondBT-Roman', "Times New Roman", Times, serif;
    font-size: 28px;
    line-height: 28px;
    font-weight: bold;
}

h2.input-style {
    font-size: 16px;
    line-height: 16px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #333333;
    text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: #3CF;
    text-decoration: none;
}

/* <p> style */
p {
    color: black;
    font-family: "Times New Roman", Times, 'OriginalGaramondBT-Roman', serif;
    font-size: 13px;
    font-weight: normal;
    word-spacing: normal;
    line-height: 18px;
    padding: 9px 0 9px 0;
    text-align: left;
}

p a {
    color: #0078AE;
    font-weight: bold;
}

p {
    color: black;
    font-family: "Times New Roman", Times, 'OriginalGaramondBT-Roman', serif;
    font-size: 13px;
    font-weight: normal;
    word-spacing: normal;
    line-height: 18px;
    padding: 9px 0 9px 0;
    text-align: left;
}

a {
    color: #0078AE;
    text-decoration: none;
}

/*buttons*/
a.button, button {
    margin: 0;
    display: block;
    clear: left;
    float: left;
    height: 28px;
    line-height: 28px;
    font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 0 18px 0 18px;
    background-color: #0078AE;
    border-style: solid;
    border-width: 1px;
    border-top-color: #006593;
    border-right-color: #0075AA;
    border-bottom-color: #9DCBE0;
    border-left-color: #0075AA;
}

a.button:hover, button:hover {
    cursor: pointer;
    background-color: #3CF;
    text-decoration: none;
    border-top-color: #2BACD7;
    border-right-color: #32C7F9;
    border-bottom-color: #B1EBFF;
    border-left-color: #32C7F9;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #3CF;
}

p a {
    color: #0078AE;
    font-weight: bold;
}

h1.search-result {
    font-family: $luhr-lucida;
    font-size: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 36px;
}

.pt_product-search-result {
    #page-background {
        #primary {
            .search-blk {
                a {
                    display: inline-block;
                    text-transform: capitalize;
                    color: $luhr-nav-lightblue;
                }
            }
        }
    }
}

.pt_customerservice {
    .nav-group li.active {
        background-color: #0078AE;
        border-top-color: #006593;
        border-right-color: #0075AA;
        border-bottom-color: #9DCBE0;
        border-left-color: #0075AA;
    }
}

#headerwrapper #header .row.column1 #minicart #multi-site-one-cart {
    background-image: url(../images/multi-site-one-cart-bg-right.png);
    background-position: right top;
    border-radius: 0 5px 5px 0;
}

#headerwrapper #header .row.column1 #minicart #multi-site-one-cart span {
    color: white;
    font-weight: normal;
    background-image: url(../images/multi-site-one-cart-bg.png);
    width: 58px;
    border-radius: 5px;
    text-transform: capitalize;
}

.minicarticon-cont .cart-icon {
    background: url(../images/bluecart.png) 0 6px no-repeat;
    width: 30px;
    float: left;
    height: 30px;
    margin: 0 5px 0 10px;
}

#headerwrapper #header .row.column1 #minicart a.minicart-button {
    color: #0078ae;
}

#headerwrapper #header .row.column1 #minicart a.minicart-checkout-button {
    background: linear-gradient(to bottom, #0069a6 60%, #004971 100%);
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 7px 0;
    height: 17px;
    text-indent: 0;
    font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 11px;
    border-radius: 0 5px 5px 0;
}

#headerwrapper #header .row.column1 #minicart a.minicart-checkout-button:hover {
    background: linear-gradient(to bottom, #004971 0%, #0069a6 60%);
}

.pt_acc_landing {
    .content-asset {
        .account-options {
            li {
                transition: none;
                a {
                    transition: none;
                    h2 {
                        font-family: $luhr-Original;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 28px;
                        line-height: 28px;
                        padding: 10px 0;
                    }
                    p {

                        text-transform: capitalize;
                    }
                }
                &:hover {
                    background-color: $luhr-bg-lightblue;
                    border-color: $luhr-bg-lightblue;
                    transition: none;
                    h2 {
                        color: $luhr-white;
                    }
                    p {
                        color: $luhr-white;
                    }
                    i {
                        color: $luhr-white;
                    }
                }
            }
        }
    }
}

.pt_store-locator {
    .storelocator {
        h1 {
            text-transform: uppercase;
            font-vairant: normal;
        }
    }
    .storelocatorzipsearch {
        .stack {
            .form-row {
                .label {
                    .labeltext {
                        font-family: 'OriginalGaramondBT-Roman', "Times New Roman", Times, serif;
                        font-weight: bold;
                        color: #333;
                        text-transform: uppercase;
                        font-size: 16px;
                        line-height: 16px;
                    }
                }
            }
        }
    }
}

.pt_order {
    h1 {
        text-align: left;
        background: none;
        border: none;
        padding: 0;
    }
    .search-result-items {
        li {
            .order-history-items {
                .order-history-table {
                    th {
                        font-family: $luhr-Original;
                        font-weight: bold;
                        color: $luhr-light-black;
                        text-transform: uppercase;
                        font-size: 16px;
                        line-height: 16px;
                    }
                    tr {
                        .order-price {
                            .value {
                                font-family: $luhr-Basker;
                                color: $luhr-bgdarkblue;
                                font-weight: bold;
                                font-style: italic;
                                font-size: 24px;
                                line-height: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.pt_wish-list {
    #main {
        .item-details {
            .product-list-item {
                span {
                    &.price-sales {
                        color: $luhr-bgdarkblue;
                        font-family: $luhr-Basker;
                        font-weight: bold;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

.ui-dialog {
    &.addressadd {
        #dialog-container {
            .form-horizontal {
                .form-row {
                    &.form-row-button {
                        button {
                            &.simple {
                                background-color: $luhr-bgdarkblue;
                                color: $luhr-white;
                                &:hover {
                                    background-color: $luhr-bg-lightblue;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.pt_leftnav-addressbook {
    #main {
        .breadcrumb {
            font-family: $luhr-lucida;
        }
        #page-background {
            #primary {
                h1 {
                }
            }
        }
    }
    #addresses {
        .address-list {
            .address-tile {
                .mini-address-title {
                    color: $luhr-light-black;
                    font-family: $luhr-Original;
                    font-weight: bold;
                    font-size: 16px;
                    padding: 4px 0 1px;
                    text-transform: uppercase;
                }
                .mini-address-name {
                    font-size: 13px;
                }
                .mini-address-location {
                    address {
                        font-size: 13px;
                    }
                }
                .address-edit,
                .address-delete.delete,
                .address-make-default {
                    font-family: $luhr-lucida;
                }
            }
        }
    }
}

.orderdetails {
    .order-information {
        .order-number {
            .label {
                font-family: 'OriginalGaramondBT-Roman', "Times New Roman", Times, serif;
                text-transform: uppercase;
                font-style: normal;
                font-size: 28px;
                line-height: 28px;
                font-weight: bold;
                color: $luhr-black;
            }
            .value {
                font-size: 28px;
                line-height: 28px;
                font-family: 'OriginalGaramondBT-Roman', "Times New Roman", Times, serif;
                text-transform: uppercase;
                color: $luhr-black;
            }
        }
    }
}

.orderdetails {
    .order-payment-summary,
    .order-billing,
    .order-shipment-address,
    .line-item-details,
    .line-item-quantity,
    .line-item-price {
        .label {
            font-family: $luhr-times;
            font-weight: bold;
            color: $luhr-light-black;
            font-size: 16px;
            line-height: 16px;
            text-transform: uppercase;
        }
    }
}

.orderdetails {
    .line-items {
        .line-item {
            .line-item-price {
                font-family: $luhr-Basker;
                color: $luhr-bgdarkblue;
                font-weight: bold;
                font-style: italic;
                font-size: 24px;
                line-height: 24px;
                .label {
                    font-family: $luhr-times;
                    font-weight: bold;
                    color: $luhr-light-black;
                    font-size: 16px;
                    line-height: 16px;
                    text-transform: uppercase;
                    font-style: normal;
                }
            }
        }
    }
}

.productdetail {
    .selected {
        a {
            &.filter {
                color: $luhr-light-black;
            }
        }
    }
    a {
        &.filter {
            span {
                font-style: italic;
                color: $luhr-white;
                font-weight: normal;
            }
        }
    }
    .addtocartbar {
        background-position: top left;
        .addtocart {
            &.disabled {
                a {
                    &.filter {
                        span {
                            color: $luhr-white;
                        }
                    }
                }
            }
            .quantity {
                .label {
                    padding-bottom: 0;
                }
            }
        }
    }
    .addtocartbar {
        .addtocart {
            button {
                &.addtocartbutton {
                    float: left;
                    width: calc(100% - 50px);
                    height: 40px;
                    line-height: 40px;
                    background-image: none;
                    background: rgba(53, 147, 191, 1);
                    background: linear-gradient(to bottom, rgba(53, 147, 191, 1) 0%, rgba(0, 119, 174, 1) 100%);
                    transition: inherit;
                    text-transform: inherit;
                    border: none;
                }
            }
            .quantity {
                .label {
                    font-size: 13px !important;
                    font-style: normal;
                    font-weight: normal !important;
                    font-family: $luhr-lucida;
                }
            }
        }
    }
    .price {
        font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
        color: $luhr-bgdarkblue;
        font-weight: bold;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0px;
        .salesprice {
            color: #0069a6;
            font-weight: bold;
            font-size: 15px;
            line-height: 24px;
            letter-spacing: 0px;
        }
    }
}

input {
    &.quantityinput {
        border: 2px solid $luhr-bgdarkblue;
        color: $luhr-bgdarkblue;
    }
}

a.filter {
    margin: 18px 0 0;
    display: block;
    clear: left;
    float: left;
    width: 184px;
    line-height: 18px;
    font-family: $luhr-lucida;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0;
    color: #fff !important;
    padding: 5px 28px 5px 10px;
    border-style: solid;
    border-width: 1px;
    background: rgba(53, 147, 191, 1);
    background: linear-gradient(to bottom, rgba(53, 147, 191, 1) 0%, rgba(0, 119, 174, 1) 100%);
    border-top-color: #006593;
    border-right-color: #0075AA;
    border-bottom-color: #9DCBE0;
    border-left-color: #0075AA;
    background-position: 100% 0;
    background-repeat: no-repeat;
    &:hover {
        text-decoration: none;
        background: rgba(0, 119, 174, 1);
        background: linear-gradient(to bottom, rgba(0, 119, 174, 1) 0%, rgba(53, 147, 191, 1) 100%);
        border-top-color: #2BACD7;
        border-right-color: #32C7F9;
        border-bottom-color: #B1EBFF;
        border-left-color: #32C7F9;
        color: #999;
    }
}

.variationattributes {
    .color {
        li {
            a {
                &:hover {
                    border-color: $luhr-bg-lightblue;
                }
            }
        }
    }
}

.variationattributes {
    .swatches {
        li {
            border-bottom: 1px solid #7f7f7f;
            border-right: 1px solid #7f7f7f;
            &.selected {
                a {
                    border-color: $luhr-bg-lightblue;
                    background-color: $luhr-bg-lightblue;
                    color: $luhr-white;
                    background-image: none;
                }
            }
            a {
                &:hover {
                    background-image: none;
                    color: $luhr-white;
                    background-color: $luhr-bg-lightblue;
                    border-color: $luhr-bg-lightblue;
                }
            }
        }
    }
}

#special-offers {
    .promotion-title {
        color: $luhr-black;
    }
}

.pdp-main #page-background .product-info.column.tab-sec #tabs ul.ui-tabs-nav li.ui-state-active a,
.pdp-main #page-background .product-info.column.tab-sec #tabs ul.ui-tabs-nav li.active a,
.pdp-main #page-background .product-info.column.tab-sec #tabs ul.ui-tabs-nav li.ui-state-active a:hover,
.pdp-main #page-background .product-info.column.tab-sec #tabs ul.ui-tabs-nav li.active a:hover {
    color: #0078AE;
}

#tabs {
    ul {
        &.ui-tabs-nav {
            li {
                a {
                    &:hover {
                        span {
                            color: $luhr-bgdarkblue;
                        }
                    }
                }
                &.ui-state-active {
                    a {
                        span {
                            color: $luhr-bgdarkblue;
                        }
                    }
                }
            }
        }
    }
}

.owl-carousel {
    .owl-dot {
        span {
            background-image: url(../images/slideshow-counter.png);
        }
    }
}

.shop-brand {
    font-family: $luhr-Original;
    font-size: 18px;
    font-weight: bold;
    width: 210px;
}

.categorymenusnew {
    a {
        &:hover {
            color: $luhr-nav-lightblue;
            text-decoration: underline;
        }
        .count-products {
            color: $luhr-count-color;
        }
    }
    .category-top-level {
        &.active {
            a {
                color: $luhr-nav-lightblue;
                &:hover {
                    color: $luhr-nav-lightblue;
                    .count-products {
                        color: $luhr-nav-lightblue;
                    }

                }
                .count-products {
                    color: $luhr-nav-lightblue;
                }
            }
            ul {
                .count-products {
                    color: $luhr-count-color;
                }
            }
        }
        .category-top-level2 {
            li {
                &.active {
                    a {
                        color: $luhr-nav-lightblue;
                        text-decoration: underline;
                        .count-products {
                            color: $luhr-nav-lightblue;
                        }
                    }
                }
                a {
                    &:hover {
                        color: $luhr-nav-lightblue;
                        .count-products {
                            color: $luhr-nav-lightblue;
                        }
                    }
                }
            }
        }

    }
}

/* start of styles for my account page */
#container.pt_account {
    #primary.primary-content {
        .account-section {
            .label {
                .labeltext {
                    color: #666;
                    float: none;
                    font-size: 12px;
                    font-variant: normal;
                    font-weight: normal;
                    line-height: normal;
                    text-align: left;
                    width: auto;
                    font-family: $luhr-lucida;
                    padding: 0;
                    vertical-align: top;
                }
            }
            .returningcustomers {
                .form-row {
                    /* margin: 0px 0 16px 1px; */
                }
            }
            .custom-checkbox {
                float: left;
                margin: 2px 0 15px 0;
                padding: 0;
                width: 100%;
                position: relative;
            }
            .cell {
                margin: 25px 0 0 10px;
            }
            .upshift {
                .contentboxcontent.account-logs {
                    h1 {
                        padding: 8px 0 2px;
                    }
                }
            }
            .createan-account {
                margin-top: 23px;
                .contentboxcontent.new-register {
                    .registration {
                        .form-row {
                            /* margin: 15px 0 -3px 0px; */
                        }
                    }
                }
            }
        }
    }
}

/* end of styles for my account page */
.international-links-container {
    font-size: 13px;
}

.international-links-footer-product {
    height: 1px;
}

.international-investor-link {
    margin-top: 45px;
}

.international-investor-link a {
    line-height: 10px;
    float: none;
    padding-left: 0px;
}

.international-investor-link a:hover {
    padding-left: 0px;
}

#footernew {
    background-image: url(../images/footer-background.png);
    background-position: 50% 28px;
    .social-icons {
        #fallow-us-on {
            ul {
                .Facebook {
                    padding: 2px 35px 3px 3px;
                    margin: 8px 0 0 1px;
                }
                .you-tube {
                    margin-top: 14px;
                    padding: 0 15px 7px 0;
                }
                .Instagram {
                    margin-top: 12px;
                }
            }
        }
    }
}

form {
    .label {
        font-family: 'OriginalGaramondBT-Roman', "Times New Roman", Times, serif;
        font-weight: bold;
        color: #333;
        font-size: 16px;
        font-weight: bold;
        line-height: 16px;
        font-variant: initial;
        text-transform: uppercase;
    }
}

#vippage-background {
    form {
        .label {
            font-family: 'OriginalGaramondBT-Roman', "Times New Roman", Times, serif;
            font-weight: bold;
            color: #333;
            font-size: 16px !important;
            font-weight: bold !important;
            line-height: 16px !important;
            font-variant: initial;
            text-transform: uppercase;
        }
    }
}

.copyright {
    padding: 5px 18px 0 0;
}

#container {
    &.pt_account {
        .title {
            font-family: $luhr-Original !important;
        }
    }
}

@include respond(0, $desktop-breakpoint - 1) {
    #vippage-background {
        .disign-header-title,
        h1 {
            font-size: 20px;
            line-height: 22px;
            font-weight: bold;
        }
    }
    #content .homepage .column.cell3 .cell.downshift h1 {
        background-position: 130px 50% !important;
    }
    .pt_wish-list,
    .pt_leftnav-addressbook,
    .pt_order,
    .pt_leftnav-payment,
    .pt_leftnav-profile,
    .pt_acc_landing {
        #main {
            #page-background {
                #primary {
                    h1 {
                        font-size: 20px;
                        line-height: 22px;
                        font-variant: normal;
                    }
                }
            }
        }
    }
    .pt_customerservice {
        .style-cservice {
            .column {
                .left-content {
                    /*display:none;*/
                }
                .legacy {
                    h1 {
                        font-size: 20px;
                        line-height: 22px;
                        text-align: center;
                    }

                }
            }
        }
    }
    .pt_acc_landing {
        .content-asset {
            .account-options {
                li {
                    a {
                        h2 {
                            font-size: 20px;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
    }

    #container.pt_product-search-noresult {
        .breadcrumb {
            background: #ffffff url(../images/container-background-70.jpg) 50% 0 repeat-x !important;
        }
    }
    .desktop-view {
        display: none !important;
    }
    .pt_product-details {
        .pdp-main {
            .pdpmain-content {
                .productname {
                    font-size: 20px;
                    line-height: 22px;
                    font-variant: normal;
                }
            }
        }
    }
    .productdetail {
        a {
            &.filter {
                span {
                    font-style: normal;
                }
            }
        }
        .price {
            .salesprice {
                font-style: bold !important;
                font-size: 15px !important;
                color: $luhr-nav-lightblue !important;
            }
        }
    }
    .selected,
    .future {
        a {
            &.filter {
                background-color: #f1f1f1 !important;
                border-top: 1px solid #d0d0d0;
                border-right: 1px solid #e8e8e8;
                border-bottom: 1px solid #f8f8f8;
                border-left: 1px solid #e8e8e8;
                color: #333 !important;
                border-radius: 3px;
            }
        }
    }
    .current {
        a {
            &.filter {
                border: 1px solid #006688;
                background: rgba(53, 147, 191, 1);
                background: linear-gradient(to bottom, rgba(53, 147, 191, 1) 0%, rgba(0, 119, 174, 1) 100%);
                &:hover {
                    background: rgba(0, 119, 174, 1);
                    background: linear-gradient(to bottom, rgba(0, 119, 174, 1) 0%, rgba(53, 147, 191, 1) 100%);
                }
            }
        }
    }

    .pt_wish-list,
    .pt_leftnav-addressbook,
    .pt_order,
    .pt_leftnav-payment,
    .pt_account,
    .pt_product-search-result,
    .pt_content-search-result,
    .pt_leftnav-profile {
        .breadcrumb {
            background: #ffffff url(../images/container-background-70.jpg) 50% 0 repeat-x !important;
            height: auto !important;
            font-size: 13px;
            font-family: $luhr-lucida;
        }
    }
    .pt_product-search-result,
    .pt_content-search-result {
        .contentboxcontent {
            .left-nav-style {
                font-size: 20px;
                line-height: 22px;
                font-family: $luhr-Original;
            }
            h1 {
                &.leftnav {
                    font-size: 20px;
                    line-height: 22px;
                    font-family: $luhr-Original;
                }
            }
        }
    }

    .pt_storefront #footernew {
        top: 0px;
    }
    #footernew {
        background: none;
        .wrapper {
            .footer-main {
                background-image: url(../images/footer-background-responsive.png);
                margin: 0;
                width: 100%;
                .footer-left-section {
                    .footer-links {
                        #about, #customer-service, #More-ways-to-shop, #busniness, #rapala_insider, #follow_us {
                            background-color: #f1f1f1;
                            .social-icons {
                                background-color: #f1f1f1;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include respond(0, $medium-breakpoint) {
    .product-specifications {
        &.iphone-view {
            .specificiations {
                border: none;
                tbody {
                    border-bottom: 1px solid #ccc;
                    margin-bottom: 2em;
                    display: table;
                    width: 100%;
                    tr {
                        &:first-child {
                            th {
                                width: 100%;
                                background: #3594BF;
                                background: linear-gradient(to bottom, #3594BF 0%, #0078AE 100%);
                                color: #fff;
                                vertical-align: middle;
                                border: none;
                                border-top-left-radius: 3px;
                                border-top-right-radius: 3px;
                            }
                        }
                        td {
                            width: 50%;
                            float: left;
                            vertical-align: middle;
                            padding: 8px 13.5px;
                            box-sizing: border-box;
                            min-height: 31px;
                            display: block;
                            &:last-child {
                                border-right: 1px solid #ccc;
                            }
                        }
                        &:nth-child(even) {
                            background: #fff;
                        }
                        &:nth-child(odd) {
                            background: #E2EFF5;
                        }
                    }
                }
            }
        }
    }
    #container {
        &.pt_account {
            #primary {
                &.primary-content {
                    .account-section {
                        h1 {
                            &.title {
                                line-height: 22px;
                                font-size: 20px;
                                font-weight: 700;
                            }
                        }
                        .createan-account {
                            margin: 5px 0 0 0;
                        }
                        .upshift {
                            .contentboxcontent {
                                &.account-logs {
                                    h1 {
                                        padding: 0 0 30px 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .luhrjensen-background .logo {
        background: url(../images/Luhr-Jensen_mobile-bar.svg) no-repeat center transparent;
        float: left;
        width: 100%;
        margin: 20px 0 20px;
        min-height: 40px;
    }
    #vippage-background {
        #page {
            .vip-signup-top1 {
                h1 {
                    font-size: 36px;
                    line-height: 36px;
                }
            }
        }
    }
    #vippage-background {
        #page {
            .contentbox {
                .contentboxcontent {
                    h1 {
                        font-size: 25px !important;
                        line-height: 27px !important;
                    }
                }
            }
        }
    }
    #RegistrationForm {
        .label {
            span {
                &.labeltext {
                    font-size: 12px !important;
                    line-height: 12px;
                }
            }
        }
    }

    form {
        .label {
            font-size: 12px !important;
            line-height: 12px;
        }
    }
}

a.button:hover, button:hover {
    cursor: pointer;
    background: #3CF;
    text-decoration: none;
    border-top-color: #2BACD7;
    border-right-color: #32C7F9;
    border-bottom-color: #B1EBFF;
    border-left-color: #32C7F9;
    color: #FFFFFF;
}

.addTo-cart-section {
    a.button:hover, button:hover {
        cursor: pointer;
        background: linear-gradient(to bottom, rgba(0, 119, 174, 1) 0%, rgba(53, 147, 191, 1) 100%) !important;
        text-decoration: none;
        border-top-color: #2BACD7;
        border-right-color: #32C7F9;
        border-bottom-color: #B1EBFF;
        border-left-color: #32C7F9;
        color: #FFFFFF;
    }
}

.product-specifications {
    .specificiations {
        thead {
            tr {
                background: #3594BF;
                background: linear-gradient(to bottom, #3594BF 0%, #0078AE 100%);
                color: #fff;
            }
        }
        tbody {
            tr {
                &.evenrow {
                    background: #E2EFF5;
                }
            }
        }
    }
}

#container.pt_error {
    #primary.primary-content {
        .errorpage {
            fieldset.nohitsearch {
                input.box {
                    background: url("../images/search-full-luhrjensen.png") no-repeat scroll 0 0 transparent;
                }
                button.btn {
                    background: url("../images/search-full-luhrjensen.png") no-repeat scroll right top $luhr-bgblue;
                    transition: none;
                    &:hover {
                        background: url("../images/search-full-luhrjensen.png") no-repeat $luhr-bg-lightblue;
                        background-position: -202px -28px;
                        transition: none;
                    }
                }
            }
            .errorfooter {
                .errorfooterbottom {
                    .content-asset {
                        div {
                            font-size: 14.3px;
                        }
                    }
                }
            }
        }
    }
}

.pt_account.acc_landing {
    .content-asset {
        .account-options {
            li {
                h2 {
                    text-align: center;
                    background: none;
                    font-family: $luhr-Original;
                    font-size: 36px;
                    font-variant: small-caps;
                    font-weight: normal;
                }
                &:hover {
                    background-color: $luhr-bg-lightblue;
                    border-color: $luhr-bg-lightblue;
                    a, h2, p {
                        color: $luhr-white;
                    }
                }
            }
        }
    }
}

.pt_product-search-result {
    #page-background {
        #primary {
            .contentboxcontent {
                h1 {
                    &.left-nav-style {
                        color: $luhr-black;
                        font-family: $luhr-Original;
                        font-size: 18px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.product-tile {
    .product-image {
        .quickview {
            font-family: $luhr-times;
            background-color: $luhr-bgdarkblue;
            border-style: solid;
            border-width: 1px;
            border-top-color: $luhr-borderblueone;
            border-right-color: $luhr-borderbluetwo;
            border-bottom-color: $luhr-borderbluethree;
            border-left-color: $luhr-borderbluefour;
            color: white;
        }
        .quickview:hover {
            color: white;
            background-color: $luhr-bg-lightblue;
            text-decoration: none;
            border-top-color: $luhr-borderbluelightone;
            border-right-color: $luhr-borderbluelighttwo;
            border-bottom-color: $luhr-borderbluelightthree;
            border-left-color: $luhr-borderbluelightfour;
        }
    }
}

.pt_product-search-result {
    #page-background {
        #primary {
            .search-result-content {
                .product-tile {
                    .product-image {
                        .quickview {
                            font-family: $luhr-times;
                            background-color: $luhr-bgdarkblue;
                            border-style: solid;
                            border-width: 1px;
                            border-top-color: $luhr-borderblueone;
                            border-right-color: $luhr-borderbluetwo;
                            border-bottom-color: $luhr-borderbluethree;
                            border-left-color: $luhr-borderbluefour;
                            color: white;
                        }
                        .quickview:hover {
                            color: white;
                            background-color: $luhr-bg-lightblue;
                            text-decoration: none;
                            border-top-color: $luhr-borderbluelightone;
                            border-right-color: $luhr-borderbluelighttwo;
                            border-bottom-color: $luhr-borderbluelightthree;
                            border-left-color: $luhr-borderbluelightfour;

                        }
                    }
                }
            }
        }
    }
}

.pt_product-search-result {
    #page-background {
        #primary {
            .search-result-content {
                .product-tile {
                    .product-name {
                        a {
                            color: $luhr-black;
                        }
                        a:hover {
                            text-decoration: none;
                            color: #0069a6;
                        }
                    }
                }
            }
        }
    }
}

.pt_product-search-result {
    #page-background {
        #primary {
            .search-result-content {
                .product-tile {
                    .product-swatches-all {
                        color: $luhr-bgdarkblue;
                    }
                    .product-swatches-all:hover {
                        text-decoration: underline;
                        color: #0069a6 !important;
                    }
                }
            }
        }
    }
}

.pt_product-search-result {
    #page-background {
        #primary {
            .search-result-content {
                .product-tile {
                    .product-pricing {
                        .product-sales-price {
                            color: $luhr-gray;
                            font-size: 11px;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }
}

.pt_product-search-result {
    #page-background {
        #primary {
            .search-result-content {
                .product-tile {
                    .product-swatches {
                        img:hover {
                            border: 1px solid $luhr-bg-lightblue;
                            height: 12px;
                            margin: 0px;
                            padding: 0px;
                            width: 12px;

                        }
                        .selected img {
                            border-color: $luhr-bg-lightblue;
                        }
                    }
                }
            }
        }
    }
}

.pt_product-search-result {
    #page-background {
        #primary {
            .search-result-content {
                .product-tile {
                    .product-promo {
                        text-align: left;
                        color: $luhr-red;
                        font-family: $luhr-lucida;
                        font-size: 10px;
                        padding-top: 3px;
                        font-weight: normal;
                        line-height: 14px;
                    }
                }
            }
        }
    }
}

.pt_content-search-result {
    #page-background {
        #primary {
            #tabs {
                ul {
                    &.search-tabs {
                        li {
                            &.active {
                                a {
                                    span {
                                        color: $luhr-bgdarkblue;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .folder-content-list {
                li {
                    a {
                        font-family: $luhr-Original;
                        color: $luhr-light-black;
                        font-size: 18px;
                        line-height: 18px;
                        font-weight: bold;
                    }
                    p {
                        font-family: $luhr-Original;
                        color: $luhr-light-black;
                        font-size: 13px;
                        a {
                            &.readmore {
                                font-family: $luhr-times;
                                color: $luhr-bgdarkblue;
                                &:hover {
                                    color: $luhr-bg-lightblue;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.pt_customerservice {
    .contentboxcontent {
        h1 {
            text-transform: uppercase;
            margin-bottom: 20px;
        }
    }
    .accordion {
        &.tabover {
            background: none repeat scroll 0 0 $luhr-bg-lightblue;
            h1 {
                background: url(../images/arrow-filter-collapse-big.png) 0 0 no-repeat;
                a {
                    color: $luhr-white;
                }
            }
        }
    }
}

.registration {
    .custom_signup {
        .form-row {
            .field-wrapper {
                .textinput {
                    margin-top: 2px;
                }
            }
        }
    }
}

#headerwrapper {
    #header {
        .row {
            &.column1 {
                .headercustomerinfo {
                    .change-regionnew {
                        padding: 9px 12px 8px 0;
                    }
                }
            }
        }
    }
}

#footernew {
    .change-region {
        padding: 6px 18px 8px 0;
    }
}

@include respond(0, $desktop-breakpoint - 1) {
    #headerwrapper #header div.logo {
        margin: 23px 0;
    }
}

.pt_product-details {
    .productdetail {
        .wrapper {
            ~ #page-background {
                .product-info {
                    &.column {
                        &.tab-sec {
                            #tabs {
                                ul {
                                    &.ui-tabs-nav {
                                        li {
                                            &.ui-state-active {
                                                a {
                                                    background-image: none;
                                                    background: #0069a6; /* Old browsers */
                                                    background: linear-gradient(to bottom, #0069a6 10%, rgba(255, 255, 255, 1) 10%, #0069a6 10%, rgba(255, 255, 255, 1) 10%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.quickview {
    .ui-dialog-titlebar-close {
        .ui-icon {
            background-image: url(../images/close-button.png);
            &:hover {
                background-position: 0 -34px;
            }
        }
    }
}

.productdetail {
    .price {
        .standardprice {
            color: #999;
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 24px;
        }
    }
}

.variationattributes {
    .swatches {
        ul {
            li {
                a {
                    span {
                        color: #e80000;
                    }
                }
            }
        }
    }
}

.variationattributes {
    .swatches {
        ul {
            li {
                a {
                    &:hover {
                        span {
                            color: #0078ae;
                        }
                    }
                }
                &.selected {
                    a {
                        span {
                            color: #0078ae;
                        }
                        &:hover {
                            span {
                                color: #0078ae;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*about-us*/
.nav-group {
    li.first-level-no-children {
        a {
            &:hover {
                color: #0078AE;
                text-decoration: none;
            }
        }
    }
}

@include respond(0, $desktop-breakpoint - 1) {
    .pt_customerservice {
        #content {
            .column3.about-us {
                .contentbox.secondbox {
                    .left-content {
                        .nav-group {
                            li {
                                &.active {
                                    background: none repeat scroll 0 0 #3CF;
                                    border-top: 1px solid #3CF;
                                    border-right: 1px solid #3CF;
                                    border-bottom: 1px solid #3CF;
                                    border-left: 1px solid #3CF;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
                .column {
                    .contentboxcontent {
                        h1 {
                            font-size: 20px;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
    }

}

.pt_customerservice {
    #content {
        .customer {
            .cell {
                .contentboxcontent {
                    h1 {
                        font-size: 20px;
                        line-height: 22px;
                        font-family: $luhr-Gara;
                    }
                }
            }
        }
    }
}

.pt_customerservice {
    .style-cservice {
        .column {
            .contentbox {
                .left-nav-top {
                    .contentboxcontent {
                        .nav-group {
                            padding: 0;
                            li {
                                &.first-level {
                                    .second-level {
                                        li {
                                            &.active {
                                                a {
                                                    color: $luhr-nav-lightblue;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.pt_customerservice {
    .style-cservice {
        .column {
            .contentbox {
                .left-nav-top {
                    .contentboxcontent {
                        h2.left-nav-style {
                            padding: 13.5px 0;
                            font-size: 20px;
                            line-height: 22px;
                            font-family: $luhr-Gara;
                        }
                    }
                }
            }
        }
    }
}

.pt_customerservice {
    #content {
        .productsearchbreadcrumb, .breadcrumb {
            background: #ffffff url(../images/container-background-70.jpg) 50% 0 repeat-x;
        }
    }
}

@include respond(0, $desktop-breakpoint - 1) {
    .pt_customerservice {
        #content {
            .column3.about-us {
                .column.colspan2 {
                    .cell.upshift {
                        &.tabover {
                            background: none repeat scroll 0 0 #3CF;
                            a {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
    .pt_customerservice {
        #content {
            .style-cservice {
                .column {
                    &.colspan2 {
                        h1 {
                            font-size: 20px;
                            line-height: 22px;
                            font-family: $luhr-Gara;
                        }
                        .cellbox {
                            &.accordion {
                                &.tabover {
                                    .folder-contentboxcontent {
                                        background: none repeat scroll 0 0 $luhr-bg-lightblue;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.paymentinstruments {
    .label {
        text-transform: uppercase;
        padding-bottom: 2px;
        color: #333;
        font-family: 'OriginalGaramondBT-Roman', "Times New Roman", Times, serif;
        font-weight: bold;
        font-size: 16px;
        line-height: 17px;
    }
}

.ui-dialog {
    &.payment-settings {
        .dialog-content {
            .creditcardform {
                .credit-cart-form-title {
                    margin: 0;
                    width: 100%;
                    font-style: normal;
                    font-size: 28px;
                    line-height: 28px;
                }
                #CreditCardForm {
                    .form-row {
                        .field-wrapper {
                        }
                    }
                }
            }
        }
    }
}

.tab-sec {
    #tabs {
        ul {
            &.ui-tabs-nav {
                li {
                    a {
                        &:hover {
                            span {
                                color: #0078AE;
                            }
                        }
                    }
                    &.ui-state-active {
                        a {
                            span {
                                color: #0078AE;
                            }
                        }
                    }
                }
            }
        }
    }
}

.small-new {
    &.new-stamp {
        border-radius: 15px;
        background-color: #33CBFE;
        font-style: italic;
        font-family: sans-serif;
        font-weight: normal;
        font-size: 10px;
        color: #fff;
        padding: 1px 5px;
        margin-right: 3px;
        width: auto !important;
        vertical-align: top;
        margin-top: 4px;
        float: left;
    }
    &.new-stamp-big {
        border-radius: 15px;
        background-color: #33CBFE;
        font-style: italic;
        font-family: sans-serif;
        font-weight: normal;
        font-size: 12px;
        color: #fff;
        padding: 4px 8px;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.65);
        margin-right: 3px;
        position: inherit;
        top: -5px;
    }
}

.newFlagColorSize, .newPakSizeFlag {
    .new-colors-snipe, .new-sizes-snipe, .new-pak-size {
        border-radius: 15px;
        background-color: #33CBFE;
        font-style: italic;
        font-family: sans-serif;
        font-weight: normal;
        font-size: 10px;
        color: #fff;
        padding: 1px 5px;
        margin-right: 3px;
    }
}

.variationattributes {
    .color {
        ul {
            li {
                a {
                    span {
                        &.corner-ribbon {
                            background-color: #00CEFE;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

.productdetail {
    #special-offers {
        ul {
            li {
                color: $luhr-nav-lightblue;
            }
        }
    }
}

.productdetail .price .price-sales {
    color: #0069a6;
}