$luhr-Original: 'OriginalGaramondBT-Roman', "Times New Roman", Times, serif;
$luhr-lucida: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
$luhr-times: "Times New Roman", Times, 'OriginalGaramondBT-Roman', serif;
$luhr-Basker: Baskerville, "Times New Roman", Times, serif;
$luhr-Gara: Garamond Bold;

$luhr-bgblue: #2BACD7;
$luhr-bgdarkblue: #0078AE;
$luhr-bg-lightblue: #3cf;
$luhr-lightbg: #f1f1f1;
$luhr-nav-lightblue: #0069a6;
$luhr-count-color: #4d4d4d;
$luhr-white: #ffffff;
$luhr-black: #000;
$luhr-light-black: #333333;
$luhr-gray: #999;
$luhr-red: #E80000;

// border-color //
$luhr-borderblueone: #006593;
$luhr-borderbluetwo: #0075AA;
$luhr-borderbluethree: #9DCBE0;
$luhr-borderbluefour: #0075AA;

$luhr-borderbluelightone: #2BACD7;
$luhr-borderbluelighttwo: #32C7F9;
$luhr-borderbluelightthree: #B1EBFF;
$luhr-borderbluelightfour: #32C7F9;