//color//
$rap-red: #E80000;
$rap-black:#333333;
$rap-white:#ffffff;
$rap-blackdark: #000;
$rap-night-rider: #333;
$rap-grey-dip:#999999;
$rap-gray: #999;
$rap-cusservice-color:#ccc;
$rap-lightpure-red:#D70000;
$rap-light-pink:#FFE1E1;
$rap-light-grey: #ccc;
//background//
$rap-bgred:$rap-red;
$rap-bggrey:#c8beb3;
$rap-bgredone: #D80000;
$rap-dark-grey:#4d4d4d;


//border color//
$rap-borderone: #C40000;
$rap-bordertwo: #E30000;
$rap-borderthree: #F69D9D;



//font-family//
$rap-font: "ArtcraftURW-Reg", "Times New Roman", Times, Serif;
$rap-font1:Artcraft, "ArtcraftURW-Reg", "Times New Roman", Times, Serif;
$rap-font-bold: 'ArtcraftURW-Bol';
$rapglobal-font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode","Trebuchet MS",Helvetica,Arial,sans-serif;

$rap-input-qty-color: $rap-red;
$rap-input-qty-border-color: $rap-red;
$rap-filter-bg-color: $rap-red;