@import url("../css/MyFontsWebfontsKit.css");
.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.menu {
  float: left;
  margin: 0;
  padding: 0; }
  .menu li {
    float: left;
    list-style: none outside none !important; }

/* fontcolor */
/* background */
/* font-family */
body {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background: #fff url(../images/container-background-70.jpg) 50% 0 no-repeat; }

body.js-body {
  background: none; }

body .js-container-active .open-menu-wrap {
  background: #fff url(../images/container-background-70.jpg) 50% -105px no-repeat; }

h1,
.h-one-tag {
  font-family: "SerpentineD-Bol", Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
  color: #000; }

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  text-transform: uppercase;
  color: #000; }

h3 {
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  line-height: 16px;
  text-transform: none;
  color: #333; }

h4 {
  font-family: "SerpentineD-Bol", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  text-transform: uppercase;
  color: #000; }

h5 {
  font-family: "SerpentineD-Bol", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  text-transform: uppercase;
  color: #000; }

h6 {
  font-family: "SerpentineD-Bol", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
  text-transform: uppercase;
  color: #000; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #000;
  text-decoration: none; }
  h1 a:hover,
  h2 a:hover,
  h3 a:hover,
  h4 a:hover,
  h5 a:hover,
  h6 a:hover {
    color: #EE2E24;
    text-decoration: none; }

p {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  word-spacing: normal;
  line-height: 18px;
  padding: 9px 0;
  text-align: left; }

a {
  color: #EE2E24;
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    color: #EE2E24;
    text-decoration: underline; }

a.filter {
  background-image: "";
  background-color: #e42113;
  background: linear-gradient(to bottom, #e42113 0%, #a81201 100%);
  background-repeat: no-repeat;
  border-width: 1px;
  border-style: solid;
  border-top-color: #C3261E;
  border-right-color: #A82019;
  border-bottom-color: #F04A41;
  border-left-color: #F2625B;
  clear: left;
  color: #fff !important;
  display: block;
  float: left;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
  margin: 18px 0 0;
  padding: 5px 28px 5px 10px;
  text-transform: uppercase;
  width: 184px; }
  a.filter:hover {
    background-image: none;
    background-color: #a81201;
    background: linear-gradient(to bottom, #a81201 0%, #e42113 100%);
    text-decoration: none;
    color: #999; }

h1 a, h4 a, h5 a, h6 a {
  font-weight: normal; }

h1, .h-one-tag {
  margin: 0; }

.productdetail .price .salesprice {
  color: #e42213;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px; }

h1.left-nav-style {
  font-size: 28px;
  line-height: 28px; }

h2.input-style {
  font-size: 14px;
  line-height: 16px; }

/*buttons*/
a.button, button {
  margin: 0;
  display: block;
  clear: left;
  float: left;
  height: 28px;
  line-height: 28px;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #fff;
  padding: 0 17px 0 17px;
  background-color: #EE2E24;
  border-width: 1px;
  border-style: solid;
  border-top-color: #C3261E;
  border-right-color: #A82019;
  border-bottom-color: #F04A41;
  border-left-color: #F2625B; }

h1 sup {
  top: -1px; }

a.button:hover, button:hover {
  text-decoration: none;
  cursor: pointer;
  color: #6D0100; }

.addTo-cart-section a.button:hover, .addTo-cart-section button:hover {
  text-decoration: none;
  cursor: pointer;
  background: linear-gradient(to bottom, #a81201 0%, #e42113 100%) !important; }

a {
  color: #EE2E24;
  text-decoration: none; }

a:hover {
  text-decoration: underline;
  cursor: pointer; }

p {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  word-spacing: normal;
  line-height: 18px;
  padding: 9px 0 9px 0; }

p a {
  color: #EE2E24;
  font-weight: bold; }

h1.search-result {
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 36px; }

form .label {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  padding-bottom: 2px; }
  @media only screen and (min-width: 0) and (max-width: 480px) {
    form .label {
      line-height: 12px; } }

.pt_customerservice .pro-detail h2 {
  font-family: "SerpentineD-Bol", Arial, Helvetica, sans-serif; }

#vippage-background form .label {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  color: #333 !important;
  text-transform: uppercase;
  font-size: 14px !important;
  line-height: 16px !important;
  font-weight: bold !important;
  padding-bottom: 2px; }
  @media only screen and (min-width: 0) and (max-width: 480px) {
    #vippage-background form .label {
      line-height: 12px; } }

.pt_store-locator .storelocator h1 {
  text-transform: uppercase;
  font-vairant: normal; }

.pt_acc_landing .content-asset .account-options li {
  transition: none; }
  .pt_acc_landing .content-asset .account-options li a {
    transition: none; }
    .pt_acc_landing .content-asset .account-options li a h2 {
      font-family: "SerpentineD-Bol", Arial, Helvetica, sans-serif;
      font-size: 28px;
      line-height: 28px;
      padding: 12px 0; }
    .pt_acc_landing .content-asset .account-options li a p {
      text-transform: capitalize; }
  .pt_acc_landing .content-asset .account-options li:hover {
    background: #EE2E24;
    border-color: #EE2E24;
    transition: none; }
    .pt_acc_landing .content-asset .account-options li:hover h2 {
      color: #6D0100; }
    .pt_acc_landing .content-asset .account-options li:hover p {
      color: #6D0100; }
    .pt_acc_landing .content-asset .account-options li:hover i {
      color: #6D0100; }

.pt_leftnav-profile #primary #RegistrationForm legend {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif; }

.pt_leftnav-profile #primary #RegistrationForm .form-row .label .labeltext {
  color: #333;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px; }

.pt_leftnav-profile #primary #RegistrationForm .form-row .label .requiredindicator {
  font-size: 14px; }

.pt_order .search-result-items li .order-history-items .order-history-table th {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold; }

.pt_order .search-result-items li .order-history-items .order-history-table tr .order-price .value {
  font-family: Baskerville, "Times New Roman", Times, serif;
  color: #EE2E24;
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
  line-height: 30px; }

.pt_wish-list #main .item-details .product-list-item span.price-sales {
  color: #e42213;
  font-size: 15px; }

.pt_leftnav-addressbook #addresses .address-list .address-tile .mini-address-title {
  color: #333;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase; }

.ui-dialog.addressadd #dialog-container .form-horizontal .form-row.form-row-button button.simple {
  background-color: #EE2E24;
  color: #fff; }
  .ui-dialog.addressadd #dialog-container .form-horizontal .form-row.form-row-button button.simple:hover {
    background-color: #D80000;
    color: #fff; }

.orderdetails .order-information .order-number .label {
  font-family: "SerpentineD-Bol", Arial, Helvetica, sans-serif;
  color: #000;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
  font-style: normal; }

.orderdetails .order-information .order-number .value {
  font-weight: normal; }

.orderdetails .order-payment-summary .label,
.orderdetails .order-billing .label,
.orderdetails .order-shipment-address .label,
.orderdetails .line-item-details .label,
.orderdetails .line-item-quantity .label,
.orderdetails .line-item-price .label {
  color: #333;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase; }

.orderdetails .line-items .line-item .line-item-price {
  font-family: Baskerville, "Times New Roman", Times, serif;
  color: #EE2E24;
  font-weight: bold;
  font-style: italic;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0px; }
  .orderdetails .line-items .line-item .line-item-price .label {
    color: #333;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase; }

.productdetail .addtocartbar .addtocart button.addtocartbutton {
  float: left;
  width: calc(100% - 50px);
  height: 40px;
  line-height: 40px;
  background-image: none;
  background: #e42113;
  background: linear-gradient(to bottom, #e42113 0%, #a81201 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e42113', endColorstr='#a81201', GradientType=0);
  transition: inherit;
  text-transform: inherit;
  border: none; }

.productdetail .addtocartbar .addtocart .quantity .label {
  font-size: 13px !important;
  font-style: normal;
  font-weight: normal !important;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif; }

.productdetail .label {
  font-size: 12px !important;
  font-style: italic;
  font-variant: normal;
  font-weight: bold;
  line-height: inherit !important;
  color: #999 !important; }

.featuredesc .description h2,
.featuredesc .prodfeature h2 {
  text-transform: capitalize; }

.featuredesc .prodfeature ul li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px; }

.owl-carousel .owl-dot span {
  background-image: url(../images/slideshow-counter.png); }

#header #userinfo li a {
  font-weight: normal; }

#headerwrapper #header .row.column1 #minicart #multi-site-one-cart span {
  color: #fff;
  font-weight: normal;
  background-image: url(../images/multi-site-one-cart-bg.png);
  width: 58px;
  border-radius: 5px; }

#special-offers .promotion-title {
  color: #333; }

.productdetail a.filter span {
  color: #fff;
  font-size: 12px;
  font-weight: normal; }

a.filter {
  border: 1px solid #EE2E24; }

#headerwrapper #header .row.column1 #minicart a.minicart-button {
  color: #e80000; }

#headerwrapper #header .row.column1 #minicart a.minicart-checkout-button {
  background: linear-gradient(to bottom, #e42213 60%, #a81101 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$vmc-gradient1', endColorstr='$vmc-gradient2', GradientType=0);
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 7px 0;
  height: 17px;
  text-indent: 0;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 11px;
  border-radius: 0 5px 5px 0; }

.pt_product-search-result #page-background #primary .contentboxcontent h1.leftnav {
  color: #000;
  font-family: "SerpentineD-Bol", Arial, Helvetica, sans-serif;
  font-size: 29px;
  float: left;
  font-weight: normal; }

.product-tile .product-image .quickview {
  color: #fff;
  background-color: #EE2E24;
  border-width: 1px;
  border-style: solid;
  border-top-color: #C3261E;
  border-right-color: #A82019;
  border-bottom-color: #F04A41;
  border-left-color: #F2625B; }

.product-tile .product-image .quickview:hover {
  color: #6D0100;
  background-color: #EE2E24;
  text-decoration: none;
  border-top-color: #C3261E;
  border-right-color: #A82019;
  border-bottom-color: #F04A41;
  border-left-color: #F2625B; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-image .quickview {
  color: #fff;
  background-color: #EE2E24;
  border-width: 1px;
  border-style: solid;
  border-top-color: #C3261E;
  border-right-color: #A82019;
  border-bottom-color: #F04A41;
  border-left-color: #F2625B; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-image .quickview:hover {
  color: #6D0100;
  background-color: #EE2E24;
  text-decoration: none;
  border-top-color: #d0d0d0;
  border-right-color: #e8e8e8;
  border-bottom-color: #f8f8f8;
  border-left-color: #e8e8e8; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-swatches-all:hover {
  color: #e42213 !important; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-name a {
  color: #000; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-name a:hover {
  text-decoration: none;
  color: #e42213; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-pricing .product-sales-price {
  color: #999;
  font-size: 12px;
  font-weight: bold; }

.categorymenusnew a:hover {
  color: #e80000; }
  .categorymenusnew a:hover .count-products {
    color: #e80000; }

.categorymenusnew a .count-products {
  color: #4d4d4d; }

.categorymenusnew .category-top-level.active ul a:hover {
  color: #e80000; }

.categorymenusnew .category-top-level .category-top-level2 li.active a {
  color: #e80000;
  text-decoration: underline; }
  .categorymenusnew .category-top-level .category-top-level2 li.active a .count-products {
    color: #e80000; }

.categorymenusnew .category-top-level .category-top-level2 li a:hover {
  color: #e80000; }

.shop-brand {
  font-family: "SerpentineD-Bol", Arial, Helvetica, sans-serif;
  font-size: 29px;
  line-height: 22px;
  padding: 15px 0 5px !important;
  font-weight: normal; }

#container.pt_account #primary.primary-content .account-section .label .labeltext {
  color: #666;
  float: none;
  font-size: 12px;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-align: left;
  width: auto;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  padding: 0; }

#container.pt_account #primary.primary-content .account-section .returningcustomers .form-row {
  /* margin: -1px 0 18px 0; */ }

#container.pt_account #primary.primary-content .account-section .custom-checkbox {
  float: left;
  margin: -4px 0 15px 0;
  padding: 0;
  width: 100%;
  position: relative; }

#container.pt_account #primary.primary-content .account-section .cell {
  margin: 25px 0 0 10px; }

#container.pt_account #primary.primary-content .account-section .upshift .contentboxcontent.account-logs h1 {
  padding: 0; }

#container.pt_account #primary.primary-content .account-section .createan-account .contentboxcontent.new-register .registration .form-row {
  /* margin: 15px 0 -3px 0px; */ }

.international-links-container {
  font-size: 12px; }

.international-investor-link {
  margin-top: 65px;
  display: none; }

.international-investor-link a:hover {
  padding-left: 0px; }

.international-investor-link .content-asset {
  display: none; }

#footernew {
  background-image: url(../images/footer-background.png);
  background-position: 50% 28px; }

/* start of footer styles */
#footernew {
  background-image: url(../images/footer-background.png);
  background-position: 50% 28px; }
  #footernew .social-icons #fallow-us-on ul .Facebook {
    padding: 2px 35px 2px 3px;
    margin: 7px 0 0 0;
    height: 19px; }
  #footernew .social-icons #fallow-us-on ul .you-tube {
    margin-top: 13px; }
  #footernew .social-icons #fallow-us-on ul .Instagram {
    margin-top: 14px; }

#footernew .email-subscribe input.emailinput {
  padding: 0 9px 0 7px; }

.copyright {
  padding: 5px 18px 0 0; }

.pt_content-search-result #page-background #primary .folder-content-list li a {
  font-size: 18px;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif; }

.pt_content-search-result #page-background #primary .resultshits h2 {
  text-transform: none; }

@media only screen and (min-width: 0) and (max-width: 480px) {
  #container.pt_account #primary.primary-content .account-section h1.title {
    line-height: 27px; }
  #container.pt_account #primary.primary-content .account-section .createan-account {
    margin: 5px 0 0 0; }
  #container.pt_account #primary.primary-content .account-section .upshift .contentboxcontent.account-logs h1 {
    padding: 0 0 30px 0; }
  .product-specifications.iphone-view .specificiations {
    border: none; }
    .product-specifications.iphone-view .specificiations tbody {
      border-bottom: 1px solid #ccc;
      margin-bottom: 2em;
      display: table;
      width: 100%; }
      .product-specifications.iphone-view .specificiations tbody tr:nth-child(2n + 3) {
        background: #FFE1DE; }
      .product-specifications.iphone-view .specificiations tbody tr:first-child th {
        background: #e42213;
        background: linear-gradient(to bottom, #e42213 0%, #a81101 100%);
        color: #fff;
        padding: 8px 13.5px;
        width: 100%;
        margin: 0;
        vertical-align: middle;
        border: none;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px; }
      .product-specifications.iphone-view .specificiations tbody tr.evenrow {
        background: #FFE1DE; }
      .product-specifications.iphone-view .specificiations tbody tr td {
        border-right: 1px solid #ccc;
        width: 50%;
        float: left;
        vertical-align: middle;
        padding: 8px 13.5px;
        box-sizing: border-box;
        min-height: 31px;
        display: block; } }

@media only screen and (min-width: 0) and (max-width: 959px) {
  #vippage-background .disign-header-title,
  #vippage-background h1 {
    font-size: 25px;
    line-height: 27px;
    font-weight: normal; }
  .pt_wish-list #main #page-background #primary h1,
  .pt_leftnav-addressbook #main #page-background #primary h1,
  .pt_order #main #page-background #primary h1,
  .pt_leftnav-payment #main #page-background #primary h1,
  .pt_leftnav-profile #main #page-background #primary h1,
  .pt_acc_landing #main #page-background #primary h1 {
    font-size: 25px;
    line-height: 27px;
    font-variant: normal; }
  .pt_acc_landing .content-asset .account-options li a h2 {
    font-size: 20px;
    line-height: 22px; }
  #container.pt_product-search-noresult .breadcrumb {
    background: #f1f1f1; }
  .pt_product-details .pdp-main .pdpmain-content .productname {
    font-size: 25px;
    line-height: 27px;
    font-variant: normal; }
  .productdetail .price {
    font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif; }
    .productdetail .price .salesprice {
      font-style: bold;
      font-size: 15px !important;
      color: #e42213 !important; }
  .selected a.filter,
  .future a.filter {
    background-color: #f1f1f1 !important;
    border-width: 1px;
    border-style: solid;
    border-top-color: #d0d0d0;
    border-right-color: #e8e8e8;
    border-bottom-color: #f8f8f8;
    border-left-color: #e8e8e8;
    color: #333 !important;
    border-radius: 3px; }
  .current a.filter {
    border: 1px solid #9E0000;
    background: #e42113;
    background: linear-gradient(to bottom, #e42113 0%, #a81201 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e42113', endColorstr='#a81201', GradientType=0); }
    .current a.filter:hover {
      background: #a81201;
      background: linear-gradient(to bottom, #a81201 0%, #e42113 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a81201', endColorstr='#e42113', GradientType=0); }
  .pt_wish-list .breadcrumb,
  .pt_leftnav-addressbook .breadcrumb,
  .pt_order .breadcrumb,
  .pt_leftnav-payment .breadcrumb,
  .pt_account .breadcrumb,
  .pt_product-search-result .breadcrumb,
  .pt_content-search-result .breadcrumb,
  .pt_leftnav-profile .breadcrumb {
    background: #f1f1f1 !important; }
  .pt_wish-list .title,
  .pt_leftnav-addressbook .title,
  .pt_order .title,
  .pt_leftnav-payment .title,
  .pt_account .title,
  .pt_product-search-result .title,
  .pt_content-search-result .title,
  .pt_leftnav-profile .title {
    font-family: "SerpentineD-Bol", Arial, Helvetica, sans-serif; }
  .pt_storefront #footernew {
    top: 0px; }
  #footernew {
    background: none; }
    #footernew .wrapper .footer-main {
      background-image: url(../images/footer-background-responsive.png);
      margin: 0;
      width: 100%;
      box-shadow: none; }
      #footernew .wrapper .footer-main .footer-left-section .footer-links #about, #footernew .wrapper .footer-main .footer-left-section .footer-links #customer-service, #footernew .wrapper .footer-main .footer-left-section .footer-links #More-ways-to-shop, #footernew .wrapper .footer-main .footer-left-section .footer-links #busniness, #footernew .wrapper .footer-main .footer-left-section .footer-links #rapala_insider, #footernew .wrapper .footer-main .footer-left-section .footer-links #follow_us {
        background-color: #f1f1f1; }
        #footernew .wrapper .footer-main .footer-left-section .footer-links #about .social-icons, #footernew .wrapper .footer-main .footer-left-section .footer-links #customer-service .social-icons, #footernew .wrapper .footer-main .footer-left-section .footer-links #More-ways-to-shop .social-icons, #footernew .wrapper .footer-main .footer-left-section .footer-links #busniness .social-icons, #footernew .wrapper .footer-main .footer-left-section .footer-links #rapala_insider .social-icons, #footernew .wrapper .footer-main .footer-left-section .footer-links #follow_us .social-icons {
          background-color: #f1f1f1; }
  .pt_product-search-result .breadcrumb,
  .pt_content-search-result .breadcrumb {
    background: #f1f1f1 !important;
    height: auto !important; }
  .pt_product-search-result .contentboxcontent .left-nav-style,
  .pt_content-search-result .contentboxcontent .left-nav-style {
    font-size: 25px;
    line-height: 27px; }
  .pt_product-search-result .contentboxcontent h1.leftnav,
  .pt_content-search-result .contentboxcontent h1.leftnav {
    font-size: 25px;
    line-height: 27px;
    font-weight: normal; } }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .vmc-background .logo {
    background: url(../images/VMC-logo_mobile-bar.svg) no-repeat center transparent;
    float: left;
    width: 100%;
    margin: 20px 0 20px;
    min-height: 40px; } }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-swatches img:hover {
  border: 1px solid #e80000;
  height: 12px;
  margin: 0px;
  padding: 0px;
  width: 12px; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-swatches .selected img {
  border-color: #FFF200; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-swatches .selected img:hover {
  border: 1px solid #e80000; }

.pt_product-search-result #page-background #primary .search-result-content .product-tile .product-promo {
  text-align: left;
  color: #e80000;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 10px;
  padding-top: 3px;
  font-weight: normal;
  line-height: 14px; }

.pt_customerservice .contentboxcontent h1 {
  text-transform: uppercase;
  margin-bottom: 20px; }

.pt_customerservice .accordion.tabover h1 {
  color: #6D0100;
  background: url(../images/arrow-filter-collapse-big-6d0100.png) 0 0 no-repeat; }

.pt_customerservice #top-questions ol {
  margin: 0; }

.pt_customerservice .folder-customerservicetabs a {
  text-transform: initial; }

#fast-facts h1 {
  font-weight: bold; }

#fast-facts ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  #fast-facts ul li {
    padding: 10px 10px 10px 0; }

.registration .custom_signup .form-row .field-wrapper .textinput {
  margin-top: 2px; }

#headerwrapper #header .row.column1 .headercustomerinfo .change-regionnew {
  padding: 9px 12px 8px 0; }

#footernew .change-region {
  padding: 6px 18px 8px 0; }

@media only screen and (min-width: 0) and (max-width: 959px) {
  .pt_cart #main .breadcrumb {
    background: #f1f1f1; }
  #headerwrapper #header div.logo {
    margin: 22.5px 0; } }

.pt_product-details .productdetail .wrapper ~ #page-background .product-info.column.tab-sec #tabs ul.ui-tabs-nav li.ui-state-active a {
  background-image: none;
  background: #e42213;
  /* Old browsers */
  background: linear-gradient(to bottom, #e42213 10%, white 10%, #e42213 10%, white 10%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e80000', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */ }

.quickview .ui-dialog-titlebar-close .ui-icon {
  background-image: url(../images/close-button.png); }
  .quickview .ui-dialog-titlebar-close .ui-icon:hover {
    background-position: 0 -34px; }

.specTable-wrapper {
  float: left;
  margin: 0 2em 1em 0;
  width: 302px;
  vertical-align: top; }
  @media only screen and (min-width: 0) and (max-width: 480px) {
    .specTable-wrapper {
      width: 100%; } }
  .specTable-wrapper:last-child {
    margin-right: 0; }
  .specTable-wrapper table.specificiations {
    word-wrap: break-word; }
    .specTable-wrapper table.specificiations tbody tr th {
      background: #e42213;
      background: linear-gradient(to bottom, #e42213 0%, #a81101 100%);
      color: #fff;
      border: none;
      vertical-align: middle; }
      .specTable-wrapper table.specificiations tbody tr th:first-child {
        border-top-left-radius: 3px; }
      .specTable-wrapper table.specificiations tbody tr th:last-child {
        border-top-right-radius: 3px; }
    .specTable-wrapper table.specificiations tbody tr td:last-child {
      border-right: 1px solid #ccc; }
    .specTable-wrapper table.specificiations tbody tr.oddrow {
      background: #FFE1DE; }
    .specTable-wrapper table.specificiations tbody tr.evenrow {
      background: #fff; }

.product-specifications.desk-tab-view .specificiations thead tr {
  background: #e42213;
  background: linear-gradient(to bottom, #e42213 0%, #a81101 100%);
  color: #fff;
  border: none;
  vertical-align: middle; }
  .product-specifications.desk-tab-view .specificiations thead tr:first-child {
    border-top-left-radius: 3px; }
  .product-specifications.desk-tab-view .specificiations thead tr:last-child {
    border-top-right-radius: 3px; }

.product-specifications.desk-tab-view .specificiations tbody tr.evenrow {
  background: #FFE1DE; }

/*about-us*/
.nav-group li.first-level-no-children a:hover {
  color: #EE2E24;
  text-decoration: none; }

.nav-group li.list-active {
  color: #EE2E24; }

@media only screen and (min-width: 0) and (max-width: 959px) {
  .pt_customerservice #content .column3.about-us .column.colspan2 .cell.upshift.tabover {
    background-color: #EE2E24; }
  .pt_customerservice #content .column3.about-us .contentbox.secondbox .left-content .nav-group li.active {
    background-color: #e80000;
    border-top: 1px solid #c40000;
    border-right: 1px solid #e30000;
    border-bottom: 1px solid #f69d9d;
    border-left: 1px solid #e30000;
    color: #fff; }
  .pt_customerservice #content .column3.about-us .column .contentboxcontent h1 {
    font-family: "SerpentineD-Bol", Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 27px; } }

.variationattributes .swatches ul li a span {
  color: #EE2E24; }

.variationattributes .swatches ul li a:hover span {
  color: #300907; }

.pt_customerservice #content .customer .cell .contentboxcontent h1 {
  font-size: 25px;
  line-height: 27px;
  font-family: "SerpentineD-Bol", Arial, Helvetica, sans-serif; }

.tabover h1 a {
  color: #6D0100; }

.pt_customerservice .style-cservice .column .contentbox .left-nav-top .contentboxcontent .nav-group {
  padding: 0; }
  .pt_customerservice .style-cservice .column .contentbox .left-nav-top .contentboxcontent .nav-group li.first-level .second-level li.active a {
    color: #e42213; }

.pt_customerservice .style-cservice .column .contentbox .left-nav-top .contentboxcontent h2.left-nav-style {
  font-size: 25px;
  line-height: 27px;
  font-family: "SerpentineD-Bol", Arial, Helvetica, sans-serif; }

.pt_customerservice #content .productsearchbreadcrumb, .pt_customerservice #content .breadcrumb {
  background: #f1f1f1; }

.pt_customerservice .style-cservice .column.colspan2 .cell-header .content-asset #related-links h2 {
  text-transform: capitalize; }

.paymentinstruments .label {
  text-transform: uppercase;
  padding-bottom: 2px;
  color: #333;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px; }

.ui-dialog.payment-settings .dialog-content .creditcardform .credit-cart-form-title {
  margin: 0;
  width: 100%;
  font-style: normal;
  font-size: 27px;
  line-height: 28px; }

@media only screen and (min-width: 0) and (max-width: 959px) {
  .pt_customerservice #content .style-cservice .column.colspan2 h1 {
    font-size: 25px;
    line-height: 27px;
    font-family: "SerpentineD-Bol", Arial, Helvetica, sans-serif; }
  .pt_customerservice #content .style-cservice .column.colspan2 .cellbox.accordion.tabover .folder-contentboxcontent {
    background-color: #EE2E24; } }

.pt_customerservice .site-map ul li.first-level ul li a:hover {
  text-decoration: none; }

.tab-sec #tabs ul.ui-tabs-nav li a:hover span {
  color: #EE2E24; }

.tab-sec #tabs ul.ui-tabs-nav li.ui-state-active a span {
  color: #EE2E24; }

.small-new.new-stamp {
  border-radius: 15px;
  background-color: #e42213;
  font-style: italic;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 10px;
  color: #000;
  padding: 1px 5px;
  margin-right: 3px;
  width: auto !important;
  vertical-align: top;
  margin-top: 4px;
  float: left; }

.small-new.new-stamp-big {
  border-radius: 15px;
  background-color: #ED2E24;
  font-style: italic;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #000;
  padding: 4px 8px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.65);
  margin-right: 3px;
  position: inherit;
  top: -5px; }

.newFlagColorSize .new-colors-snipe, .newFlagColorSize .new-sizes-snipe, .newFlagColorSize .new-pak-size, .newPakSizeFlag .new-colors-snipe, .newPakSizeFlag .new-sizes-snipe, .newPakSizeFlag .new-pak-size {
  border-radius: 15px;
  background-color: #e42213;
  font-style: italic;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 10px;
  color: #000;
  padding: 1px 5px;
  margin-right: 3px; }

.variationattributes .color ul li a span.corner-ribbon {
  background-color: #e80000;
  color: #000; }

.productdetail #special-offers ul li {
  color: #e42213; }

.productdetail .price .price-sales {
  color: #e42213; }

/*# sourceMappingURL=vmc.css.map */
